<template>
  <div class="fix-overflow-height">
    <div v-if="!ticketData">
      <div class="w3-container w3-padding-8 w3-light-gray w3-center" :style="{ fontSize: fontSizeBase*18 + 'px' }">
        {{(!ticketData) ? '優惠卷':'詳細內容'}}
      </div>
      <!-- Tabs -->
      <div class="w3-row w3-border-bottom w3-border-light-gray tabBar pt-1 sticky-top bg-white">
        <div class="w3-col s4 w3-bottombar w3-center tabLink" :class="{'isActive':isActiveTab==1}" @click="goActTab(1)">
          可使用<!-- <span class="badge align-middle" v-if="ticketList.length">{{ticketList.length}}</span> -->
        </div>
        <div class="w3-col s4 w3-bottombar w3-center tabLink" :class="{'isActive':isActiveTab==2}" @click="goActTab(2)">未生效</div>
        <div class="w3-col s4 w3-bottombar w3-center tabLink" :class="{'isActive':isActiveTab==3}" @click="goActTab(3)">已轉贈</div>
      </div>
      <!-- 可使用 -->
      <div class="w3-container" v-if="isActiveTab==1 && !ticketData">
        <p class="w3-center w3-opacity-max w3-padding-48" v-if="ticketList.length === 0" :style="{ fontSize: fontSizeBase*16 + 'px' }">-- 無優惠卷 --</p>
        <!-- 券 -->
        <div v-if="!ticketData">
          <div class="card overflow-hidden shadow-sm rounded-lg my-3 coupon-style" v-for="item in ticketList" :key="item.GID" @click="showTicketData(item);$store.commit('setCssTouch', false)">
            <div class="card-content p-3 pb-0">
              <div class="media mb-3">
                <div class="media-left">
                  <figure class="image m-0 has-background-white-ter is-96x96">
                    <img :src="(item.ImageUrl !== '/images/noPic.jpg' && item.ImageUrl !== '/imagesPic.jpg') ? showImage(item.ImageUrl) : require('@/assets/images/default-coupon.png')" :alt="item.TicketTypeName">
                  </figure>
                </div>
                <div class="media-content">
                  <p class="title is-6 text-info">{{item.TicketTypeName}}</p>
                  <p class="subtitle is-6 mt-0">
                    有效期限：{{/9999-12-31/.test(item.TicketExpiredDate) ? '不限' : item.TicketExpiredDate.substring(0, 10)}}<br>
                    張數：{{item.TicketCount}}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 未生效 -->
      <div class="w3-container" v-if="isActiveTab==2 && !ticketData">
        <p class="w3-center w3-opacity-max w3-padding-48" v-if="!notAvailableTickets.length">-- 無優惠卷 --</p>
        <!-- 券 -->
        <div v-if="!ticketData">
          <div class="card overflow-hidden border shadow-sm rounded-lg my-3 coupon-style" v-for="item in notAvailableTickets" :key="item.GID" @click="showTicketData(item);$store.commit('setCssTouch', false)">
            <div class="card-content p-3 pb-0">
              <div class="media mb-3">
                <div class="media-left">
                  <figure class="image m-0 has-background-white-ter is-96x96">
                    <img :src="(item.ImageUrl !== '/images/noPic.jpg' && item.ImageUrl !== '/imagesPic.jpg') ? showImage(item.ImageUrl) : require('@/assets/images/default-coupon.png')" :alt="item.TicketTypeName">
                  </figure>
                </div>
                <div class="media-content">
                  <p class="title is-6 text-info">{{item.TicketTypeName}}</p>
                  <p class="subtitle is-6 mt-0">
                    期限：{{/9999-12-31/.test(item.TicketExpiredDate) ? '不限' : item.TicketExpiredDate.substring(0, 10)}}<br>
                    張數：{{item.TicketCount}}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- 已轉贈 -->
      <div class="w3-container" v-if="isActiveTab==3 && !ticketData">
        <p class="w3-center w3-opacity-max w3-padding-48" v-if="!gaveTicketList.length">-- 無優惠卷 --</p>
        <!-- 券 -->
        <div class="card overflow-hidden border shadow-sm rounded-lg my-3 w3-grayscale-max coupon-style" v-for="item in gaveTicketList" :key="item.GID">
          <div class="card-content p-3 pb-0">
            <div class="media mb-3">
              <div class="media-left">
                <figure class="image m-0 has-background-white-ter is-96x96">
                  <img :src="(item.ImageUrl !== '/images/noPic.jpg' && item.ImageUrl !== '/imagesPic.jpg') ? showImage(item.ImageUrl) : require('@/assets/images/default-coupon.png')" :alt="item.TicketTypeName">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-6 text-info">{{item.TicketTypeName}}</p>
                <p class="subtitle is-6 mt-0 text-info">
                  轉贈日期： {{ item.TradeTime.substring(0, 10)}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 券詳細頁 -->
    <div ref="scrollContainer" v-if="ticketData">
      <div class="card border overflow-hidden rounded-lg m-3 coupon-style">
        <div class="card-content p-3 pb-0">
          <div class="media mb-3">
            <div class="media-left">
              <figure class="image m-0 has-background-white-ter is-96x96">
                <img class="w3-image" width="96" :src="(ticketData.ImageUrl !== '/images/noPic.jpg' && ticketData.ImageUrl !== '/imagesPic.jpg') ? showImage(ticketData.ImageUrl) : require('@/assets/images/default-coupon.png')" :alt="ticketData.TicketTypeName">
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-6 text-info">{{ticketData.TicketTypeName}}</p>
              <p class="subtitle is-6 mt-0">
                期限(起)：{{ /0001-01-01/.test(ticketData.TicketBeginDate) ? ticketData.GenTradetime.substring(0, 10) : ticketData.TicketBeginDate.substring(0, 10)}}<br>
                期限(訖)：{{/9999-12-31/.test(ticketData.TicketExpiredDate) ? '不限' : ticketData.TicketExpiredDate.substring(0, 10)}}<br>
                張數：{{ticketData.TicketCount}}
              </p>
            </div>
          </div>
          <div class="content border-top py-3 white-space-wrap" style="min-height: 240px;line-height:1.75">
            <b>券別：</b>{{ticketType}}
            <br>
            <b>限制：</b>每次消費限用1張
            <br>
            <b>限定使用商品：</b>{{ticketUsageFoods}}
            <br>
            <b>適用門店：</b>{{ticketUsageShops}}
            <br>
            <b>適用期間：</b>{{ticketUsagePeriod}}
            <br>
            <b>備註：</b>{{ticketInfo.ruleData.Remark}}
          </div>
        </div>
        <footer class="card-footer bg-white">
          <a class="card-footer-item text-decoration-none text-dark text-wide" @click="$router.go(-1)">取消</a>
          <!-- 不可轉贈的優惠券,不可出現[轉贈]按鈕 -->
          <a v-if="!ticketData.IsStopGive" class="card-footer-item text-decoration-none text-dark text-wide" @click="toTrans()">贈送</a>
          <a class="card-footer-item text-decoration-none bg-warning" @click="showCouponCode" v-if="!isNotAvailable(ticketData)"><b>使用</b></a>
        </footer>
      </div>
    </div>

    <!-- 顯示卷QRCode -->
    <transition name="slide-top">
      <div class="modal is-active" v-if="isDemo=='mbrSearch'||isDemo=='couponCode'">
        <!-- <div v-if="!isQrReady" class="position-fixed w-100 h-100" style="z-index: 9999;background-color: rgba(0,0,0,0);" v-cloak>
          <div class="rounded-circle bg-white shadow-lg w3-display-middle p-2">
            <img src="../../assets/images/loading.svg" alt="" style="border-radius:100%;">
          </div>
        </div> -->
        <div class="modal-background"></div>
        <div class="modal-content" style="overflow: visible">
          <div class="box is-light text-center mx-auto position-relative w3-animate-opacity box-coupon" style="max-width:320px" v-if="isDemo=='couponCode'">
            <h5>
              <b class="d-block is-size-4 p-2 bg-warning rounded-lg mb-2">{{ticketData.TicketTypeName}}</b>
              優惠券條碼
            </h5>
            <img v-lazy="ticketInfo.currentTicketQRcode" class="w3-image p-2" alt="" style="width: 85%">
            <p class="my-2">
              {{ticketInfo.currentTicketGID}}
            </p>
            <!-- 使用優惠券 ( 店員專用 ) -->
            <template>
              <hr class="my-3">
              <button class="button is-danger h-auto is-link is-fullwidth rounded-pill" @click="toSelectStore = true">
                <h4 class="title is-4 text-white">我 要 兌 換</h4>
              </button>
              <p class="my-2 is-size-7 has-text-danger">點擊後本券即使用，無法再次兌換。(店員專用)</p>
            </template>
          </div>
          <div v-if="isDemo=='mbrSearch'">
            <div class="box is-light mx-auto w3-animate-opacity" style="max-width:320px">
              <div class="field has-addons pb-1">
                <div class="control">
                  <input class="input rounded-left" type="number" pattern="[0-9]*" placeholder="請輸入會員電話號碼" v-model="ToAccount">
                </div>
                <div class="control">
                  <a class="button text-decoration-none is-warning" @click="confirmTicketTrans">
                    <b>贈送</b>
                  </a>
                </div>
              </div>
                <h5 class="title is-5 border-bottom pb-2 mb-3">優惠卷轉贈</h5>
                <p style="line-height:1.5">
                  可以讓你將優惠券贈送給指定好友，讓你輕鬆揪朋友一同分享。<br>
                  贈送流程： <br>
                  ➊ 請輸入好友會員手機號碼 (僅限轉贈已註冊會員)<br>
                  ➋  確認手機號碼後按下【贈送】，於跳出提示窗再次按下【確認】，優惠券將立即轉贈給指定好友<br><br>
                  <!-- ➌  若您輸入的號碼錯誤，提示窗則會跳出「會員電話號碼」錯誤<br> -->
                  註：優惠券一經贈送即無法單向取回，請於送出前再次確認會員電話號碼
                </p>
            </div>
          </div>
        </div>
        <button class="modal-close is-large scale-150 margin-top-env" @click="hideCouponCode"></button>
      </div>
    </transition>

		<!-- 券核銷選擇門市 -->
		<transition name="slide-top">
			<div class="modal mbr-qrcode is-active" v-if="toSelectStore">
				<div class="modal-background"></div>
				<div class="modal-content">
					<div class="box text-center m-3 p-3">
						<p class="is-size-5 mb-3" style="line-height:1.5">請選擇兌換門市</p>
							<div class="field is-horizontal is-flex align-items-center">
								<div class="field-body" v-if="ticketUsageShops=='不限'">
									<div class="field">
										<div class="control">
											<div class="select is-fullwidth">
												<select v-model="selectedShopCounty" @blur.prevent="fixScroll">
													<option value="縣市">縣市</option>
													<option v-for="county in Object.keys(storeGroup)" :key="county" :value="county">{{county}}</option>
												</select>
											</div>
										</div>
									</div>
									<div class="field">
										<div class="control">
											<div class="select is-fullwidth">
												<select v-model="selectedShop" @blur.prevent="fixScroll">
													<option value="" selected>門市</option>
													<option v-for="mStore in storeGroup[selectedShopCounty]" :key="mStore.OrgCode" :value="mStore.OrgCode">{{mStore.OrgName}}</option>
												</select>
											</div>
										</div>
									</div>
								</div>
								<div class="field-body" v-if="ticketUsageShops!='不限'">
									<div class="field">
										<div class="control">
											<div class="select is-fullwidth">
												<select v-model="selectedShop" @blur.prevent="fixScroll">
													<option value="" selected>門市</option>
													<option v-for="one in ticketInfo.usageShops" :key="one.ShopID" :value="one.ShopID">{{one.ShopName}}</option>
												</select>
											</div>
										</div>
									</div>
								</div>
							</div>
            <p class="tag my-2 px-3 is-size-6 is-danger rounded-pill">點擊後本券即使用，無法再次兌換。</p>
						<!-- 按鈕 -->
						<div class="columns is-mobile is-variable is-1 mt-n1">
							<div class="column">
								<button class="button is-fullwidth text-wide is-light border mr-2" @click="toSelectStore=false">取消</button>
							</div>
							<div class="column">
								<button class="button is-fullwidth text-wide bg-warning border-0" @click="doTicketExchange()">確認</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</transition>

  </div>
</template>

<style lang="scss" scoped>
  // Perfect Badge Style
  .badge {
    display: inline-block;
    min-width: 1.25em;
    height: 1.25em;
    line-height: 1.25em;
    border-radius: 50em;
    text-align: center;
    background: var(--primary-color);
    color: #fefefe;
    margin-top: -.25em;
  }
  .fix-overflow-height {
    height: calc(100vh - 54px - env(safe-area-inset-top));
    padding-bottom: env(safe-area-inset-bottom);
  }
  /* coupon style */
  .coupon-style {
    background-image: linear-gradient(135deg, #ffffff 25%, #fafafa 25%, #fafafa 50%, #ffffff 50%, #ffffff 75%, #fafafa 75%, #fafafa 100%);
    background-size: 160.00px 160.00px;
    border: 1px solid hsl(0, 0%, 86%);
    .media-left {
      border-right: 2px dotted hsl(0, 0%, 78%);
      padding-right: 1rem;
      margin-right: 1rem;
    }
  }
  .box-coupon {
    &::before {
      content:"";
      display:block;
      position:absolute;
      bottom:-5px;
      transform:rotate(180deg);
      width:100%;
      height:10px;
      left: 0;
      background:linear-gradient(45deg, transparent 33.333%, #fff 33.333%, #fff 66.667%, transparent 66.667%), linear-gradient(-45deg, transparent 33.333%, #fff 33.333%, #fff 66.667%, transparent 66.667%);
      background-size: 10px 20px;
    }
  }
  .tabLink.isActive {
    border-bottom-color: var(--secondary-color) !important;
  }
  @media screen and (min-width: 1px) {
    .field.is-horizontal {
      display: flex;
      .field-label {
        flex-basis: 0;
        flex-grow: 1;
        flex-shrink: 0;
        margin-right: 1rem;
        text-align: right;
        line-height: 40px;
        @media screen and (min-width: 768px) { line-height: normal; }
        min-width: 48px;
        .is-medium {
          padding-top: 0;
        }
      }
      .field-body {
        display: flex;
        flex-basis: 0;
        flex-grow: 5;
        flex-shrink: 1;
        .field {
          margin-bottom: 0;
        }
        > .field {
          flex-shrink: 1;
          &:not(.is-narrow) {
            flex-grow: 1;
          }
          &:not(:last-child) {
            margin-right: .75rem;
          }
        }
      }
    }
  }
</style>

<script>
import store from 'src/store'
import { deviseFunction } from 'src/libs/deviseHelper.js'
import { StoreGroup, GUID } from 'src/fun1.js'	// 共用fun在此!
import { isLogin, fixScroll, showAlert, showConfirm, showImage } from 'src/libs/appHelper.js'

export default {
  // 頁面資料: 請使用function return
  data: function(){
    return {
      title: '<%- @_SelfCode %>',
      state: this.$store.state,
      isActiveTab: 1,
      isShow: true,
      isRuned: false,						// 正在執行 券兌換
      isDemo: '',
      toSelectStore: false,
      // hasEdit: false,				// 有無執行 券兌換 或什麼的修改...
      ToAccount: '',
			selectedShopCounty: '縣市',
      selectedShop: '',	// 門市,勿給預設,判斷用
      ShopID: '',	// 存目前門市代號
    };
  },
  computed: {
    fontSizeBase() { return store.getters.fontSizeBase },
    // 簡化常用的 Vuex.store data (補充： 一定要寫在這, component 才會即時反應 $store.state 的變化)
		// 按縣市選門店
		storeGroup: StoreGroup,
    srcUrl()   { return this.state.srcUrl },
    ticketList() { return this.state.memberData.ticketList },
    gaveTicketList() { return this.state.memberData.gaveTicketList },
    notAvailableTickets() { return this.state.memberData.notAvailableTickets },
    totalTicket() {return this.ticketList.concat(this.notAvailableTickets)},
    // --- 單一筆優惠卷的資訊 ---
    ticketID() { return this.$route.query.code },
    ticketInfo() { return this.state.memberData.ticketInfo },
    ticketData() { return this.totalTicket.filter(item => {return item.GID == this.ticketID})[0] },
    // 使用期限
    ticketExpiredAt() { return this.ticketData.TicketExpiredDate.substring(0, 10) },
    // 限定使用商品
    ticketUsageFoods() {
      const foods = this.ticketInfo.usageFoods
				,hasVal		= !!foods.length
			if (hasVal) {
				return foods.map(item => item.FoodName).join(', ')
			} else {
				return '不限'
			}
    },
    // 適用門店
    ticketUsageShops() {
      //const ruleData = this.ticketInfo.ruleData
//console.warn('Debug_ruleData: ', ruleData);	// @@

      const shops = this.ticketInfo.usageShops
				,nMax 		= shops.length
				,str1			= nMax ? shops.map(item => item.ShopName).join(', ') : '不限'
			//console.log('適用門店-shops: ', shops);	// @@
			//console.log('適用門店-str1: '+nMax, str1);	// @@
      return str1;
    },
    // 適用期間 (timePeriod, weekDay)
    ticketUsagePeriod() {
      const rule = this.ticketInfo.ruleData
      // 設定使用時間
      const beginTime = rule.BeginDate2 || rule.BeginTime
      const endTime   = rule.EndDate2 || rule.EndTime

      let timePeriod = ''
      if (beginTime !== "" && endTime !== "") timePeriod = beginTime + "-" + endTime
      if (beginTime === "" && endTime !== "") timePeriod = "截止" + endTime;
      if (beginTime !== "" && endTime === "") timePeriod = beginTime + "起 - 不限";
      if (beginTime === "" && endTime === "") timePeriod = '不限'
      if (beginTime === undefined && endTime === undefined) timePeriod = 'loading...'

      // 設定使用日 (星期一 ~ 星期日)
      let weekDay = ''
      if (rule.Week1 === "True") weekDay += " 星期一";
      if (rule.Week2 === "True") weekDay += " 星期二";
      if (rule.Week3 === "True") weekDay += " 星期三";
      if (rule.Week4 === "True") weekDay += " 星期四";
      if (rule.Week5 === "True") weekDay += " 星期五";
      if (rule.Week6 === "True") weekDay += " 星期六";
      if (rule.Week7 === "True") weekDay += " 星期天";

      return `${timePeriod} [${weekDay} ]`
    },
    // 優惠卷類別
    ticketType() {
      const item = this.ticketData
      if (parseInt(item.TicketFlag) === 1) return '現金劵'
      if (parseInt(item.TicketFlag) === 2) return '商品抵用劵'
      if (parseInt(item.TicketFlag) === 3) return '商品折扣劵'
      if (parseInt(item.TicketFlag) === 4) return '現金折扣劵'
      return ''
    },
  },
  async beforeRouteEnter(to, form, next){
    // 如果取不到 Vue instance (e.g. 直接 F5 刷新時), 導回首頁重取預設資料
    if (!isLogin) return next('/')

		//store.dispatch('fetchStoreListDataWuhu')	// 取得門店,改到按下券清單時再call

    if (to && to.params) {
      const enterpriseId = to.params.enterpriseId

      // 若為refresh畫面要重新load資料
      await store.dispatch('fetchVipAppsByCheck', enterpriseId)

      // 取得優惠券全部相關api
      store.dispatch('fetchAppPublicDataDetailCouponWuhu')
    }
    setTimeout(() => { store.commit('setLoading', false) }, 200)

    // default
    next(vm=>{
      //在會員頁已經取了可用券,但其它要補撈優惠券
      if (!(/cardMember/.test(form.path))) vm.goActTab(1)      
    });
  },
  // beforeRouteUpdate() {
  //   this.$nextTick(() => {
  //     this.$refs.scrollContainer.scrollTop = 0
  //   })
  // },
  watch: {
    selectedShop(_new){
			// console.log('selectedShop: ', _new);	// @@
			this.ShopID = _new;
    },    

  },
  // 頁面模組
  methods: {
    fixScroll,
    showImage,
    goActTab(int_val){
      this.isActiveTab = int_val
      if (int_val == 1) store.dispatch('fetchMemberTicketListData')// 取優惠卷列表資訊
      if (int_val == 2) store.dispatch('fetchMemberNotAvailableTickets')// 取尚未能使用的優惠卷資料
      if (int_val == 3) store.dispatch('fetchMemberGaveTicketListData')// 取會員已轉贈的優惠卷資訊
        
    },
    // 判斷此卷能否使用
    isNotAvailable(ticket) {
      return this.notAvailableTickets.filter(item => {return item.GID == ticket.GID}).length
    },
		/* 重整-優惠卷列表 */	// 為了使用後更新列表...
    refreshTicList() {
			this.$store.dispatch('fetchMemberTicketListData')
    },
    // 顯示優惠卷細節資訊
    async showTicketData(item) {
      if (!(Object.keys(this.storeGroup).length)) await store.dispatch('fetchStoreListDataWuhu')	// 取得門店
      
      // 取優惠卷的使用規則、條款資料，QRcode
      this.$store.dispatch('fetchMemberTicketInfoData', item)

      // 導向優惠卷資訊頁
      this.$router.push(`/cardCoupon/${this.$route.params.enterpriseId}?code=${item.GID}`)
      this.$nextTick(() => {
        this.$refs.scrollContainer.scrollTo(0,0)
      })
    },
    // 開啟-優惠卷的 QRcode
    showCouponCode() {
      this.isDemo = 'couponCode'
      this.$store.commit('setCssTouch', false)
      // 進入時將殼的螢幕調到最亮
      deviseFunction('setBrightness', '255', '')
    },
    // 關閉-優惠卷的 QRcode
    hideCouponCode() {
      // 將殼的螢幕恢復原本亮度
      deviseFunction('setBrightness', this.$store.getters.deviseBrightness, '')
      this.$store.dispatch('fetchAppUserData')
      this.$store.commit('setCssTouch', true)

      this.isDemo = ''
      //this.$router.go(-1)
    },
    // 贈送優惠券
    toTrans() {
      this.ToAccount = ''
      this.isDemo='mbrSearch'
    },
    // 確認是否贈卷
    confirmTicketTrans() {
      const mobilePhoneRegxp = /^09[0-9]{2}[0-9]{6}$/; // 格式需為09XXXXXXX
      if (this.ToAccount === '') return showAlert('請輸入會員電話號碼')
      if (mobilePhoneRegxp.test(this.ToAccount) != true) return showAlert('會員電話號碼錯誤')

      showConfirm("一經贈送即無法更改<br>您確定要贈送嗎?")
        // 點擊確認執行贈卷
        .then(() => this.doTicketTrans() )
        // 點擊取消執行關閉 confirmn 視窗
        .catch(() => store.commit('setCustomModal', { type: '', text: '' }) )
    },
    // 執行-贈卷
    async doTicketTrans() {
      if (this.isRuned)		return
			this.isRuned = true;

			const param1 = {
				ToAccount: this.ToAccount,
				TicketInfoID: this.ticketData.TicketInfoID
			}
      const data = await this.$store.dispatch('ensureMemberTicketTrans', param1)
			// console.log('執行贈卷-data: ', data);	// @@
      showAlert(data.ErrorMsg)	// 成功失敗都要顯示 api 訊息
			this.isRuned = false;
      if (data.ErrorCode !== '0') return

      // 重撈卡包內"單一"企業的資料,讓卡包清單頁的優惠券數量是對的
      let enterpriseID = this.$route.params.enterpriseId
      this.$store.dispatch('fetchVipAppsOnlyList', {"enterpriseID":enterpriseID})

      // 刷新-優惠券清單
      await this.$store.dispatch('fetchAppPublicDataDetailCouponWuhu')
      this.hideCouponCode()
      this.isActiveTab = 3
    },
    // 執行-優惠券兌換
    async doTicketExchange() {
      if (this.isRuned)		return
			this.isRuned = true;
			const t1 = this.ticketData;
			// console.log('優惠券兌換-t1: ', t1);	// @@
			const param1 = {
				ShopID: this.ShopID,
				Ticket: {
					MemberNo: 			t1.CardNO,
					TradeNum: 			GUID(),								// 新GID new GID
					TicketTypeCode: t1.TicketTypeCode,
					TicketEndNO: 		t1.TicketEndNO,
					TicketBgnNO: 		t1.TicketBgnNO,
					TicketInfoID: 	t1.TicketInfoID,
					TicketPrice: 		t1.TicketPrice,
					TicketTotal: 		t1.TicketTotal,
					TicketCount: 		t1.TicketCount,
					TradeAmount: 		0 		 		 		 		 		// 一律給0
				}
			}
			// console.log('優惠券兌換-param1: ', param1);	// @@
      const data = await this.$store.dispatch('ensureTicketExchange', param1)
			// console.log('執行doTicketExchange-data: ', data);	// @@
      showAlert(data.ErrorMsg)	// 成功失敗都要顯示 api 訊息
			this.isRuned = false;
      if (data.ErrorCode != 0) return

			// this.hasEdit = true
			this.refreshTicList();
      this.hideCouponCode()
      this.isActiveTab = 1
      this.toSelectStore = false
    },

  },
}
</script>