<template>
  <div class="h-100 bg-white overflow-auto">

    <div class="container py-2 bg-light text-center">
      積點換券
      <button class="button is-small is-black is-rounded h-auto px-2 py-0 align-text-bottom" @click="$router.push('/cardPoint/'+$route.params.enterpriseId)">積點紀錄</button>
    </div>

    <div>
      <div v-if="$route.query.page==null">
        <div class="level is-mobile has-text-grey px-3 pt-2 m-0 is-size-7">
          <div class="level-left">
            <div class="level-item">
              <p>
                <sub>可使用點數</sub>
                <b class="title mx-2 my-0 is-4 align-middle">{{totalPoints}}<!-- 888 --></b>
                <sub>點</sub>
              </p>
            </div>
          </div>
          <div class="level-right">
            <div class="level-item" v-if="pointToTicketsDate">{{pointToTicketsDate}}<!-- 2020/04/27 --> 版本</div></div>
        </div>
        <template v-if="!currentTicket">
          <template v-if="hasPointTickets">
            <div class="box shadow-sm border overflow-hidden mx-3 my-2 p-2 rounded-lg" v-for="(ticket, index) in pageData.pointToTickets" :key="'ticket'+index" @click="setCurrentTicket(ticket.TicketTypeCode)">
              <div class="columns is-variable is-1 is-mobile is-vcentered ml-n3">
                <div class="column is-4 text-white text-center p-3" :class="ticketColor(index)">
                  <b class="title mr-1 my-0 is-3 d-inline-block text-white align-sub w-75">{{ticket.Points}}<!-- 100 --></b>
                  <sub>點</sub>
                </div>
                <div class="column is-8 text-center px-1">{{ticket.TicketTypeName}}<!-- 券名稱券名稱 --></div>
              </div>
            </div>
          </template>
          <!-- 無資料 -->
          <p class="text-center has-text-grey-lighter my-5 py-5" v-if="!hasPointTickets">-- 無換券資料 --</p>
        </template>
      </div>
      <div v-if="$route.query.page=='detail' && !!currentTicket">
        <div class="card overflow-hidden rounded-lg mx-3 my-3">
          <div class="card-content p-3">
            <div class="media mb-3">
              <div class="media-left">
                <figure class="image has-background-white-ter is-96x96 m-0">
                  <img :src="(currentTicket.ImageUrl !== '/images/noPic.jpg' && currentTicket.ImageUrl !== '/imagesPic.jpg') ? showImageWuhu(currentTicket.ImageUrl) : require('../../../assets/images/img_init.gif')" :alt="currentTicket.TicketTypeName">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-6">{{currentTicket.TicketTypeName}}<!-- 券名稱券名稱 --></p>
                <p class="subtitle is-6 mt-0">
                  兌換點數：{{currentTicket.Points}}<!-- 5 --> 點<br>
                  兌換期限：{{ShowExpiredDate}}<!-- 2020/04/27 -->
                </p>
              </div>
            </div>

            <div class="content white-space-wrap">
              {{currentTicket.Remark}}<!-- 券內容... -->
            </div>
          </div>
          <footer class="card-footer">
            <a class="card-footer-item has-background-white text-decoration-none text-dark text-wide" @click="$router.go(-1)">取消</a>
            <a class="card-footer-item bg-dark text-white text-decoration-none text-wide" @click="doExchange()">兌換</a>
          </footer>
        </div>
      </div>
    </div>
  </div>
</template>
<style lang="scss" scoped>
.tabs li.is-active a {
  background-color: #eff5fb;
  font-weight: bold;
}
.ticketColor01 {
  background-color: #ffc000;
}
.ticketColor02 {
  background-color: #ff8400;
}
.ticketColor03 {
  background-color: #54dfea;
}
.ticketColor04 {
  background-color: #fc9c9b;
}
.ticketColor05 {
  background-color: #a7ff77;
}
</style>

<script>
import store from 'src/store'
import { showImageWuhu } from 'src/libs/appHelper.js'
// import { isLogin, showAlert, showConfirm, setLoading } from 'src/libs/appHelper.js'
import { isLogin, showAlert, showConfirm } from 'src/libs/appHelper.js'
import { formatTime } from 'src/libs/timeHelper.js'

export default {
  data: function(){
    return {
      title: '<%- @_SelfCode %>',
      state: this.$store.state,
      isModal: false,
      // currentTicketCode: '',
    };
  },
  computed: {
    memberData() { return this.$store.state.baseInfo.memberData },
    totalPoints() { return this.memberData.card_info.Points ? parseInt(this.memberData.card_info.Points) : 0 },
    pageData() { return this.state.baseInfo.memberData },
    currentTicketCode() {
      return this.$route.query.code
    },
    currentTicket() {
      // const them = this.pageData.pointToTickets
      const them = this.pageData.pointToTickets.find(t => {
				return t.TicketTypeCode == this.currentTicketCode
      })
      // console.log('currentTicket-them: ', them);	// @@
      return them
    },
    ShowExpiredDate() {
			const t1 = this.currentTicket.TicketExpiredDate;
      return !/9999/.test(t1) ? t1 : '不限';
    },
		pointToTicketsDate() {
			const list = this.pageData.pointToTickets
			if (!list.length) { return ''; }
      const one = list.map(d => d.LastModify).sort((a, b) => new Date(b).getTime() - new Date(a).getTime())[0]
			const it = formatTime(one, 'YYYY/MM/DD')
      // console.log('pointToTicketsDate-版本: ',one ,it);	// @@
      return it
		},

		hasPointTickets() {
      return !!this.pageData.pointToTickets.length
    },

  },
  methods: {
    showImageWuhu,
    // 顯示積分兌換卷明細資料
    setCurrentTicket(code) {
      // this.currentTicketCode = code
      this.$router.push(`${this.$router.currentRoute.path}?page=detail&code=${code}`)
    },
    // 執行積點換卷
    doExchange() {
      if (!this.currentTicket) return showAlert('請選擇兌換品')
      showConfirm("一經兌換即無法更改<br>您確定要兌換嗎?")
        .then(() => { this.actExchange() })
        .catch(() => {
          // 點擊取消執行
          store.commit('setCustomModal', { type: '', text: '' }) // 關閉 confirmn 視窗
        });
    },
    async actExchange() {
      // console.log('actExchange ===> start')
      // 點擊確認執行點換倦
      const data = await store.dispatch('ensurePointExchangeTicket', this.currentTicket)

      // 有 ErrorCode => 回傳錯誤訊息
      if (data.ErrorCode !== '0') return showAlert(data.ErrorMsg)
      // 無 ErrorCode => 積點換卷成功, 重新 reload 會員資訊, 並導向優惠卷頁
      showAlert('兌換 ' + this.currentTicket.TicketTypeName + ' 成功！')
			const enterpriseId = this.state.currentAppUser.EnterPriseID
      this.$router.push({ path: `/cardCoupon/${enterpriseId}` });
    },
    ticketColor(index) {
      let indexNum = (index + 1) % 25
      if( indexNum <= 5 ) return 'ticketColor01'
      else if( indexNum <= 10 ) return 'ticketColor02'
      else if( indexNum <= 15 ) return 'ticketColor03'
      else if( indexNum <= 20 ) return 'ticketColor04'
      else if( indexNum <= 24 || indexNum == 0 ) return 'ticketColor05'
    }
  },
  // 在路由刷新前
  beforeRouteEnter: function(to, from, next){
    if (!isLogin.value) return next('/')

    //setLoading(true, 4)
    store.commit('setLoading', true)
    store.dispatch('fetchVipAndCardInfoWuhu') // for 點數
    // 頁面名稱
    store.state.isPageName = '集點換券'

		// next()
		next(vm => {
			vm.aa = 1;	// @@
      store.commit('setLoading', false)
			//setLoading(false)
		});
  },
  beforeRouteUpdate: function(to, from, next){
    next();
  },
}
</script>
