<template>
  <div v-if="isShowCardPage">
    <!-- <div v-if="!isReady" class="position-fixed w-100 h-100" 
    style="z-index: 9999;background-color: rgba(0,0,0,0);margin-top: -52px;" v-cloak>
      <div class="rounded-circle bg-white shadow-lg w3-display-middle p-2">
        <img src="../../../assets/images/loading.svg" class="rounded-circle" width="64">
      </div>
    </div> -->
    <!-- 三分春色社訂餐鈕
    <div v-if="currentApp === '24982896'" class="w3-cell-row w3-section-8 w3-content w3-large" style="max-width:480px;padding:0 4px">
      <div class="w3-cell" style="padding:0 4px">
        <div class="w3-button w3-block w3-dark-gray w3-hover-dark-gray w3-round" @click="$router.push('/cardStore')">線上點餐</div>
      </div>
      <div class="w3-cell" style="padding:0 4px">
        <div class="w3-button w3-block w3-dark-gray w3-hover-dark-gray w3-round" @click="showMyMOrder">我的訂單</div>
      </div>
    </div> -->

    <!-- 輪播 Banner -->
    <div class="w3-center">
      <!-- 有輪播 Banner 資料 -->
      <Swiper ref="mySwiper" v-if="pageData.slideBanners.length">
        <!-- slides -->
        <swiper-slide  v-for="banner in pageData.slideBanners" :key="banner.PicURL">
          <div class="swiper-zoom-container">
            <img class="w3-image swiper-lazy" :src="showImage(banner.PicURL+'?v='+(new Date().getTime()))" @click="redirectToLink(banner)" @touchstart="zoomTouch" style="min-height:375px">
          </div>
          <div class="swiper-lazy-preloader swiper-lazy-preloader-white" style="opacity: 0"></div>
        </swiper-slide>
        <!-- Optional controls -->
        <div class="swiper-pagination" slot="pagination"></div>
      </Swiper>
      <!-- 無輪播 Banner 資料，放入預設圖 -->
      <Swiper v-if="!pageData.slideBanners.length">
        <!-- slides -->
        <swiper-slide>
          <img class="w3-image" src="../../../assets/images/default-banner.jpg">
        </swiper-slide>
        <swiper-slide>
          <img class="w3-image" src="../../../assets/images/default-banner.jpg">
        </swiper-slide>
        <!-- Optional controls -->
        <div class="swiper-pagination" slot="pagination"></div>
      </Swiper>
    </div>
    <!-- 副 Banner (有資料) -->
    <div v-if="pageData.subBanner.length">
      <div class="w3-section w3-center" v-for="banner in pageData.subBanner" :key="banner.GID">
        <img class="w3-image" :src="showImage(banner.PicURL+'?v='+(new Date().getTime()))" @click="redirectToLink(banner)">
      </div>
    </div>
    <!-- 副 Banner (無資料) -->
    <div class="w3-section w3-center" v-if="!pageData.subBanner.length" >
      <img class="w3-image" src="../../../assets/images/default-subbanner.jpg">
    </div>

  </div>

</template>

<script>
import store from 'src/store'
import { deviseFunction, showMOrder } from 'src/libs/deviseHelper.js'
import { showImage } from 'src/libs/appHelper.js'

export default {
  name: 'CardIndex',
  data() {
    return {
      isSideMenu: false,
      state: this.$store.state,
      // detect click
      isDblClick: false,
      clicks: 0,
    };
  },
  async beforeRouteEnter(to, from, next) {
    if (to && to.params && store.getters.isNotLinePara) {
      
      if(from.path.indexOf('/list') > -1) store.commit('clearAppMemberData');store.commit('clearCurrentAppUser');store.commit('clearAppPublicData');
      const enterpriseId = to.params.enterpriseId
      // 若為refresh畫面要重新load資料
      await store.dispatch('fetchVipAppsByCheck', enterpriseId)
      if (store.state.currentAppUser) await store.dispatch('fetchStoreMainInfo')
      store.dispatch('fetchAppPublicDataDetailWuhu')
      
    }
    next((v)=>{
      v.checkJumpPage();
      
    })
  },
  async beforeRouteUpdate(to, form, next){
  
    if (to && to.params) {
      
      if(form.path.indexOf('/list') > -1) store.commit('clearAppMemberData');store.commit('clearCurrentAppUser');store.commit('clearAppPublicData');
      const enterpriseId = to.params.enterpriseId

      // 若為refresh畫面要重新load資料
      await store.dispatch('fetchVipAppsByCheck', enterpriseId)
      
      store.dispatch('fetchAppPublicDataDetailWuhu')
    }
    next()
  },
  beforeRouteLeave(to, from, next) {
    this.$destroy()
    next()
  },
  computed: {
    // 簡化常用的 Vuex.store data (補充： 一定要寫在這, component 才會即時反應 $store.state 的變化)
    isLogin() { return this.$store.getters.isLogin },
    currentApp() { return this.state.currentAppUser.EnterPriseID },
    srcUrl() { return this.$store.getters.currentApp.apiip.replace('/public/AppVIP.ashx', '') },
    mainEnterpriseID() { return this.state.publicData.MainEnterPriseID },
    pageData() { return this.state.publicData.index },
    stores() { return this.pageData.store },
    
    isReady() {
			return !!this.state.publicData.logoLoaded
    },
    swiper() {
      return this.$refs.mySwiper.$swiper
    },
    cardQrCode() { return this.state.cardQRCode },
    pRoot(){
      return this.$route.meta.layout;
      
      //return context.root.$route.meta.layout ;
    },
    isShowCardPage(){
      return this.state.lineLogin.appQrcode === ""
    },
    
  },
  methods: {
    showImage,
    // 判斷 single || double click
    checkJumpPage() {
      
      const {path, isScan} = this.state.lineLogin;
      if (!isScan && path === "memberQrCode"){ //|| path === "orders"
        setTimeout(function() {
          store.commit('setLineLoginKey', {key:"appQrcode",value:""});
          store.commit('setLineLoginKey', {key:"isScan",value:true});
        }, 3000);
       
        //console.log("qq>>",this.state.lineLogin.path,'/cardMember/'+this.$route.params.enterpriseId);
        if (typeof this.state.ShowQrcodeFn === 'function' && path === "memberQrCode")  this.state.ShowQrcodeFn();
        // else if (this.state.lineLogin.path === "member") this.$router.push('/cardMember/'+this.$route.params.enterpriseId);
        // else if (this.state.lineLogin.path === "news") this.$router.push('/cardNews/'+this.$route.params.enterpriseId);
        // else if (this.state.lineLogin.path === "shops") this.$router.push('/cardStore/'+this.$route.params.enterpriseId);
        // else if (this.state.lineLogin.path === "faq") this.$router.push('/cardFaq/'+this.$route.params.enterpriseId+'?name=常見問題')
        //else if (path === "orders") this.showMyMOrder();
        
        
      }
      
    },
    oneClick() {
      this.clicks++ 
      if(this.clicks === 1) {
        var self = this
        this.timer = setTimeout(function() {
          self.clicks = 0
        }, 200);
        this.isDblClick = false
        this.swiper.autoplay.start()
      } else {
        clearTimeout(this.timer);  
        this.isDblClick = true
        this.clicks = 0
        // 放大時，停止輪播
        if(this.swiper.zoom.scale > 1) this.swiper.autoplay.stop()
        else this.swiper.autoplay.start()
      }
    },
    redirectToLink(banner) {
      this.oneClick()
      const marketID = ['MarketHead','MarketKind','MarketDetail'];
      setTimeout(() => {
        if (banner.LinkType != '' && !this.isDblClick) {
          // 連外部網址
          if (banner.LinkType == 'OuterURL') {
            if (banner.OuterURL.trim() != '') {
              let url = banner.OuterURL
              // 在殼裡面 => 開啟瀏覽器
              if (typeof(JSInterface) !== 'undefined') {
                deviseFunction('openWeburl', url, '')
              // 在瀏覽器 => 瀏覽器新開一個tab
              } else {
                window.open(url, '_blank')
              }
            }
          // 連內部網址
          } else if (banner.LinkType == 'InnerURL') {
            let url = banner.LinkPostion
            if (url && url.trim()!= '') {
              this.$router.push({path: '/' + url})  
            }
          // 連商品ID
          } else if (banner.LinkType == 'FoodDetail') {
            let detailID = banner.LinkPostion
            if (detailID && detailID.trim()!='') {
              this.$router.push('/cardProducts/' + detailID)  
            }
          // 連商品類別ID
          } else if (banner.LinkType == 'FoodKind') {
            let kindID = banner.LinkPostion
            if (kindID && kindID.trim()!='') {
              this.$router.push('/cardMenu/' + kindID)  
            }
          // 連消息ID
          } else if (banner.LinkType == 'MessageDetail') {
            let detailID = banner.LinkPostion
            if (detailID && detailID.trim()!='') {
              this.$router.push('/cardNewspage/' +
                this.$route.params.enterpriseId 
                + '/' + detailID)  
            }
          // 連消息類別ID
          } else if (banner.LinkType == 'MessageKind') {
            this.$router.push('/cardNews/' +
                this.$route.params.enterpriseId) 
          }else if (marketID.indexOf(banner.LinkType) > -1) { 
            store.commit('setMarketBanner',{ LinkType:banner.LinkType,LinkPostion:banner.LinkPostion});       
            if (banner.LinkPostion != '') this.$router.push({ path: '/cardShop/'+this.$route.params.enterpriseId })
          }
        }
      }, 300)
    },
    // two-finger-touch stop swiper 
    zoomTouch(e) {
      if(e.touches.length == 2 && e.targetTouches.length == 2) this.swiper.autoplay.stop()
      else if( this.swiper.zoom.scale == 1)  this.swiper.autoplay.start()
    },
    // 導向我的訂餐
    showMyMOrder() {
      
      const p_data =  {
        EnterpriseID:this.mainEnterpriseID,
        Mobile:this.state.userData.Account,
        Username:this.state.userData.Name,
        mac:this.state.currentAppUser.mac,
        connect:this.state.publicData.MainConnect,
        lang:this.state.language,
        Address:this.state.userData.Address,
      }     

      showMOrder('', '', 'cardMember', p_data);
      // // const isDevelopment = (/dev-service.jinher.com.tw\/projectFeature\//.test(window.location.href))  
      // const isStaging = (/staging.jh8.tw\/kakar2\//.test(window.location.href)) || (/website-staging.jinher.com.tw\/kakar2\//.test(window.location.href)) || (/staging.jinher-cn.com\/kakar2\//.test(window.location.href))
      // let hostName='web.jh8.tw';
      // if (isStaging) hostName='staging.jh8.tw';
      // if (isStaging && this.state.language == 'cn') hostName='staging.jinher-cn.com';
      // if (!isStaging && this.state.language == 'cn') hostName='web.jinher-cn.com';

      // let url
      // // if (isStaging)  url = `https://dev-service.jinher.com.tw/projectFeature/APP_MOrder/MOrder/index.html?#/record/`
      // if (isStaging)  url = `https://staging.jh8.tw/morder/index.html?#/record`
      // if (!isStaging) url = `https://web.jh8.tw/morder/index.html?#/record`
      // if (this.state.language == 'cn') url = `http://customer.jinher-cn.com/app/MOrder/index.html?#/record`
      // const backUrl = `https://${hostName}/kakar2/index.html#/cardStore/${this.mainEnterpriseID}`
      // // if (isDevelopment)  url = `https://dev-service.jinher.com.tw/projectFeature/APP_MOrder/MOrder/index.html?#/record`
      // // if (!isDevelopment) url = `https://kakar.jinher.com.tw/app/morder/index.html?#/record`

      // // 預設值
      // const data = {
      //   // 會員門店號
      //   //"ShopID": ShopID,
      //   // 主企業號的 ID
      //   "mainEnterpriseID": this.state.publicData.MainEnterPriseID,
      //   //"mainEnterpriseID": this.mainEnterpriseID,
      //   // 主企業號的 connect
      //   "mainConnect": this.state.publicData.MainConnect,
      //   // Mode選的type, (ex:takeout)
      //   //"ShopType": ShopType,
      //   // Mode選的type, (ex:takeout)
      //   "Mobile": this.state.userData.Account,
      //   // 登入者姓名
      //   "Username": this.state.userData.Name,
      //   // 登入者地址
      //   "Address": this.state.userData.Address,
      //   "kakarUrlPath": backUrl,
      //   //卡包都在卡+,線上點餐推播用
      //   "isFrom":"kakar2", 
      // }

      // // 寫入要存的 key 設定
      // data['_KEY'] = "ShopID,mainEnterpriseID,ShopType,Mobile,Username,Address,mainConnect,kakarUrlPath,isFrom"

      // // 執行存入殼裡
      // deviseFunction('SetSPS', JSON.stringify(data), '')

      // return window.location.href = url
    }
  }
}

</script>
<!--
    onBeforeMount(async () => {
      // 未登入 => 導回首頁
      if (!isLogin.value) context.root.$router.push('/')
      setLoading(true)
      // store.dispatch('fetchAppPublicData')
      setTimeout(() => setLoading(false), 300)
    })
 -->
<style lang="scss">

</style>