<template>
  <div class="h-100">
    <div class="p-2 text-white text-right" style="background-color:#96460A" v-if="jgssgCustom">
      {{showGreeting}}
    </div>
    <div class="columns is-mobile is-gapless is-multiline is-vcentered m-4">
      <div class="column is-12">
        <div class="level py-2 is-mobile">
          <div class="level-item has-text-centered">
            <figure class="image is-96x96 mx-1">
              <img src="@/assets/images/user.svg" class="w3-circle w3-border w3-border-light-gray mbr-avatar p-2" v-if="!jgssgCustom">
              <img src="@/assets/images/24435384/user.svg" v-else>
            </figure>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="heading is-size-6 has-text-grey-light">累積</p>
              <p class="title">{{points}} <sub class="is-size-6 ml-1 has-text-grey-light font-weight-normal">點</sub></p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="heading is-size-6 has-text-grey-light">儲值</p>
              <p class="title">{{balance}}<sub class="is-size-6 ml-1 has-text-grey-light font-weight-normal">元</sub></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 功能選單 -->
    <div class="w3-padding w3-padding-16" style="background: linear-gradient(0deg, #fff 50%, #f1f1f1 100%);">
      <div class="w3-row w3-center">
        <div class="w3-col s4 w3-padding-16" @click="$router.push('/cardPoint/'+curEPID)">
          <img src="@/assets/images/24435384/rec-point.svg" style="height:4rem" v-if="jgssgCustom">
          <img src="@/assets/images/rec-point-gray.svg" style="height:3rem" v-else>
          <div style="margin-top:.5rem">積點紀錄</div>
        </div>
        <div class="w3-col s4 w3-padding-16" @click="$router.push('/cardExchange/'+curEPID)">
          <img src="@/assets/images/24435384/point-exchange.svg" style="height:4rem" v-if="jgssgCustom">
          <img src="@/assets/images/point-exchange-gray.svg" style="height:3rem" v-else>
          <div style="margin-top:.5rem">積點換券</div>
        </div>
        <div class="w3-col s4 w3-padding-16" @click="$router.push('/cardPay/'+curEPID)">
          <img src="@/assets/images/24435384/rec-pay.svg" style="height:4rem" v-if="jgssgCustom">
          <img src="@/assets/images/rec-pay-gray.svg" style="height:3rem" v-else>
          <div style="margin-top:.5rem">消費紀錄</div>
        </div>
        <div class="w3-col s4 w3-padding-16" @click="$router.push('/cardCoupon/'+curEPID)">
          <div class="w3-display-container" v-if="state.memberData.ticketList.length" v-cloak>
            <div class="w3-display-topright mt-n2 mr-3">
              <span class="badge rounded-pill" :class="[jgssgCustom?'jgssg-bg':'primary-color']" style="height:25px;line-height:25px">
                {{state.memberData.ticketList.map(item => {return parseInt(item.TicketCount)}).reduce((a, b) => { return a + b })}}
              </span>
            </div>
          </div>
          <img src="@/assets/images/24435384/coupon.svg" style="height:4rem" v-if="jgssgCustom">
          <img src="@/assets/images/coupon-gray.svg" style="height:3rem" v-else>
          <div style="margin-top:.5rem">優惠券</div>
        </div>
        <!-- <div v-if="curEPID === 'K54827062'" class="w3-col s4 w3-padding-16">
          <div class="w3-display-container" style="width:3rem;margin:0 auto;">
            <span class="w3-badge w3-display-topright w3-green w3-center" style="padding:0;width:1.5rem;margin:-1rem -1rem 0 0;">
              3
            </span>
            <img src="@/assets/images/cup.svg" style="height:3rem;" @click="$router.push('/cardGiftVouchers')">
          </div>
          <div class="w3-medium" style="margin-top:.5rem">寄杯兌換</div>
        </div> -->
        <!-- <div v-if="curEPID === 'K54827062'" class="w3-col s4 w3-padding-16">
          <img src="@/assets/images/foodmenu.svg" style="height:3rem;" @click="$router.push('/ordering')">
          <div class="w3-medium" style="margin-top:.5rem">點餐</div>
        </div> -->
        <div class="w3-col s4 w3-padding-16" @click="$router.push('/cardNews/'+curEPID)">
          <img src="@/assets/images/24435384/news.svg" style="height:4rem" v-if="jgssgCustom">
          <img src="@/assets/images/news-gray.svg" style="height:3rem" v-else>
          <div style="margin-top:.5rem">最新消息</div>
        </div>
        <!-- 卡+2已有會員資訊
        <div class="w3-col s4 w3-padding-16">
          <img src="@/assets/images/card-profile-gray.svg" style="height:3rem;" @click="$router.push('/cardProfile')">
          <div class="w3-medium" style="margin-top:.5rem">會員資訊</div>
        </div>-->

        <!-- <div class="w3-col s4 w3-padding-16" v-if="currentApp!='53239538'" @click="$router.push('/cardFaq/'+curEPID+'?name=常見問題')">
          <img src="@/assets/images/24435384/faq.svg" style="height:4rem" v-if="jgssgCustom">
          <img src="@/assets/images/faq-gray.svg" style="height:3rem" v-else>
          <div style="margin-top:.5rem">常見問題</div>
        </div> -->
        <div class="w3-col s4 w3-padding-16" @click="doReleaseCard()" v-if="!jgssgCustom && isNotLinePara()">
          <img src="@/assets/images/remove.svg" style="height:3rem">
          <div style="margin-top:.5rem">移除此卡</div>
        </div>
        <div class="w3-col s4 w3-padding-16" @click="$router.push({ path: '/setting', query: { type: 'changeDetail' }})" v-if="!isNotLinePara()">
          <img src="../../../assets/images/card-profile-gray.svg" style="height:3rem">
          <div style="margin-top:.5rem">會員資訊</div>
        </div>
        <!-- bService (服務預約)// rService (服務記錄)// myBooking (我的預約) -->
        <div v-if="haveFun('myBooking')" class="w3-col s4 w3-padding-16" @click="$router.push({ path: '/bookingMine/'+curEPID })">
          <img src="../../../assets/images/preOrder-gray.svg" style="height:3rem;">
          <div class="w3-medium" style="margin-top:.5rem">我的預約</div>
        </div>
        <div v-if="haveFun('bService')" class="w3-col s4 w3-padding-16" @click="$router.push({ path: '/bookingClean/'+curEPID })">  
          <img src="../../../assets/images/preOrder-gray.svg" style="height:3rem;">
          <div class="w3-medium" style="margin-top:.5rem">服務預約</div>
        </div>
        <div v-if="haveFun('rService')" class="w3-col s4 w3-padding-16">
          <img src="../../../assets/images/serviceRec-gray.svg" style="height:3rem;" @click="$router.push({ path: '/serviceRec/'+curEPID })">
          <div class="w3-medium" style="margin-top:.5rem">服務紀錄</div>
        </div>

      </div>
    </div>
    <footer class="container text-center jgssg-bar" v-if="jgssgCustom">
      <img src="@/assets/images/24435384/btn-member-lightorange.svg" style="height:96px;margin-top:-28px">
    </footer>

    <!-- 卡Code -->
    <transition name="slide-top">
      <div class="w3-white funcLayer" v-if="currentCardCode">
        <header class="header w3-container flex-center-v w3-white w3-border-bottom w3-border-gray" style="justify-content:flex-end;">
          <img src="../../../assets/images/x.svg" class="w3-opacity" style="height:1.75rem;" @click="currentCardCode=false;$store.commit('setCssTouch', true)">
        </header>
        <div class="w3-container w3-padding-large w3-padding-64 w3-center">
          <img height="255" :src="cardQrCode.image" class="w3-image" alt="" style="width: 75%">
          <p>{{cardQrCode.value}}</p>
        </div>
      </div>
    </transition>

  </div>

</template>

<style lang="scss" scoped>
.is-80x80 {
  height: 80px;
  width: 80px;
}
.jgssg-bar {
  position: absolute;
  width: 100%;
  background-color: #F0B67D;
  height: 72px;
  bottom: 0;
  z-index: 1;
}
.jgssg-bg {
  background-color: #EB3300;
}
</style>

<script>
import store from 'src/store'
import { showAlert, showConfirm, isNotLinePara } from 'src/libs/appHelper.js'
import { L_Obj } from 'src/fun1.js'	// 共用fun在此!

// import { S_Obj } from 'src/fun1.js'	// 共用fun在此!

// const IsDev 	= S_Obj.isDebug 	//開發debug
// 	,IsStaging 	= S_Obj.isStaging


export default {
  // setup() {
    // return { IsDev }
  // },
  // 頁面資料: 請使用function return
  data: function(){
    return {
      state: this.$store.state,
      currentCardCode: false,
      isSideMenu: false,
      isLink: false,
      srcLink: '',
      curEPID: '',
    };
  },
  computed: {
    // 簡化常用的 Vuex.store data (補充： 一定要寫在這, component 才會即時反應 $store.state 的變化)
    isLogin() { return this.$store.getters.isLogin },
    // 暫時假資料
    userName()   { return this.state.userData.Name },
    currentApp() { return this.state.currentAppUser.EnterPriseID },
    cardQrCode() { return this.state.cardQRCode },
    points()     { return this.state.memberData.card_info.Points ? parseInt(this.state.memberData.card_info.Points) : 0 },
    balance()    { return this.state.memberData.card_info.Balance ? parseInt(this.state.memberData.card_info.Balance) : 0 },
    fontSizeBase() { return store.getters.fontSizeBase },
    currentCard() { return store.getters.currentApp},
    // 香香雞客製判斷
    jgssgCustom() {
      if(this.$route.params.enterpriseId == '24435384') return true
      else return false
    },
    showGreeting() {
      if (new Date().getHours() > 5  && new Date().getHours() < 11) return '現點現炸，香酥鮮嫩好滋味！'
      if (new Date().getHours() > 10 && new Date().getHours() < 19) return '吃飽吃好吃輕巧，隨選隨搭隨你配！'
      return '快來一份香香雞解你的嘴饞！'
    },
  },
  // 每次進入此頁面會執行的設定
  async beforeRouteEnter(to, form, next){
		let curEPID = ''
		if (to && to.params) {
			curEPID = to.params.enterpriseId
			await store.dispatch('fetchVipAppsByCheck', curEPID)	// 為refresh畫面要重新load資料
			//store.dispatch('fetchCleanItemList')						// 取得清潔項目資料(改為判斷vipfun)
			store.dispatch('fetchAppPublicDataDetailMemberWuhu')	// 取企業 App 的會員資料,不能省略,因為icon數字要表示.
		}

	// next()
		next( vm => {
			curEPID && (vm.curEPID = curEPID);
			LineBack();
		});
  },
  /* 建立頁面後 */
  // created: function(){
  // },
  // 頁面模組
  methods: {
    isNotLinePara,
    haveFun(str_fun){
			// bService (服務預約)// rService (服務記錄)// myBooking (我的預約)
      return this.currentCard && typeof this.currentCard.vipfun === "string" && this.currentCard.vipfun.indexOf(str_fun) > -1
    },
    openLink(src) {
      this.isLink= true
      this.srcLink= src
      this.$store.commit('setCssTouch', false)
    },
    async releaseCard() {
      let res = await store.dispatch('fetchReleaseOneCard')

      if (res) {
        if (res.ErrorCode=='0') {
          showAlert('移除成功')

        } else {
          if (res.error && res.msg) showAlert(res.msg)
          if (res.ErrorMsg) showAlert(res.ErrorMsg)
        }
        store.dispatch('fetchVipApps') // 全取卡包
        this.$router.push({path: '/list'})
      }
    },
    doReleaseCard() {
      showConfirm("您確定要移除此卡嗎?")
        // 點擊確認解綁
        .then(() => this.releaseCard() )
        // 點擊取消執行關閉 confirmn 視窗
        .catch(() => store.commit('setCustomModal', { type: '', text: '' }) )
    }
  },
}

function LineBack() {
	/* 判斷Line掃碼回來 */
	const bUse 		= L_Obj.read('WebLineLiff')
		,curAUser		= store.state.currentAppUser
		,curEPID		= curAUser.EnterPriseID

	if (bUse) {
		// const IsHank = /270485/.test(store.state.member.code);	// @@test
		// IsHank && alert('currentAppUser: \n'+JSON.stringify(curAUser));	// @@

		const url1 = `#/serviceRec/${curEPID}&serQCode=WEBSCAN`
		console.warn('Debug_url1: ', url1);	// @@

		location.hash = url1
	}
}
</script>