<template>
  <div class="has-background-white-bis scroll-auto-fix">
    <!-- 類別 -->
    <div class="field has-addons justify-content-center pt-3 mb-0 bg-white">
      <label class="label" style="line-height:40px">訂單類別：</label>
      <p class="control rounded-left">
        <button class="button rounded-left" :class="{'is-link':($route.query.type==null)}" @click="$router.replace('/cardMyOrders/'+$route.params.enterpriseId).catch(err => err)">
          <span class="icon is-small">
            <i class="fas fa-shopping-cart"></i>
          </span>
          <span>商城</span>
        </button>
      </p>
      <p class="control">
        <button class="button" :class="{'is-link':($route.query.type=='takeout')}" @click="$router.replace('/cardMyOrders/'+$route.params.enterpriseId+'?type=takeout').catch(err => err)">
          <span class="icon is-small">
            <i class="fas fa-shopping-bag"></i>
          </span>
          <span>自取</span>
        </button>
      </p>
      <p class="control">
        <button class="button" :class="{'is-link':($route.query.type=='delivery')}" @click="$router.replace('/cardMyOrders/'+$route.params.enterpriseId+'?type=delivery').catch(err => err)">
          <span class="icon is-small">
            <i class="fas fa-motorcycle"></i>
          </span>
          <span>外送</span>
        </button>
      </p>
    </div>
    <!-- 商城 -->
    <div v-if="$route.query.type==null">
      <!-- 狀態 -->
      <div class="tabs is-medium is-centered mb-0 bg-white sticky-top hide-scrollbar bg-white">
        <ul class="m-0" v-if="Object.keys(orderstatus).length">
          <!-- <li :class="{'is-active':(tabIndex=='tabAll')}" @click="tabIndex='tabAll'"><a class="py-2">全部</a></li> -->
          <li v-for="(pKey, pKeyIndex) in Object.keys(orderstatus)" :key="'pKey'+pKeyIndex"
            :class="{'is-active':(tabIndex==pKey)}" @click="tabIndex=pKey"><a class="py-2"
          >{{orderstatus[pKey]}}</a></li>
        </ul>
      </div>
      <!-- 內容 -->
      <div class="container">
        <p class="text-center has-text-grey-light py-5" v-if="!mallData.orders.length">-- 無訂單資料 --</p>
        <div class="w3-white shadow-sm border w3-border-gray rounded-xlg mx-2 my-3 overflow-hidden"
          v-for="(order, iIndex) in mallData.orders"
          :key="'order'+iIndex" v-show="tabIndex=='tabAll' || (order.OrderStatus==tabIndex) || (tabIndex==99 && order.isUnFinish)"
        >
          <header class="card-header border-bottom shadow-none">
            <div class="card-header-title">
              <div class="columns is-mobile is-gapless w-100">
                <div class="column" v-if="!(order.items && order.isUnFinish && order.OrderStatus==0)">訂單號：{{order.OrderNo}}</div>
                <div class="column" v-if="order.items && order.isUnFinish && order.OrderStatus==0">
                  <button class="button is-light is-rounded px-2 py-0 h-auto my-n1" @click="cancelOrder(order)">取 消</button> 
                  <button class="button is-info is-rounded px-2 py-0 h-auto my-n1" @click="goFinishOrder(order)">去付款</button>
                </div>
                <!-- 訂單狀態文字 -->
                <div class="column is-narrow text-right has-text-info">
                  <b>{{(mallData.orderstatus[order.OrderStatus] || "-")}}</b>
                </div>
              </div>
            </div>
          </header>
          <div class="card-content p-3">
            <div class="" style="line-height:1.5">
              <div class="columns is-multiline is-mobile">
                <div class="column py-1">日期：{{order.SaleTime}}</div>
                <!-- 取消訂單&我要退貨 -->
                <div class="column is-narrow py-1 text-right">
                  <button class="button is-light is-rounded px-2 py-0 h-auto border mr-n1" v-if="order.OrderStatus==4" @click="cancelFinishOrder(order)">取消訂單</button>
                  <button class="button is-light is-rounded px-2 py-0 h-auto border mr-n1" v-if="order.OrderStatus==5" @click="cancelFinishOrder(order)">我要退貨</button>
                  <!-- <button class="button is-light is-rounded px-2 py-0 h-auto border mr-n1" v-if="mallData.orderstatus[order.OrderStatus]=='待出貨'">取消訂單</button>
                  <button class="button is-light is-rounded px-2 py-0 h-auto border mr-n1" v-if="mallData.orderstatus[order.OrderStatus]=='已出貨'">我要退貨</button> -->
                </div>
                <div class="column is-12 py-1" v-if="mallData.isCarUI!=undefined && order.items && order.isload && order.OrderStatus==5">
                  <!-- 宅配單號 -->
                  <div class="columns is-mobile is-gapless mb-2" v-for="(trace, taIndex) in checkTrace(order.PreSourceID,order.items)" :key="'trace'+taIndex">
                    <div class="column is-6 py-1 py-0">宅配單號</div>
                    <div class="column is-6 py-1 py-0 text-right">{{trace}}</div>
                  </div>
                  
                </div>
                <!-- 明細開啟 -->
                <div class="column is-12 py-1 text-center has-text-info has-background-white-bis" @click="goOrderitems(order.ID,iIndex,order)">
                  <b class="mx-2">明細</b>
                  <span v-show="!order.isload"><i class="fas fa-angle-down"></i></span>
                  <!-- 收回 -->
                  <span v-show="order.isload"><i class="fas fa-angle-up"></i></span>
                </div>          

                <div class="column is-12 py-1" v-if="mallData.isCarUI!=undefined && order.items && order.isload">
                  <!-- 商品 -->
                  <div class="columns is-mobile is-gapless mb-2" v-for="(item, iIndex) in order.items" :key="'item'+iIndex">
                    <div class="column is-8 py-1">{{item.FoodName}}<p v-show="item.Memo!=''" style="text-indent:1em;">└ {{item.Memo}}</p></div>
                    <div class="column is-1 py-1 text-right">{{item.Count}}</div>
                    <div class="column is-3 py-1 text-right">{{item.Total}}</div>                  
                  </div>
                  
                  
                  <div class="columns is-mobile is-gapless mb-2" v-show="false">
                    <div class="column is-8 py-1">運費</div>
                    <div class="column is-4 py-1 text-right">60</div>
                  </div>
                </div>
                
                <div class="column is-6 py-1 border-top">總計</div><div class="column is-6 py-1 border-top text-right">NT$ {{order.Total}}</div>
                <div class="column is-12 py-1" v-if="mallData.isCarUI!=undefined && order.Checks && order.isload">
                  <!-- 付款方式 -->
                  <div class="columns is-mobile is-gapless mb-1 is-light has-text-info" v-show="order.Checks" v-for="(iCheck, chIndex) in order.Checks" :key="'check'+chIndex">
                    <div class="column is-9 py-0">{{iCheck.KindName}}：{{iCheck.NO}}</div>                  
                    <div class="column is-3 py-0 text-right">{{iCheck.Total}}</div>
                  </div>
                  <div class="columns is-mobile is-gapless mb-1 is-light has-text-info" v-show="order.Agios" v-for="(iAgios, agioIndex) in order.Agios" :key="'agios'+agioIndex">
                    <div class="column is-9 py-0">優惠折抵：{{iAgios.AgioReason}}</div>                  
                    <div class="column is-3 py-0 text-right">{{calAgioTotal(iAgios.TotalAgioCost,iAgios.TotalAgioTotal)}}</div>
                  </div>
                </div>
                
                <!-- 無備註 hide -->
                <div class="column py-1 is-narrow" v-show="false">備註：</div>
                <div class="column py-1" v-show="false"></div>
              </div>
            </div>
          </div>
          <!-- <footer class="card-footer" v-if="">
            <a href="#" class="has-background-white-bis card-footer-item has-text-danger">取消訂單</a>
          </footer> -->
        </div>
      </div>
    </div>
    <!-- 自取 -->
    <div v-if="$route.query.type=='takeout'">
      <!-- 狀態 -->
      <div class="tabs is-medium is-centered mb-0 bg-white sticky-top hide-scrollbar bg-white">
        <ul class="m-0">
          <li class="is-active"><a class="py-2">待收單</a></li>
          <li><a class="py-2">已接單</a></li>
          <li><a class="py-2">已拒絕</a></li>
          <li><a class="py-2">已退訂</a></li>
          <li><a class="py-2">已付款</a></li>
          <li><a class="py-2">已自取</a></li>
        </ul>
      </div>
      <p class="text-center has-text-grey-light py-5">-- 建置中 --</p>
    </div>
    <!-- 外送 -->
    <div v-if="$route.query.type=='delivery'">
      <!-- 狀態 -->
      <div class="tabs is-medium is-centered mb-0 bg-white sticky-top hide-scrollbar bg-white">
        <ul class="m-0">
          <li class="is-active"><a class="py-2">待收單</a></li>
          <li><a class="py-2">已接單</a></li>
          <li><a class="py-2">已拒絕</a></li>
          <li><a class="py-2">已退訂</a></li>
          <li><a class="py-2">已付款</a></li>
          <li><a class="py-2">送餐中</a></li>
          <li><a class="py-2">已取餐</a></li>
        </ul>
      </div>
      <p class="text-center has-text-grey-light py-5">-- 建置中 --</p>
    </div>
  </div>
</template>

<script>
  import store from 'src/store'  
  import { getMyorders,getOrderitems,getUnfinishorderItem,toDecimal,getDeedpoints,objByTotal,cancelUnfinishorder,getOrderStatus,getExpired,checkDeedAct,cancelMyorder } from 'src/libs/market.js'
  import { showImageWuhu,showToast,showConfirm,hideModal,showAlert } from 'src/libs/appHelper.js'
  import moment from 'moment'
  export default {
    // 頁面資料: 請使用function return
    data: function () {
      return {
        state: this.$store.state,
        tabIndex: '',
        unFinishOrder:[],
        orderstatus:{},
        okOrder:{},
        okItems:[],
        okDeedPoints:[],
        deepNoList:[], //選的點數
        finishOrder:{},
        finishItems:[],
        finishChecks:[],
        addrs: '', 
        mobile: '', 
        receiver:'',
        BalanceTotal:0,//消費點數??
        PointMoneyAmount:0, //體驗點數
        BalanceTotal_init:0,//消費點數(原點)
        PointMoneyAmount_init:0, //體驗點數(原點)
        lastDeed:0,
        isTypeModal: '',
      };
    },
    computed: {
      // 簡化常用的 Vuex.store data (補充： 一定要寫在這, component 才會即時反應 $store.state 的變化)
      isLogin() {
        return this.$store.getters.isLogin
      },
      fontSizeBase() {
        return store.getters.fontSizeBase
      },
      mallData() {
        return this.$store.state.mallData;
      }
      
    },
    // 頁面模組
    methods: {
      showImageWuhu,
      objByTotal,
      checkTrace(orderTrace,itemTraces){
        var trace_arr=[];
        if (orderTrace!='') trace_arr.push(orderTrace);
        itemTraces.map((item)=>{
          //PreSourceID (宅配單號). 品項表(下方),BatchID
          if (item.BatchID!='' && trace_arr.indexOf(item.BatchID) < 0) trace_arr.push(item.BatchID);
        });
        return trace_arr;
      },
      calAgioTotal(val1,val2){
        return toDecimal(val1)+toDecimal(val2);
      },
      checkDeed(e,p_index){
        // var input = e.target.control; // 目前選取欄位 
        this.lastDeed = checkDeedAct(e,p_index,this.okDeedPoints,this.deepNoList,this.BalanceTotal);         

      },
      momentFt(value){
        return moment(value).format('YYYY-MM-DD');
      },
      chkStr(p_str){
        var p_arr = p_str.split('Z00');
        if (!(p_arr.length == 2 && p_arr[0]=='')) p_arr = p_str.split('Y00');
        return p_arr.length == 2 && p_arr[0]=='';
      },
      chkFinishCheckout(){        
        // if (this.deepNoList.length == 0) showToast("尚未選擇契約");
        var isDeed = this.deepNoList.length == 0 && this.okDeedPoints.length > 0;
        if (isDeed) showToast("尚未選擇契約");
        if ((this.PointMoneyAmount_init+this.BalanceTotal_init) <= 0) showAlert("無點數可支付");
        // if (!isDeed  && (this.PointMoneyAmount_init+this.BalanceTotal_init) > 0) finishCheckout(this.okOrder.ID,this.deepNoList,{PreAddr:this.addrs,PrePhone:this.mobile,PreName:this.receiver},[],[],(data)=>{
          
        //   if (Array.isArray(data.Orders) && data.Orders.length > 0){
        //     this.deepNoList=[];
        //     if (Array.isArray(data.Orders)) this.finishOrder = data.Orders[0];
        //     this.finishItems = data.OrderItem || [];
        //     this.finishChecks = data.Checks || [];

        //     // var p_freight = this.finishItems.filter((p_item)=>{
        //     //   return p_item.FoodID==='Z001' && p_item.MainID==='Z001' && p_item.KindID==='Z001'
        //     // });
        //     var p_freight = this.finishItems.filter((p_item)=>{              
        //       return this.chkStr(p_item.FoodID) && this.chkStr(p_item.MainID) && this.chkStr(p_item.KindID);
        //       // p_item.FoodID==='Z001' && p_item.MainID==='Z001' && p_item.KindID==='Z001'
        //     });
        //     this.finishOrder.Total = toDecimal(this.finishOrder.Total);
        //     this.finishOrder.itemTotal = objByTotal(this.finishItems,"Total");
        //     this.finishOrder.Freight = 0;
        //     if (p_freight.length > 0){
        //       this.finishOrder.Freight = objByTotal(p_freight,"Price");//toDecimal(p_freight[0]["Price"]);//運費
              
        //     }
        //     this.finishOrder.SubTotal = toDecimal(this.finishOrder.itemTotal - this.finishOrder.Freight);
        //     this.$router.replace({ path: '/shopMine', query: { type: 'finished' } });
        //   }else{
        //     showToast("付款異常");
        //   }
          
        // });
      },
      goFinishOrder(p_order){
        // console.log("p_order",p_order);
        this.addrs = p_order.PreAddr || '';
        this.mobile = p_order.PrePhone || ''
        this.receiver = p_order.PreName || '';
        this.deepNoList=[];
        this.okDeedPoints = [];
        getExpired((p_vip)=>{
          p_vip.PointMoneyAmount = toDecimal(p_vip.PointMoneyAmount);
          p_vip.Balance = toDecimal(p_vip.Balance);
          // p_vip.PointMoneyAmount = 50000;
          // p_vip.Balance = 1999999;
          if (p_vip.PointMoneyAmount!=undefined) this.PointMoneyAmount_init=p_vip.PointMoneyAmount;
          if (p_vip.Balance!=undefined) this.BalanceTotal_init=p_vip.Balance;
          if (p_vip.PointMoneyAmount!=undefined) this.PointMoneyAmount=(p_order.CheckTotal <= p_vip.PointMoneyAmount?p_order.CheckTotal:p_vip.PointMoneyAmount)//體驗點數      
          if (p_vip.Balance!=undefined) this.BalanceTotal= (this.PointMoneyAmount == p_order.CheckTotal?0:(p_order.CheckTotal-p_vip.PointMoneyAmount));          
          
          if (this.BalanceTotal > 0){
            getDeedpoints((p_point)=>{
              p_point=p_point || [];
              this.doFinishOrder(p_order,p_point);
              
            });
          }else{
            this.doFinishOrder(p_order,[]);//體驗點數已足夠支付時
          }
        });

       
      },
      cancelOrder(p_order){
        showConfirm("是否取消此訂單", '確定', '取消')
        // 點擊確認執行
        .then(() => { 
          cancelUnfinishorder(p_order.ID,()=>{
            hideModal();
            this.reload();
          });   
          
        })
        // 點擊取消執行 => 關閉 confirmn 視窗
        .catch(() => hideModal())


        
        
      },
      cancelFinishOrder(p_order){        
        var p_msg = "是否要取消訂單?"
        if (p_order.OrderStatus == 5) p_msg = "是否要退貨?"
        
        showConfirm(p_msg, '確定', '取消')
        // 點擊確認執行
        .then(() => { 
          cancelMyorder(p_order.ID,(data)=>{
            hideModal();
            var isErr = data.detail && data.detail.ErrorCode && data.detail.ErrorCode != "0"; 
            if (isErr) showAlert(data.detail.ErrorMsg);  
            
          });   
          
        })
        // 點擊取消執行 => 關閉 confirmn 視窗
        .catch(() => hideModal())


        
        
      },
      doFinishOrder(order,DeedPoints){
        this.okOrder = order;
        this.okItems = order.items || [];
        // var p_freight = this.okItems.filter((p_item)=>{
        //   return p_item.FoodID==='Z001' && p_item.MainID==='Z001' && p_item.KindID==='Z001'
        // });
        var p_freight = this.finishItems.filter((p_item)=>{              
          return this.chkStr(p_item.FoodID) && this.chkStr(p_item.MainID) && this.chkStr(p_item.KindID);
          // p_item.FoodID==='Z001' && p_item.MainID==='Z001' && p_item.KindID==='Z001'
        });
        this.okOrder.Total = toDecimal(this.okOrder.Total);
        this.okOrder.itemTotal = objByTotal(this.okItems,"Total");
        this.okOrder.Freight = 0;
        if (p_freight.length > 0){
          this.okOrder.Freight = objByTotal(p_freight,"Price");//toDecimal(p_freight[0]["Price"]);//運費
          
        }
        this.okOrder.SubTotal = toDecimal(this.okOrder.itemTotal - this.okOrder.Freight);//運費
        this.okDeedPoints = DeedPoints;
       // BalanceTotal
        this.$router.replace({ path: '/shopMine', query: { type: 'pageDeed',isPay:'on' } });
        
      },
      goOrderitems(orderID,iIndex,order){
        if (!this.mallData.orders[iIndex]["isUnFinish"]){
          //已付款
          // console.log('pay done');
          if(!order.items) getOrderitems(orderID,(p_items,p_checks,p_agios)=>{
            if (Array.isArray(p_items)) this.$store.state.mallData.orders[iIndex]["items"] = p_items;
            if (Array.isArray(p_checks)) this.$store.state.mallData.orders[iIndex]["Checks"] = p_checks; 
            if (Array.isArray(p_agios)) this.$store.state.mallData.orders[iIndex]["Agios"] = p_agios; 
            
            this.$store.state.mallData.isCarUI = !this.$store.state.mallData.isCarUI;//觸發UI更新用            
          });
        }else{
          //未付款
          // console.log('pay unfinish');
          if(!order.items) getUnfinishorderItem(orderID,(p_unItems)=>{          
            if (Array.isArray(p_unItems)) this.$store.state.mallData.orders[iIndex]["items"] = p_unItems;
            this.$store.state.mallData.isCarUI = !this.$store.state.mallData.isCarUI;//觸發UI更新用
            
          });
        }
        order.isload = !order.isload
        this.$store.state.mallData.isCarUI = !this.$store.state.mallData.isCarUI;//觸發UI更新用
      },
      reload(){
        // console.log("reload....");
        getMyorders(()=>{    //已付款
                  
          
        });
      },
      // reload(next){
      //   // console.log("reload....");
      //   getMyorders(()=>{    //已付款
      //     getUnfinishorder((data)=>{  //未付款
          
      //       if (Array.isArray(data)) {
      //           data.map((unFinish)=>{
      //             unFinish.isUnFinish = true;
                  
      //           });

      //         }
      //         this.$store.state.mallData.orders = Object.assign([], this.$store.state.mallData.orders.concat(data));
              
      //         if (next) {
      //           this.$router.replace('/shopMine');
      //           next();
      //         }
              
      //     });          
          
      //   });
      // },
    },
    // 在路由刷新前
    beforeRouteEnter: function (to, form, next) {
      // console.log("...beforeRouteEnter",form);
      document.querySelector(".pull-down-container").scrollTop = 0 // 此頁置頂      
      store.state.mallData.reloadShopMineFn=()=>{
        getMyorders();   
      }
      getOrderStatus(()=>{
        getMyorders(()=>{    //已付款
          next((vm) => { // vm is the Vue instance
            vm.orderstatus['4'] = vm.mallData.orderstatus['4'];//待出貨
            vm.orderstatus['5'] = vm.mallData.orderstatus['5'];//已出貨
            vm.orderstatus['9'] = vm.mallData.orderstatus['9'];
            vm.orderstatus['8'] = vm.mallData.orderstatus['8'];            
            vm.tabIndex='4';
          })
          // getUnfinishorder((data)=>{  //未付款
          
          //   next((vm) => { // vm is the Vue instance
          //     vm.orderstatus['4'] = vm.mallData.orderstatus['4'];
          //     vm.orderstatus['5'] = vm.mallData.orderstatus['5'];
          //     vm.orderstatus['9'] = vm.mallData.orderstatus['9'];
          //     vm.orderstatus['8'] = vm.mallData.orderstatus['8'];
          //     vm.orderstatus['99'] = "未付款"//vm.mallData.orderstatus['0']; //為了放最後面,編99
          //     // vm.orderstatus['-1'] = "未付款";//結帳失敗,未扣點時,此時沒有OrderNo
          //     // {0: "待接單", 1: "待付款", 2: "已取消", 3: "已退訂", 4: "待出貨", 5: "已出貨", 6: "已完成", 7: "退貨中", 8: "退款中", 9: "已關閉", __ob__: Observer}
              
          //     if (Array.isArray(data)) {
          //       data.map((unFinish)=>{
          //         unFinish.isUnFinish = true;
          //         // unFinish.OrderStatus = -1; //原始可能0或1,暫塞-1
                  
          //       });
          //       vm.$store.state.mallData.orders = vm.$store.state.mallData.orders.concat(data);
          //     }
          //     vm.tabIndex='4';
              
          //   })

          // });          
          
        });
      });
      
      
      
      // next();
    },
    beforeRouteUpdate: function (to, form, next) {
      // console.log("..>>beforeRouteUpdate",to.query.type,form.query.type,to.query.isPay);
      document.querySelector(".pull-down-container").scrollTop = 0 // 此頁置頂
      // if (form.path === "/shopMine" && to.query.type === 'pageDeed' && (form.query.type === "finished" || (form.query.type === undefined && to.query.isPay == undefined))) {
      //   //防止手機原生返回鍵亂跑
      //   this.reload(next);
        
      // }else if (form.path === "/shopMine" && ((to.query.type === 'pageDeed' && to.query.isPay == undefined) || to.query.type === 'finished')  && form.query.type == undefined) {
      //   //防止手機原生返回鍵亂跑
      //   //pageDeed undefined on
      //   console.log("go ..shopshop");
      //   this.$router.replace('/shop')
      //   next();
      // }else{
      //   console.log("go ..other");
      //   next();
      // }
      next();
    },
    // 建立頁面後
    created: function () {
      
    },
    watch: {
      '$route' () {
        
      }
    }
  }
</script>

<style lang="scss" scoped>
  .scroll-auto-fix {
    overflow-y: auto;
    height: calc(100vh - 57px - env(safe-area-inset-top));
    padding-bottom: env(safe-area-inset-bottom);
  }
  .hide-scrollbar::-webkit-scrollbar {
    background-color: transparent;
    width: 0px;
    display: none;
  }
  .card-header-title {
    background-color: #eef6fc !important;
  }
  .rounded-xlg {
    border-radius: 8px;
  }
</style>