<template>
  <div>

    <div v-if="!isReady" class="position-fixed w-100 h-100" style="z-index: 9999;background-color: rgba(0,0,0,0)" v-cloak>
      <div class="rounded-circle bg-white shadow-lg w3-display-middle p-2">
        <img src="../../../assets/images/loading.svg" class="rounded-circle" width="64">
      </div>
    </div>

    <div class="w3-container w3-padding-8 w3-light-gray w3-center">
      最新消息
    </div>

    <!-- 輪播 Banner -->
    <div class="w3-center">
      <template v-if="newsData">
        <p class="w3-center w3-opacity-max w3-padding-48" v-if="newsData.length === 0" :style="{ fontSize: fontSizeBase*16 + 'px' }">-- 無最新消息 --</p>
      </template>

      <Swiper class="bg-light" ref="mySwiper">
        <!-- slides -->
        <SwiperSlide v-for="news in newsData" :key="news.DetailID">
          <div class="swiper-zoom-container">
            <img class="w3-image" :src="showImage(news._PicURL+'?v='+(new Date().getTime()))" @click="redirectToLink(news)" @touchstart="zoomTouch">
          </div>
        </SwiperSlide>
        <!-- Optional controls -->
        <div class="swiper-pagination" slot="pagination"></div>
      </Swiper>

    </div>

    <ul class="w3-ul m-0" :style="{ fontSize: fontSizeBase*16 + 'px' }">
      <!-- <li class="w3-center w3-opacity-max w3-padding-48" v-if="newsData.length === 0">無最新消息</li> -->
      <li v-for="news in newsData" @click="$router.push('/cardNewspage/' + $route.params.enterpriseId + '/' + news.DetailID)" :key="news.DetailID">
        <b>{{news.SaleTime.substring(0, 10)}}</b>
        <p class="w3-section-8">{{news.DetailName}}</p>
      </li>
    </ul>

  </div>
</template>

<script>
import store from 'src/store'
import { deviseFunction } from 'src/libs/deviseHelper.js'
import { showImage } from 'src/libs/appHelper.js'

export default {
  async beforeRouteEnter(to, from, next) {
    if (to && to.params) {
      const enterpriseId = to.params.enterpriseId

      // 若為refresh畫面要重新load資料
      await store.dispatch('fetchVipAppsByCheck', enterpriseId) 
      
      store.dispatch('fetchAppPublicDataDetailNewsWuhu')  
    }
    next()
  },
  beforeRouteLeave: function(to, from, next) {
    this.$destroy()
    next()
  },
  computed: {
    // 簡化常用的 Vuex.store data (補充： 一定要寫在這, component 才會即時反應 $store.state 的變化)
    currentApp() { return this.state.currentAppUser.EnterPriseID },
    srcUrl() { return this.getters.srcUrl },
    fontSizeBase() { return store.getters.fontSizeBase },
    newsData() {
      // return this.state.publicData.news.data.filter(item => item.KindID !== "_INFO_")
      const newsData = this.state.publicData.news.data
      if(newsData && newsData.length>0) {
        return newsData.filter(item => item.KindID !== "_INFO_") 
      } else {
        return [];
        //return null
      }
    },
    isReady() {
      let resultData = null

      const newsData = this.state.publicData.news.data
      if(newsData && newsData.length>0) {
        resultData = newsData.filter(item => item.KindID !== "_INFO_")
      } else {
        resultData = null
      }

      if (resultData && resultData.length>0) {
        // console.log('isReady ===> true')
        return true
      } else {
        // console.log('isReady ===> false')
        return true  //不設為true ,loading會存在
      }
    },
    swiper() {
      return this.$refs.mySwiper.$swiper
    }
  },
  data: function(){
    return {
      title: '<%- @_SelfCode %>',
      state: this.$store.state,
      // detect click
      isDblClick: false,
      clicks: 0,
    };
  },
  // 頁面模組
  methods: {
    showImage,
    deviseUrl(url){
      return deviseFunction('openWeburl', url, '')
    },
    // 判斷 single || double click
    oneClick() {
      this.clicks++ 
      if(this.clicks === 1) {
        var self = this
        this.timer = setTimeout(function() {
          self.clicks = 0
        }, 200);
        this.isDblClick = false
        this.swiper.autoplay.start()
      } else {
        clearTimeout(this.timer);  
        this.isDblClick = true
        this.clicks = 0
        // 放大時，停止輪播
        if(this.swiper.zoom.scale > 1) this.swiper.autoplay.stop()
        else this.swiper.autoplay.start()
      }
    },
    redirectToLink(news) {
      this.oneClick()
      setTimeout(() => {
        if (news.DetailID != '' && !this.isDblClick) {
          this.$router.push('/cardNewspage/'+ this.$route.params.enterpriseId + '/' + news.DetailID)
        }
      }, 300)
    },
    // two-finger-touch stop swiper 
    zoomTouch(e) {
      if(e.touches.length == 2 && e.targetTouches.length == 2) this.swiper.autoplay.stop()
      else if( this.swiper.zoom.scale == 1)  this.swiper.autoplay.start()
    },
  },
}
</script>
