<template>
  <div class="padding-bottom-env">

    <div class="w3-container w3-padding-8 w3-light-gray w3-center">
      消費紀錄
    </div>

    <ul class="w3-ul m-0">
      <li class="w3-dark-gray">
        <div class="w3-cell-row w3-text-light-gray">
          <div class="w3-cell">近十筆消費紀錄</div>
          <div class="w3-cell w3-right-align">消費金額</div>
        </div>
      </li>
      <li v-for="data in pageData" :key="data.GID" class="w3-display-container">
        <p class="w3-margin-8 w3-text-gray">
          {{formatTime(data.LastModify, 'YYYY-MM-DD HH:mm:ss')}}
          <br>
          交易門店： {{data.ShopName}}
          <br>
          訂單編號： {{data.OrderNO}}
        </p>
        <p class="w3-margin-8 w3-padding w3-padding-8 w3-container w3-light-gray w3-round">
          <b v-for="item in data.FoodName.split(',')" :key="item.GID">{{item}} <br></b>
        </p>
        <div class="w3-container w3-padding-16 w3-display-topright w3-xlarge">
          <b>{{data.PayTotal}}</b>
        </div>
      </li>
    </ul>

    <p class="w3-center w3-opacity-max w3-padding-48" v-if="pageData.length === 0">-- 無紀錄 --</p>

  </div>

</template>

<script>
import store from 'src/store'
import { isLogin } from 'src/libs/appHelper.js'
import { formatTime } from 'src/libs/timeHelper.js'

export default {
  // 頁面資料: 請使用function return
  data: function(){
    return {
      title: '<%- @_SelfCode %>',
      state: this.$store.state,
    };
  },
  async beforeRouteEnter(to, form, next){
    // 如果取不到 Vue instance (e.g. 直接 F5 刷新時), 導回首頁重取預設資料
    if (!isLogin) return next('/')

    if (to && to.params) {
      const enterpriseId = to.params.enterpriseId

      // 若為refresh畫面要重新load資料
      await store.dispatch('fetchVipAppsByCheck', enterpriseId)
      
      // 取得優惠券全部相關api
      store.dispatch('fetchAppPublicDataDetailPurchaseWuhu')
    }
    setTimeout(() => { store.commit('setLoading', false) }, 200)

    // default
    next();
  },
  computed: {
    // 簡化常用的 Vuex.store data (補充： 一定要寫在這, component 才會即時反應 $store.state 的變化)
    pageData() { return this.state.memberData.purchaseRecord },
    fontSizeBase() { return store.getters.fontSizeBase },
  },
  methods: {
    formatTime
  }
}
</script>
