<template>
  <div>

    <div class="w3-container w3-padding-8 w3-light-gray w3-center" :style="{ fontSize: fontSizeBase*18 + 'px' }">
      積點紀錄
    </div>
    <div class="w3-container">
      <div class="w3-stretch w3-center w3-padding w3-margin-bottom w3-dark-gray"><span class="w3-text-light-gray" :style="{ fontSize: fontSizeBase*16 + 'px' }">近十筆紀錄</span></div>
      <div class="w3-section">
        <div class="w3-cell-row">
          <div class="w3-cell w3-center" style="padding-right:.5rem">
            <div class="w3-light-gray w3-round-large w3-padding-8">
              <div class="w3-text-gray" :style="{ fontSize: fontSizeBase*16 + 'px' }">
                剩餘<b class="w3-text-black" style="margin:0 .5rem;line-height:1" :style="{ fontSize: fontSizeBase*36 + 'px' }">{{points}}</b>點
              </div>
            </div>
          </div>
        </div>
      </div>

      <div v-for="data in pointData" :key="data.GID" class="w3-section w3-round-large w3-white w3-padding w3-border w3-border-gray w3-padding-16">
        <div class="w3-cell-row" style="margin-bottom:.5rem">
          <div class="w3-cell">{{data.TradeTime.substring(0, 10)}}<span class="w3-margin-left">{{data.TradeTypeName}}</span></div>
          <div class="w3-cell"></div>
        </div>
        <div class="w3-cell-row w3-text-gray w3-small">
          <div class="w3-cell w3-center w3-border-right" style="border-color:#e6e6e6;width:33.33%">
            消費金額<br><b class="w3-text-black w3-xlarge" style="margin-right:.5rem;line-height:1">{{parseInt(data.TradeAmount)}}</b>元
          </div>
          <div class="w3-cell w3-center w3-border-right" style="border-color:#e6e6e6;width:33.33%">
            累積<br><b class="w3-text-black w3-xlarge" style="margin-right:.5rem;line-height:1">{{parseInt(data.TradePoints)}}</b>點
          </div>
          <div class="w3-cell w3-center">
            剩餘<br><b class="w3-text-black w3-xlarge" style="margin-right:.5rem;line-height:1">{{parseInt(data.Points)}}</b>點
          </div>
        </div>
      </div>

      <p class="w3-center w3-opacity-max w3-padding-48" v-if="pointData.length === 0" :style="{ fontSize: fontSizeBase*16 + 'px' }">-- 無紀錄 --</p>

    </div>

  </div>

</template>

<script>
import store from 'src/store'

export default {
  // 頁面資料: 請使用function return
  data: function(){
    return {
      title: '<%- @_SelfCode %>',
      state: this.$store.state,
    };
  },
  computed: {
    // 簡化常用的 Vuex.store data (補充： 一定要寫在這, component 才會即時反應 $store.state 的變化)
    isLogin()  { return this.$store.getters.isLogin },
    memberData() { return this.state.memberData },
    points()     { return this.memberData.card_info.Points ? parseInt(this.memberData.card_info.Points) : 0 },
		pointData() {
			let pastData = this.memberData.expiredPoints;
			let newData = pastData.map((item) => {
				const TradeTypeCode = parseInt(item.TradeTypeCode);
				// console.log('pointData-Code: '+TradeTypeCode, item.TradeTypeName);	// @@
				// console.log('pointData-item: '+item.TradePoints, item);	// @@

				// 4,	-4: 積分兌換, 積分兌換退回: 文字改為==> 點數兌換
				// 7,	-7: 積分換券, 積分換券退回: 文字改為==> 點數換券

				if (TradeTypeCode == 4) {
					item.TradeTypeName = '點數兌換'
				} else if (TradeTypeCode == -4) {
					item.TradeTypeName = '點數兌換退回'
				} else if (TradeTypeCode == 7) {
					item.TradeTypeName = '點數換券'
				} else if (TradeTypeCode == -7) {
					item.TradeTypeName = '點數換券退回'
				} else if (TradeTypeCode == 71) { // 點數轉贈
					item.PayType = item.PayType.replace("會員", '');
				} else if (TradeTypeCode == 72) { // 點數受贈
					item.PayType = item.PayType.replace("會員:", '從 ').replace("贈點", ' 轉贈');
				} else if (TradeTypeCode == 24) {
					item.TradeTypeName = '綁定禮'
				} else if (TradeTypeCode == -24) {
					item.TradeTypeName = '綁定禮退回'
				} else if (TradeTypeCode == 82) {
					item.TradeTypeName = '卡片滙入'
				}

				/* 這幾種要正負相反 */
				if ([4, -4, 7, -7, 71, -71].includes(TradeTypeCode)) {
					item.TradePoints = -item.TradePoints;
					// console.log('正負相反-item: '+item.TradePoints);	// @@
				}
				return item
			})
			// console.log('pointData-newData: ', newData);	// @@
			return newData
		},

    fontSizeBase() { return store.getters.fontSizeBase },
  },
  // 頁面模組
  methods: {

  },
  // 在路由刷新前
  async beforeRouteEnter(to, form, next){
    // to: 上一個頁面代碼
    // form: 目前頁面代碼
    // next: 向下執行
    // 取企業 App 的會員資料
    if (to && to.params) {
      const enterpriseId = to.params.enterpriseId
      
      // 若為refresh畫面要重新load資料
      await store.dispatch('fetchVipAppsByCheck', enterpriseId)
      
      store.dispatch('fetchAppPublicDataDetailPointWuhu')
    }

    next();
  },
  // 建立頁面後
  // created: function(){
  // },
}
</script>