<template>
  <div>
    <div class="w3-container w3-padding-8 w3-large w3-light-gray w3-center">
      {{pageData.KindName}}
    </div>

    <div v-if="pageData">
      <h5 class="w3-center">{{pageData.DetailName}}</h5>
      <div class="w3-display-container">
        <img class="w3-image" :src="showImage(pageData.PicURL+'?v='+(new Date().getTime()))">
      </div>

      <div class="w3-row w3-light-gray flex-center-h tabBar" style="flex-wrap:nowrap">
        <div class="w3-col s4 w3-bottombar w3-center tabLink"
             :class="{'isActive':currentType==1}"
             @click.prevent="currentType=1"
             >{{pageData.SubTitle1}}</div>
        <div class="w3-col s4 w3-bottombar w3-center tabLink"
             :class="{'isActive':currentType==2}"
             @click.prevent="currentType=2"
             v-if="pageData.SubTitle2!=''"
             >{{pageData.SubTitle2}}</div>
        <div class="w3-col s4 w3-bottombar w3-center tabLink"
             :class="{'isActive':currentType==3}"
             @click.prevent="currentType=3"
             v-if="pageData.SubTitle3!=''"
             >{{pageData.SubTitle3}}</div>
      </div>
      <div>
        <div v-show="currentType === 1" class="w3-container w3-padding-16" style="white-space: pre-wrap;">{{pageData.SubText1}}</div>
        <div v-show="currentType === 2" class="w3-container w3-padding-16" style="white-space: pre-wrap;">{{pageData.SubText2}}</div>
        <div v-show="currentType === 3" class="w3-container w3-padding-16" style="white-space: pre-wrap;">{{pageData.SubText3}}</div>
      </div>
    </div>
  </div>
</template>

<script>
import store from 'src/store'  
import { showImage } from 'src/libs/appHelper.js'

export default {
  data: function(){
    return {
      state: this.$store.state,
      currentType: 1,
    };
  },
  computed: {
    pageData() {
      return this.$store.state.publicData.currentProduct
    },
  },
  // 在路由刷新前
  beforeRouteEnter: function(to, form, next){
    store.dispatch('fetchProductData', to.params.detailID)
    // to: 上一個頁面代碼
    // form: 目前頁面代碼
    // next: 向下執行
    next();
  },
  methods: {
    showImage,
    resetPage() {
      this.currentType = 1;
    },
  },
  watch: {
    // 如果路由有变化，会再次执行该方法
    '$route': 'resetPage'
  },
}
</script>
