<template>
  <div class="py-5 bg-light scroll-height-fix">
    
    <!-- <div class="w3-padding w3-padding-16" style="background: linear-gradient(0deg, #fff 50%, #f1f1f1 100%);">
      <div class="w3-row w3-center">
        <div class="w3-col w3-padding-16">
          <img :src="cardShareQRCode.image">
          <div style="margin-top:.5rem">掃我+卡 [{{$store.getters.currentApp && $store.getters.currentApp.AppName}}]</div>
        </div>
      </div>
    </div> -->
    
    <div class="box border is-light text-center mx-auto w3-animate-opacity" style="max-width:320px">
      <h5>
        <b class="d-block is-size-4 p-2 bg-dark rounded-lg mb-2 text-white">{{$store.getters.currentApp && $store.getters.currentApp.AppName}}</b>
        <span class="is-size-5">掃我+卡</span>
      </h5>
      <img :src="cardShareQRCode.image" class="w3-image p-2" alt="" style="width: 85%">
        <p class="my-1 is-size-4">
          {{qrCodeValue}}
        </p>
    </div>

  </div>
</template>

<script>
import store from 'src/store'

export default {
  // 頁面資料: 請使用function return
  data: function(){
    return {
      state: this.$store.state,
      currentCardCode: false,
      isSideMenu: false,
      isLink: false,
      srcLink: ''
    };
  },
  computed: {
    // 簡化常用的 Vuex.store data (補充： 一定要寫在這, component 才會即時反應 $store.state 的變化)
    isLogin() { return this.$store.getters.isLogin },
    // 暫時假資料
    userName()   { return this.state.userData.Name },
    currentApp() { return this.state.currentAppUser.EnterPriseID },
    cardQrCode() { return this.state.cardQRCode },
    points()     { return this.state.memberData.card_info.Points ? parseInt(this.state.memberData.card_info.Points) : 0 },
    fontSizeBase() { return store.getters.fontSizeBase },
    cardShareQRCode() { return this.state.cardShareQRCode },
    qrCodeValue() { 
      let finalCode = ''
      let allUrl = this.cardShareQRCode.value
      finalCode = allUrl.substring(allUrl.lastIndexOf('/')+1)
      finalCode = finalCode.replace('.html', '')
      return finalCode
    },
    
  },
  // 頁面模組
  methods: {
    openLink(src) {
      this.isLink= true
      this.srcLink= src
      this.$store.commit('setCssTouch', false)
    },
    openWin() {
      window.open('https://customer-info-jinher.azurewebsites.net/Customer_Deed_list.aspx?rq_var=X6bFzC3Ee0AwWz39z11ZwA%3d%3d')
    }
  },
  // 每次進入此頁面會執行的設定
  async beforeRouteEnter(to, form, next){
    if (to && to.params) {
      //const enterpriseId = to.params.enterpriseId
      await store.dispatch('fetchCardShareQRCodeData')
      
      
      // // 若為refresh畫面要重新load資料
      // await store.dispatch('fetchVipAppsByCheck', enterpriseId)
      
      // // 取企業 App 的會員資料
      // store.dispatch('fetchAppPublicDataDetailMemberWuhu')
    }

    next();
  },
  // 建立頁面後
  created: function(){
    //console.log(this.cardShareQRCode);
  },
}
</script>
<style lang="scss" scoped>
 .scroll-height-fix {
   height: calc(100vh - 60px);
 }
</style>
