<template>
  <div class="padding-bottom-env">
    <div class="w3-container w3-padding-8 w3-light-gray w3-center">
      服務紀錄
    </div>
    <ul class="w3-ul m-0 lh-m" v-if="arrOrders.length">
      <li class="w3-dark-gray">
        <div class="w3-cell-row w3-text-light-gray w3-small">
          <div class="w3-cell">近十筆服務紀錄</div>
          <!-- <div class="w3-cell w3-right-align">消費金額</div> -->
        </div>
      </li>
      <li v-for="one in arrOrders" :key="one.Order_ID" class="w3-display-container pb-3">
        <p class="w3-margin-8 w3-text-gray">
          {{formatTime(one.CreateTime, 'YYYY-MM-DD HH:mm:ss')}}
          <br>
          交易門店：{{one.ShopName}}
          <br>
          訂單編號：{{one.OrderNo}}
        </p>
        <div class="p-3 w3-light-gray w3-round-large w3-border border-brown">
					<div v-for="(two,index) in one.arrService" :key="index">
						<label class="checkbox">
							<input type="checkbox" :id="'chk1'+index" :name="'chk1'+index" :value="two.GID" :checked="arrChk1.indexOf(two.GID)>-1" v-model="arrChk1" @change="changChk1($event, one.Order_ID, two)" :disabled="two.on">
							{{two.FoodName}}
						</label>
						<p class="text-danger">芳療師：<span class="w3-text-blue w3-right-align">{{btnAct1Txt(two)}}</span></p>
					</div>

					<div class="buttons is-centered mt-2">
						<button class="button is-primary bg-brown is-rounded is-small" v-if="one.canEdit" @click="clickBatch1(one, 0)">
							芳療師綁定
						</button>
						<button class="button is-primary bg-brown is-rounded is-small" v-if="false" @click="clickBatch1(one, 1)">
							消除綁定
						</button>
					</div>
				</div>

<!--
        <div class="w3-container w3-padding-16 w3-display-topright w3-xlarge">
          <b>{{one.PayTotal}}</b>
        </div>
 -->
      </li>
    </ul>
    <p class="w3-center w3-opacity-max w3-padding-48" v-else>-- 無紀錄 --</p>
    <!-- 芳療師登錄 -->
    <transition name="slide-top">
      <div class="modal is-active" v-if="showInputQRCode || showSurvey">
        <div class="modal-background"></div>
        <template v-if="showInputQRCode">
          <div class="modal-content" style="max-width:500px">
            <!-- 手動輸入編號or掃碼 -->
            <div class="box m-3">
              <p class="title is-5">
                芳療師登錄
                <button class="delete float-right is-large" aria-label="close" @click="closeMe"></button>
              </p>
              <div class="columns is-mobile is-multiline is-centered">
                <div class="column is-full text-center">
<!-- 
                  <button class="button is-dark is-rounded is-medium" style="margin-bottom: 10px;" @click="onOpenWebCan()" >
                    <span class="icon">
                      <i class="fas fa-qrcode"></i>
                    </span>
                    <span>WebCan掃描</span>
                  </button>
 -->
									<!-- Line掃描 -->
                  <button class="button is-dark is-rounded is-fullwidth is-medium" @click="openBarcode" >
                    <!-- :disabled="!inDeviseApp" -->
                    <span class="icon">
                      <i class="fas fa-qrcode"></i>
                    </span>
                    <span>掃描 QRcode</span>
                  </button>
                </div>
                <div class="is-divider mt-4" data-content="或"></div>
                <div class="column is-full">
                  <div class="field is-grouped">
                    <p class="control has-icons-left is-expanded">
                      <input placeholder="輸入編號" class="input shadow-none border-0 border-bottom is-medium text-center"
                        v-model="inputQRcode" type="text"
												v-on:keyup.13="verifyOP"
												/>
												<!-- @blur="verifyOP" -->
                      <span class="icon is-left">
                        <i class="fas fa-user-tag"></i>
                      </span>
                    </p>
                    <p class="control">
                      <button class="button is-medium is-dark" @click="verifyOP()">確認</button>
                    </p>
                  </div>
									<!-- <p class="text-danger">{{txtOPName}}</p> -->
                </div>
              </div>
            </div>
          </div>
        </template>
        <template v-if="showSurvey">
          <div class="modal-card px-3">
            <header class="modal-card-head bg-white border-0">
              <p class="modal-card-title title is-5 mb-0">滿意度調查</p>
              <button class="delete" aria-label="close" @click="showSurvey=false"></button>
            </header>
            <section class="modal-card-body py-0 px-1">
              <div class="content">
                <ol>
                  <li class="mb-2">
                    您對於本館服務人員的服務態度（禮貌及親和程度）感到
                    <StarRating></StarRating>
                  </li>
                  <li class="mb-2">
                    您對於本館服務人員的專業性感到
                    <StarRating></StarRating>
                  </li>
                  <li class="mb-2">
                    您對於本館服務人員的服務態度（禮貌及親和程度）感到
                    <StarRating></StarRating>
                  </li>
                  <li class="mb-2">
                    您對於本館服務人員的專業性感到
                    <StarRating></StarRating>
                  </li>
                  <li class="mb-2">
                    您對於本館服務人員的服務態度（禮貌及親和程度）感到
                    <StarRating></StarRating>
                  </li>
                </ol>
                <ol>
                  <li class="mb-2">
                    您對於本館服務人員的服務態度（禮貌及親和程度）感到
                    <StarRating :value="1" :disabled="true"></StarRating>
                  </li>
                  <li class="mb-2">
                    您對於本館服務人員的專業性感到
                    <StarRating :value="3" :disabled="true"></StarRating>
                  </li>
                  <li class="mb-2">
                    您對於本館服務人員的服務態度（禮貌及親和程度）感到
                    <StarRating :value="1" :disabled="true"></StarRating>
                  </li>
                  <li class="mb-2">
                    您對於本館服務人員的專業性感到
                    <StarRating :value="5" :disabled="true"></StarRating>
                  </li>
                  <li class="mb-2">
                    您對於本館服務人員的服務態度（禮貌及親和程度）感到
                    <StarRating :value="4" :disabled="true"></StarRating>
                  </li>
                </ol>
              </div>
            </section>
            <footer class="modal-card-foot justify-content-center bg-white border-0">
              <button class="button px-5" @click="showSurvey=false">取消</button>
              <button class="button is-success px-5">送出</button>
            </footer>
          </div>
        </template>
      </div>
    </transition>
  </div>
</template>

<style lang="scss" scoped>
.lh-m {
  line-height: 1.5;
}
.border-brown {
  border-color: #8D6E63 !important;
}
.bg-brown {
  background-color: #8D6E63 !important;
}
.w3-border {
  border-width: 2px !important;
}
</style>

<script>
import store from 'src/store'
import { formatTime } from 'src/libs/timeHelper.js'
import StarRating from '@/components/starRating.vue' // 滿意度星星
import { S_Obj, L_Obj, GetPara1, GetDateDiff, SortBy } from 'src/fun1.js'	// 共用fun在此!
import { isLogin, showAlert, showConfirm } from 'src/libs/appHelper.js'
import { deviseFunction } from 'src/libs/deviseHelper.js'
// import liff from '@line/liff';


const IsDev = S_Obj.isDebug 	//開發debug
// const URL_LIFF = 'https://liff.line.me/1655314765-Voo3vLdX'
const URL_LIFF = 'https://liff.line.me/1655314765-Voo3vLdX?openExternalBrowser=1'

// let Win1 = null;
const account = store.state.member.code
	,IsHank = /270485/.test(account);	// @@test


export default {
  components: { StarRating },
  data: function(){
    return {
      title: '<%- @_SelfCode %>',
      state: this.$store.state,
      publicData: this.$store.state.baseInfo.publicData,

			arrChk1:[],
      arrOrders: [],
      // 測試假資料(介接後刪除)
      // arrOrders: [
        // {
          // ShopName: '總店',
          // OrderNO: '20210910A0004',
          // PayTotal: 1500,
          // FoodName: '泰式古法按摩 X 1, 足療 X 1',
          // OrderDate: '20210910',
          // OrderTime: '190206',
          // LastModify: '2021-09-10T19:05:41',
          // SerOP_Nickname: '',
          // survey: false
        // },
        // {
          // ShopName: '總店',
          // OrderNO: '20210910A0004',
          // PayTotal: 3000,
          // FoodName: '泰式古法按摩 X 1, 足療 X 1',
          // OrderDate: '20210910',
          // OrderTime: '190206',
          // LastModify: '2021-09-10T19:05:41',
          // SerOP_Nickname: '8號 / Money',
          // survey: false
        // },
      // ],
      inputQRcode: '',
      serQCode: '',						// 記錄掃code帶回QRcode
      curSerGID: '',					// 記錄目前開啟的服務GID
      curChoiceOP: 0,					// 記錄要綁定的芳療師順位
      txtOPName: '',
      msgClear: '',
      lstOrderNO: '',					// 記錄上一組勾選(同一組)

      showInputQRCode: false,
      showSurvey: false,
      hasCheck: false,				// 有帶QRcode
      hasOPName: false,				// 有確認-芳療師
      runClear: false,
      isRuned: false,					// 正在執行(防止連按

    };
  },
  // computed: {
		/** @PS: 無法直接更新 */
    // arrOrders() { return this.publicData.serviceItemList || [] },
  // },
  methods: {
    formatTime,
		changChk1(e, Order_ID, two){
			let input = e.target;
			if (e.target.control){input = e.target.control;}
			const isChecked = input.checked === true
				,lstOrderNO 	= this.lstOrderNO
			// console.log('changChk1-isChecked: '+isChecked, Order_ID);	// @@
			if (isChecked) {
				if (lstOrderNO && lstOrderNO != Order_ID) {
					showAlert("請勾選同一組記錄");
					this.arrChk1 = [];
					this.lstOrderNO = '';
					input.checked = false;
					return;
				}
				this.lstOrderNO = Order_ID;
				// console.warn('changChk1-two: ', two);	// @@
				const sop1 	= two.ServiceOP
					,has2 		= !!two.ServiceOP2
					,has1 		= !!sop1
				if (has2) {
					this.msgClear = '必需先消除綁定,才能再綁定!'
				} else {
					this.curChoiceOP = has1 ? 2 : 1;
				}

			} else {
				if (!this.arrChk1.length) {
					this.lstOrderNO = ''
				}
			}
		},
		btnAct1Txt(two){
			const add1 	= ''
				,sop1 		= two.SerOP_Nickname
				,sop2 		= two.SerOP_Nickname2
				// ,sop3 		= two.ServiceOP3
				,has1 		= !!sop1
				,has2 		= !!sop2
				// 		,has3 = !!sop3
				// 		,has2 = has1 && sop2
				,name1 = 		has1 ? sop1 : add1
				,name2 = 		has2 ? sop2 : add1
				// ,name3 = 		has3 ? sop2 : add1
				,txt1 		= `${name1} / ${name2}`
			// console.log('btnAct1Txt-txt1: ', txt1);	// @@
			return txt1;
		},
		/* 點擊-確認 */
    verifyOP() {
			const bOn = this.hasCheck = !!(this.inputQRcode || this.serQCode)
			bOn && this.doGetOPName();
    },
		/* 點擊-批次xxx */
    clickBatch1(one, bClear) {
			const canEdit = one.canEdit
			if (!canEdit) { return; }

			const arr1 = this.arrChk1;
			// console.log('clickBatchAdd-arrChk1: ', arr1);	// @@
			if (arr1.length){
				this.runClear = !!bClear;
				this.curSerGID = arr1.join();
				if (bClear) {
					this.doSetOP(bClear);
				} else {
					let msg1 = this.msgClear
					if (msg1) {
						showAlert(msg1);
					} else {
						this.clickFun1();
					}
				}
			}
			this.msgClear = '';
			this.curOrderNO = '';
    },
		/* 點擊-新增/修改 */
    clickFun1() {
			this.inputQRcode = '';
			this.txtOPName = '';
			this.showInputQRCode = true
    },
    /* 取得-芳療師服務列表 */
    async fetch_ServiceList() {
			await store.dispatch('fetchVIPNo_Services')	// 取得-芳療師服務列表
			this.setOrders();
    },
    /* 執行-芳療師登錄 */
    doSetOP(bClear) {
			let _title = "您確定要消除所有綁定的芳療師??"
			if (!bClear) {
				if (!this.hasCheck || !this.hasOPName) { return; }
				_title = `${this.txtOPName}， <br>您確定要登錄建檔??`
			}

			showConfirm(_title)
			.then(() => {
				const self 	= this
				const cback = function() {
					self.fetch_ServiceList();
					self.closeMe();
				};

				const gid 	= this.curSerGID
					,hasClear = this.runClear
					,opid 		= hasClear ? 'null' : this.getOpid()
					,nChoice 	= this.curChoiceOP
					,param1 	= {GID: gid, fn:cback}
				if (hasClear) {
					param1.ServiceOP = param1.ServiceOP2 = opid;

				} else {
					if (nChoice == 1) {
						param1.ServiceOP = opid
					} else {
						param1.ServiceOP2 = opid
					}
				}
				this.$store.dispatch('setVIPServiceOP', param1);
				// console.log('芳療師登錄-gid,opid: '+gid, opid);	// @@
			})
			.catch (() => { // 點擊取消執行
				store.commit('setCustomModal', { type: '', text: '' }) // 關閉 confirmn 視窗
				if (!bClear) {
					this.closeMe();
					this.showInputQRCode = true;
				}
			});
    },
    getOpid() {
			/** @PS: 輸入要大於掃碼,因可能掃不出結果改用打字 */
			return this.inputQRcode || this.serQCode
    },
    /* 取得-芳療師姓名 */
    async doGetOPName() {
			this.hasOPName = false;

			const opid 	= this.getOpid()
				,data 		= await this.$store.dispatch('getVIPServiceOP', opid);
			if (!data.error) {
				const one	= data[0]
					,_msg 	= '芳療師: '+one.SerOP_Nickname;
				this.hasOPName = true;
				this.txtOPName = _msg;
				this.doSetOP();

			} else {
				showAlert(data.msg);
			}
			// console.log('doGetOPName-opid,data: '+opid, data);	// @@
    },
		setOrders(){
			const setSecs = 120
				,now1 = formatTime(new Date(), 'YYYY-MM-DD HH:mm:ss')
			let arr1	= this.state.baseInfo.publicData.serviceItemList || []
				,i 			= arr1.length;
			IsDev && console.log('芳療師服務-now1,arr1: '+now1, arr1);	// @@

			while (i--) {
				const o1 	= arr1[i]
				if (o1) {
					const s1 	= o1.CreateTime
						,nSecs 	= GetDateDiff(s1, now1, "m")
						,isShow	= nSecs <= setSecs
					IsDev && console.warn('OrderNo, nSecs, isShow, s1: '+o1.OrderNo, nSecs, isShow, s1);	// @@
					// o1.canEdit = isShow;
					o1.canEdit = true;	// @@
					o1.arrService.forEach((two)=>{
						// console.log('aaa-two: ', two);	// @@
						two.on = !!two.ServiceOP;
						// two.on = false;	// @@
					})

				}
			}

			// this.arrOrders = arr1;
			this.arrOrders = SortBy.call(arr1, 'OrderNo', 1);

			this.arrChk1 = [];
			this.lstOrderNO = '';
    },
		closeMe(){
			const _route = location.hash
			if (/serQCode=/.test(_route)) {
				const npos  = _route.lastIndexOf("&")
					,_hash		= _route.substring(0, npos)
				location.replace(_hash);
			}
			this.initCode();
		},
		initCode(){
			this.hasCheck = false;
			this.showInputQRCode = false;
			this.inputQRcode = this.serQCode = '';
    },
    /* 開啟手機的條碼掃描 */
    openBarcode() {
			this.inputQRcode = '';
			if (IsDev) {
				// location.hash += '&serQCode=7777';	// @@demo
				this.onDecode();

			} else {
				const isDeviceApp = typeof(JSInterface) !== 'undefined'
				if (isDeviceApp) {
					deviseFunction('barcode', '', '"cbFnScanQrSerCode"');
				} else {
					this.onDecode();
					// this.doLineScan();
				}
			}
    },
		onOpenWebCan() {
			this.$router.push('/qreader');
    },
		// doLineScan() {
    // },
		/* Web掃碼(針對在賴無法直接使用,需透過跳轉 */
		onDecode() {
      if (this.isRuned)		return	// 防止連按
			this.isRuned = true;

			L_Obj.save('WebLineLiff', 1);
			L_Obj.save('ServiceRec_arrChk1', this.arrChk1);
			L_Obj.save('ServiceRec_lstOrderNO', this.lstOrderNO);

			if (IsDev) {
				L_Obj.save('WebScanCode', '7777');	// @@
			}

			const self = this
			setTimeout(function () {
				location.replace(URL_LIFF);
				// window.open(URL_LIFF, '_blank'); // NG!
				// CloseWindow();	// NG
				self.isRuned = false;
			}, 300);
		},
		/* Line掃碼回來 */
		restoreData() {
			const useWebScan 	= L_Obj.read('WebLineLiff')
				,code1 					= GetPara1('serQCode')
			if (useWebScan && code1 == 'WEBSCAN') {
				const scode = L_Obj.read('WebScanCode')
				this.showInputQRCode = true;
				this.curChoiceOP = 1;
				this.serQCode = this.inputQRcode = scode;

				const arr1 = L_Obj.read('ServiceRec_arrChk1');
				this.arrChk1 = arr1;
				this.curSerGID = arr1.join();
				this.lstOrderNO = L_Obj.read('ServiceRec_lstOrderNO');
				this.verifyOP();
			}
			L_Obj.del('WebLineLiff');
			L_Obj.del('WebScanCode');
			L_Obj.del('ServiceRec_arrChk1');
			L_Obj.del('ServiceRec_lstOrderNO');
    },

  },
	/* 在路由進入時執行 */
	async beforeRouteEnter(to, form, next) {
    if (!isLogin) return next('/');

		await store.dispatch('fetchVIPNo_Services')	// 刷新-芳療師服務列表

		next( vm => {
			vm.setOrders();
			vm.restoreData();		// Line掃碼回來
		});
  },
  beforeRouteUpdate: function(to, form, next){
		this.arrChk1 = [];
		const code1		= GetPara1('serQCode')
			,isWebScan 	= code1 == 'WEBSCAN'
		if (code1) {
			if (isWebScan) {  // 掃碼回來-Line
				/** @PS: 這裡應該不會進來 */
				IsHank && alert('掃碼回來-Line');
				this.restoreData();
			} else {		// 掃碼回來-殼
				IsHank && alert(`手機的掃描: ${code1}`);	// @@
				this.serQCode = this.inputQRcode = code1;
				this.verifyOP();
			}
		}
    next();
  },
}

// function CloseWindow() {
	// window.opener = null;
	// var customWindow = window.open('', '_self', '');
	// customWindow.close();
	// Win1&& Win1.close();

	// window.open(location.href, "_self", "");
	// window.close();
	// window.open("", "_self");
	// window.close()
// }
</script>