<template>

  <div class="has-background-white-bis">
    <div v-if="$route.query.type==undefined">
      <!-- Tabs  -->
      <div class="tabs is-medium is-centered bg-white mb-3 sticky-top">
        <ul class="m-0" v-show="Object.keys(orderstatus).length > 0"><!--用v-if在初次顯示頁面時,無法呈現-->
          <li :class="{'is-active':(tabIndex=='tabAll')}" @click="tabIndex='tabAll'"><a>全部</a></li>

          <li v-for="(pKey, pKeyIndex) in Object.keys(orderstatus)" :key="'pKey'+pKeyIndex" :class="{'is-active':(tabIndex==pKey)}" @click="tabIndex=pKey"><a>{{orderstatus[pKey]}}</a></li>

          <!-- <li :class="{'is-active':(tabIndex=='tab01')}" @click="tabIndex='tab01'"><a>待出貨</a></li>
          <li :class="{'is-active':(tabIndex=='tab02')}" @click="tabIndex='tab02'"><a>已出貨</a></li>
          <li :class="{'is-active':(tabIndex=='tab03')}" @click="tabIndex='tab03'"><a>已關閉</a></li>
          <li :class="{'is-active':(tabIndex=='tab04')}" @click="tabIndex='tab04'"><a>退款中</a></li> -->
        </ul>
      </div>
      <!-- <p class="text-center w3-opacity-max py-5" :style="{ fontSize: fontSizeBase*16 + 'px' }">-- 無訂單資料 --</p> -->
      <div class="w3-white shadow-sm border w3-border-gray w3-round-large mx-2 my-3" style="overflow:hidden"
        :style="{ fontSize: fontSizeBase*16 + 'px' }"
        v-for="(order, iIndex) in mallData.orders"
        :key="'order'+iIndex" v-show="tabIndex=='tabAll' || (order.OrderStatus==tabIndex) || (tabIndex==99 && order.isUnFinish)"
      >
        <header class="card-header border-bottom shadow-none">
          <div class="card-header-title">
            <div class="columns is-mobile is-gapless w-100">
              <div class="column" v-if="!(order.items && order.isUnFinish && order.OrderStatus==0)">訂單號：{{order.OrderNo}}</div>
              <div class="column" v-if="order.items && order.isUnFinish && order.OrderStatus==0">
                <!-- <span class="column is-2 py-1 tag is-medium is-warning is-light border border-warning" @click="goFinishOrder(order)">付款</span>
                <span class="column is-2 py-1 tag is-medium is-warning is-light border border-warning" @click="cancelOrder(order)">取消</span> -->
                <button class="button is-light is-rounded px-2 py-0 h-auto" style="margin:-3px 0;width: 66px" @click="cancelOrder(order)">取&nbsp;&nbsp;&nbsp;消</button>
                <button class="button is-info is-rounded px-2 py-0 h-auto ml-2" style="margin:-3px 0" @click="pay_click(order)" v-if="supportPay.indexOf(order.PayChannel) > -1" :disabled="isPayTimeout(order.SaleTime)">{{isPayTimeout(order.SaleTime)?'已到期':'去付款'}}</button>
              </div>
              <div class="column is-narrow text-right has-text-info">
                <!-- <b>{{(mallData.orderstatus[order.OrderStatus] || "-")}}</b> -->
                <b>{{(mallData.payStatus[order.PayStatus] && mallData.payStatus[order.PayStatus] != ''?mallData.payStatus[order.PayStatus]+" / ":"")}}{{(mallData.orderstatus[order.OrderStatus] || "-")}}</b>

              </div>
              <!-- 待出貨 -->
              <!-- <div class="column is-narrow text-right has-text-info" v-if="tabIndex=='tab00'||tabIndex=='tab01'">
                <b>待出貨</b>
              </div> -->
              <!-- 已出貨 -->
              <!-- <div class="column is-narrow text-right has-text-success" v-if="tabIndex=='tab02'">
                <b>已出貨</b>
              </div> -->
              <!-- 已關閉 -->
              <!-- <div class="column is-narrow text-right has-text-grey-lighter" v-if="tabIndex=='tab03'">
                <b>已關閉</b>
              </div> -->
              <!-- 退款中 -->
              <!-- <div class="column is-narrow text-right has-text-danger" v-if="tabIndex=='tab04'">
                <b>退款中</b>
              </div> -->
            </div>
          </div>
        </header>
        <div class="card-content p-3">
          <div class="" style="line-height:1.5">
            <div class="columns is-multiline is-mobile">
              <div class="column py-1">日期：{{formatTime(order.SaleTime, 'YYYY-MM-DD HH:mm:ss')}}</div>
              <!-- 取消訂單&我要退貨 -->
              <div class="column is-narrow py-1 text-right" v-if="order.OrderStatus!=6">
                <button class="button is-light is-rounded px-2 py-0 h-auto border" style="margin:-3px -5px" v-if="order.OrderStatus==4" @click="cancelFinishOrder(order)">取消訂單</button>
                <button class="button is-light is-rounded px-2 py-0 h-auto border" style="margin:-3px -5px" v-if="order.OrderStatus==5" @click="cancelFinishOrder(order)">我要退貨</button>
                <!-- <button class="button is-light is-rounded px-2 py-0 h-auto border" style="margin:-3px -5px" v-if="mallData.orderstatus[order.OrderStatus]=='待出貨'">取消訂單</button>
                <button class="button is-light is-rounded px-2 py-0 h-auto border" style="margin:-3px -5px" v-if="mallData.orderstatus[order.OrderStatus]=='已出貨'">我要退貨</button> -->
              </div>
              <div class="column is-12 py-1" v-if="mallData.isCarUI!=undefined && order.items && order.isload && order.OrderStatus==5">
                <!-- 宅配單號 -->
                <div class="columns is-mobile is-gapless mb-2" v-for="(trace, taIndex) in checkTrace(order.PreSourceID,order.items)" :key="'trace'+taIndex">
                  <div class="column is-6 py-1 py-0">宅配單號</div>
                  <div class="column is-6 py-1 py-0 text-right">{{trace}}</div>
                </div>

              </div>
              <!-- 明細開啟 -->
              <div class="column is-12 py-1 text-center has-text-info has-background-white-bis" @click="goOrderitems(order.ID,iIndex,order)">
                <b>明細 </b>
                <span v-show="!order.isload"><i class="fas fa-angle-down"></i></span>
                <!-- 收回 -->
                <span v-show="order.isload"><i class="fas fa-angle-up"></i></span>
              </div>

              <div class="column is-12 py-1" v-if="mallData.isCarUI!=undefined && order.items && order.isload">
                <!-- 商品 -->
                <div class="columns is-mobile is-gapless mb-2" v-for="(item, iIndex) in order.items" :key="'item'+iIndex">
                  <div class="column is-8 py-1">{{item.FoodName}}<p v-show="item.Memo!=''" style="text-indent:1em;">└ {{item.Memo}}</p></div>
                  <div class="column is-1 py-1 text-right">{{item.Count}}</div>
                  <div class="column is-3 py-1 text-right">{{item.Total}}</div>
                </div>


                <div class="columns is-mobile is-gapless mb-2" v-show="false">
                  <div class="column is-8 py-1">運費</div>
                  <div class="column is-4 py-1 text-right">60</div>
                </div>
              </div>

              <div class="column is-6 py-1 border-top">總計</div><div class="column is-6 py-1 border-top text-right">NT$ {{order.Total}}</div>
              <div class="column is-12 py-1" v-if="mallData.isCarUI!=undefined && order.Checks && order.isload">
                <!-- 付款方式 -->
                <div class="columns is-mobile is-gapless mb-1 is-light has-text-info" v-show="order.Checks" v-for="(iCheck, chIndex) in order.Checks" :key="'check'+chIndex">
                  <div class="column is-9 py-0">{{iCheck.KindName}}：{{iCheck.NO}}</div>
                  <div class="column is-3 py-0 text-right">{{iCheck.Total}}</div>
                </div>
                <div class="columns is-mobile is-gapless mb-1 is-light has-text-info" v-show="order.Agios" v-for="(iAgios, agioIndex) in order.Agios" :key="'agios'+agioIndex">
                  <div class="column is-9 py-0">優惠折抵：{{iAgios.AgioReason}}</div>
                  <div class="column is-3 py-0 text-right">{{calAgioTotal(iAgios.TotalAgioCost,iAgios.TotalAgioTotal)}}</div>
                </div>
              </div>

              <!-- 無備註 hide -->
              <div class="column py-1 is-narrow" v-show="false">備註：</div>
              <div class="column py-1" v-show="false"></div>
            </div>
          </div>
        </div>
        <!-- <footer class="card-footer" v-if="">
          <a href="#" class="has-background-white-bis card-footer-item has-text-danger">取消訂單</a>
        </footer> -->
      </div>
    </div>

    <div class="h-100" v-if="$route.query.type!=undefined">
      <!-- start付款確認區塊 -->
      <div v-if="$route.query.type=='pay'" class="scroll-auto-fix w3-light-gray scroll-touch" style="padding-bottom:54px">
        <!-- 進度條 -->
        <div class="progressbar-container w3-white">
          <ul class="progressbar">
            <li class="active"><b>選擇結帳品牌</b></li>
            <li class="active"><b>填寫地址與付款</b></li>
            <li>訂單完成</li>
          </ul>
          <!-- 訂單人資訊 -->
          <div class="p-3 bg-white border-top" :style="{ fontSize: fontSizeBase*16 + 'px' }">
            <p class="mb-3"><b>收件資料：</b></p>
            <div class="columns is-mobile is-variable is-2 is-multiline">
              <div class="column py-1 is-12">{{strCvs?"超商門市":"收件人"}}：{{receiver}}</div>
              <div class="column py-1 is-12">{{strCvs?"超商地址":"收件地址"}}：{{addrs}}</div>
              <div class="column py-1 is-10">連絡電話：{{mobile}}</div>              
              <div class="column py-1 is-2">
                <div class="w3-btn w3-black w3-round w3-padding-small w3-medium" v-if="!strCvs" @click="getVipAddrList()">修改</div>
              </div>
            </div>
          </div>
        </div>
        <!-- 選付款方式, -->
        <div class="my-2 py-1 bg-white">
          <div class="p-3">
            <div class="columns is-mobile is-variable is-2 is-multiline is-vcentered" style="flex: 0 0 100%">
              <div class="column py-1 is-12" v-if="chkOrderMine.PayChannel !== undefined & chkOrderMine.PayChannel !== ''">付款方式: {{getPayName(chkOrderMine.PayChannel)}}</div>

              <div class="column py-1 is-9" v-if="chkOrderMine.PayChannel == undefined || chkOrderMine.PayChannel === ''">
                <div class="select is-fullwidth">
                  <select v-model="p_PayChannel">
                    <option value="">請選擇付款方式</option>
                    <option v-for="(pay, iIndex) in pay_arr" :key="'pay_'+iIndex" :value="pay.ID">{{pay.Name}}</option>

                  </select>
                </div>
              </div>

            </div>

          </div>
        </div>

        <!-- 商品區塊 -->
        <div class="my-2 py-1 bg-white" v-if="chkOrderMine.Total!=undefined && chkItems.length> 0">
          <div class="p-3">
            <div class="columns is-mobile border-bottom" :style="{ fontSize: fontSizeBase*16 + 'px' }">
              <div class="column has-text-info is-narrow">
                共{{chkItems.length}}項商品
              </div>
              <div class="column has-text-danger text-right ">
                * 所有贈點活動計算皆不含運費
              </div>
            </div>
          </div>
          <!-- 商品項目 -->
          <div class="p-3">
            <article class="media flex-wrap" v-for="(item, iIndex) in chkItems" :key="'itmea'+iIndex">
              <div class="media-left mr-2">
                <figure class="image is-1by1 m-0 image-rwd">
                  <!--<img src="https://diz36nn4q02zr.cloudfront.net/webapi/imagesV3/Original/SalePage/6052833/0/170826" alt="">-->
                  <img :src="showImgSubsidiary((mallData.foodInfo[item.MainID]?mallData.foodInfo[item.MainID]['PIC1']:''))" :key="showImgSubsidiary((mallData.foodInfo[item.MainID]?mallData.foodInfo[item.MainID]['PIC1']:''))" class="has-background-white-ter" alt="">
                </figure>
              </div>
              <div class="media-content flex-rwd">
                <div class="content h-auto" :style="{ fontSize: fontSizeBase*16 + 'px' }">
                  <p><b>{{item.FoodName}}</b></p>
                </div>
                <nav class="level is-mobile">
                  <div class="level-left">
                    <div class="w3-text-red" :style="{ fontSize: fontSizeBase*16 + 'px' }">
                      <div class="has-text-grey-light"><small>單價 NT$ </small>{{item.Price}}</div>
                      <div class="w3-text-red"><small>NT$ </small><b>{{item.Total}}</b></div>
                    </div>
                  </div>
                  <div class="w3-small w3-text-black">{{item.Taste}}</div>
                  <!-- 數量 -->
                  <div class="level-right pr-2">{{item.Count}}</div>
                </nav>
              </div>

              <!-- TODO：商品優惠券 -->
              <div class="notification is-warning is-light p-3 border border-warning wh-coupon" style="flex: 0 0 100%" v-if="false">
                <label class="checkbox w-100" :for="item">
                  <div class="columns is-mobile is-variable is-1 is-vcentered" :style="{ fontSize: fontSizeBase*16 + 'px' }">
                    <div class="column py-1 is-narrow"><input class="is-150" type="checkbox" :id="item" :name="item"></div>
                    <div class="column py-1">測試滿額現金券</div>
                    <div class="column py-1 has-text-grey is-narrow">
                      <!-- 期限(訖) -->
                      有效期：2020/03/29
                    </div>
                  </div>
                </label>
              </div>

            </article>
          </div>
        </div>

        <!-- 優惠券 -->
        <div class="my-2 py-1 bg-white" :style="{ fontSize: fontSizeBase*16 + 'px' }" v-if="isUnFinItem && couponList.length > 0">
          <div class="p-3">
            <p class="mb-3"><b>優惠券：</b></p>
            <button class="button is-warning is-light is-fullwidth border border-warning" v-if="!useCoupon" @click="useCoupon=!useCoupon">使用優惠券</button>
            <!-- 列表 -->
            <div v-else>
              <div class="notification is-warning is-light p-3 border border-warning wh-coupon" v-for="(coupon, coIndex) in couponList" :key="'coupon'+coIndex">
                <label class="checkbox w-100" :for="'coupon'+coIndex">
                  <div class="columns is-mobile is-variable is-1 is-vcentered" :style="{ fontSize: fontSizeBase*16 + 'px' }">
                    <div class="column py-1 is-narrow"><input class="is-150" type="checkbox" :id="'coupon'+coIndex" :name="'coupon'+coIndex" :value="coupon.TicketInfoID" v-model="selCoupon" :disabled="selCoupon.indexOf(coupon.TicketInfoID)< 0 && selCoupon.length > 0"></div>
                    <div class="column py-1">{{coupon.TicketTypeName}}</div>
                    <div class="column py-1 has-text-grey is-narrow">
                      <!-- 期限(訖) -->
                      有效期：{{/9999-12-31/.test(coupon.TicketExpiredDate) ? '不限' : coupon.TicketExpiredDate.substring(0, 10)}}
                    </div>
                  </div>
                </label>
              </div>
            </div>
          </div>
        </div>
        
        <!-- 運費券 -->
        <div class="my-2 py-1 bg-white" :style="{ fontSize: fontSizeBase*16 + 'px' }" v-if="isUnFinItem && couponFareList.length > 0 && calc_fareItem.length > 0">
          <div class="p-3">
            <p class="mb-2"><b>運費券：</b></p>
            <button class="button is-warning is-light is-fullwidth border border-warning" v-if="!useFareCoupon" @click="useFareCoupon=!useFareCoupon">使用運費券</button>
            <!-- 列表 -->
            <div v-else>
              <div class="notification is-warning is-light p-3 border border-warning wh-coupon" v-for="(coupon, coIndex) in couponFareList" :key="'farecoupon'+coIndex">
                <label class="checkbox w-100" :for="'farecoupon'+coIndex">
                  <div class="columns is-mobile is-variable is-1 is-vcentered" :style="{ fontSize: fontSizeBase*16 + 'px' }">
                    <div class="column py-1 is-narrow"><input class="is-150" type="checkbox" :id="'farecoupon'+coIndex" :name="'farecoupon'+coIndex" 
                    :value="coupon.TicketInfoID" @change="checkFareMax($event,coIndex)" v-model="selFareCoupon" 
                    :disabled="(selFareCoupon.indexOf(coupon.TicketInfoID)< 0 && selFareCoupon.length > 0)"></div>

                    <div class="column py-1">{{coupon.TicketTypeName}}</div>
                    <div class="column py-1 has-text-grey is-narrow">
                      <!-- 期限(訖) -->
                      有效期：{{/9999-12-31/.test(coupon.TicketExpiredDate) ? '不限' : coupon.TicketExpiredDate.substring(0, 10)}}
                    </div>
                  </div>
                </label>
              </div>
            </div>
          </div>
        </div>

        <!-- 付款明細 -->
        <div class="my-2 p-3 bg-white">
          <p class="mb-3"><b>付款明細：</b></p>
          <div class="columns is-mobile is-variable is-2 is-multiline">
            <div class="column py-1 is-half">商品總計</div>
            <div class="column py-1 is-half text-right">{{chkOrderMine.SubTotal}}</div>
            <div class="column py-1 is-half" v-if="calAgioTotal(chkOrderMine.AgioCost,chkOrderMine.AgioTotal) > 0">優惠折抵</div>
            <div class="column py-1 is-half text-right" v-if="calAgioTotal(chkOrderMine.AgioCost,chkOrderMine.AgioTotal) > 0">-{{calAgioTotal(chkOrderMine.AgioCost,chkOrderMine.AgioTotal)}}</div>
            <div class="column pb-1 mt-1 is-full p-0 border-top" v-if="calAgioTotal(chkOrderMine.AgioCost,chkOrderMine.AgioTotal) > 0"></div>
            <div class="column py-1 is-half" v-if="calAgioTotal(chkOrderMine.AgioCost,chkOrderMine.AgioTotal) > 0">小計</div>
            <div class="column py-1 is-half text-right" v-if="calAgioTotal(chkOrderMine.AgioCost,chkOrderMine.AgioTotal) > 0">{{chkOrderMine.SubTotal-calAgioTotal(chkOrderMine.AgioCost,chkOrderMine.AgioTotal)}}</div>

            <div class="column py-1 is-half">運費總計</div>
            <!-- <div class="column py-1 is-half text-right">{{chkOrderMine.Freight}}</div> -->
            <div class="column py-1 is-half text-right">{{(chkOrderMine.fareAgio?chkOrderMine.FreightInit:chkOrderMine.Freight)}}</div>
            <div class="column py-1 is-half" v-if="chkOrderMine.fareAgio && calAgioTotal(chkOrderMine.fareAgio.AgioCost,chkOrderMine.fareAgio.AgioTotal) > 0">運費折抵</div>
            <div class="column py-1 is-half text-right" v-if="chkOrderMine.fareAgio && calAgioTotal(chkOrderMine.fareAgio.AgioCost,chkOrderMine.fareAgio.AgioTotal) > 0">-{{calAgioTotal(chkOrderMine.fareAgio.AgioCost,chkOrderMine.fareAgio.AgioTotal)}}</div>
            <!-- <div class="column py-1 is-half" v-if="chkOrderMine.AgioCost!='' && chkOrderMine.AgioCost!='0'">折讓</div>
            <div class="column py-1 is-half text-right" v-if="chkOrderMine.AgioCost!='' && chkOrderMine.AgioCost!='0'">-{{chkOrderMine.AgioCost}}</div>
            <div class="column py-1 is-half" v-if="chkOrderMine.AgioTotal!='' && chkOrderMine.AgioTotal!='0'">折扣</div>
            <div class="column py-1 is-half text-right" v-if="chkOrderMine.AgioTotal!='' && chkOrderMine.AgioTotal!='0'">-{{chkOrderMine.AgioTotal}}({{chkOrderMine.AgioPercent}}%)</div> -->
            <div class="column pb-1 mt-1 is-full p-0 border-top"></div>
            <div class="column py-1 is-half">總計</div>
            <div class="column py-1 is-half text-right font-weight-bold is-size-4 w3-text-red">
              <small>NT$</small>
              <!-- {{chkOrderMine.Total}} -->
              {{chkOrderMine.CheckTotal}}
            </div>
          </div>
        </div>
        <!-- 付款方式 -->
        <div class="my-2 p-3 bg-white" :style="{ fontSize: fontSizeBase*16 + 'px' }" v-if="false">
          <p class="w3-text-red" @click="isTypeModal='tip';$store.commit('setCssTouch', false)"><b>付款方式：</b><i class="fas fa-question-circle fa-lg is-size-6 has-text-grey"></i></p>
          <div class="columns is-mobile is-variable is-2 is-multiline">
            <div class="column py-1 is-half" v-show='false'>使用優惠券</div>
            <div class="column py-1 is-half text-right" v-show='false'>200</div>
            <!-- <div class="column py-1 is-half">體驗點數付款({{PointMoneyAmount_init}})</div> -->
            <div class="column py-1 is-half">體驗點數付款</div>
            <div class="column py-1 is-half text-right">{{PointMoneyAmount}}</div>
            <!-- <div class="column py-1 is-half">消費點數付款({{BalanceTotal_init}})</div> -->
            <div class="column py-1 is-half">消費點數付款</div>
            <div class="column py-1 is-half text-right">{{BalanceTotal}}</div>
          </div>
        </div>
        <!-- 備註 -->
        <div class="my-2 p-3 bg-white" :style="{ fontSize: fontSizeBase*16 + 'px' }" v-show='false'>
          <b>備註</b>
          <div class="w3-display-container w3-show-inline-block ml-1" style="width: calc(100% - 3rem);">
            <input class="w3-input w3-show-inline-block w3-border-0" type="text" v-model="remarkClean" placeholder="請輸入文字說明">
            <div class="w3-display-right w3-opacity-max" v-if="remarkClean!==''" @click="remarkClean=''"><i class="fas fa-times-circle"></i></div>
          </div>
        </div>

      </div>
      <!--end付款確認區塊-->
      <!-- 訂單完成區塊 -->
      <div v-if="$route.query.type=='finished'" class="scroll-auto-fix w3-light-gray scroll-touch" style="padding-bottom:54px">
        <!-- 進度條 -->
        <div class="progressbar-container w3-white">
          <ul class="progressbar">
            <li class="active"><b>選擇結帳品牌</b></li>
            <li class="active"><b>填寫地址與付款</b></li>
            <li class="active"><b>訂單完成</b></li>
          </ul>
          <!-- 訂單人資訊 -->
          <div class="p-3 bg-white border-top" :style="{ fontSize: fontSizeBase*16 + 'px' }">
            <span class="float-right tag is-medium is-warning is-light border border-warning">{{(mallData.orderstatus[finishOrder.OrderStatus] || "-")}}</span>
            <p class="mb-2"><b>訂單編號：</b>{{finishOrder.OrderNo}}</p>
            <p><b>購買時間：</b>{{formatTime(finishOrder.SaleTime, 'YYYY-MM-DD HH:mm:ss')}}</p>
            <!-- 付款成功訊息 -->
            <div class="mt-2 tag is-large w-100 is-success"><i class="fas fa-check-circle mr-2"></i>付款成功</div>

          </div>
          <!-- 訂單人資訊 -->
          <div class="p-3 bg-white border-top" :style="{ fontSize: fontSizeBase*16 + 'px' }">
            <p class="mb-2"><b>收件資料：</b></p>
            <div class="columns is-mobile is-variable is-2 is-multiline">
              <div class="column py-1 is-12">{{receiver}}</div>
              <div class="column py-1 is-12">{{mobile}}</div>
              <div class="column py-1 is-12">
                {{addrs}}
              </div>
            </div>
          </div>
        </div>

        <!-- 商品區塊 -->
        <div class="my-2 py-1 bg-white" v-if="finishOrder.Total!=undefined && finishItems.length> 0">
          <div class="p-3">
            <div class="columns is-mobile border-bottom" :style="{ fontSize: fontSizeBase*16 + 'px' }">
              <div class="column has-text-info">
                共{{finishItems.length}}項商品
              </div>
            </div>
          </div>
          <!-- 商品項目 -->
          <div class="p-3">
            <article class="media" v-for="(item, iIndex) in finishItems" :key="iIndex">
              <div class="media-left mr-2">
                <figure class="image is-64x64 m-0">
                  <!--<img src="https://diz36nn4q02zr.cloudfront.net/webapi/imagesV3/Original/SalePage/6052833/0/170826" alt="">-->
                  <img :src="showImgSubsidiary((mallData.foodInfo[item.MainID]?mallData.foodInfo[item.MainID]['PIC1']:''))" class="has-background-white-ter" alt="">
                </figure>
              </div>
              <div class="media-content">
                <div class="content h-auto" :style="{ fontSize: fontSizeBase*16 + 'px' }">
                  <p><b>{{item.FoodName}}</b></p>
                </div>
                <nav class="level is-mobile">
                  <div class="level-left">
                    <div class="w3-text-red" :style="{ fontSize: fontSizeBase*16 + 'px' }">
                      <div class="has-text-grey-light"><small>單價 NT$ </small>{{item.Price}}</div>
                      <div class="w3-text-red"><small>NT$ </small><b>{{item.Total}}</b></div>
                    </div>
                  </div>
                  <div class="w3-small w3-text-black">{{item.Taste}}</div>
                  <!-- 數量 -->
                  <div class="level-right pr-2">{{item.Count}}</div>
                </nav>
              </div>
            </article>
            <div class="mt-3" :style="{ fontSize: fontSizeBase*16 + 'px' }">

            </div>
          </div>
        </div>
        <!-- 付款明細 -->
        <div class="my-2 p-3 bg-white" :style="{ fontSize: fontSizeBase*16 + 'px' }">
          <p class="mb-3"><b>訂單明細：</b></p>
          <div class="columns is-mobile is-variable is-2 is-multiline">
            <div class="column py-1 is-half">商品總計</div>
            <div class="column py-1 is-half text-right"> {{finishOrder.SubTotal}}</div>
            <div class="column py-1 is-half" v-if="calAgioTotal(finishOrder.AgioCost,finishOrder.AgioTotal) > 0">優惠折抵</div>
            <div class="column py-1 is-half text-right" v-if="calAgioTotal(finishOrder.AgioCost,finishOrder.AgioTotal) > 0">-{{calAgioTotal(finishOrder.AgioCost,finishOrder.AgioTotal)}}</div>
            <div class="column pb-1 mt-1 is-full p-0 border-top" v-if="calAgioTotal(finishOrder.AgioCost,finishOrder.AgioTotal) > 0"></div>
            <div class="column py-1 is-half" v-if="calAgioTotal(finishOrder.AgioCost,finishOrder.AgioTotal) > 0">小計</div>
            <div class="column py-1 is-half text-right" v-if="calAgioTotal(finishOrder.AgioCost,finishOrder.AgioTotal) > 0">{{finishOrder.SubTotal-calAgioTotal(finishOrder.AgioCost,finishOrder.AgioTotal)}}</div>


            <div class="column py-1 is-half">運費總計</div>
            <!-- <div class="column py-1 is-half text-right"> {{finishOrder.Freight}}</div> -->
            <div class="column py-1 is-half text-right">{{(finishOrder.fareAgio?finishOrder.FreightInit:finishOrder.Freight)}}</div>
            <div class="column py-1 is-half" v-if="finishOrder.fareAgio && calAgioTotal(finishOrder.fareAgio.AgioCost,finishOrder.fareAgio.AgioTotal) > 0">運費折抵</div>
            <div class="column py-1 is-half text-right" v-if="finishOrder.fareAgio && calAgioTotal(finishOrder.fareAgio.AgioCost,finishOrder.fareAgio.AgioTotal) > 0">
              -{{calAgioTotal(finishOrder.fareAgio.AgioCost,finishOrder.fareAgio.AgioTotal)}}
            </div>
            <div class="column py-1 is-half" v-show="false">使用優惠券</div>
            <div class="column py-1 is-half text-right" v-show="false">-60</div>
            <div class="column pb-1 mt-1 is-full p-0 border-top"></div>
            <div class="column py-1 is-half">總計</div>
            <div class="column py-1 is-half text-right font-weight-bold is-size-4 w3-text-red">
              <small>NT$</small>
              {{finishOrder.CheckTotal}}
            </div>

          </div>
          <!-- <div class="columns is-mobile is-variable is-2 is-multiline" v-for="(finCheck, fcIndex) in finishChecks" :key="fcIndex">
            <div class="column py-1 is-7">{{finCheck.NO !== ''? finCheck.KindName+' ('+finCheck.NO+')':finCheck.KindName}}</div>
            <div class="column py-1 is-5 text-right">{{finCheck.Total}}</div>
          </div> -->
          <div class="notification is-info is-light px-3 py-4 mb-2">
            <!-- 大於兩行才會出現更多 -->
            <div :class="[(moreFinCheck && (finishChecks.length + finishAgio.length) > 2 )?'moreFinCheck':'']">
              <div class="columns is-mobile is-variable is-multiline" v-for="(finCheck, fcIndex) in finishChecks" :key="'fcn'+fcIndex">
                <div class="column py-2 is-7">{{finCheck.NO !== ''? finCheck.KindName+' ('+finCheck.NO+')':finCheck.KindName}}</div>
                <div class="column py-2 is-5 text-right">{{finCheck.Total}}</div>
              </div>
              <!--Agio 優惠券-->
              <div class="columns is-mobile is-variable is-2 is-multiline" v-for="(agio, agIndex) in finishAgio" :key="'agi'+agIndex">
                <div class="column py-1 is-7">{{agio.AgioReason}}</div>
                <div class="column py-1 is-5 text-right">{{agio.Owner && chkStr(agio.Owner) ? calAgioTotal(agio.AgioCost,agio.AgioTotal) : calAgioTotal(agio.TotalAgioCost,agio.TotalAgioTotal)}}</div>
                <!-- <div class="column py-1 is-5 text-right" v-if="agio.TotalAgioCost!='' && agio.TotalAgioCost!='0'">{{agio.TotalAgioCost}}</div>
                <div class="column py-1 is-5 text-right" v-if="agio.TotalAgioTotal!='' && agio.TotalAgioTotal!='0'">{{agio.TotalAgioTotal}}({{agio.TotalAgioPercent}}%)</div> -->
              </div>
            </div>
            <div class="text-center" style="margin: -12px 0" v-if="(finishChecks.length + finishAgio.length) > 2" @click="moreFinCheck = !moreFinCheck">
              <b>更多 </b>
              <!-- 開啟 -->
              <span v-show="moreFinCheck"><i class="fas fa-angle-down"></i></span>
              <!-- 收回 -->
              <span v-show="!moreFinCheck"><i class="fas fa-angle-up"></i></span>
            </div>
          </div>
        </div>
        <!-- 備註 -->
        <div class="my-2 p-3 bg-white" :style="{ fontSize: fontSizeBase*16 + 'px' }" v-show="false">
          <p class="mb-2"><b>備註：</b></p>
          <p>文字文字文字文字文字</p>
        </div>

      </div>

      <!-- 暫存訂單完成前 暫存區-->
      <div class="scroll-auto-fix w3-light-gray" v-if="$route.query.type=='finishedTemp'">
        <!-- 進度條 -->
        <div class="progressbar-container w3-white">
          <ul class="progressbar">
            <li class="active"><b>選擇結帳品牌</b></li>
            <li class="active"><b>填寫地址與付款</b></li>
            <li class="active"><b>訂單成立</b></li>
          </ul>
          <!-- 訂單人資訊 -->
          <div class="p-3 bg-white border-top" :style="{ fontSize: fontSizeBase*16 + 'px' }">
            <span class="float-right tag is-medium is-info is-light border border-info">{{(mallData.orderstatus[finishOrderTemp.OrderStatus] || "-")}}</span>
            <p class="mb-2"><b>訂單編號：</b>{{finishOrderTemp.OrderNo}}</p>
            <p><b>購買時間：</b>{{finishOrderTemp.SaleTime}}</p>
          </div>
          <!-- 訂單人資訊 -->
          <div class="p-3 bg-white border-top" :style="{ fontSize: fontSizeBase*16 + 'px' }">
            <p class="mb-2"><b>收件資料：</b></p>
            <div class="columns is-mobile is-variable is-2 is-multiline">
              <div class="column py-1 is-12">收件人：{{receiver}}</div>
              <div class="column py-1 is-12">連絡電話：{{mobile}}</div>
              <div class="column py-1 is-12">收件地址：{{addrs}}</div>
            </div>
          </div>
        </div>

        <!-- 商品區塊 -->
        <div class="my-2 py-1 bg-white" v-if="finishOrderTemp.Total!=undefined && finishItemsTemp.length> 0">
          <div class="p-3">
            <div class="columns is-mobile border-bottom" :style="{ fontSize: fontSizeBase*16 + 'px' }">
              <div class="column has-text-info">
                共{{finishItemsTemp.length}}項商品
              </div>
            </div>
          </div>
          <!-- 商品項目 -->
          <div class="p-3">
            <article class="media" v-for="(item, iIndex) in finishItemsTemp" :key="'itemfin'+iIndex">
              <div class="media-left mr-2">
                <figure class="image is-1by1 m-0 image-rwd">
                  <!--<img src="https://diz36nn4q02zr.cloudfront.net/webapi/imagesV3/Original/SalePage/6052833/0/170826" alt="">-->
                  <img :src="showImgSubsidiary((mallData.foodInfo[item.MainID]?mallData.foodInfo[item.MainID]['PIC1']:''))" :key="showImgSubsidiary((mallData.foodInfo[item.MainID]?mallData.foodInfo[item.MainID]['PIC1']:''))" class="has-background-white-ter" alt="">
                </figure>
              </div>
              <div class="media-content">
                <div class="content h-auto" :style="{ fontSize: fontSizeBase*16 + 'px' }">
                  <p><b>{{item.FoodName}}</b></p>
                </div>
                <nav class="level is-mobile">
                  <div class="level-left">
                    <div class="w3-text-red" :style="{ fontSize: fontSizeBase*16 + 'px' }">
                      <div class="has-text-grey-light"><small>單價 NT$ </small>{{item.Price}}</div>
                      <div class="w3-text-red"><small>NT$ </small><b>{{item.Total}}</b></div>
                    </div>
                  </div>
                  <div class="w3-small w3-text-black">{{item.Taste}}</div>
                  <!-- 數量 -->
                  <div class="level-right pr-2">{{item.Count}}</div>
                </nav>
              </div>
            </article>
            <div class="mt-3" :style="{ fontSize: fontSizeBase*16 + 'px' }">

            </div>
          </div>
        </div>
        <!-- 付款明細 -->
        <div class="my-2 p-3 bg-white" :style="{ fontSize: fontSizeBase*16 + 'px' }">        
          <p class="mb-3"><b>付款明細：</b></p>
          <div class="columns is-mobile is-variable is-2 is-multiline">
            <div class="column py-1 is-half">商品總計</div>
            <div class="column py-1 is-half text-right"> {{finishOrderTemp.SubTotal}}</div>
            <div class="column py-1 is-half" v-if="calAgioTotal(finishOrderTemp.AgioCost,finishOrderTemp.AgioTotal) > 0">優惠折抵</div>
            <div class="column py-1 is-half text-right" v-if="calAgioTotal(finishOrderTemp.AgioCost,finishOrderTemp.AgioTotal) > 0">-{{calAgioTotal(finishOrderTemp.AgioCost,finishOrderTemp.AgioTotal)}}</div>
            <div class="column pb-1 mt-1 is-full p-0 border-top" v-if="calAgioTotal(finishOrderTemp.AgioCost,finishOrderTemp.AgioTotal) > 0"></div>
            <div class="column py-1 is-half" v-if="calAgioTotal(finishOrderTemp.AgioCost,finishOrderTemp.AgioTotal) > 0">小計</div>
            <div class="column py-1 is-half text-right" v-if="calAgioTotal(finishOrderTemp.AgioCost,finishOrderTemp.AgioTotal) > 0">{{finishOrderTemp.SubTotal-calAgioTotal(finishOrderTemp.AgioCost,finishOrderTemp.AgioTotal)}}</div>

            <div class="column py-1 is-half">運費總計</div>
            <!-- <div class="column py-1 is-half text-right"> {{finishOrderTemp.Freight}}</div> -->
            <div class="column py-1 is-half text-right">{{(finishOrderTemp.fareAgio?finishOrderTemp.FreightInit:finishOrderTemp.Freight)}}</div>
            <div class="column py-1 is-half" v-if="finishOrderTemp.fareAgio && calAgioTotal(finishOrderTemp.fareAgio.AgioCost,finishOrderTemp.fareAgio.AgioTotal) > 0">運費折抵</div>
            <div class="column py-1 is-half text-right" v-if="finishOrderTemp.fareAgio && calAgioTotal(finishOrderTemp.fareAgio.AgioCost,finishOrderTemp.fareAgio.AgioTotal) > 0">
              -{{calAgioTotal(finishOrderTemp.fareAgio.AgioCost,finishOrderTemp.fareAgio.AgioTotal)}}
            </div>
            <div class="column pb-1 mt-1 is-full p-0 border-top"></div>
            <div class="column py-1 is-half">總計</div>
            <div class="column py-1 is-half text-right font-weight-bold is-size-4 w3-text-red">
              <small>NT$</small>
              {{finishOrderTemp.CheckTotal}}
            </div>
          </div>

          <!-- <div class="notification is-info is-light px-3 py-4 mb-2">
            大於兩行才會出現更多
            <div :class="[(moreFinCheck && (finishChecksTemp.length + finishAgioTemp.length) > 2 )?'moreFinCheck':'']">
              <div class="columns is-mobile is-variable is-multiline" v-for="(finCheck, fcIndex) in finishChecksTemp" :key="'fcn'+fcIndex">
                <div class="column py-2 is-7">{{finCheck.NO !== ''? finCheck.KindName+' ('+finCheck.NO+')':finCheck.KindName}}</div>
                <div class="column py-2 is-5 text-right">{{finCheck.Total}}</div>
              </div>
              Agio 優惠券
              <div class="columns is-mobile is-variable is-2 is-multiline" v-for="(agio, agIndex) in finishAgioTemp" :key="'agi'+agIndex">
                <div class="column py-1 is-7">{{agio.AgioReason}}</div>
                <div class="column py-1 is-5 text-right">{{calAgioTotal(agio.TotalAgioCost,agio.TotalAgioTotal)}}</div>

              </div>
            </div>
            <div class="text-center" style="margin: -12px 0" v-if="(finishChecksTemp.length + finishAgioTemp.length) > 2" @click="moreFinCheck = !moreFinCheck">
              <b>更多 </b>

              <span v-show="moreFinCheck"><i class="fas fa-angle-down"></i></span>

              <span v-show="!moreFinCheck"><i class="fas fa-angle-up"></i></span>
            </div>
          </div> -->




        </div>
        <!-- 備註 -->
        <div class="my-2 p-3 bg-white" :style="{ fontSize: fontSizeBase*16 + 'px' }" v-show="false">
          <p class="mb-2"><b>備註：</b></p>
          <p>文字文字文字文字文字</p>
        </div>

      </div>




      <!-- 置底功能列 -->
      <!-- <div class="position-absolute w-100 p-2 bg-white" style="z-index:999;bottom:0"> -->
      <div class="position-absolute w-100 p-2 bg-white" style="z-index:999;bottom:0">
        <div class="columns is-mobile is-gapless m-0 text-center" v-if="$route.query.type=='pay' && showEcPayIframe==false">
          <div class="column py-1">
            <button class="button is-link is-fullwidth is-medium" @click="chkOkCheckout()">確認結帳</button>

          </div>

        </div>
        <div class="columns is-mobile is-gapless m-0 text-center" v-if="$route.query.type=='finishedTemp' && showEcPayIframe==false">

          <div class="column is-half">
            <button class="button is-link is-selected is-medium" v-if="(supportPay.indexOf(finishOrderTemp.PayChannel) > -1) && finishOrderTemp.scan2PayUrl && finishOrderTemp.scan2PayUrl != ''" @click="openOurl(finishOrderTemp.scan2PayUrl)" style="width: 98%;">重新支付</button>

            <!-- <button class="button is-link is-selected is-medium" v-if="finishOrderTemp.PayChannel == 'ecPay' && paySrc !== ''" @click="showEcPayIframe = true;" style="width: 98%;">重新支付</button> -->
          </div>
          <div class="column is-half">
            <button class="button is-link is-fullwidth is-medium" @click="refreshSingle()" style="width: 98%;">刷新</button>
          </div>
        </div>
        <div class="columns is-mobile is-gapless m-0 text-center" v-if="$route.query.type=='finished' && showEcPayIframe==false">
          <div class="column py-1">
            <button class="button is-link is-fullwidth is-medium" @click="$router.replace('/cardShopMine/'+$route.params.enterpriseId)">完成</button>

          </div>

        </div>
      </div>
      <!--置底-->
      <!-- <div class="fixed-bottom columns is-mobile is-variable is-1 m-0 text-center bg-white" style="z-index: 998" v-if="$route.query.type=='pageDeed'">
        <div class="column py-1">
          <button class="button is-link is-fullwidth is-medium" @click="chkFinishCheckout()">完成付款</button>
        </div>
      </div>
      <div class="fixed-bottom columns is-mobile is-variable is-1 m-0 text-center bg-white" style="z-index: 998" v-if="$route.query.type=='finished'">
        <div class="column py-1">
          <button class="button is-link is-fullwidth is-medium" @click="$router.replace('/cardShopMine/'+$route.params.enterpriseId)">完成</button>
        </div>
      </div> -->


    </div>
    <!-- 收件資料編輯 -->
    <transition name="slide-top">
      <div class="fixed-top w-100 h-100 bg-white padding-top-env" style="z-index: 999"  v-if="isEdit" v-cloak>
        <header class="border-bottom is-size-5 p-3">
          <div class="columns is-mobile">
            <div class="column is-narrow has-text-grey-light" @click="editShipData='';isEdit=false;newShipData=false;addrsTmp = '';mobileTmp = '';receiverTmp = '';$store.commit('setCssTouch', true)"><b>取消</b></div>
            <div class="column text-center">收件資料編輯</div>
            <div class="column is-narrow has-text-info" :disabled="!!newShipData" @click="addrsTmp = '';mobileTmp = '';receiverTmp = '';newShipData=true"><b>新增</b></div>
          </div>

        </header>
        <main class="scroll-touch" style="height:calc(100% - 124px - env(safe-area-inset-bottom))" :style="{ fontSize: fontSizeBase*16 + 'px' }">
          <!-- 新建資料 -->
          <div class="shadow-sm px-3 py-4 m-3 bg-white rounded border w3-border-green" v-if="newShipData==true">
            <div class="columns is-mobile is-variable is-1 is-multiline">
              <div class="column py-1 is-half">
                <input type="text" placeholder="輸入收件人" class="w3-input w3-show-inline-block w3-border-0 has-background-white-ter" v-model="receiverTmp">
              </div>
              <div class="column py-1 is-half text-right">
                <span @click="addrsTmp = '';mobileTmp = '';receiverTmp = '';newShipData=false"><i class="fas fa-times fa-lg ml-3 has-text-grey-lighter"></i></span>
                <span @click="newVipAddr()"><i class="fas fa-check fa-lg ml-3 text-success"></i></span>
              </div>
              <div class="column py-1">
                <input type="text" placeholder="輸入手機號碼" class="w3-input w3-show-inline-block w3-border-0 has-background-white-ter" v-model="mobileTmp">
              </div>
              <div class="column py-1 is-12">
                <input type="text" placeholder="輸入地址" class="w3-input w3-show-inline-block w3-border-0 has-background-white-ter" v-model="addrsTmp">
              </div>
            </div>
          </div>
          <!-- 已建資料 -->
         <div class="columns is-gapless is-mobile my-3 is-vcentered" v-for="(addrItem, aIndex) in shipData" :key="'addr'+aIndex" @click.prevent="isShipData=aIndex">
          <!-- <div class="columns is-gapless is-mobile my-3 is-vcentered" v-for="item in 3" :key="item" @click.prevent="isShipData=item"> -->
            <div class="column is-narrow is-size-6" :class="[(isShipData==aIndex)?'w3-text-blue':'has-text-grey-lighter']">
              <i class="fas fa-check-circle fa-lg ml-2" style="margin-right:-8px"></i>
            </div>
            <div class="column">
              <div class="shadow-sm px-3 py-4 mx-3 bg-white rounded border" :class="[(isShipData==aIndex)?'w3-border-blue':'']">
                <div class="columns is-mobile is-variable is-1 is-multiline">
                  <div class="column py-1 is-half">
                    收件人：{{(editShipData=='01' && isShipData==aIndex) ?  '' : addrItem.Nick_Name}}
                    <input type="text" placeholder="輸入收件人" class="w3-input w3-show-inline-block w3-border-0 has-background-white-ter" v-if="editShipData=='01' && isShipData==aIndex" v-model="receiverTmp">
                  </div>
                  <div class="column py-1 is-half text-right is-size-6">
                    <!-- 編輯 -->
                    <span v-show="editShipData=='' && isShipData==aIndex" @click="editVip(addrItem)">
                      <i class="fas fa-edit fa-lg"></i>
                    </span>
                    <!-- 刪除 -->
                    <span v-show="editShipData=='01' && isShipData==aIndex" @click="delVip(aIndex)">
                      <i class="far fa-trash-alt fa-lg ml-3 has-text-grey-lighter"></i>
                    </span>
                    <!-- 儲存 -->
                    <span v-show="editShipData=='01' && isShipData==aIndex" @click="saveVip(aIndex)">
                      <i class="fas fa-check fa-lg ml-3 has-text-success"></i>
                    </span>
                  </div>
                  <div class="column py-1 is-12">
                    連絡電話：{{(editShipData=='01' && isShipData==aIndex) ? '' : addrItem.Phone}}
                    <input type="text" placeholder="輸入手機號碼" class="w3-input w3-show-inline-block w3-border-0 has-background-white-ter" v-if="editShipData=='01' && isShipData==aIndex" v-model="mobileTmp">
                  </div>
                  <div class="column py-1 is-12">
                    收件地址：{{(editShipData=='01' && isShipData==aIndex) ? '' : addrItem.Addr}}
                    <input type="text" placeholder="輸入地址" class="w3-input w3-show-inline-block w3-border-0 has-background-white-ter" v-if="editShipData=='01' && isShipData==aIndex" v-model="addrsTmp">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
        <!-- 置底確定按鈕 -->
        <div class="position-absolute w-100 p-2 bg-white" style="z-index:999;bottom:env(safe-area-inset-bottom)">
          <div class="columns is-mobile is-gapless m-0 text-center">
            <div class="column py-1">
              <button class="button is-link is-fullwidth is-medium"  @click="okShipDate()">確認</button>
            </div>
          </div>
        </div>
      </div>
    </transition>
    <!-- 付款說明(跳窗) -->
    <transition name="slide-fade">
      <div class="fixed-top w-100 h-100" style="z-index: 999;background-color: rgba(10,10,10,0.86)" v-if="isTypeModal!=''" @click="isTypeModal='';$store.commit('setCssTouch', true)" v-cloak></div>
    </transition>
    <div class="fixed-top flex-center h-100" style="z-index:1002" v-if="isTypeModal=='tip'" @click.self="isTypeModal='';$store.commit('setCssTouch', true)">
      <div class="w3-modal-content w3-card-4 w3-round">
        <div class="w3-container">
          <p class="w3-margin-8 w3-center" :style="{ fontSize: fontSizeBase*18 + 'px' }">
            付款說明
            <a class="delete is-medium w3-display-topright m-2" @click="isTypeModal='';$store.commit('setCssTouch', true)"></a>
          </p>
          <div class="w3-container w3-stretch pt-2 pb-4" :style="{ fontSize: fontSizeBase*16 + 'px' }">
            <ol class="mt-0 ml-4">
              <li><span class="has-text-danger">優先抵扣體驗點數</span>，剩餘未支付餘額再使用消費點數抵扣。</li>
              <li>使用「快速付款」，將優先使用即將到期之契約的消費點數依序抵扣。</li>
              <li>使用「自選付款」，將可自由選擇契約依序抵扣。</li>
              <li>30天內即將到期契約的消費點數，無法使用。</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <!-- 綠界EcPay iframe -->
    <transition name="slide-top">
      <div class="w3-white funcLayer" v-if="showEcPayIframe && paySrc !== ''">
        <span class="d-inline-block is-size-5 has-text-info" style="height:1.75rem;position: absolute;top: 12px;right: 60px;transform:translateY(7px)" @click="closeEcPay()">關閉</span>
        <img src="../../../assets/images/x.svg" class="w3-opacity" style="height:1.75rem;position: absolute;top: 12px;right: 20px;transform:translateY(3px)" @click="closeEcPay()">


        <iframe
            :src="paySrc"
            style="width: 100%;height: 100%;"
            frameborder=0 scrolling=auto></iframe>
      </div>
    </transition>
  </div>

</template>
<script>
  import store from 'src/store'
  import { getMyorders,getOrderitems,getUnfinishorderItem,toDecimal,objByTotal,cancelUnfinishorder,getOrderStatus,checkDeedAct,cancelMyorder,getUnfinishorder,getVipAddr,getcheckkind,setVipAddr,delVipAddr,goCheckout_kakar2,goCalcuCheckout_orderID } from 'src/libs/market.js'
  import { showImageWuhu,showToast,showConfirm,hideModal,showAlert,showImgSubsidiary,checkReceiver } from 'src/libs/appHelper.js'
  import { deviseFunction } from 'src/libs/deviseHelper.js'//
  import { formatTime } from 'src/libs/timeHelper.js'
  import moment from 'moment'
  export default {
    // 頁面資料: 請使用function return
    data: function () {
      return {
        state: this.$store.state,
        tabIndex: '',
        unFinishOrder:[],
        orderstatus:{},
        okOrder:{},
        okItems:[],
        okDeedPoints:[],
        deepNoList:[], //選的點數
        finishOrder:{},
        finishItems:[],
        finishChecks:[],
        addrs: '',
        mobile: '',
        receiver:'',
        moreFinCheck: false, //更多消費點數
        BalanceTotal:0,//消費點數??
        PointMoneyAmount:0, //體驗點數
        BalanceTotal_init:0,//消費點數(原點)
        PointMoneyAmount_init:0, //體驗點數(原點)
        lastDeed:0,
        isTypeModal: '',
        p_PayChannel:'', //付款方式
        chkOrderMine:{}, //準備結帳的訂單
        chkItems:[], //準備結帳的品項
        useCoupon: false, //使用優惠券
        couponList:[], //優惠券
        selCoupon:[], //所選的優惠券
        couponFareList:[], //運費券
        selFareCoupon:[], //所選的運費券
        useFareCoupon: false, //使用運費券
        remarkClean: '',
        isEdit: false,
        newShipData: false,
        editShipData: '',
        isShipData: 0,//'01'
        addrsTmp: '',
        mobileTmp:'',
        receiverTmp: '',  //收件人暫存
        showEcPayIframe:false,
        paySrc:'',        

      };
    },
    computed: {
      // 簡化常用的 Vuex.store data (補充： 一定要寫在這, component 才會即時反應 $store.state 的變化)
      item_ids(){
        var p_items = (this.unFinOrder.items || []).filter((p_item)=>{        
          //取出非運費Item
          const isFreight =this.chkStr(p_item.FoodID) && this.chkStr(p_item.MainID) && this.chkStr(p_item.KindID);      
          return !isFreight;
          
        });
        return p_items.map((e)=>{return e.ID});   
      },

      strCvs(){
        if (this.unFinOrder.PreSpecLimit){
          //若有超商物流(單一)
          if (this.unFinOrder.PreSpecLimit.indexOf('-') < 0 && this.unFinOrder.PreSpecLimit.indexOf('cvs') == 0) return this.unFinOrder.PreSpecLimit;//有超商無材積時
          //若有超商物流+材積時
          const gpID_list = this.unFinOrder.PreSpecLimit.split('-');
          if (gpID_list.length > 1){                       
            return gpID_list.find(gp=>{
              return gp.indexOf('cvs') == 0;
            });
          }
        }       
        return '';
      },
      measurement(){
        if (this.strCvs && this.unFinOrder.PreSpecLimit.indexOf('-') > -1){
          const gpID_list = this.unFinOrder.PreSpecLimit.split('-');
          if (gpID_list.length > 1){
            const pMeas = gpID_list.find(gp=>{
              return gp.indexOf('meas') == 0;
            });
            if (!pMeas) return {};
            const meas_list  = pMeas.split('meas');
            if (meas_list.length == 2 && meas_list[0]==''){
              const p_meas = store.state.mallData.foodMeasurement[meas_list[1]]
              return {"MEASCodes":meas_list[1],"FreightStyle":p_meas.FreightStyle}
            }
          }
        } 
        return {};
      },
      oFeeCode(){
        //PreSpecLimit純數字是原運費
        if (!isNaN(this.unFinOrder.PreSpecLimit)) return {"PYCode":this.unFinOrder.PreSpecLimit}
        if (this.strCvs){
          const cvs_list  = this.strCvs.split('cvs');
            if (cvs_list.length == 2 && cvs_list[0]==''){ 
              const p_code = (cvs_list[1]).toString(); 
              const p_cvs = store.state.mallData.foodExpresst[p_code] || {}
              return {"CVSCodes":p_code,"LogisticsSubType":p_cvs.LogisticsSubType}
            }
        }
        return {}
      }, 
      supportPay(){
        return this.$store.state.supportPay;
      },
      calc_fareItem(){
        return this.chkItems.filter((p_item)=>{              
          return this.chkStr(p_item.FoodID) && this.chkStr(p_item.MainID) && this.chkStr(p_item.KindID);          
        });
      },
      isUnFinItem(){        
        return this.unFinOrder && this.unFinOrder.items && this.unFinOrder.items.length;
      },
      isLogin() {
        return this.$store.getters.isLogin
      },
      fontSizeBase() {
        return store.getters.fontSizeBase
      },
      mallData() {
        return this.$store.state.mallData;
      },
      pay_arr(){
        return this.state.mallData.checkKind_list;
      },
      userVip(){        
        const mem_keys = Object.keys(this.$store.state.baseInfo.memberData.vip_info);
        return (mem_keys.length > 0?this.$store.state.baseInfo.memberData.vip_info:this.$store.state.memberData.vip_info);  //有Addr,Mobile
        //store.state.userData; //沒有Mobile
      },
      shipData(){
        return this.$store.state.mallData.shipData;
      },
      becomeSt(){
        return this.state.mallData.becomeApp
      }
    },
    props: {
      el: String
    },
    beforeDestroy(){
      window.removeEventListener('scroll', this.listenerMine,true);
    },
    mounted() {
      window.removeEventListener('scroll', this.listenerMine,true);
      window.addEventListener('scroll', this.listenerMine, true);
    },
    // 頁面模組
    methods: {
      showImageWuhu,
      showImgSubsidiary,
      objByTotal,
      formatTime,
      isPayTimeout(p_saleTime){
        var sdate = new Date(moment(p_saleTime).format('YYYY/MM/DD HH:mm:ss')); // 客戶選定時間
        sdate.setMinutes(sdate.getMinutes() + 60*72);	//三天後付款到期
				return new Date() > sdate;
      },
      donePay(){
        this.$router.replace('/cardShopMine/'+this.$route.params.enterpriseId)
      },
      getPayName(p_ID){
        if (p_ID == undefined || p_ID === '') return '';
        const p_pay = this.pay_arr.find(m =>(m.ID == p_ID));
        return (p_pay?p_pay.Name:'');

      },
      closeEcPay(){
        const p_close = ()=>{
          this.showEcPayIframe = false;
          hideModal();
          this.$store.commit('setCssTouch', true);
        }
        this.refreshSingle((isPay)=>{
          if (!isPay){
            showConfirm("交易處理中,確定關閉?") // to delete => showConfirm2 -> showConfirm
            // 點擊確認執行
            .then(() => {
              p_close();
            })
            // 點擊取消執行 => 關閉 confirmn 視窗
            .catch(() => hideModal())

          }else{
            this.paySrc="";
            p_close();
          }
        });


      },
      async chkOkCheckout(){
          var pChannel = this.chkOrderMine.PayChannel;
          if (pChannel == undefined || pChannel === '') pChannel = this.p_PayChannel
          if (pChannel == "") return showAlert("請選擇付款方式");
          if (this.addrs == "") return showAlert("請填寫收件地址");
          // const p_feeCode = this.chkOrderMine.PreSpecLimit || "";
          // // console.log("qqqq",p_feeCode);
          // var p_fee_obj ={};
          // if (isNaN(p_feeCode) && p_feeCode.indexOf('cvs') == 0) {
          //   var p_arr = p_feeCode.split('cvs');
          //   if (p_arr.length == 2 && p_arr[0]=='') p_fee_obj.CVSCodes = p_arr[1];//cvs開頭是超商物流

          // }else if(!isNaN(p_feeCode)){
          //   p_fee_obj.PYCode = p_feeCode; //fee_key純數字是原運費
          // }
          const m_obj = Object.assign({}, {PreAddr:this.addrs,PrePhone:this.mobile,PreName:this.receiver,PayChannel:pChannel}, this.measurement, this.oFeeCode)
          const orderInfo = {
            "ID":(this.item_ids || []),
            "deedPoint":[],
            "TicketInfoID":this.selCoupon,
            "FareTicketInfoID":this.selFareCoupon,
            "OrderID":this.unFinOrder.ID,  //chkOrderMine.ID會異動?
          }
          //goCheckout_kakar2(undefined,[],m_obj,this.selCoupon,this.chkOrderMine.ID, this.selFareCoupon,(data)=>{
          goCheckout_kakar2(orderInfo,m_obj,(data)=>{  
            const data_arr = data[pChannel];
            //console.log("data_arr>>",data_arr);
            const isOtherPay = Array.isArray(data_arr) && data_arr.length > 0;
            if (isOtherPay && this.supportPay.indexOf(this.chkOrderMine.PayChannel) > -1){
              
              this.goFinishTemp(data,data_arr[0]["urlToken"]);
              this.openOurl(data_arr[0]["urlToken"]); //另開頁面

            }
            // else if (isOtherPay && this.chkOrderMine.PayChannel == "ecPay"){
              //無法使用iframe
            //   this.paySrc="";
            //   this.goFinishTemp(data);
            //   const ec_payUrl = data_arr[0]["urlToken"];
            //   if (ec_payUrl){
            //     this.paySrc = ec_payUrl;
            //     this.showEcPayIframe = true;
            //   }
            //   else{
            //     showAlert("付款作業失敗");
            //   }

            // }
            else if (Array.isArray(data.OrdersTemp) && data.OrdersTemp.length > 0){
              this.goFinishTemp(data);
            }else{
              showAlert("訂單成立失敗");
            }

          });


      },
      openOurl(p_url){
        setTimeout(() => {
          if (typeof(JSInterface) !== 'undefined') {
            deviseFunction('openWeburl', p_url, 'cbFnOpenWeburl')

          } else {
            window.open(p_url, '_blank')
          }
        }, 200)
      },
      goFinishTemp(data,scan2PayUrl){
        this.finishOrderTemp = {};
        this.finishItemsTemp = [];
        if (Array.isArray(data.OrdersTemp) && data.OrdersTemp.length > 0){
            this.finishOrderTemp = data.OrdersTemp[0];
            if (scan2PayUrl) this.finishOrderTemp.scan2PayUrl = scan2PayUrl;
            //this.couponList = data.VipTicket || [];
            this.finishItemsTemp = data.ItemsTemp || [];

            var p_freight = this.finishItemsTemp.filter((p_item)=>{
              return this.chkStr(p_item.FoodID) && this.chkStr(p_item.MainID) && this.chkStr(p_item.KindID);

            });

            this.finishOrderTemp.Total = toDecimal(this.finishOrderTemp.Total);
            this.finishOrderTemp.CheckTotal = toDecimal(this.finishOrderTemp.CheckTotal);
            this.finishOrderTemp.itemTotal = objByTotal(data.ItemsTemp,"Total");
            this.finishOrderTemp.Freight=0;
            this.finishOrderTemp.FreightInit = 0;
            if (p_freight.length > 0){
              this.finishOrderTemp.Freight = objByTotal(p_freight,"Total");
              this.finishOrderTemp.FreightInit = objByTotal(p_freight,"Price");
            }

            this.finishOrderTemp.SubTotal = toDecimal(this.finishOrderTemp.itemTotal - this.finishOrderTemp.Freight);
            this.$router.replace({ path: '/cardShopMine/'+this.$route.params.enterpriseId, query: { type: 'finishedTemp' } })

         }

      },
      async refreshSingle(fn){
        await store.dispatch('fetchOrder_single', {ID: this.finishOrderTemp.ID}) //
        if (Array.isArray(this.mallData.singleFinish) && this.mallData.singleFinish.length > 0){

          getOrderitems(this.finishOrderTemp.ID,(p_items,p_checks,p_agios)=>{
            this.finishOrder = this.mallData.singleFinish[0];
            this.finishItems = [];
            this.finishChecks = [];
            this.finishAgio = [];
            if (Array.isArray(p_agios) && p_agios.length > 0){
              const fareAgio = p_agios.filter((p_agio)=>{
                return this.chkStr(p_agio.Owner); //單品Agio,運費Owner=Zxxx
              });
              if (fareAgio.length > 0) this.finishOrder.fareAgio = fareAgio[0];
              
            }
            if (Array.isArray(p_items)) this.finishItems = p_items;
            if (Array.isArray(p_checks)) this.finishChecks = p_checks;
            if (Array.isArray(p_agios)) this.finishAgio = p_agios;
            var p_freight = this.finishItems.filter((p_item)=>{
              return this.chkStr(p_item.FoodID) && this.chkStr(p_item.MainID) && this.chkStr(p_item.KindID);
              // return p_item.FoodID==='Z001' && p_item.MainID==='Z001' && p_item.KindID==='Z001'
            });
            this.finishOrder.Total = toDecimal(this.finishOrder.Total);
            this.finishOrder.itemTotal = objByTotal(this.finishItems,"Total");
            this.finishOrder.Freight = 0;
            this.finishOrder.FreightInit = 0;
            if (p_freight.length > 0){
              this.finishOrder.Freight = objByTotal(p_freight,"Total");//toDecimal(p_freight[0]["Price"]);//運費
              this.finishOrder.FreightInit = objByTotal(p_freight,"Price");//原始運費

            }
            this.finishOrder.SubTotal = toDecimal(this.finishOrder.itemTotal - this.finishOrder.Freight);//運費
            this.paySrc="";
            const findOd = (et) => et.ID == this.finishOrder.ID;
            const od_index = this.mallData.orders.findIndex(findOd);
            //var nowOd = Object.assign({}, this.mallData.orders[od_index]);
            //nowOd.OrderStatus = 4; //待出貨
            //nowOd.PayStatus = 1;
            this.tabIndex='4';
            store.commit('setShopRecordIndex', {Obj:this.finishOrder,index:od_index});
            this.$router.replace({ path: '/cardShopMine/'+this.$route.params.enterpriseId, query: { type: 'finished' } });
            if (typeof fn === 'function') fn(true);

          });
        }else{
          showToast("此訂單尚未付款完成");
          if (typeof fn === 'function') fn(false);
        }

      },
      getVipAddrList(){
        //if (this.isDemoID() && this.countNum > 0) return showToast("發送簡訊中,請勿更動")
        getVipAddr((p_data)=>{// 取收件人基本資料
          if (Array.isArray(p_data)) store.state.mallData.shipData = p_data;
          this.isEdit=true;this.$store.commit('setCssTouch', false)

        });
      },
      checkTrace(orderTrace,itemTraces){
        var trace_arr=[];
        if (orderTrace!='') trace_arr.push(orderTrace);
        itemTraces.map((item)=>{
          //PreSourceID (宅配單號). 品項表(下方),BatchID
          if (item.BatchID!='' && trace_arr.indexOf(item.BatchID) < 0) trace_arr.push(item.BatchID);
        });
        return trace_arr;
      },
      calAgioTotal(val1,val2){
        return toDecimal(val1)+toDecimal(val2);
      },
      checkDeed(e,p_index){
        // var input = e.target.control; // 目前選取欄位
        this.lastDeed = checkDeedAct(e,p_index,this.okDeedPoints,this.deepNoList,this.BalanceTotal);

      },
      momentFt(value){
        return moment(value).format('YYYY-MM-DD');
      },
      chkStr(p_str,isOnlyZ00){
        let p_arr = p_str.split('Z00');
        if (!isOnlyZ00 && !(p_arr.length == 2 && p_arr[0]=='')) p_arr = p_str.split('Y00');
        return p_arr.length == 2 && p_arr[0]=='';
      },
      // chkFinishCheckout(){
      //   // if (this.deepNoList.length == 0) showToast("尚未選擇契約");
      //   var isDeed = this.deepNoList.length == 0 && this.okDeedPoints.length > 0;
      //   if (isDeed) showToast("尚未選擇契約");
      //   if ((this.PointMoneyAmount_init+this.BalanceTotal_init) <= 0) showAlert("無點數可支付");
      //   const finInfo = {
      //           "ID":this.okOrder.ID,
      //           "deedPoint":this.deepNoList,
      //           "TicketInfoID":[], 
      //           "FareTicketInfoID":[],
      //           "PreAddr":this.addrs,"PrePhone":this.mobile,"PreName":this.receiver}
      //   if (!isDeed  && (this.PointMoneyAmount_init+this.BalanceTotal_init) > 0) finishCheckout(finInfo,(data)=>{
      //   //if (!isDeed  && (this.PointMoneyAmount_init+this.BalanceTotal_init) > 0) finishCheckout(this.okOrder.ID,this.deepNoList,{PreAddr:this.addrs,PrePhone:this.mobile,PreName:this.receiver},[],[],(data)=>{

      //     if (Array.isArray(data.Orders) && data.Orders.length > 0){
      //       this.deepNoList=[];
      //       if (Array.isArray(data.Orders)) this.finishOrder = data.Orders[0];
      //       if (Array.isArray(data.Agio) && data.Agio.length > 0){
      //         const fareAgio = data.Agio.filter((p_agio)=>{
      //           return this.chkStr(p_agio.Owner); //單品Agio,運費Owner=Zxxx
      //         });
      //         if (fareAgio.length > 0) this.finishOrder.fareAgio = fareAgio[0];
              
      //       }
      //       if (Array.isArray(data.Agio)) this.finishAgio = data.Agio;
      //       this.finishItems = data.OrderItem || [];
      //       this.finishChecks = data.Checks || [];

      //       // var p_freight = this.finishItems.filter((p_item)=>{
      //       //   return p_item.FoodID==='Z001' && p_item.MainID==='Z001' && p_item.KindID==='Z001'
      //       // });
      //       var p_freight = this.finishItems.filter((p_item)=>{
      //         return this.chkStr(p_item.FoodID) && this.chkStr(p_item.MainID) && this.chkStr(p_item.KindID);
      //         // p_item.FoodID==='Z001' && p_item.MainID==='Z001' && p_item.KindID==='Z001'
      //       });
      //       this.finishOrder.Total = toDecimal(this.finishOrder.Total);
      //       this.finishOrder.itemTotal = objByTotal(this.finishItems,"Total");
      //       this.finishOrder.Freight = 0;
      //       this.finishOrder.FreightInit = 0;
      //       if (p_freight.length > 0){
      //         this.finishOrder.Freight = objByTotal(p_freight,"Total");//toDecimal(p_freight[0]["Price"]);//運費
      //         this.finishOrder.FreightInit = objByTotal(p_freight,"Price");//toDecimal(p_freight[0]["Price"]);//運費
      //       }
      //       this.finishOrder.SubTotal = toDecimal(this.finishOrder.itemTotal - this.finishOrder.Freight);
      //       this.$router.replace({ path: '/cardShopMine/'+this.$route.params.enterpriseId, query: { type: 'finished' } });
      //     }else{
      //       showToast("付款異常");
      //     }

      //   });
      // },
      pay_click(o_order){
        //去付款
        this.cleanVal();
        this.p_PayChannel = ''; 
        this.chkOrderMine = {};
        this.chkItems = []; 
        this.unFinOrder = {};
        this.unFinOrder = o_order; //!!!全堿判斷用!!!
        this.addrs = o_order.PreAddr || this.userVip.Addr || "";
        this.mobile = o_order.PrePhone || this.userVip.Mobile || "";
        this.receiver = o_order.PreName || this.userVip.CnName || "";
        const isPayVal = o_order.PayChannel && o_order.PayChannel !== ''; 
        
        if (isPayVal) this.goFinishOrder(o_order);
      },
      goFinishOrder(o_order){  
                    
        // var p_items = (o_order.items || []).filter((p_item)=>{        
        //   //取出非運費Item
        //   const isFreight =this.chkStr(p_item.FoodID) && this.chkStr(p_item.MainID) && this.chkStr(p_item.KindID);      
        //   return !isFreight;
          
        // });
        // const p_itemIDs = p_items.map((e)=>{return e.ID});        
        const orderInfo = {
          "ID":(this.item_ids || []),
          "TicketInfoID":this.selCoupon,
          "FareTicketInfoID":this.selFareCoupon,
          "OrderID":o_order.ID,
          "PreWay":o_order.PreWay,
        }        
        goCalcuCheckout_orderID(Object.assign({}, orderInfo, this.measurement, this.oFeeCode),(data)=>{
          this.calcuSetOrder(o_order,data);
        });
       
      },
      
      calcuSetOrder(o_order,data){
        if (Array.isArray(data.OrdersTemp) && data.OrdersTemp.length > 0){
          const isNowPay = this.$route.path == '/cardShopMine/'+this.$route.params.enterpriseId && this.$route.query.type=='pay';
          this.chkOrderMine = data.OrdersTemp[0]; //快速/自選頁 
          this.chkOrderMine.PreSpecLimit = o_order.PreSpecLimit; //特殊商品訂單識別ID    
          this.chkOrderMine.PayChannel = o_order.PayChannel;    
          this.couponList = data.VipTicket.filter(vi =>parseInt(vi.TicketFlag) != 6) || [];//data.VipTicket || [];
          this.couponFareList = data.VipTicket.filter(vi2=>parseInt(vi2.TicketFlag) == 6) || [];
          
          if (Array.isArray(data.Agio) && data.Agio.length > 0){
            const fareAgio = data.Agio.filter((p_agio)=>{
              return this.chkStr(p_agio.Owner); //單品Agio,運費Owner=Zxxx
            });
            if (fareAgio.length > 0) this.chkOrderMine.fareAgio = fareAgio[0];
            
          } 

          this.chkItems = data.ItemsTemp || [];
          var p_freight = this.chkItems.filter((p_item)=>{              
            return this.chkStr(p_item.FoodID) && this.chkStr(p_item.MainID) && this.chkStr(p_item.KindID);
            
          });
          //console.log(">>>",this.chkItems)
          this.chkOrderMine.Total = toDecimal(this.chkOrderMine.Total);
          this.chkOrderMine.CheckTotal = toDecimal(this.chkOrderMine.CheckTotal);
          this.chkOrderMine.itemTotal = objByTotal(data.ItemsTemp,"Total");
          this.chkOrderMine.Freight=0;
          this.chkOrderMine.FreightInit=0;
          if (p_freight.length > 0){                            
            this.chkOrderMine.Freight = objByTotal(p_freight,"Total");//toDecimal(p_freight[0]["Price"]);//運費
            this.chkOrderMine.FreightInit = objByTotal(p_freight,"Price");//運費   
            
          }
          this.chkOrderMine.SubTotal = toDecimal(this.chkOrderMine.itemTotal - this.chkOrderMine.Freight);
          
          if (!isNowPay) this.$router.push({ path: '/cardShopMine/'+this.$route.params.enterpriseId, query: { type: 'pay' } });
          
          
        }else{
          showToast("沒有可結帳品項");
        }
      },
      cleanVal(){        
        this.showEcPayIframe=false;//綠界iframe
        this.paySrc=''; //綠界src
        this.clsConpunVal();
      },
      clsConpunVal(){
        //優惠券
        this.useCoupon=false; //一定要用false,否則selCoupon會重算
        this.selCoupon=[];        
        //運費券        
        this.useFareCoupon=false; //一定要用false,否則selFareCoupon會重算
        this.selFareCoupon=[]; 
      },
      checkFareMax(e,p_index){
        var input = e.target;
          if (e.target.control){input = e.target.control;}    
          if (input.checked != undefined){
            var isChecked = input.checked===true;
            const p_coupon = this.couponFareList[p_index];
            const p_discount = parseInt(p_coupon.TicketDisCount);
            const p_Price = parseInt(p_coupon.TicketPrice);
            const p_Freight = this.chkOrderMine.Freight; //運費
            
            if (p_discount == 0 && this.calc_fareItem.length > 0){
              const p_agioP = p_Freight - p_Price;

              if (isChecked && p_agioP < 0){
                showConfirm("您所選擇的運費折抵券高於本單運費，可全額折抵本單運費，惟本運費折抵券多餘之款項、無法折抵訂單金額。是否確定要使用？", '確定', '取消')
                // 點擊確認執行
                .then(() => {           
                  hideModal();
                  this.calc_fare();                 
                  
                })
                // 點擊取消執行 => 關閉 confirmn 視窗
                .catch(() => {           
                  setTimeout(() => {
                    hideModal();
                    this.selFareCoupon = [];                    
                    input.checked = !isChecked;                    
                  }, 0)  
                  
                })

              }else{
                this.calc_fare();
              }
              
            } 
           
          }
      },
      calc_fare(){
        if(this.useFareCoupon){          
          const isPayVal = this.unFinOrder.PayChannel && this.unFinOrder.PayChannel !== '';          
          if (isPayVal) this.goFinishOrder(this.unFinOrder);
        } 
      }, 
      //  goFinishOrder_old(o_order){
      //     //去付款
      //     this.chkOrderMine = {};
      //     this.chkItems = [];
      //     this.p_PayChannel = '';
      //     this.showEcPayIframe=false;
      //     this.paySrc=''; 
      //     this.addrs = o_order.PreAddr || this.userVip.Addr || "";
      //     this.mobile = o_order.PrePhone || this.userVip.Mobile || "";
      //     this.receiver = o_order.PreName || this.userVip.CnName || "";
      //     this.chkOrderMine = o_order;
      //     this.chkItems = o_order.items || [];
      //     var p_freight = this.chkItems.filter((p_item)=>{
      //       return this.chkStr(p_item.FoodID) && this.chkStr(p_item.MainID) && this.chkStr(p_item.KindID);

      //     });
      //     this.chkOrderMine.Total = toDecimal(this.chkOrderMine.Total);
      //     this.chkOrderMine.CheckTotal = toDecimal(this.chkOrderMine.CheckTotal);
      //     this.chkOrderMine.itemTotal = objByTotal(this.chkItems,"Total");
      //     this.chkOrderMine.Freight=0;
      //     if (p_freight.length > 0){
      //       this.chkOrderMine.Freight = objByTotal(p_freight,"Price");//toDecimal(p_freight[0]["Price"]);//運費

      //     }
      //     this.chkOrderMine.SubTotal = toDecimal(this.chkOrderMine.itemTotal - this.chkOrderMine.Freight);
      //     const isNowPay = this.$route.path == '/cardShopMine/'+this.$route.params.enterpriseId && this.$route.query.type=='pay';
      //     if (!isNowPay) this.$router.push({ path: '/cardShopMine/'+this.$route.params.enterpriseId, query: { type: 'pay' } });
      //     //goCalcuCheckout_orderID ,若為kiosk可能會重選,宅配方式(卡+只有宅配,運費會影響total,自取不用運費)
      //  },

      cancelOrder(p_order){
        showConfirm("是否取消此訂單", '確定', '取消')
        // 點擊確認執行
        .then(() => {
          hideModal();
          cancelUnfinishorder(p_order.ID,(order_arr)=>{
            
            if (order_arr && Array.isArray(order_arr.Orders)){
              const ok_orders = store.state.mallData.orders.filter((p_order)=>{
                return !p_order.isUnFinish //已成立的訂單(已付款)
              });
              order_arr.Orders.map((unFinish)=>{
                  unFinish.isUnFinish = true;
              });
              this.$store.commit('setShopRecord', ok_orders.concat(order_arr.Orders));
            }

          });

        })
        // 點擊取消執行 => 關閉 confirmn 視窗
        .catch(() => hideModal())


      },
      cancelFinishOrder(p_order){
        var p_msg = "是否要取消訂單?"
        if (p_order.OrderStatus == 5) p_msg = "是否要退貨?"

        showConfirm(p_msg, '確定', '取消')
        // 點擊確認執行
        .then(() => {
          hideModal();
          cancelMyorder(p_order.ID,(data)=>{
            
            var isErr = data.detail && data.detail.ErrorCode && data.detail.ErrorCode != "0";
            if (isErr) showAlert(data.detail.ErrorMsg);

          });

        })
        // 點擊取消執行 => 關閉 confirmn 視窗
        .catch(() => hideModal())




      },
      // doFinishOrder(order,DeedPoints){
      //   this.okOrder = order;
      //   this.okItems = order.items || [];
      //   // var p_freight = this.okItems.filter((p_item)=>{
      //   //   return p_item.FoodID==='Z001' && p_item.MainID==='Z001' && p_item.KindID==='Z001'
      //   // });
      //   if (Array.isArray(order.Agio) && order.Agio.length > 0){
      //     const fareAgio = order.Agio.filter((p_agio)=>{
      //       return this.chkStr(p_agio.Owner); //單品Agio,運費Owner=Zxxx
      //     });
      //     if (fareAgio.length > 0) this.okOrder.fareAgio = fareAgio[0];
          
      //   } 
      //   var p_freight = this.finishItems.filter((p_item)=>{
      //     return this.chkStr(p_item.FoodID) && this.chkStr(p_item.MainID) && this.chkStr(p_item.KindID);
      //     // p_item.FoodID==='Z001' && p_item.MainID==='Z001' && p_item.KindID==='Z001'
      //   });
      //   this.okOrder.Total = toDecimal(this.okOrder.Total);
      //   this.okOrder.itemTotal = objByTotal(this.okItems,"Total");
      //   this.okOrder.Freight = 0;
      //   this.okOrder.FreightInit=0;
      //   if (p_freight.length > 0){
      //     this.okOrder.Freight = objByTotal(p_freight,"Total");//toDecimal(p_freight[0]["Price"]);//運費
      //     this.okOrder.FreightInit = objByTotal(p_freight,"Price");//運費 
      //   }
      //   this.okOrder.SubTotal = toDecimal(this.okOrder.itemTotal - this.okOrder.Freight);//運費
      //   this.okDeedPoints = DeedPoints;
      //  // BalanceTotal
      //   this.$router.replace({ path: '/cardShopMine/'+this.$route.params.enterpriseId, query: { type: 'pageDeed',isPay:'on' } });


      // },
      editVip(addrItem){
        this.addrsTmp = addrItem.Addr;
        this.mobileTmp = addrItem.Phone;
        this.receiverTmp = addrItem.Nick_Name;
        this.editShipData='01';

      },
      saveVip(p_index){
        var errMsg = checkReceiver({mobileTmp:this.mobileTmp,addrsTmp:this.addrsTmp,receiverTmp:this.receiverTmp});
        if (errMsg!="") return showAlert(errMsg);

        this.editShipData='';
        setVipAddr({GID:this.shipData[p_index]["GID"],Addr:this.addrsTmp,Phone:this.mobileTmp,Nick_Name:this.receiverTmp},()=>{
          //if (Array.isArray(p_data)) store.state.mallData.shipData = p_data;
          this.$store.state.mallData.shipData[p_index]["Addr"] = this.addrsTmp;
          this.$store.state.mallData.shipData[p_index]["Phone"] = this.mobileTmp;
          this.$store.state.mallData.shipData[p_index]["Nick_Name"] = this.receiverTmp;
        })
        //
      },
      delVip(p_index){
        this.editShipData='';
        delVipAddr({GID:this.shipData[p_index]["GID"]},()=>{
          this.$store.state.mallData.shipData.splice(p_index, 1);
          //if (Array.isArray(p_data)) store.state.mallData.shipData = p_data;
          // this.isShipData=0;
        });

      },
      newVipAddr(){
        var errMsg = checkReceiver({mobileTmp:this.mobileTmp,addrsTmp:this.addrsTmp,receiverTmp:this.receiverTmp});
        if (errMsg!="") return showAlert(errMsg);

        this.newShipData=false;
        setVipAddr({GID:"",Addr:this.addrsTmp,Phone:this.mobileTmp,Nick_Name:this.receiverTmp},(p_data)=>{
          if (Array.isArray(p_data)) store.state.mallData.shipData = p_data;

        });
      },
      okShipDate(){
        if (this.isShipData < this.shipData.length){
          this.addrs = this.shipData[this.isShipData]["Addr"];
          this.mobile = this.shipData[this.isShipData]["Phone"];
          this.receiver = this.shipData[this.isShipData]["Nick_Name"];

        }
        this.newShipData=false
        this.editShipData='';
        this.isEdit=false;
        this.$store.commit('setCssTouch', true)
      },
      goOrderitems(orderID,iIndex,order){
        if (!this.mallData.orders[iIndex]["isUnFinish"]){
          //已付款
          // console.log('pay done');
          if(!order.items) getOrderitems(orderID,(p_items,p_checks,p_agios)=>{
            if (Array.isArray(p_items)) this.$store.state.mallData.orders[iIndex]["items"] = p_items;
            if (Array.isArray(p_checks)) this.$store.state.mallData.orders[iIndex]["Checks"] = p_checks;
            if (Array.isArray(p_agios)) this.$store.state.mallData.orders[iIndex]["Agios"] = p_agios;

            this.$store.state.mallData.isCarUI = !this.$store.state.mallData.isCarUI;//觸發UI更新用
          });
        }else{
          //未付款
          // console.log('pay unfinish');
          if(!order.items) getUnfinishorderItem(orderID,(p_unItems)=>{
            if (Array.isArray(p_unItems)) this.$store.state.mallData.orders[iIndex]["items"] = p_unItems;
            this.$store.state.mallData.isCarUI = !this.$store.state.mallData.isCarUI;//觸發UI更新用

          });
        }
        order.isload = !order.isload
        this.$store.state.mallData.isCarUI = !this.$store.state.mallData.isCarUI;//觸發UI更新用
      },
      reload(){
        // console.log("reload....");
       getMyorders(()=>{    //已付款


        });
      },
      listenerMine(el){
        var st = el.srcElement.scrollTop || el.target.scrollTop;
        var stHeight = el.srcElement.scrollHeight || el.target.scrollHeight;
        var scollHt = el.srcElement.clientHeight || el.target.clientHeight;

        if (st+scollHt >= stHeight-1 && this.$route.query.type == undefined){
          //console.log("***shopmine..rrcc>>",this.tabIndex,st+scollHt,stHeight-1);
          if (this.tabIndex != "99"){
            getMyorders(()=>{

            },true);
          }else{
            getUnfinishorder((data)=>{
              if (Array.isArray(data)) {
                  data.map((unFinish)=>{
                      unFinish.isUnFinish = true;
                  });
                  store.state.mallData.orders = store.state.mallData.orders.concat(data);
              }

            },true);
          }

        }

      }
      // reload(next){
      //   // console.log("reload....");
      //   getMyorders(()=>{    //已付款
      //     getUnfinishorder((data)=>{  //未付款

      //       if (Array.isArray(data)) {
      //           data.map((unFinish)=>{
      //             unFinish.isUnFinish = true;

      //           });

      //         }
      //         this.$store.state.mallData.orders = Object.assign([], this.$store.state.mallData.orders.concat(data));

      //         if (next) {
      //           this.$router.replace('/shopMine');
      //           next();
      //         }

      //     });

      //   });
      // },
    },
    // 在路由刷新前
    beforeRouteEnter: function (to, form, next) {
      // console.log("...beforeRouteEnter",form);
      document.querySelector(".pull-down-container").scrollTop = 0 // 此頁置頂
      getcheckkind();
      store.state.mallData.reloadShopMineFn=()=>{
        getMyorders();
      }
      store.commit('setLoading', true)
      getOrderStatus(()=>{
        getMyorders(()=>{    //已付款
          next((vm) => { // vm is the Vue instance
            vm.orderstatus['4'] = vm.mallData.orderstatus['4'];//待出貨
            vm.orderstatus['5'] = vm.mallData.orderstatus['5'];//已出貨
            //vm.orderstatus['9'] = vm.mallData.orderstatus['9'];
           // vm.orderstatus['8'] = vm.mallData.orderstatus['8'];
            vm.orderstatus['99'] = "未付款"//vm.mallData.orderstatus['0']; //為了放最後面,編99
            vm.tabIndex='4';
          })
          // getUnfinishorder((data)=>{  //未付款
          //   store.commit('setLoading', false)
          //   next((vm) => { // vm is the Vue instance
          //     vm.orderstatus['4'] = vm.mallData.orderstatus['4'];
          //     vm.orderstatus['5'] = vm.mallData.orderstatus['5'];
          //     vm.orderstatus['9'] = vm.mallData.orderstatus['9'];
          //     vm.orderstatus['8'] = vm.mallData.orderstatus['8'];
          //     vm.orderstatus['99'] = "未付款"//vm.mallData.orderstatus['0']; //為了放最後面,編99
          //     // vm.orderstatus['-1'] = "未付款";//結帳失敗,未扣點時,此時沒有OrderNo
          //     // {0: "待接單", 1: "待付款", 2: "已取消", 3: "已退訂", 4: "待出貨", 5: "已出貨", 6: "已完成", 7: "退貨中", 8: "退款中", 9: "已關閉", __ob__: Observer}

          //     if (Array.isArray(data)) {
          //       data.map((unFinish)=>{
          //         unFinish.isUnFinish = true;
          //         // unFinish.OrderStatus = -1; //原始可能0或1,暫塞-1

          //       });
          //       vm.$store.state.mallData.orders = vm.$store.state.mallData.orders.concat(data);
          //     }
          //     vm.tabIndex='4';

          //   })

          // });

        });
      });



      // next();
    },
    beforeRouteUpdate: function (to, form, next) {
      // console.log("..>>beforeRouteUpdate",to.query.type,form.query.type,to.query.isPay);
      document.querySelector(".pull-down-container").scrollTop = 0 // 此頁置頂
      // if (form.path === "/shopMine" && to.query.type === 'pageDeed' && (form.query.type === "finished" || (form.query.type === undefined && to.query.isPay == undefined))) {
      //   //防止手機原生返回鍵亂跑
      //   this.reload(next);

      // }else if (form.path === "/shopMine" && ((to.query.type === 'pageDeed' && to.query.isPay == undefined) || to.query.type === 'finished')  && form.query.type == undefined) {
      //   //防止手機原生返回鍵亂跑
      //   //pageDeed undefined on
      //   console.log("go ..shopshop");
      //   this.$router.replace('/shop')
      //   next();
      // }else{
      //   console.log("go ..other");
      //   next();
      // }
      next();
    },
    beforeRouteLeave: function(to, form, next){
      this.cleanVal();
      // 消滅此 instance
      this.$destroy()
      next()
    },
    // 建立頁面後
    created: function () {

    },

    watch: {
      '$route' () {

      },
      becomeSt(){
        this.refreshSingle();
      },
      tabIndex(p_value){
        const mode = store.state.mallData.orders.find(m =>m.isUnFinish)
        if (p_value === '99' && !mode) {
          getUnfinishorder((data)=>{  //未付款,9001等原伺服器的訂單(微點餐)也都撈到??
            if (Array.isArray(data)) {
                data.map((unFinish)=>{
                    unFinish.isUnFinish = true;

                });
                store.state.mallData.orders = store.state.mallData.orders.concat(data);
            }

          });
        }else{
          const tabMode = store.state.mallData.orders.find(m =>(m.OrderStatus == p_value))
          if (!tabMode){
            getMyorders(()=>{

            },true);
          }
        }
      },
      selCoupon(){
        if(this.useCoupon){         
          const isPayVal = this.unFinOrder.PayChannel && this.unFinOrder.PayChannel !== '';          
          if (isPayVal) this.goFinishOrder(this.unFinOrder);
        }
        
      },
    }
  }
</script>

<style scoped>
  .card-header-title {
    background-color: #eef6fc !important;
  }
  .progressbar-container {
  padding: .75rem 0;
}
.progressbar {
  margin: 0;
  margin-bottom: .5rem !important;
  counter-reset: step;
}
.progressbar li {
  list-style: none;
  display: inline-block;
  width: 33.33%;
  position: relative;
  text-align: center;
  cursor: pointer;
  margin-top: 0;
}
.progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 30px;
  height: 30px;
  line-height : 26px;
  border: 2px solid #ddd;
  border-radius: 100%;
  display: block;
  text-align: center;
  margin: 0 auto 5px auto;
  background-color: #fff;
}
.progressbar li:after {
  content: "";
  position: absolute;
  width: calc(100% - 30px);
  height: 2px;
  background-color: #ddd;
  top: 15px;
  left: calc(-50% + 15px);
  z-index : 1;
}
.progressbar li:first-child:after {
  content: none;
}
.progressbar li.active {
  color: green;
}
.progressbar li.active:before {
  border-color: green;
  background: green;
  color: white;
}
.progressbar li.active + li:after {
  background-color: green;
}
.scroll-auto-fix {
    overflow-y: auto;
    height: calc(100vh - 50px - env(safe-area-inset-top) - env(safe-area-inset-bottom));
}
</style>