<template>
  <div>

    <div v-if="!isReady" class="position-fixed w-100 h-100" style="z-index: 9999;background-color: rgba(0,0,0,0);" v-cloak>
      <div class="rounded-circle bg-white shadow-lg w3-display-middle p-2">
        <img src="../../../assets/images/loading.svg" class="rounded-circle" width="64">
      </div>
    </div>

    <div class="p-2 bg-light text-center">
      門市查詢
    </div>
    <div v-if="!myLoc || myLoc==''" class="p-2 text-center bg-warning">請開啟APP定位</div>
    <ul class="w3-ul m-0 mt-1" style="padding-bottom:15px;">
      <li v-for="item in stores" :key="item.GID">
        <a v-if="inDeviseApp" @click="deviseToGoogleMapsLink(item)"
          class="d-block my-2 is-size-5 text-decoration-none"
        ><i class="fas fa-map-marker-alt mr-2 has-text-success"></i><b>{{item.OrgName}}</b></a>

        <a v-if="!inDeviseApp" :href="`http://maps.google.com/?q=${item.Addr}`" target="_blank"
          class="d-block my-2 is-size-5 text-decoration-none"
        ><i class="fas fa-map-marker-alt mr-2 has-text-success"></i><b>{{item.OrgName}}<!--  ({{item.google_lat}}, {{item.google_lng}}) [{{item.distance}}] --></b></a>

        <p class="d-block my-2">{{item.Addr}}<br>
          <a v-if="inDeviseApp" @click="deviseMakePhoneCall(item)">{{item.Tel}}</a>
          <a v-if="!inDeviseApp" :href="'tel:'+ item.Tel">{{item.Tel}}</a>
        </p>
        <p v-if="item.Open" style="white-space:pre-wrap">營業時間： <br>{{item.Open}} </p>

        <div v-if="item.Mode" class="buttons mb-0">
          <!-- <button class="w3-button w3-round-xxlarge primary-color" style="padding:.25rem 1rem !important" @click="showIframe = true;$store.commit('setCssTouch', false)"><i class="fas fa-utensils fa-fw w3-opacity"></i> 預訂快取</button> -->
          <button class="button rounded-pill primary-color h-auto py-1" v-if="item.Mode.takeout" @click="showMOrder(item.ShopID, 'takeout')">
            <span class="icon">
              <i class="fas fa-shopping-bag"></i>
            </span>
            <span>自取</span>
          </button>
          <button class="button rounded-pill primary-color h-auto py-1" v-if="item.Mode.delivery" @click="showMOrder(item.ShopID, 'delivery')">
            <span class="icon">
              <i class="fas fa-motorcycle"></i>
            </span>
            <span>外送點我</span>
          </button>
          <!-- <button class="button rounded-pill primary-color h-auto py-1" v-if="item.Mode.DeskPay" @click="showMOrder(item.ShopID, 'DeskPay')">
            <span class="icon">
              <i class="fas fa-utensils"></i>
            </span>
            <span>掃碼點餐</span>
          </button> -->
          <button class="button rounded-pill primary-color h-auto py-1" v-if="item.Mode.resdelivery" @click="showMOrder(item.ShopID, 'resdelivery')">
            <span class="icon">
              <i class="fas fa-motorcycle"></i>
            </span>
            <span>預定外送</span>
          </button>
          <button class="button rounded-pill primary-color h-auto py-1" v-if="item.Mode.restakeout" @click="showMOrder(item.ShopID, 'restakeout')">
            <span class="icon">
              <i class="fas fa-shopping-bag"></i>
            </span>
            <span>預定外帶</span>
          </button>
          <button class="button rounded-pill primary-color h-auto py-1" v-if="item.Mode.homedelivery" @click="showMOrder(item.ShopID, 'homedelivery')">
            <span class="icon">
              <i class="fas fa-shopping-bag"></i>
            </span>
            <span>宅配</span>
          </button>
        </div>
      </li>
    </ul>

    <!-- 點餐 iframe -->
    <transition name="slide-top">
      <div class="w3-white funcLayer" v-if="showIframe">
        <img src="images/x.svg" class="w3-opacity" style="height:1.75rem;position: absolute;top: 12px;right: 20px;" @click="showIframe=false;$store.commit('setCssTouch', true)">
        <iframe
            src="https://dev-service.jinher.com.tw/projectFeature/APP_MOrder/MOrder/index.html?EnterpriseID=54827062&ShopID=KH01#/"
            style="width: 100%;height: 100%;"
            frameborder=0 scrolling=auto></iframe>
      </div>
    </transition>

  </div>

</template>

<script>
import { getDistance } from 'geolib'  
import store from 'src/store'  
import { deviseFunction, showMOrder } from 'src/libs/deviseHelper.js'

export default {
  // 頁面資料: 請使用function return
  data: function(){
    return {
      title: '<%- @_SelfCode %>',
      isSideMenu: false,
      showIframe: false,
      state: this.$store.state,
    };
  },
  async beforeRouteEnter(to, from, next) {
    //console.log("to..>>",to,"from.>>",from)
    if (to && to.params) {
      const enterpriseId = to.params.enterpriseId
      
      // 若為refresh畫面要重新load資料
      await store.dispatch('fetchVipAppsByCheck', enterpriseId);

      await store.dispatch('ensureGetDeviseGPS');

      store.dispatch('fetchAppPublicDataDetailStoreKakar2');
    }
    next()
  },
  computed: {
    mainEnterpriseID() { return this.state.publicData.MainEnterPriseID },
    inDeviseApp() { return (typeof(JSInterface) === 'object') },
    currentApp() { return this.state.currentAppUser.EnterPriseID },
    myLoc() {
      const gps = this.state.baseInfo.gps
      if (gps.lat == undefined || gps.lat == '' || gps.lng == undefined || gps.lng == '') return ''
      return {latitude: gps.lat, longitude: gps.lng}
    },
    stores() { 
      // return this.state.publicData.storeList 
      let list = this.state.publicData.storeList
      let endList = list
      // console.log('stores ===> myLoc =>', this.myLoc)
      // console.log('stores ===> list =>', list)

      if (list) {
        // === 算距離 start ===
        [].slice.call(list).forEach((item)=>{
          // console.log('===> item =>', item)
          item.distance = null // 預設放null
          const isNoLoc = (item.google_lat.length == 0 || item.google_lng.length == 0 || item.google_lat == '' || item.google_lng == ""  )
          if (!isNoLoc && this.myLoc!='') {
            const itemLoc = {latitude: item.google_lat, longitude: item.google_lng}
            let distance = getDistance(this.myLoc, itemLoc)
            item.distance = distance
            // console.log('===> distance =>' + distance)
          }
        })
        // === 算距離 end ===

        // console.log('stores middle ===>', list)

        // 由近而遠排序
        endList = [].slice.call(list).sort((a, b) => {
          if (a.distance === null) {
            return 1
          } else if (b.distance === null) {
            return -1
          } else if (a.distance > b.distance) {
            return 1;
          } else if (a.distance < b.distance) {
            return -1;
          }
          return 0;
        })
      }
      
      
      // console.log('stores end ===>', endList)
      return endList
    },
    fontSizeBase() { return store.getters.fontSizeBase },
    isReady() {
      const storeList = this.state.publicData.storeList
      
      if (storeList && storeList.length>0) {
        // console.log('store isReady ===> true')
        return true
      } else {
        // console.log('store isReady ===> false')
        return true  //不設為true ,loading會存在
      }
    }
  },
  methods: {
    // (殼專屬) 打電話
    deviseMakePhoneCall(store) {
     return deviseFunction('Tel', store.Tel, '')
    },
    // (殼專屬) 另開瀏覽器 app，開啟 Google map 連結
    deviseToGoogleMapsLink(store) {
      const gmapUrl = `http://maps.google.com/?q=${store.Addr}`
     return deviseFunction('openWeburl', gmapUrl, '')
    },
    // (殼專屬) 點擊分享按鈕
    deviseShare(store){
      const gmapUrl = `http://maps.google.com/?q=${this.eName},${store.Addr}`
      return deviseFunction('shareTo', `{"subject":"", "body":"嗨!跟你分享一個美食好所在!! ${gmapUrl}", "chooserTitle":""}`, '')
    },
    // 導向點餐頁
    showMOrder(ShopID, ShopType) {
      const p_data =  {
        EnterpriseID:this.mainEnterpriseID,
        Mobile:this.state.userData.Account,
        Username:this.state.userData.Name,
        mac:this.state.currentAppUser.mac,
        connect:this.state.publicData.MainConnect,
        lang:this.state.language,
        Address:this.state.userData.Address,
      }      

      showMOrder(ShopID, ShopType, 'cardStore', p_data);
      // // const isDevelopment = (/dev-service.jinher.com.tw\/projectFeature\//.test(window.location.href))
      // // const isStaging = (/staging.jh8.tw\/kakar2\//.test(window.location.href)) || (/website-staging.jinher.com.tw\/kakar2\//.test(window.location.href)) || (/192.168.1.26/.test(window.location.href))
      // const isStaging = (/staging.jh8.tw\/kakar2\//.test(window.location.href)) || (/website-staging.jinher.com.tw\/kakar2\//.test(window.location.href)) || (/staging.jinher-cn.com\/kakar2\//.test(window.location.href))
      // let hostName='web.jh8.tw';
      // if (isStaging) hostName='staging.jh8.tw';
      // if (isStaging && this.state.language == 'cn') hostName='staging.jinher-cn.com';
      // if (!isStaging && this.state.language == 'cn') hostName='web.jinher-cn.com';
      // let url
      // //
      // //if (isStaging)  url = `https://dev-service.jinher.com.tw/projectFeature/APP_MOrder/MOrder/index.html?EnterpriseID=${this.mainEnterpriseID}&ShopID=${ShopID}#/`
      // if (isStaging)  url = `https://staging.jh8.tw/morder/index.html?EnterpriseID=${this.mainEnterpriseID}&ShopID=${ShopID}#/`
      // // isCover=1 來自meta[viewport-fit=cover]的版
      // if (!isStaging) url = `https://web.jh8.tw/morder/index.html?isCover=1&EnterpriseID=${this.mainEnterpriseID}&ShopID=${ShopID}#/`
      // if (this.state.language == 'cn') url = `http://customer.jinher-cn.com/app/MOrderK/index.html?EnterpriseID=${this.mainEnterpriseID}&ShopID=${ShopID}#/`
      // backPath = backPath || "cardStore";
      // const backUrl = `https://${hostName}/kakar2/index.html#/${backPath}/${this.mainEnterpriseID}`
      // //url = `https://dev-service.jinher.com.tw/projectFeature/APP_MOrder/MOrder/index.html?`
      // //TODO: 日後可以把url補參數,在網頁也能導向到微點餐
      // // 預設值
      // const data = {
      //   // 會員門店號
      //   "ShopID": ShopID,
      //   // 主企業號的 ID
      //   "mainEnterpriseID": this.mainEnterpriseID,
      //   // 主企業號的 connect
      //   "mainConnect": this.state.publicData.MainConnect,
      //   // Mode選的type, (ex:takeout)
      //   "ShopType": ShopType,
      //   // Mode選的type, (ex:takeout)
      //   "Mobile": this.state.userData.Account,
      //   // 登入者姓名
      //   "Username": this.state.userData.Name,
      //   // 登入者地址
      //   "Address": this.state.userData.Address,
      //   "kakarUrlPath": backUrl,
      //   "isFrom":"kakar2", //卡包都在卡+,線上點餐推播用
      // }

      // // 寫入要存的 key 設定
      // data['_KEY'] = "ShopID,mainEnterpriseID,ShopType,Mobile,Username,Address,mainConnect,kakarUrlPath,isFrom"

      // // 執行存入殼裡
      // deviseFunction('SetSPS', JSON.stringify(data), '')
      // this.$store.commit('setLoading', true);
      // return window.location.href = url
    }
  },
}
</script>
<style type="text/css">
  .locating {
    text-align: center;
    height: 50px;
    background-color: sandybrown;
    padding-top: 10px;
  }
</style>