<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-2613Y808EG"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-2613Y808EG');
    </script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" 
    content="width=device-width,initial-scale=1,user-scalable=no,viewport-fit=cover"
    >
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>卡+會員 app</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but newpos-register doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app">
      <!-- 資料加載動畫 -->
      <div style="top:0;right:0;left:0;bottom:0;display:flex;position:fixed;align-items:center;justify-content:center;z-index:99999">
        <div style="text-align:center;">
          <img src="<%= BASE_URL %>pending.svg" width="150">
          <p style="color: gray;margin-top: 8px"><small>資料加載中，請稍後...</small></p>
        </div>
        <!-- 沒有網路連線動畫 -->
        <div style="display:none">
          <img src="<%= BASE_URL %>disconnected.svg">
          <p style="color: gray;margin-top: 1rem">沒有網路連線，請稍後再試...</p>
          <div style="margin-top: 1rem;background: dimgray;color: white;padding: 8px 32px;border-radius: 4px;text-align: center;">重新載入</div>
        </div>
      </div>
    </div>
    <!-- built files will be auto injected -->
  </body>
</html>
