@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

@function rem($size) {
  @return $size / 16px * 1rem;
}

:root {
  /* for web */
  --font-family-zhtw: "微軟正黑體";
  /* color */
  --primary-color: #003ce8;
  --secondary-color: #FFCF01;
  /* nav height */
  /*--top-nav-height: 54px; Alice remove*/
  --bottom-nav-height: 3rem;
  /* for iOS */
  --ios-statusbar-height: 1.25rem;
  --safe-area-inset-top: 44px;
  /*--safe-area-inset-bottom: 34px;Alice remove*/
}

::placeholder {
  color: #444 !important;
}

.primary-color,
.primary-color:hover {
  background: var(--primary-color) !important;
  color: #fff !important;
}

.primary-text-color {
  color: var(--primary-color) !important;
}

.primary-text-light {
  color: #3aa9ff !important;
}

.secondary-color,
.secondary-color:hover {
  background: var(--secondary-color) !important;
  color: #fff !important;
}

*:not(input) {
  /*-webkit-touch-callout: none;  Disable Android and iOS callouts*/
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

*:focus {
  outline: none;
}

html, body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-size: 16px;
  line-height: 1.25;
  // font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", var(--font-family-zhtw), "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-family: Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
}

input:not([type=checkbox]):not([type=radio]),
select {
  -webkit-appearance: none;
  // border-radius: 0;
}

input:not([type=checkbox]):not([type=radio]):focus {
  border-color: var(--primary-color) !important;
}

/* Svg Style */
.st0{fill:url(#SVGID_1_);}.st1{fill:#CCCCCC;}.st2{fill:#999999;}.st3{fill:none;stroke:#E6E6E6;stroke-width:1.9835;stroke-linejoin:round;stroke-miterlimit:10;}.st4{fill:#E6E6E6;}.st5{fill:none;stroke:#E6E6E6;stroke-width:3.9669;stroke-linecap:round;stroke-miterlimit:10;}.st6{fill:none;stroke:#CCCCCC;stroke-width:1.3223;stroke-linecap:round;stroke-miterlimit:10;}.st7{fill:#808080;}.st8{fill:#CCCCCC;stroke:#E6E6E6;stroke-width:1.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}.st9{fill:#2196F3;}.st10{fill:#FFFFFF;}.rocket {animation-name: rocketMoves;animation-duration: 1s;animation-iteration-count: infinite;}@keyframes rocketMoves {0%   { transform: translate(0, -5px); }50%  { transform: translate(0, 0); }100% { transform: translate(0, -5px); }}
.stt0 {fill: url(#SVGID_2_);}.stt1 {fill: #CCCCCC;}.stt2 {fill: #999999;}.stt3 {fill: none;stroke: #E6E6E6;stroke-width: 1.9835;stroke-linejoin: round;stroke-miterlimit: 10;}.stt4 {fill: #E6E6E6;}.stt5 {fill: none;stroke: #E6E6E6;stroke-width: 3.9669;stroke-linecap: round;stroke-miterlimit: 10;}.stt6 {fill: none;stroke: #CCCCCC;stroke-width: 1.3223;stroke-linecap: round;stroke-miterlimit: 10;}.stt7 {fill: #2196F3;}.stt8 {fill: #FFFFFF;}.stt9 {fill: #808080;}.wifi {animation: wobble 3s infinite;transform-origin: bottom;}@keyframes wobble {0% { transform: rotate(0deg); }10% { transform: rotate(-6deg); }15% { transform: rotate(6deg); }20% { transform: rotate(-3.6deg); }25% { transform: rotate(2.4deg); }30% { transform: rotate(-1.2deg); }35% { transform: rotate(0deg); }}


/* 置頂(底)功能列 */

footer .level-item {
  border-top: 3px solid transparent;
  &.is-active {
    border-top: 3px solid #3aa9ff;
  }
  &.is-active-o {
    border-top: 3px solid #ffcf01;
  }
}

.header, .footer {
  justify-content: space-between;
  padding: .5rem 1rem;
  height: var(--top-nav-height);
}
.footer {
  height: var(--bottom-nav-height);
  justify-content: space-around;
  padding: 0;
}
.footer > div {
  position: relative;
  padding-top: 0.5rem;
  background: #000;
}

.footer > div.isActive:before {
  content: "";
  position: absolute;
  top: 0;
  left: -.01rem;
  height: .25rem;
  background: rgb(229, 150, 6);
  width: calc(100%) ;
}
.footer > div > img{
  height: 1.6rem;
}
.footer > div > p{
  color: #fff;
  font-size:.6rem;
}
.footer > div.isActive > p{
  color: rgb(229, 150, 6);  
}
/* 聯盟及卡包列表 */
.cardGroup.footer.footer > div.isActive:before{
  background: #05d0fc;
}

.cardGroup.footer > div.isActive  > p{
  color: #05d0fc;
}
/* 側選單 */
.sideMenu {
  z-index: 9999;
  overflow: visible;
  background: rgba(255, 255, 255, .95);
}
/* 內容區域 */
.content {
  overflow-y: auto;
  /*height: calc(100vh - var(--top-nav-height));*/
  /* margin-top: 54px; */
  /* background-image: linear-gradient(to bottom, #fff 25%, #fff9dd 100%); */
}
// .remove-bottom-nav-height {
//   height: calc(100vh - var(--top-nav-height) - var(--bottom-nav-height));
// }

/* alert & confirm */
.app-modal {
  display: block;
  z-index: 9999;
}

/* card style */
.emptyCard {
  margin: 0 auto;
  width: 100%;
  padding-top: 62.8%;
  background-image: linear-gradient(135deg, white 50%, #e6e6e6 100%);
  background-size: cover;
  border: 2px dashed #bfbfbf;
}
.styleCard {
  border: 1px solid #ccc;
}

/* 跳窗設定 */
.app-modal .w3-modal-content {
  overflow: hidden;
}

.fixed-top {
  position: fixed;
  top: 0;
}

/* 載入動畫 */
// .loader-modal {
// }

.loader-modal .loader-container {
  width: 80px !important;
}

.loader-modal .loader-container .loader {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid var(--primary-color);
  width: 32px;
  height: 32px;
  animation: spin .5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* flex center */
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-center-v {
  display: flex;
  align-items: center;
}

.flex-center-h {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

/* w3 customize */
.w3-section-8 {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}

.w3-padding-8 {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

.w3-margin-8 {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}

.w3-text-transparent {
  color: transparent !important;
}

.w3-border-grey, .w3-hover-border-grey:hover, .w3-border-gray, .w3-hover-border-gray:hover {
  border-color: #d9d9d9!important;
}

.w3-animate-opacity {
  animation: opac 0.2s;
}

.w3-btn:hover {
  box-shadow: none;
}

/* datepicker customize */
.datepicker {
  width: calc(100vw - 2rem);
  font-size: 1.125rem;
}

/* 換頁動畫 */
.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all .15s ease;
}
.slide-fade-enter,
.slide-fade-leave-to {
  opacity: 0;
}

/* 滑動圖層 */
.funcLayer {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100vw;
  height: 100vh;
  position: fixed;
}

/**
 * vue enter/leave transition
 * 側選單 & 滑動圖層
 */
.slide-setfontsize-enter-active,
.slide-setfontsize-leave-active,
.slide-top-enter-active,
.slide-top-leave-active,
.side-menu-enter-active,
.side-menu-leave-active {
  transition: all .3s ease;
}
.slide-down-enter-active,
.slide-down-leave-active {
  transition: opacity, max-height .3s ease;
}
.slide-top-enter,
.slide-top-leave-to {
  transform: translateY(100%);
}
.side-menu-enter,
.side-menu-leave-to {
  transform: translateX(-200px);
}
.slide-setfontsize-enter,
.slide-setfontsize-leave-to {
  opacity: 0;
  transform: translateY(32px);
}
.slide-down-enter-to, .slide-down-leave {
  max-height: 160px;
  overflow: hidden;
  opacity: 1;
}
.slide-down-enter, .slide-down-leave-to {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--secondary-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* city select */
.citySelector select {
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  padding-right: 1rem !important;
  width: 100%;
}

.citySelector i {
  margin: -.25rem .5rem;
}

/* swiper pagination color */
.swiper-pagination-bullet-active {
   background: var(--primary-color);
}
 
/* 預設會員頭像 */
.mbr-avatar {
  width: 6.25rem;
  height: 6.25rem;
  border-width: 4px!important;
  background: linear-gradient(0deg, #fff 50%, #f1f1f1 100%);
}

/* 優惠券TAB */
.tabBar .tabLink {
  border-bottom-width: 3px !important;
  border-bottom-color: transparent !important;
  padding: .5rem 0;
}

.tabBar .tabLink.isActive {
  border-bottom-width: 3px !important;
  border-bottom-color: var(--primary-color) !important;
}

/* 優惠券外框樣式 */
.couponStyle {
  border: 1px solid transparent;
  border-image: url(../images/coupon-border-image.png) 16 / 16px round;
  -webkit-border-image: url(../images/coupon-border-image.png) 16 / 16px round;
}

/* for vue use */
[v-cloak] {
  display: none;
}
[disabled] {
  pointer-events: none;
}

/* css framework fix */
.w3-ul > li {
  list-style-type: none;
}
.button.is-active, .button:active {
  border-color: transparent;
  box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
}

/* checked button */

input[type="checkbox"].ck-button + label,
input[type="radio"].ck-button + label {
	display: inline-block;
  padding: .25rem .5rem;
  min-width: 32%;
  color:black;
  background:#eee;
  border:1px solid #ccc;
	text-align: center;
	border-radius: 4px;
	margin: .25rem .125rem;
}
input[type="checkbox"].ck-button:checked + label,
input[type="radio"].ck-button:checked + label {
  border:1px solid black;
  background: black;
  color: white;
}

/* 文字大小 */

.range-slider {
  -webkit-appearance: none;
  height: 10px;
  border-radius: 5px !important;
  background: #eee;
  outline: none;
  padding: 0;
  margin: 0;
}

.range-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
	border: none;
  background: gray;
}

.range-slider::-webkit-slider-thumb:hover,
.range-slider:active::-webkit-slider-thumb {
  background: var(--primary-color);
}

.scroll-touch {
  -webkit-overflow-scrolling: touch;
  overflow: auto;
}
.circle-button-small {
  width: 28px;
  line-height: 28px;
  padding: 0;
}
.circle-button-small.numDecrease {
  line-height: 26px;
}
.numSpinner input {
  width: 28px;
  background: transparent;
  user-select: none;
  padding: 1px;
}
.image-square {
  background-size: cover;
  background-position: center;
  background-color: #f2f2f2;
  position: relative;
}
.image-square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

/* 規格跳窗 */

.spec-modal {
	width: 96% !important;
	margin: 0 !important;
	max-width: 480px;
}
.spec-modal .spec-content {
	min-height: 150px;
	max-height: 400px;
	padding-bottom: 1rem;
	overflow: auto;
}
.spec-modal footer {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

html, body { -webkit-text-size-adjust:none; }

.text-elps {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.is-64x64 img {
  object-fit: cover;
  height: 64px;
}

.image.is-40x40 {
  height: 40px;
  width: 40px;
}

.white-space-wrap {
  white-space: pre-wrap;
}

.tabs a:hover {
 text-decoration: none;
}

.tabs a {
  padding: 0.75em 1em;
}

.checkbox input.is-150 {
  transform : scale(1.3);
}

.line-height-100 {
  line-height: 100%;
}

// 商品停售樣式

.stop-sale {
  position: relative;
}
.stop-sale div[class^='media-'],
.stop-sale div[class^='card-'] {
  filter: grayscale(0) blur(0px);
  opacity: .25;
}
.stop-sale::after {
  content: '停售';
  height: 64px;
  width: 64px;
  text-align: center;
  line-height: 64px;
  color: white;
  font-size: 20px;
  background: #2196F3;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
              0 2px 4px rgba(0,0,0,0.07), 
              0 4px 8px rgba(0,0,0,0.07), 
              0 8px 16px rgba(0,0,0,0.07),
              0 16px 32px rgba(0,0,0,0.07), 
              0 32px 64px rgba(0,0,0,0.07);
}

.checkbox:hover, .radio:hover {
  color: inherit;
}

.notification.is-warning.is-light {
  background-color: #fffbeb;
  color: #947600;
}
.notification.is-info.is-light {
    background-color: #eef6fc;
    color: #1d72aa;
}

.badge-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.badge {
  display: inline-block;
  min-width: 1.5em; /* em unit */
  padding: 0 .3em !important; /* em unit */
  font-size: 16px;
  text-align: center;
  color: white;
}
/*
.w3-display-middle{
  -webkit-box-pack:center;
  -ms-flex-pack:center;
  justify-content:center;
}
*/
.w3-display-middle p{
  font-size: 1.2rem;
}

.modal-close.is-large.scale-150 {
  transform: scale(1.5);
}

.one-line-center {
  display: grid;
  place-items: center;
}

// 首頁聯盟標籤區
.topnav-container {
  display: inline-flex;
  overflow-x: auto;
  align-items: center;
  .topnav-item {
    flex: 0 0 auto;
    padding: 12px 8px;
    margin: 0 .5rem;
    text-decoration: none;  
    transition: color .3s ease;
    font-size: rem(20px);
    > span {
      z-index: 1;
      &::before {
        // Badge Position
        right: -.5rem;
        top: -.25rem;
      }
    }
    &.is-active {
      color: white;
    }
    &::after {
      content: '';
      background: rgba(0, 0, 0, .06);
      width: calc(100% + 8px);
      height: 1.8em;
      position: absolute;
      border-radius: .9em;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all .3s ease;
    }
    &.is-active::after {
      opacity: 1;
      background: var(--secondary-color);
    }
  }
}
.top-nav-bg {
  background: linear-gradient(90deg, #effaf3 0%, hsl(205, 71%, 94%) 100%);
  .topnav-container {
    width: calc(100% - 44px);
  }
}

/* badge style */
[data-badge] {
  position: relative;
  &::before {
    display: inline-block;
    position: absolute;
    margin: 0;
    padding: calc((#{rem(20px)} - .75rem) / 2);
    text-align: center;
    white-space: nowrap;
    line-height: 1;
    background: var(--primary-color);
    background-clip: padding-box;
    border-radius: 290486px;
    // box-shadow: 0 0 0 1px #fff;
    color: #fff;
    content: attr(data-badge);
    z-index: 99;
    min-width: rem(20px);
    min-height: rem(20px);
    top: 0;
    right: 0;
    bottom: auto;
    left: auto;
    transform: translate(50%, -50%);
    font-size: .75rem;
  }
}
[data-badge='0'], [data-badge=''] {
  &::before {
    display: none;
  }
}

/* quill richEditor fix */
/* youtube iframe & img fix */
section#tab01 img {
  width: 100vw !important;
  max-width: none !important;
  margin: 0 -16px;
}
section#tab01 > iframe.ql-video {
  width: 100vw !important;
  height: 56.25vw !important;
  margin: 0 -16px;
}

.image-rwd {
  width: 64px;
}

.text-stroke {
  text-shadow: rgb(255, 255, 255) 2px 0px 0px, rgb(255, 255, 255) 1.75517px 0.958851px 0px, rgb(255, 255, 255) 1.0806px 1.68294px 0px, rgb(255, 255, 255) 0.141474px 1.99499px 0px, rgb(255, 255, 255) -0.832294px 1.81859px 0px, rgb(255, 255, 255) -1.60229px 1.19694px 0px, rgb(255, 255, 255) -1.97998px 0.28224px 0px, rgb(255, 255, 255) -1.87291px -0.701566px 0px, rgb(255, 255, 255) -1.30729px -1.5136px 0px, rgb(255, 255, 255) -0.421592px -1.95506px 0px, rgb(255, 255, 255) 0.567324px -1.91785px 0px, rgb(255, 255, 255) 1.41734px -1.41108px 0px, rgb(255, 255, 255) 1.92034px -0.558831px 0px;
}

.sticky-top {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 99;
}

.is-divider[data-content] {
  width: 100%;
  display: block;
  position: relative;
  border-top: .1rem solid #dbdbdb;
  height: .1rem;
  margin: 1rem .5rem;
  text-align: center;
  &::after {
    background: #fff;
    color: #b5b5b5;
    content: attr(data-content);
    display: inline-block;
    font-size: 1rem;
    padding: .4rem .8rem;
    transform: translateY(-1.1rem);
    text-align: center;
  }
}

@media (min-width:768px) { 
  .swiper-slide > img {
    width: 100%;
    max-width: 1024px;
  }
  .image-rwd {
    width: 128px;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  section#tab01 > iframe.ql-video {
    width: 75vw !important;
    height: 42.1875vw !important;
    margin: 0;
  }
  section#tab01 img {
    width: 75vw !important;
    height: auto !important;
    margin: 0;
  }
}

/* for iphone 6,7,8 hack
@supports (-webkit-overflow-scrolling: touch) {
  .content {
    overflow-y: auto;
    height: calc(100vh - var(--ios-statusbar-height) - var(--top-nav-height));
  }
  .remove-bottom-nav-height {
    height: calc(100vh - var(--ios-statusbar-height) - var(--top-nav-height) - var(--bottom-nav-height));
  }
  .funcLayer {
    height: calc(100vh - var(--ios-statusbar-height));
  }
} */
/* for iphone x hack
@media (device-width: 375px) and (device-height: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait),
(device-width: 414px) and (device-height: 896px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait),
(device-width: 414px) and (device-height: 896px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .content {
    height: calc(100vh - var(--top-nav-height) - var(--safe-area-inset-top) - var(--safe-area-inset-bottom));
  }

  .remove-bottom-nav-height {
    height: calc(100vh - var(--top-nav-height) - var(--bottom-nav-height) - var(--safe-area-inset-top) - var(--safe-area-inset-bottom));
  }
  .funcLayer {
    height: calc(100vh - var(--safe-area-inset-top) - var(--safe-area-inset-bottom));
  }
} */
/*Alice
body{
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
}
*/
/*
@mixin iphoneX {
  @media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {
    @content;
  }
}
*/
.padding-top-env{
  padding-top: constant(safe-area-inset-top);
  padding-top: env(safe-area-inset-top);
}
.padding-bottom-env{
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
}
.margin-top-env{
  margin-top: constant(safe-area-inset-top);
  margin-top: env(safe-area-inset-top);
}
.margin-bottom-env{
  margin-bottom: constant(safe-area-inset-bottom);
  margin-bottom: env(safe-area-inset-bottom);
}
.x-color-black:before{
  background-color:#000;
}
.x-color-black:after{
  background-color:#000;
}

.modal-close {
  margin-top: env(safe-area-inset-top);
}

// toast iphonex 修正
.bp3-toast {
  margin: calc(20px + env(safe-area-inset-top))  0 0;
}

/*判斷iphone X暗*/
@media (prefers-color-scheme: dark) {

}