<template>
  <div id="myChart" :style="{ width: '375px', height: '600px' }"></div>
</template>

<script>
let echarts = require('echarts');
const option1 = {
  title: {
    text: 'Proportion of Browsers',
    subtext: 'Fake Data',
    top: 10,
    left: 10
  },
  tooltip: {
    trigger: 'item'
  },
	// 存圖片
	toolbox: {
		top: "5%",
		right: "5%",
		iconStyle: {
			borderColor: "#1890ff",
		},
		feature: {
			saveAsImage: {
				type: "png",
				name: "png1",
			},
		},
	},
  legend: {
    type: 'scroll',
    bottom: 10,
    data: (function () {
      var list = [];
      for (var i = 1; i <= 28; i++) {
        list.push(i + 2000 + '');
      }
      return list;
    })()
  },
  visualMap: {
    top: 'middle',
    right: 10,
    color: ['red', 'yellow'],
    calculable: true
  },
  radar: {
    indicator: [
      { text: 'IE8-', max: 400 },
      { text: 'IE9+', max: 400 },
      { text: 'Safari', max: 400 },
      { text: 'Firefox', max: 400 },
      { text: 'Chrome', max: 400 }
    ]
  },
  series: (function () {
		var series = [];
		for (var i = 1; i <= 28; i++) {
			series.push({
				type: 'radar',
				symbol: 'none',
				lineStyle: {
					width: 1
				},
				emphasis: {
					areaStyle: {
						color: 'rgba(0,250,0,0.3)'
					}
				},
				data: [{
						value: [
							(40 - i) * 10,
							(38 - i) * 4 + 60,
							i * 5 + 10,
							i * 9,
							(i * i) / 2
						],
						name: i + 2000 + ''
					}
				]
			});
		}
		return series;
  })()
};

export default {
	mounted() {
		this.$nextTick(() => {
			this.initChart();
		});
	},
	methods: {
		initChart() {
			// 方式一
			let chart = echarts.init(this.$el);
			// 方式二
			// let chart = echarts.init(document.getElementById("myChart"));
			chart.setOption(option1);
		},
	}
}
</script>