<template>
  <div>
    <div class="w3-container w3-padding-8 w3-light-gray w3-center" :style="{ fontSize: fontSizeBase*18 + 'px' }">
      聯絡我們
    </div>
    <div class="container px-3" style="line-height:1.5">
      <h2 class="title text-center has-text-info my-3">季河客服中心</h2>
      <div :style="{ fontSize: fontSizeBase*18 + 'px' }">
        <p>親愛的客戶您好，如對公司商品或服務有任何問題，歡迎來電或留言，我們將以最快速度為您處理。</p>
        <div class="notification is-info is-light p-3">
          服專線：<b @click="deviseToCall('07-976-6703')"><u>07-976-6703</u></b><br>
          電話客服在線時間：<br><b>週一～週日 AM 09:00 ~ PM 10:00</b>
        </div>
        <p>地址：806高雄市前鎮區二聖一路290號14號樓之2</p>
      </div>
    </div>
  </div>
</template>

<script>
import store from 'src/store'
import { deviseFunction } from 'src/libs/deviseHelper.js'

export default {
  // 頁面資料: 請使用function return
  data: function(){
    return {
      
    };
  },
  computed: {
    // 簡化常用的 Vuex.store data (補充： 一定要寫在這, component 才會即時反應 $store.state 的變化)
    fontSizeBase() { return store.getters.fontSizeBase },
  },
  methods:{
    // (殼專屬) APP另開啟電子信箱
    deviseToMail(email) {
      deviseFunction('mailto', `{"mailsubject":"您的問題", "mailbody":"問題內容", "chooserTitle":"寄信給客服信箱", "mailreceiver":"${email}"}`, '')
    }, 
    // (殼專屬) APP另撥電話
    deviseToCall(callNumber) {
      deviseFunction('Tel', callNumber, '')
    }, 
  }
}
</script>
<style scoped>

</style>
