<template>
  <div class="has-background-light" style="min-height:100%;padding:.1px">
    <div class="w3-container w3-padding-8 w3-sand w3-center" :style="{ fontSize: fontSizeBase*18 + 'px' }" @click="bookingType=''"> 
      特約飯店訂房服務
    </div>
    

    <!-- 訂房服務頁 -->
    <div :style="{ fontSize: fontSizeBase*18 + 'px' }">

      <!-- 預約人資料 -->
      <div class="w3-container w3-white w3-padding-24">
        <p class="mb-3"><b>預約人資料</b></p>
        <div class="columns is-mobile is-variable is-2 is-multiline" v-if="!editData" @click="editData=true">
          <div class="column py-1 is-half">{{cname}}</div>
          <div class="column py-1 is-half text-right">
            <!-- 編輯 -->
            <span @click="editData=true">
              <i class="fas fa-edit fa-lg"></i>
            </span>
          </div>
          <div class="column py-1 is-12" :class="{'has-text-danger':(mobile=='')}">
            {{(mobile=='')?'輸入手機號碼':mobile}}
          </div>
        </div>
        <div class="bg-white" v-else>
          <div class="columns is-mobile is-variable is-1 is-multiline">
            <div class="column py-1 is-half">
              <input type="text" placeholder="輸入姓名" class="w3-input w3-show-inline-block w3-border-0 has-background-white-ter" v-model="cname">
            </div>
            <div class="column py-1 is-half text-right">
              <!-- 叉叉註解不用 -->
              <!-- <span @click="editData=false"><i class="fas fa-times fa-lg ml-3 has-text-grey-lighter"></i></span> -->
              <!-- 勾勾留著 -->
              <span @click="editData=false"><i class="fas fa-check fa-lg ml-3 text-success"></i></span>
            </div>
            <div class="column py-1">
              <input type="number" placeholder="輸入手機號碼" class="w3-input w3-show-inline-block w3-border-0 has-background-white-ter" v-model="mobile">
            </div>
          </div>
        </div>
      <!-- <div class="w3-container w3-white w3-padding-24">
        <p class="mb-2"><b>預約人資料</b></p>
        <div class="w3-cell-row">
          <div class="w3-cell">{{cname}}</div>
          <div class="w3-cell">{{mobile}}</div>
        </div>
        <div class="w3-cell-row mt-2" v-if="editAddrs">
          <div class="w3-cell">{{addrs}}
            <div class="w3-btn w3-black w3-round w3-padding-small ml-1 w3-medium align-text-bottom" @click="editAddrs=!editAddrs">修改</div>
          </div>
        </div>
        <div class="mt-2" v-else>
          <div class="w3-display-container">
            <input type="text" placeholder="輸入新地址" class="w3-input w3-show-inline-block w3-border-0" v-model="addrs">
            <div class="w3-display-right w3-opacity-max" v-if="addrs!==''" @click="addrs=''"><i class="fas fa-times-circle"></i></div>
          </div>
          <div class="text-right">
            <div class="w3-btn w3-light-gray w3-round w3-padding-small w3-medium align-text-bottom" @click="editAddrs=!editAddrs">取消</div>
            <div class="w3-btn w3-green w3-round w3-padding-small ml-2 w3-medium align-text-bottom" @click="editAddrs=!editAddrs">確認</div>
          </div>
        </div> -->
      </div>

      <!-- 訂房服務頁區塊 -->
      <div>
        <!-- 選擇預約飯店 -->
        <div class="w3-section w3-container w3-padding-16 w3-white">
          <b>預約飯店</b>
          <div class="select w-100 mt-2">
            <select class="w-100" v-model="hotelSelected">
              <option value="none" disabled="disabled" selected="selected">請選擇預約飯店</option>
              <option v-for="(item) in hotelList" :key="item.Code" :value="item.Code">{{item.Text}}</option>
            </select>
          </div>
        </div>
        <!-- 住宿日期 -->
        <div class="w3-section w3-container w3-padding-16 w3-white">
          <p class="mb-2">
            <b>入住 - 退房</b>
            <span class="w3-tag w3-dark-gray w3-padding-small ml-2 w3-round-xxlarge" :style="{ fontSize: fontSizeBase*14 + 'px' }">共 {{dateSpan}} 晚</span>
          </p>
          <vc-date-picker
            locale="zh"
            mode='range'
            class="vCalendar mb-2 d-block"
            v-model='range'
            is-dark
            :min-date='new Date()'
            :input-props='{
              placeholder: "請選擇日期",
              readonly: true
            }'
            />
          <!-- <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label w3-text-black">住房日期 <span class="w3-opacity font-weight-normal" :style="{ fontSize: fontSizeBase*14 + 'px' }">(星期一)</span></label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control is-expanded has-icons-right">
                  <input class="input is-medium rounded" type="date" value="2020-01-06">
                  <span class="icon is-right">
                    <i class="far fa-calendar-alt"></i>
                  </span>
                </p>
              </div>
            </div>
          </div>
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label w3-text-black">退房日期  
                <span class="w3-opacity font-weight-normal" :style="{ fontSize: fontSizeBase*14 + 'px' }">(星期二)</span>
                <span class="w3-tag w3-dark-gray w3-padding-small ml-2 w3-round-xxlarge" :style="{ fontSize: fontSizeBase*14 + 'px' }">共 1 晚</span>
              </label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control is-expanded has-icons-right">
                  <input class="input is-medium rounded" type="date" value="2020-01-07">
                  <span class="icon is-right">
                    <i class="far fa-calendar-alt"></i>
                  </span>
                </p>
              </div>
            </div>
          </div> -->
          <!-- 人數 -->
          <div class="w3-cell-row mb-2">
            <div class="w3-cell w3-cell-middle">
              <b>大人</b> <span class="w3-opacity" :style="{ fontSize: fontSizeBase*14 + 'px' }"></span> 
            </div>
            <div class="w3-cell w3-cell-middle w3-right-align">
              <span class="numSpinner">
                <button class="w3-small w3-border w3-border-gray w3-white w3-hover-white w3-button w3-round-xxlarge px-0" style="width:32px" @click="minusAdult()">
                  <i class="fas fa-minus"></i>
                </button>
                <input type="number" min="0" readonly="readonly" class="w3-border-0 w3-center" style="width: 48px" v-model="adultNo">
                <button class="w3-small w3-blue w3-hover-blue w3-button w3-round-xxlarge px-0" style="width:32px" @click="addAdult()">
                  <i class="fas fa-plus"></i>
                </button>
              </span>
            </div>
          </div>
          <div class="w3-cell-row">
            <div class="w3-cell w3-cell-middle">
              <b>兒童</b> <span class="w3-opacity" :style="{ fontSize: fontSizeBase*14 + 'px' }"></span> 
            </div>
            <div class="w3-cell w3-cell-middle w3-right-align">
              <span class="numSpinner">
                <button class="w3-small w3-border w3-border-gray w3-white w3-hover-white w3-button w3-round-xxlarge px-0" style="width:32px" @click="minusKid()">
                  <i class="fas fa-minus"></i>
                </button>
                <input type="number" min="0" readonly="readonly" class="w3-border-0 w3-center" style="width: 48px" v-model="kidNo">
                <button class="w3-small w3-blue w3-hover-blue w3-button w3-round-xxlarge px-0" style="width:32px" @click="addKid()">
                  <i class="fas fa-plus"></i>
                </button>
              </span>
            </div>
          </div>
        </div>
        <!-- 房型 -->
        <div class="w3-section w3-container w3-padding-16 w3-white">
          <p class="mb-2"><b>房型</b></p>
          <span v-for="item in roomTypeList" :key="item.Code">
            <input :id="item.Code" :value="item.Code" type="radio" name="room" v-model="roomTypeSelect" class="ck-button w3-hide">
            <label :for="item.Code">
              {{item.Text}}
            </label>
          </span>
          <!-- 房型數量 -->
          <div class="w3-cell-row border-top mt-3 pt-3" v-if="roomTypeSelect != ''">
            <div class="w3-cell w3-cell-middle">
              {{roomTypeText}}
              <!-- 
              {{roomTypeSelect=='roomType1'?'單人房':''}}
              {{roomTypeSelect=='roomType2'?'雙人房':''}}
              {{roomTypeSelect=='roomType3'?'親子房':''}}
              {{roomTypeSelect=='roomType4'?'景觀房':''}}
              {{roomTypeSelect=='roomType9'?'其他':''}} 
              -->
              <span class="w3-opacity" :style="{ fontSize: fontSizeBase*14 + 'px' }">({{roomAmount}}間)</span>
            </div>
            <div class="w3-cell w3-cell-middle w3-right-align">
              <span class="numSpinner">
                <button class="w3-small w3-border w3-border-gray w3-white w3-hover-white w3-button w3-round-xxlarge px-0" style="width:32px"
                @click="minusRoom()">
                  <i class="fas fa-minus"></i>
                </button>
                <input type="number" min="0" readonly="readonly" class="w3-border-0 w3-center" style="width: 48px" v-model="roomAmount">
                <button class="w3-small w3-blue w3-hover-blue w3-button w3-round-xxlarge px-0" style="width:32px"
                @click="addRoom()">
                  <i class="fas fa-plus"></i>
                </button>
              </span>
            </div>
          </div>
          <!--
          <span v-for="item in 5" :key="item">
            <input :id="item" :value="item" type="radio" name="room" class="ck-button w3-hide">
            <label :for="item">
              {{item==1?'單人房':''}}
              {{item==2?'雙人房':''}}
              {{item==3?'親子房':''}}
              {{item==4?'景觀房':''}}
              {{item==5?'其他':''}}
            </label>
          </span>
          -->
        </div>
        <!-- 備註 -->
        <div class="w3-section w3-container w3-padding-16 w3-white">
          <b>備註</b> 
          <div class="w3-display-container w3-show-inline-block ml-1" style="width: calc(100% - 3rem);">
            <input class="w3-input w3-show-inline-block w3-border-0" type="text" v-model="remarkHotel" placeholder="請輸入文字說明">
            <div class="w3-display-right w3-opacity-max" v-if="remarkHotel!==''" @click="remarkHotel=''"><i class="fas fa-times-circle"></i></div>
          </div>
        </div>
        <!-- pull bottom space -->
        <div style="height:50px"></div>
        <!-- <button class="position-fixed fixed-bottom button is-medium is-info is-fullwidth rounded-0" @click="save()">預約送出</button> -->
        <div class="fixed-bottom columns is-mobile is-variable is-1 m-0 text-center bg-white" style="z-index: 998">
          <div class="column py-1">
            <button class="button is-link is-fullwidth is-medium" @click="save()">預約送出</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</template>

<style>
.vCalendar > input {
  padding: 10px 15px;
  height: 50px;
  border-color: #dbdbdb;
  font-size: 20px;
  border-radius: 4px !important;
} 
.vCalendar .vc-w-full {
  width: calc(100vw - 32px);
} 
.vc-text-sm, .vc-text-lg {
  font-size: 20px !important;
}
</style>

<script>
import Vue from 'vue';
import moment from 'moment'
import store from 'src/store'

import { showAlert } from '../../libs/appHelper.js'
import fetchData from '../../libs/fetchData.js'

import VCalendar from 'v-calendar' // 套件API https://vcalendar.io/
Vue.use(VCalendar, {
  componentPrefix: 'vc',  // Use <vc-calendar /> instead of <v-calendar />
});
export default {
  // 頁面資料: 請使用function return
  data: function(){
    return {
      title: '<%- @_SelfCode %>',
      state: this.$store.state,
      
      cname: '', // 姓名
      mobile: '', // 手機
      addrs: '', // 地址
      editData: false,

      hotelList: [], // 飯店清單
      hotelSelected: 'none',

      range: {
        start: new Date(),
        end: new Date()
      }, // 起迄日期

      adultNo: 1, // 成人人數
      kidNo: 0, // 兒童人數

      roomTypeList: [], // 房型清單
      roomTypeSelect: '', // 選擇房型
      roomAmount: 1, // 該房型數量

      remarkHotel: '' // 備註
      
    };
  },
  computed: {
    // 簡化常用的 Vuex.store data (補充： 一定要寫在這, component 才會即時反應 $store.state 的變化)
    isLogin()  { return this.$store.getters.isLogin },
    fontSizeBase() { return store.getters.fontSizeBase },
    // 幾晚 (幾天)
    dateSpan() { return (this.range.end - this.range.start) / (24*60*60*1000) },
    // 找出房型Code對應的Text
    roomTypeText() {
      let roomTypeStr = ''

      if (this.roomTypeSelect && this.roomTypeSelect.trim()!=''
        && this.roomTypeList && this.roomTypeList.length>0) {
        // 如果Code和選擇的相同
        let correctItem  = this.roomTypeList.find((item)=>{
          return item.Code == this.roomTypeSelect
        })
        roomTypeStr = correctItem.Text
      }

      return roomTypeStr
    }
  },
  // 頁面模組
  methods: {
    // 取得預約人基本資料
    async setDefaultVipInfo() {
      // https://wuhuapp.jh8.tw/Public/AppVip.ashx
      const url = this.$store.getters.appMemberUrlWuhu
      const body = this.$store.getters.appBodyWuhu({act: 'GetVipAndCardInfo'})
      const data = await fetchData({url, body})
      let vipInfo = data.querydata_return_info.vip_info
      this.cname = vipInfo.CnName
      this.mobile = vipInfo.Mobile
      this.addrs = vipInfo.Addr
      this.editData = false
    },
    // 取得飯店房型資料
    async setHotelInfo() {
      // https://wuhuapp.jh8.tw/Public/AppBooking.ashx
      const url = this.$store.getters.appBookUrlWuhu
      const body = this.$store.getters.appBodyWuhu({act: 'get_hotelsetting'})
      const data = await fetchData({url, body})
      this.hotelList = data.hotelList
      this.roomTypeList = data.roomType
    },
    // 設定預設起迄時間
    setDefaultDate() {
      let now = new Date()
      let today = new Date(now.getFullYear(), now.getMonth(), now.getDate())

      let milliSecs = (24*60*60*1000)
      let startDate = new Date(today.getTime()+(milliSecs*3))
      let endDate = new Date(startDate.getTime()+(milliSecs*1))

      this.range = {} // 一定要有這一行,重新進入畫面才可以重設日期
      this.range.start = startDate // new Date(2020, 1, 21)
      this.range.end = endDate // new Date(2020, 1, 22)
    }, 
    // 減數
    minusNo(currentNo, min) {
      // 人數最小是0,不可是負數
      if (currentNo <= min) {
        return min
      } else {
        return --currentNo
      }
    },
    // 減數(至少為0)
    minusAtleast0(currentNo) {
      return this.minusNo(currentNo, 0)
    },
    // 減數(至少為1)
    minusAtleast1(currentNo) {
      return this.minusNo(currentNo, 1)
    },
    // 加成人
    addAdult() { 
      this.adultNo++
    },
    // 減成人
    minusAdult() {
      this.adultNo = this.minusAtleast0(this.adultNo)
    },
    // 加兒童
    addKid() { 
      this.kidNo++
    },
    // 減兒童
    minusKid() {
      this.kidNo = this.minusAtleast0(this.kidNo)
    },
    // 加房間數
    addRoom() { 
      this.roomAmount++
    },
    // 減房間數
    minusRoom() {
      this.roomAmount = this.minusAtleast1(this.roomAmount)
    },
    clickType(code) {
      this.roomTypeSelect = code
    },
    // 把所有資料清到預設值
    clearData2Default() {
      this.editAddrs = true
      this.hotelSelected = 'none'
      this.adultNo = 1 // 成人人數
      this.kidNo = 0 // 兒童人數
      this.roomTypeSelect = '' // 選擇房型
      this.roomAmount = 1 // 房型數量
      this.remarkHotel = '' // 備註
    },
    checkStrNull(str) {
      if (str && str.length>0) {
        return true
      } else {
        return false
      }
    },
    checkMust() {
      let flag = false
      if (!this.checkStrNull(this.cname)) {
        showAlert('請輸入姓名')
      } else if (!this.checkStrNull(this.mobile)) {
        showAlert('請輸入手機號碼')
      // if (!this.checkStrNull(this.addrs)) {
      //   showAlert('請填寫地址')
      } else if (this.hotelSelected == 'none') {
        showAlert('請選擇預約飯店')
      } else if (!this.checkStrNull(this.roomTypeSelect)) {
        showAlert('請選擇房型')
      } else if ((this.adultNo + this.kidNo) <= 0) {
        showAlert('人數請至少為1人')
      } else {
        flag = true
      }
      return flag
    },
    async save() {
      if (this.checkMust()) {
        // https://wuhuapp.jh8.tw/Public/AppBooking.ashx
        const url = this.$store.getters.appBookUrlWuhu
        const body = this.$store.getters.appBodyWuhu({act: 'add_newbooking'})

        body.ServiceKind = '01' // 01: hotel, 02: clean
        body.ContactName = this.cname
        body.ContactTel = this.mobile
        body.ContactAddress = this.addrs
        body.KindCode = this.hotelSelected // hotel
        body.BeginDate = moment(this.range.start).format('YYYY-MM-DD')
        body.EndDate = moment(this.range.end).format('YYYY-MM-DD')
        body.Days = this.dateSpan
        body.Person = this.adultNo
        body.Child = this.kidNo
        body.KindDescs = this.roomTypeSelect // 房型
        body.Amount = this.roomAmount // 該房型數量
        body.Remark = this.remarkHotel

        const data = await fetchData({url, body})

        if (data.error) {
          showAlert(data.msg)
        } else {
          showAlert('送出成功')
          this.$router.push(`/booking`)
        }
      }
    }
  },
  // 在路由刷新前
  beforeRouteEnter: function(to, form, next){
    store.dispatch('fetchAppLogoWuhu') // 上方logo須重撈不然refresh會不見
    // to: 上一個頁面代碼
    // form: 目前頁面代碼
    // next: 向下執行
    // next();
    next((vm) => { // vm is the Vue instance
      vm.setDefaultVipInfo() // 取得預約人基本資料
      vm.setHotelInfo()
      vm.setDefaultDate() // 設定預設起迄時間
      vm.clearData2Default() // 把所有資料清到預設值
    })
  },
  // 建立頁面後
  async created() {
    this.setDefaultDate() // 設定預設起迄時間 => created也要寫入,否則computed會無作用
  }
}
</script>