<template>
    <div>
      <div v-if="isShowPage">
        <!-- <div v-if="!isReady" class="position-fixed w-100 h-100 padding-top-env padding-bottom-env"
        style="z-index: 9999;background-color: rgba(0,0,0,0);margin-top: -52px;" v-cloak>
          <div class="rounded-circle bg-white shadow-lg w3-display-middle p-2">
            <img src="../../assets/images/loading.svg" alt="" class="rounded-circle" width="64">
          </div>
        </div> -->

        <!-- 進階搜尋彈窗 -->
        <transition name="slide-fade">
          <div class="modal is-active" style="z-index: 99999;" v-if="filterModal">
            <div class="modal-background"></div>
            <div class="modal-card px-2">
              <header class="modal-card-head has-background-white border-0 pb-2">
                <p class="modal-card-title is-size-5">進階搜尋</p>
                <button class="delete" aria-label="close" @click="filterModal=false"></button>
              </header>
              <section class="modal-card-body py-0 px-2">
                <h5 class="border-bottom pb-1">* 選縣市</h5>
                <section>
                  <template v-for="(item, index) in areas_list">
                    <div class="checkButton mr-1 mb-1" :key="'item'+index">
                      <input type="radio" :value="item" v-model="selectedCities" :id="item">
                      <label class="button is-rounded px-3 py-1 h-auto" :for="item" @click="selectedShops=[]">
                        <span><i class="fas fa-check fa-xs mr-1"></i></span>{{ item }}
                      </label>
                    </div>
                  </template>
                </section>
                <h5 class="border-bottom pb-1">* 選商圈</h5>
                <section>
                  <template v-for="(item, index) in shops_list">
                    <div class="checkButton mr-1 mb-1" :key="'item'+index">
                      <input type="radio" :value="item" v-model="selectedShops" :id="item">
                      <label class="button is-rounded px-3 py-1 h-auto" :for="item" @click="selectedCities=[]">
                        <span><i class="fas fa-check fa-xs mr-1"></i></span>{{ item }}
                      </label>
                    </div>
                  </template>
                </section>
                <h5 class="border-bottom pb-1" v-if="types_list">* 選類別</h5>
                <section v-if="types_list">
                  <template v-for="(item, index) in types_list">
                    <div class="checkButton mr-1 mb-1" :key="'item'+index">
                      <input type="checkbox" :value="item" v-model="selectedTypes" :id="item">
                      <label class="button is-rounded px-3 py-1 h-auto" :for="item">
                        <span><i class="fas fa-check fa-xs mr-1"></i></span>{{ item }}
                      </label>
                    </div>
                  </template>
                </section>
              </section>
              <footer class="modal-card-foot has-background-white justify-content-center border-0">
                <button class="button" @click="selectedShops=[], selectedCities=[], selectedTypes=[]">清除篩選</button>
                <button class="button is-dark px-5" @click="filterModal=false">確 定</button>
              </footer>
            </div>
          </div>
        </transition>

        <!--搜尋店家-->
        <div class="sticky-top has-background-white shadow-sm" style="z-index:1">
          <div id="searchBar" class="field mb-0 p-2" v-show="showSearch">
            <div class="columns is-mobile is-variable is-2">
              <div class="column is-narrow">
                <div class="tabs">
                  <ul>
                    <li :class="{'is-active':isTypeActive == 'order'}"><a class="p-2" @click="initStores('./stores.json')">點餐</a></li>
                    <li :class="{'is-active':isTypeActive == 'shop'}"><a class="p-2" @click="initStores('./shoppingstores.json')">商城</a></li>
                  </ul>
                </div>
              </div>
              <div class="column">
                <p class="control has-icons-left has-icons-right">
                  <input class="input border-0 has-background-white-ter rounded-pill shadow-none" type="text" v-model="search" :placeholder="'請輸入店名'">
                  <span class="icon is-small is-left">
                    <i class="fas fa-search fa-lg"></i>
                  </span>
                  <span class="icon is-small is-right pr-3 has-text-dark" style="pointer-events: auto" @click="filterModal = true">
                    <i class="fas fa-sliders-h fa-lg"></i>
                  </span>
			</p>
              </div>
            </div>
          </div>
        </div>
        <div class="container p-3">
          <div class="columns is-mobile is-multiline is-variable is-2">
            <template v-for="(item, index) in filteredList">
              <div class="column py-2 is-full-mobile is-one-third-tablet" :key="'item'+index">
                  <div class="card d-flex flex-column h-100 rounded-lg overflow-hidden">
                    <div class="card-image">
                      <figure class="image is-16by9 m-0">
                        <img v-lazy="`https://k-fun.jh8.tw${(item.image).substring(1)}`" :alt="item.name" style="object-fit:cover">
                      </figure>
                      <div class="position-absolute p-2" style="top:0">
                          <span class="tag is-black is-medium mr-1 mb-1 rounded-pill shadow-sm fw-normal" v-if="item.address">{{item.address.slice(0, 3)}}</span>
                          <span class="tag is-black is-medium mr-1 mb-1 rounded-pill shadow-sm fw-normal" v-if="item.district">{{item.district}}</span>
                          <span class="tag is-black is-medium mr-1 mb-1 rounded-pill shadow-sm fw-normal" v-if="item.type">{{item.type}}</span>
                      </div>
                    </div>
                    <div class="card-content p-2">
                      <div class="content">
                        <h4 class="mt-0 mb-2">{{item.name}}</h4>
                        <p class="is-size-6 mb-2" @click="deviseToLink(`https://www.google.com/maps/place/${item.address}`)"><i class="fas fa-map-marker-alt fa-fw"></i> {{item.address}}</p>
                        <p class="is-size-6" @click="deviseToLink(`tel:${item.phone}`)" v-if="item.phone"><i class="fas fa-phone-alt fa-fw"></i> {{item.phone}}</p>
                      </div>
                    </div>
                    <footer class="card-footer mt-auto px-1 pb-2 border-top-0 justify-content-end">
                      <div class="buttons">
                        <template v-if="isTypeActive == 'order'">
                          <button class="button primary-color py-1 px-3 h-auto rounded-lg is-medium" @click="deviseToLink(item.order),curOredrToggle=!curOredrToggle" v-if="!item.delivery">
                            <span>點餐</span>
					</button>
                          <!-- 有外帶&外送 -->
                          <div class="dropdown is-up mr-2" :class="{'is-active':curOredr == index && curOredrToggle}" v-else>
                            <div class="dropdown-trigger">
                              <button class="button primary-color py-1 px-3 h-auto rounded-lg is-medium" aria-haspopup="true" :aria-controls="`dropdown-order${index}`"
                                @click="curOredr=index,curOredrToggle=!curOredrToggle"
                              >
                                <span>點餐</span>
                                <!-- <span class="icon is-small">
                                  <i class="fas fa-angle-down" aria-hidden="true"></i>
                                </span> -->
					</button>
                            </div>
                            <div class="dropdown-menu" :id="`dropdown-order${index}`" role="menu">
                              <div class="dropdown-content border rounded-lg w-50">
                                <a href="#" class="dropdown-item is-size-6 d-flex justify-content-center align-items-center px-0 text-decoration-none" @click="deviseToLink(item.order)">
                                  外帶
                                  <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="ml-2" viewBox="0 0 16 16">
                                      <path fill-rule="evenodd" d="M10.854 8.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L7.5 10.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                                      <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"/>
                                  </svg>
                                </a>
                                <a href="#" class="dropdown-item is-size-6 d-flex justify-content-center align-items-center px-0 text-decoration-none" @click="deviseToLink(item.delivery)">
                                  外送
                                  <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="ml-2" viewBox="0 0 16 16">
                                      <path d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5v-7zm1.294 7.456A1.999 1.999 0 0 1 4.732 11h5.536a2.01 2.01 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456zM12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                                  </svg>
                                </a>
                              </div>
                            </div>
                          </div>
                          <button class="button p-1 px-3 h-auto rounded-lg is-medium" @click="deviseToLink(item.order_history)">
                            <span>訂單</span>
					</button>
                        </template>
                        <template v-if="isTypeActive == 'shop'">
                          <button class="button primary-color py-1 px-3 h-auto rounded-lg is-medium" @click="deviseToLink(item.store)">
                            <span>商城</span>
					</button>
                          <button class="button p-1 px-3 h-auto rounded-lg is-medium" @click="deviseToLink(item.member)">
                            <span>會員</span>
					</button>
                        </template>
                      </div>
                    </footer>
                  </div>
              </div>
            </template>
            <div class="text-center column is-full mt-5 has-text-grey-light" v-if="filteredList.length == 0 && cards_list.length != 0">\(o_o)/ 無搜尋結果...</div>
          </div>
        </div>
				</div>

      <div v-if="!isShowPage" style="top:0;right:0;left:0;bottom:0;display:flex;position:fixed;align-items:center;justify-content:center;z-index:99999">
        <div style="text-align:center;">
          <img src="../../assets/images/pending2.svg" width="150">
          <p style="color: gray;margin-top: 8px"><small>資料加載中，請稍後...</small></p>
			</div>
		</div>

	</div>

</template>

<style lang="scss" scoped>
	.appCard {
		border: 1px solid #ccc;
		margin: 0 auto;
		width: 100%;
		height: 100%;
		padding-top: 62.8%;
		background-image: linear-gradient(135deg, white 50%, #e6e6e6 100%);
		background-size: cover;
		margin-bottom: 16px!important;
		font-size: 18px!important;
		border-radius: 16px;
		position: relative;
	}

	.badge {
		background-color: var(--primary-color);
		color: #fff;
		display: inline-block;
		padding-left: 8px;
		padding-right: 8px;
		text-align: center;
	}

	.topnav-container {
		.topnav-item {
			&.is-active {
				color: black !important;
				&::after {
					z-index: -1;
				}
			}
		}
	}

	.rounded-lg {
		border-radius: 0.5rem !important;
	}

	.is-rounded-circle {
		width: 34px;
	}

	.buttons .button:not(:last-child):not(.is-fullwidth) {
			margin-right: 0.25rem;
	}

.checkButton {
	display: inline-block;
	min-width: calc(100%/3 - 4px);
	label {
			display: inline-block;
			background-color: #f8f8f8;
			width: 100%;
			font-size: 15px;
	}
	label > span,
	input {
			display: none;
			&:checked + label > span {
					display: none;
			}
			&:checked + label {
					background-color: #4232c2;
					color: white;
			}
	}
}

.tabs li.is-active a {
	border-bottom-color: var(--primary-color);
	color: var(--primary-color);
	font-weight: bold;
}
</style>

<script>
import store from 'src/store'
import axios from 'axios'
import { router } from 'src/libs/systemEnv.js'
import { isLogin,b64_to_utf8,jParse, isNotLinePara } from 'src/libs/appHelper.js'
import { computed, reactive, watch } from '@vue/composition-api'
import { deviseFunction } from 'src/libs/deviseHelper.js'
// import { showImageWuhu, getParameterByName } from 'src/libs/appHelper.js'
import { showImageWuhu } from 'src/libs/appHelper.js'
import { S_Obj, GetPara1 } from 'src/fun1.js'	// 共用fun在此!
import liff from '@line/liff';

// 卡面文字要設成白色的名搬
const whiteValidate = { kakartest: false, '4210098209': true, '24981398': true, '2498313603': true }
// 取得的卡包
const vipApps = computed(() => store.state.vipApps )
// 卡包的會員資訊
const currentAppUsers = computed(() => store.getters.currentAppUsers )


// 判斷是否顯示白色樣式
function isWhite(userData) {
	return whiteValidate[userData.EnterPriseID]
}

// 卡面底圖
function showCardImg(userData) {
	let style = 'background-image: url(https://dev-service.jinher.com.tw/projectFeature/APP_KK/Kakar/images/default-card.png)'
	if (userData.CardFacePhoto) style = `background-image: url(${userData.CardFacePhoto})`
	if (isWhite(userData)) style += ';color: white'
	return style
}
// 顯示卡包的企業名
function showEnterpriseName(userData) {
	const eID = userData.EnterPriseID
	const vip = vipApps.value.find(item => item.EnterpriseID === eID)
	return (vip) ? vip.AppName : ''
}

// QRcode 的參數
const cardQRcode = reactive({
	gid: '',
	timer: 60,
	show: false,
	counter: '',
	data: computed(() => store.state.cardQRCode )
})

// QRcode 參數監聽
watch(() => cardQRcode.timer, () => renderQRcode() )

// 顯示 QRcode 畫面
function showQrcode(userData) {
	store.commit('setCurrentAppUser', userData)
	store.commit('setCssTouch', false)
	cardQRcode.gid = userData.cardGID
	cardQRcode.show = true
	// 計時器重設(觸發取會員條碼並倒數計時的邏輯)
	cardQRcode.timer = 0

	// 重新跟殼取資料(主要更新當下螢幕亮度值)
	deviseFunction('GetSPAll', '', '"cbFnSyncDeviseInfoToStore"')
	// 進入時將殼的螢幕調到最亮
	deviseFunction('setBrightness', '255', '')
}

// 執行顯示 QRcode 的邏輯
function renderQRcode() {
	// 只在計數器為零時才執行
	if (cardQRcode.timer > 0) return
	// 取會員 QRcode
	store.dispatch('fetchCardQRCodeData', cardQRcode.gid)
	// 將計數器回到 60 秒
	cardQRcode.timer = 60
	// 開始倒數計時
	if (cardQRcode.counter === '') cardQRcode.counter = setInterval(()=> { cardQRcode.timer = cardQRcode.timer - 1 }, 1000)
}

export default {
	name: 'index',
	data() {
    return {
			state: this.$store.state,
			//isShow:true,
			// detect click
			isDblClick: false,
			clicks: 0,
			search: '',
			curOredr: '',
			curOredrToggle: false,
			shops_list: [],
			areas_list: [],
			origin_cards_list: [],
			cards_list: [],
			types_list: [],
			showSearch: true,
			lastScrollPosition: 0,
			scrollOffset: 40,
			isShowPage:true,
			json:'./stores.json',
			filterModal: false,
			selectedCities: [],
			selectedShops: [],
			selectedTypes: [],
			isTypeActive: 'order',
		};
	},
	setup(props, context) {
		// 如果未登入，直接導向登入頁
		if (!isLogin.value) router.push('/login')

		//router.replace({ path: '' })

		//context.root.$router.replace({ query: {} })
		//router.replace({ query: {} })

		// 取得龍海的公開 & 會員資料
		if (isNotLinePara()) store.dispatch('fetchAppPublicDataWuhu')
		// store.dispatch('fetchAppUserDataWuhu')
		if (isNotLinePara()) store.dispatch('fetchVipAndCardInfoWuhu') // for QR Code

		// 主畫面 layout (預設為 Kakar)
		const layout = computed(() => context.root.$route.meta.layout || 'Kakar' )

		// 關閉 QRcode 畫面
		function hideCardCode() {
			cardQRcode.cardGID = ''
			cardQRcode.show = false
			store.commit('setCssTouch', true)

			// 刷新積點資料 (依據 layout 不同更新 vipApps / vipUserData)
			if (layout === 'kakar') store.dispatch('fetchVipApps')
			if (layout === 'card')  store.dispatch('fetchAppUserData')
			// 清空會員 QRcode 資料
			store.commit('setCardQRCodeData', {value: '', image: '', loaded: false})
			// 關閉倒數計時器
			clearInterval(cardQRcode.counter) ; cardQRcode.counter = '' ; cardQRcode.timer = 60
			// 將殼的螢幕恢復原本亮度
			deviseFunction('setBrightness', store.getters.deviseBrightness, '')
		}

		return {
			isLogin, vipApps, isWhite, showCardImg,
			currentAppUsers, showEnterpriseName,
			cardQRcode, showQrcode, hideCardCode, layout
		}
	},
	computed: {
		pageData() {
			return this.state.baseInfo.publicData.index
		},
		isReady() {
			return !!this.state.baseInfo.publicData.logoLoaded
		},
		swiper() {
			return this.$refs.mySwiper.$swiper
		},
		isShowCardPage(){
			return this.state.lineLogin.appQrcode === "" && this.isShowPage
		},
		filteredList() {
			if(this.filterModal==true) return false
			return this.cards_list.filter(card => {
				if(this.selectedCities.length == 0 && this.selectedShops.length == 0 && this.selectedTypes.length == 0) return card.name.includes(this.search)
				if(this.selectedCities.length == 0 && this.selectedTypes.length == 0) return card.name.includes(this.search) && card.district.includes(this.selectedShops)
				if(this.selectedShops.length == 0 && this.selectedTypes.length == 0) return card.name.includes(this.search) && card.address.includes(this.selectedCities)
				if(this.selectedTypes.length == 0) return card.name.includes(this.search) && card.address.includes(this.selectedCities) && card.district.includes(this.selectedShops)
				else return card.name.includes(this.search) && card.address.includes(this.selectedCities) && this.selectedTypes.includes(card.type) && card.district.includes(this.selectedShops)
			})
		},
	},
	mounted() {

		// 滾動掛載
		let scrollEl = document.querySelector('#pull-content')
		this.lastScrollPosition = scrollEl.scrollTop
		scrollEl.onscroll = () => {
			this.doScroll()
		}
		this.lastScrollPosition = scrollEl.scrollTop
		if (this.isNotLinePara()) this.initStores('./stores.json')
  },
  methods: {
		isNotLinePara,
		showImageWuhu,
		// 判斷 single || double click
		oneClick() {
			this.clicks++
			if(this.clicks === 1) {
				var self = this
				this.timer = setTimeout(function() {
					self.clicks = 0
				}, 200);
				this.isDblClick = false
			} else {
				clearTimeout(this.timer);
				this.isDblClick = true
				this.clicks = 0;
				// 放大時，停止輪播
				if(this.swiper.zoom.scale != 1) this.swiper.autoplay.stop()
				else this.swiper.autoplay.start()
			}
		},
		async checkShort(){
		},
		redirectToLink(banner) {
			this.oneClick()
			setTimeout(() => {
				if (banner.LinkType != '' && this.isDbClick) {
					// 連外部網址
					if (banner.LinkType == 'OuterURL') {
						if (banner.OuterURL.trim() != '') {
							let url = banner.OuterURL
							// 在殼裡面 => 開啟瀏覽器
							if (typeof(JSInterface) !== 'undefined') {
								deviseFunction('openWeburl', url, '')
							// 在瀏覽器 => 瀏覽器新開一個tab
							} else {
								window.open(url, '_blank')
							}
						}
					// 連內部網址
					} else if (banner.LinkType == 'InnerURL') {
						let url = banner.LinkPostion
						if (url && url.trim()!= '') {
							this.$router.push({path: '/' + url})
						}
					// 連商品ID
					} else if (banner.LinkType == 'FoodDetail') {
						// do nothing
					// 連商品類別ID
					} else if (banner.LinkType == 'FoodKind') {
						// do nothing
					// 連消息ID
					} else if (banner.LinkType == 'MessageDetail') {
						let detailID = banner.LinkPostion
						if (detailID && detailID.trim()!='') {
							this.$router.push('/newspage/' + detailID)
						}
					// 連消息類別ID
					} else if (banner.LinkType == 'MessageKind') {
						this.$router.push('/news')
					}
				}
			}, 300)
		},
		zoomTouchmove() {
			if(this.swiper.zoom.scale > 1) this.swiper.autoplay.stop()
			else this.swiper.autoplay.start()
		},
		filteredCity(isCity) {
				this.curCity = isCity
		},
		// (殼) 連結另開瀏覽器app
		deviseToLink(Url) {
			return deviseFunction('openWeburl', Url, '')
		},
		// 滾動出現搜尋列
		doScroll() {
			let scrollEl = document.querySelector('#pull-content')
			if (scrollEl.scrollTop < 0) return
			if (Math.abs(scrollEl.scrollTop - this.lastScrollPosition) < this.scrollOffset) return
			this.showSearch = scrollEl.scrollTop < this.lastScrollPosition
			this.lastScrollPosition = scrollEl.scrollTop
		},
		initStores(json) {
			store.commit('setLoading', true),
			axios
			.get(json)
			.then(response => (
				this.areas_list = response.data["cities"],
				this.shops_list = response.data["shopping"],
				this.types_list = response.data["type"],
				this.cards_list = response.data["cards"]
			))
			// .catch(error => (
			//   console.log(error) //cut log
			// ));
			.finally(() => {
				store.commit('setLoading', false)
				this.search = ''
				this.selectedCities = []
				this.selectedShops = []
				this.selectedTypes = []
				this.origin_cards_list = this.cards_list
				if(json=='./stores.json') this.isTypeActive = 'order'
				if(json=='./shoppingstores.json') this.isTypeActive = 'shop'
			})
		},
	},
	// 每次進入此頁面會執行的設定
	async beforeRouteEnter(to, form, next){
		const s1 		= store.state.searchURL
			,linePara = s1.linePara
		if (linePara != ""){
			await store.dispatch('goSurl',{sUrl:linePara,fn:(p_body)=>{
				const p_Para = jParse(b64_to_utf8(p_body))
// console.log('HomeIndex-p_Para: ', p_Para);	// @@
				if (p_Para.EnterpriseID) 	setKeyLineLogin("EnterpriseID", p_Para.EnterpriseID)
				if (p_Para.appQrcode) 		setKeyLineLogin("appQrcode", p_Para.appQrcode);
				if (p_Para.path)				 	setKeyLineLogin("path", p_Para.path);
			}})

		}else if(s1.lineNofInfo != ""){
			await store.dispatch('goSurl',{sUrl:s1.lineNofInfo,fn:(p_Para)=>{
				if (p_Para.EnterpriseID) 	setKeyLineLogin("EnterpriseID", p_Para.EnterpriseID)
					if (p_Para.appQrcode) 	setKeyLineLogin("appQrcode", p_Para.appQrcode);
					if (p_Para.path) 				setKeyLineLogin("path", p_Para.path);
					if (p_Para.RegId && p_Para.RegId != "error") {
						setKeyLineLogin("RegId", p_Para.RegId);
						store.commit('setThirdID')
					}
			}})
		}

		document.querySelector("#pull-content").scrollTop = 0 // 此頁置頂
		// 取企業 App 的會員資料
		const isFirst= (to.path == "/" && (form.path == "/" || form.path == "/login"));
		if (isLogin.value) store.commit('setLoading', true)
		setTimeout(() => {
			store.commit('setLoading', false);

			if (isFirst && isLogin.value) {
				// console.log('===> isFirst isLogin.value = true')
				router.push('/list');
			}
		}, 0)

		if (!isFirst) {
			next(vm => {
				LineBack();
				vm.isShowPage = true;
				vm.curCity = '全部'
			});
		} else {
			next(vm=>{
				LineBack();
				vm.isShowPage=false;
				vm.checkShort();
				setTimeout(() => {
					vm.isShowPage=true;vm.curCity='全部'
				}, 2000)
			});
		}
	},
	events: {
		outsideClose() {
			this.curOredrToggle = false
		}
	}
	/*
	 // 每次進入此頁面會執行的設定
	beforeRouteEnter: function(to, form, next){
		document.querySelector("#pull-content").scrollTop = 0 // 此頁置頂
		// 取企業 App 的會員資料
		const isFirst= (to.path == "/" && (form.path == "/" || form.path == "/login"));
		//store.commit('setLoading', true)
		setTimeout(() => {
			store.commit('setLoading', false);

			if (isFirst && isLogin.value) {
				// console.log('===> isFirst isLogin.value = true')
				router.push('/list');
			}
		}, 200)

		if (!isFirst) next(vm=>{vm.isShow=true;vm.curCity='全部'});
		else next(vm=>{vm.isShow=false;vm.checkShort()});
	}, */
}

function setKeyLineLogin(key1, v1) {
	store.commit('setLineLoginKey', {key:key1, value:v1});
}

/* 判斷Line掃碼回來 */
function LineBack() {
		/* 測試LINE掃碼 */
		// if (GetPara1("testcode") == "testscan") {
		if (/testscan/.test(GetPara1("testcode"))) {
			loginLiff();
		}

	const scode1 	= GetPara1('scode')
		,curAUser		= store.state.currentAppUser
		,curEPID		= curAUser.EnterPriseID
	if (scode1 && curEPID) {
		const IsHank = /270485/.test(store.state.member.code);	// @@test
		IsHank && alert(`掃碼回來-ScanCode: ${scode1}`);	// @@

		const href1  = location.href
			,npos  	= href1.lastIndexOf("?")
			,_hash 	= href1.substring(0, npos).replace('#/', '')
			,url1		= _hash+`#/cardMember/${curEPID}`
		,_token 	= curAUser.token
		S_Obj.save('ApiToken', _token);
		// console.warn('Debug_url1: ', url1);	// @@
		location = url1;
	}
}


// Line內部瀏覽器
// 用戶開啟LIFF APP，執行liff.init()，便可取得access_token
// 外部瀏覽器(ex. Chrome)
// 用戶開啟LIFF APP，執行liff.login()及liff.init()，便可取得access_token

async function loginLiff() {
	await liff.init({
		liffId: "1655314765-Voo3vLdX",
		// withLoginOnExternalBrowser: true,
	})
	.then(() => {
		const language 	= liff.getLanguage()
			,version 			= liff.getVersion()	// LIFF SDK 的版本
			,isInClient 	= liff.isInClient()
			,isLoggedIn 	= liff.isLoggedIn() // 使用者是否登入 LINE 帳號
			,os 					= liff.getOS() 			// 作業系統：ios、android、web
			,lineVersion 	= liff.getLineVersion() // 使用者的 LINE 版本
		const txt1 = `language: ${language}\nversion: ${version}\nisInClient: ${isInClient}\nisLoggedIn: ${isLoggedIn}\nos: ${os}\nlineVersion: ${lineVersion}`;
		alert(txt1);

		if (!isLoggedIn) {
			alert('未登入LineLiff');
			// S_Obj.save('WebLineLiff', 1);
			liff.login();
		} else {
			try {
				liff.scanCodeV2().then(result => {
					this.result = result;
					alert('鏡頭: '+result.value);
				}).catch((err) => {
					const _txt = 'scanCodeV2 ErrorCode: '+err.code+'\n'
										+ 'ErrorMessage: '+err.message
					alert(_txt);	// @@
					console.error('Liff API Error: ', err);
				});
			} catch(error) {
				alert('scanCodeV2 err: '+JSON.stringify(error));

				try {
					/** @NG: No permission for liff.scanCode */
					liff.scanCode()
					.then(result => {
						alert('scanCode鏡頭: '+result.value);
					}).catch((err) => {
						const _txt = 'scanCode ErrorCode: '+err.code+'\n'
											+ 'ErrorMessage: '+err.message
						alert(_txt);	// @@
						console.error('Liff API Error: ', err);
					});
				} catch(error) {
					alert('scanCode err: '+JSON.stringify(error));
				}
			}

		}
  
	}).catch((err) => {
		// Error happens during initialization
		alert('初期化失敗: '+JSON.stringify(err));
	});
}
</script>