<template>
  <div>
    {{isCidReady}}
    <!-- 讀取中效果(使用v-show預載) -->
    <div v-show="isLoadingHomeMember" class="position-fixed w-100 h-100" 
    style="z-index: 9999;background-color: rgba(0,0,0,0);" v-cloak>
      <div class="rounded-circle bg-white shadow-lg w3-display-middle p-2">
        <img src="../../assets/images/loading.svg" alt="" style="border-radius:100%;">
      </div>
    </div>
    <div class="w3-content w3-padding-32 w3-cell-row" 
    style="width:65%">
      <div class="w3-cell w3-cell-middle" style="width:118px">
        <img style="width:96px" src="../../assets/images/avatar_male.png" v-if="userDataSet.Sex=='True'">
        <img style="width:96px" src="../../assets/images/avatar_female.png" v-else>
      </div>
      <div class="w3-cell w3-cell-middle">
        <!-- <div class="w3-xlarge" style="margin-top:.5rem">{{$store.state.currentAppUser.CardTypeName}}</div>
        <div v-if="currentApp!='53239538'">累積 <b class="w3-xxlarge" style="line-height:1">{{points}}</b> 點</div> -->
        <div class="mb-1"><!--{{cardTypeName}} 先隱藏--></div>
        <div>
          <b class="d-block text-center is-size-4">一般會員</b>
          <!--
          <div>消費紀錄 <b style="line-height:1" :style="{ fontSize: fontSizeBase*30 + 'px' }">{{balance}}</b> 元</div>
          <div>積點紀錄 <b style="line-height:1" :style="{ fontSize: fontSizeBase*30 + 'px' }">{{points}}</b> 點</div>
          -->
        </div>
      </div>
    </div>

    <!-- 功能選單 -->
    <div 
      style="background: linear-gradient(0deg, #fff 50%, #f1f1f1 100%);padding: 1.5rem 1rem;display:flex;display:-webkit-flex;"
      :style="{ fontSize: fontSizeBase*16 + 'px' }"
    >
      <div class="columns is-multiline is-mobile text-center mb-0"
      style="flex:1;-webkit-flex:1;"
      >
        <!-- <div class="column px-1 py-3 is-one-third" @click="openPoint()"> -->
        <!-- 
        <div class="column px-1 py-3 is-one-third" @click="$router.push('/consumePoint')">
          <img src="../../assets/images/rec-pay.svg" style="height:3rem;">
          <div class="mt-2">消費紀錄</div>
        </div>
        <div class="column px-1 py-3 is-one-third" @click="$router.push('/point')">
          <img src="../../assets/images/rec-point.svg" style="height:3rem;">
          <div class="mt-2">積點紀錄</div>
        </div>
        -->
        <!--
        <div class="column px-1 py-3 is-one-third" @click="$router.push('/coupon')">
          <div class="w3-display-container" style="width:3rem;margin:0 auto;">
            <div class="w3-display-topright badge-wrapper" style="right:-16px;top:-16px" v-if="state.baseInfo.memberData.ticketList.length!=''">
              <span class="badge primary-color" :style="{ fontSize: fontSizeBase*16 + 'px' }">{{state.baseInfo.memberData.ticketList.map(item => {return parseInt(item.TicketCount)}).reduce((a, b) => { return a + b })}}</span>
            </div>
            <img src="../../assets/images/coupon.svg" style="height:3rem;">
          </div>
          <div class="mt-2">優惠券</div>
        </div>
        -->
        <div class="column px-1 py-3 is-one-third" @click="$router.push('/setting')">
          <img src="../../assets/images/card-profile.svg" style="height:3rem;">
          <div class="mt-2">會員資訊</div>
        </div>        
        <div class="column px-1 py-3 is-one-third" @click="$router.push('/news')">
          <img src="../../assets/images/news.svg" style="height:3rem;">
          <div class="mt-2">最新消息</div>
        </div>
        <div class="column px-1 py-3 is-one-third" @click="$router.push('/setting?type=changePW')">
          <img src="../../assets/images/reset-pw.svg" style="height:3rem;">
          <div class="mt-2">修改密碼</div>
        </div>
        <div class="column px-1 py-3 is-one-third">
          <img src="../../assets/images/scan.svg" style="height:3rem;" @click="showQrcode()">
          <div class="mt-2">個人條碼</div>
        </div>        
        <div class="column px-1 py-3 is-one-third">
          <img src="../../assets/images/question.svg" style="height:3rem;" @click="$router.push('/faq?name=常見問題')">
          <div class="mt-2">常見問題</div>
        </div>
        <div class="column px-1 py-3 is-one-third">
          <img src="../../assets/images/privacy.svg" style="height:3rem;" @click="$router.push('/faq?name=隱私權條款')">
          <div class="mt-2">隱私權條款</div>
        </div>    
        <div class="column px-1 py-3 is-one-third">
          <img src="../../assets/images/out.svg" style="height:3rem;" @click="logout()">
          <div class="mt-2">登出</div>
        </div>              
        <!--
        <div class="column px-1 py-3 is-one-third" @click="isSetFontSize = true;$store.commit('setCssTouch', false)">
          <img src="../../assets/images/font-size.svg" style="height:3rem">
          <div class="mt-2">字體調整</div>
        </div>
        <div class="column px-1 py-3 is-one-third" @click="$router.push('/booking')">
          <img src="../../assets/images/preOrder.svg" style="height:3rem;">
          <div class="mt-2">服務預約</div>
        </div>
        -->
      </div>
      <!--
      <div class="w3-display-container w3-center py-4">
        <div class="w3-display-middle px-2 has-background-white" style="color:deeppink" :style="{ fontSize: fontSizeBase*16 + 'px' }"><b>我的契約</b></div>
        <hr class="m-0" style="border-color:deeppink">
      </div>
      
      <div class="columns is-multiline is-mobile text-center mt-0">
        <div class="column px-1 py-3 is-one-third" @click="openDeed()">
          <img src="../../assets/images/contract_list.svg" style="height:3rem;">
          <div class="mt-2">契約清單</div>
        </div>
        <div class="column px-1 py-3 is-one-third" @click="openLoan()">
          <img src="../../assets/images/contract_value.svg" style="height:3rem;">
          <div class="mt-2">契約價值</div>
        </div>
        <div class="column px-1 py-3 is-one-third" @click="openPayment()">
          <img src="../../assets/images/contract_unpaid.svg" style="height:3rem;">
          <div class="mt-2">待繳費契約</div>
        </div>
        <div class="column px-1 py-3 is-one-third" @click="openComplete()">
          <img src="../../assets/images/contract_apply.svg" style="height:3rem;">
          <div class="mt-2">已申辦待滿期契約</div>
        </div>
      </div>
      -->
    </div>

    <!-- 我的 QRCode -->
    <transition name="slide-top">
      <div class="modal is-active" v-if="cardQRcode.show">
        <div class="modal-background"></div>
        <div class="modal-content">
          <div  class="box is-light text-center mx-auto w3-animate-opacity" style="max-width:320px" v-if="cardQRcode.data.loaded">
            <h5>
              <b class="d-block is-size-4 p-2 primary-color rounded-lg mb-1" style="color:var(--primary-color)">{{$store.state.member.code}}</b>
              我的會員條碼
            </h5>
            <img :src="cardQRcode.data.image" class="w3-image p-3" alt="" style="width: 85%">
            <p class="my-2">
              {{cardQRcode.data.value}}
              <br>
              本次條碼可使用時間 {{cardQRcode.timer}} 秒
            </p>
          </div>
        </div>
        <button class="modal-close is-large scale-150 margin-top-env" @click="hideCardCode"></button>
      </div>
    </transition>

  </div>

</template>

<script>
import store from 'src/store'
import fetchData from 'src/libs/fetchData.js'
import { deviseFunction } from 'src/libs/deviseHelper.js'
import { computed, reactive, watch } from '@vue/composition-api'
import { isLogin } from 'src/libs/appHelper.js'
import { router } from 'src/libs/systemEnv.js'
// QRcode 的參數
const cardQRcode = reactive({
  gid: '',
  timer: 60,
  show: false,
  counter: '',
  data: computed(() => store.state.cardQRCode )
})

// QRcode 參數監聽
watch(() => cardQRcode.timer, () => renderQRcode() )

// 顯示 QRcode 畫面
function showQrcode() {
  store.commit('setCssTouch', false)
  cardQRcode.gid = store.state.baseInfo.memberData.card_info.GID
  cardQRcode.show = true
  // 計時器重設(觸發取會員條碼並倒數計時的邏輯)
  cardQRcode.timer = 0

  // console.log('cardQRcode.gid', cardQRcode.gid)

  // 重新跟殼取資料(主要更新當下螢幕亮度值)
  deviseFunction('GetSPAll', '', '"cbFnSyncDeviseInfoToStore"')
  // 進入時將殼的螢幕調到最亮
  deviseFunction('setBrightness', '255', '')
}

// 執行顯示 QRcode 的邏輯
function renderQRcode() {
  // 只在計數器為零時才執行
  if (cardQRcode.timer > 0) return
  // 取會員 QRcode
  store.dispatch('fetchCardQRCodeData_kakar2', cardQRcode.gid)
  // 將計數器回到 60 秒
  cardQRcode.timer = 60
  // 開始倒數計時
  if (cardQRcode.counter === '') cardQRcode.counter = setInterval(()=> { cardQRcode.timer = cardQRcode.timer - 1 }, 1000)
}
export default {
  // 頁面資料: 請使用function return
  setup(props, context) {
    // 如果未登入，直接導向登入頁
    if (!isLogin.value) router.push('/login')
    // 取得龍海的公開 & 會員資料
    ///store.dispatch('fetchAppPublicDataWuhu')
    // store.dispatch('fetchAppUserDataWuhu')
    ///store.dispatch('fetchVipAndCardInfoWuhu') // for QR Code

    // 主畫面 layout (預設為 Kakar)
    const layout = computed(() => context.root.$route.meta.layout || 'Kakar' )

    // 關閉 QRcode 畫面
    function hideCardCode() {
      cardQRcode.cardGID = ''
      cardQRcode.show = false
      store.commit('setCssTouch', true)

      // 刷新積點資料 (依據 layout 不同更新 vipApps / vipUserData)
      if (layout === 'kakar') store.dispatch('fetchVipApps')
      if (layout === 'card')  store.dispatch('fetchAppUserData')
      // 清空會員 QRcode 資料
      store.commit('setCardQRCodeData', {value: '', image: '', loaded: false})
      // 關閉倒數計時器
      clearInterval(cardQRcode.counter) ; cardQRcode.counter = '' ; cardQRcode.timer = 60
      // 將殼的螢幕恢復原本亮度
      deviseFunction('setBrightness', store.getters.deviseBrightness, '')
    } 
    return {
      
      cardQRcode, showQrcode, hideCardCode
    }
  },
  data: function(){
    return {
      state: this.$store.state,
      currentCardCode: false,
      isSideMenu: false,
      isLink: false,
      sampleModal: '', // 秀假資料用
      srcLink: '',
      openUrlPrefix: 'https://customer-info-jinher.azurewebsites.net/',
      openUrlPostfix: '.aspx?rq_var=',
      // 動態用API取得rq_var
      openUrlRqVar: '', // 'X6bFzC3Ee0AwWz39z11ZwA%3d%3d'
      isLoadingHomeMember: false,
      pageName: '',
      fontSizeBase: store.getters.fontSizeBase,
      isSetFontSize: false
    };
  },
  computed: {
    // 簡化常用的 Vuex.store data (補充： 一定要寫在這, component 才會即時反應 $store.state 的變化)
    isLogin() { return this.$store.getters.isLogin },
    // 暫時假資料
    userName()   { return this.state.userData.Name },
    currentApp() { return this.state.currentAppUser.EnterPriseID },
    cardQrCode() { return this.state.cardQRCode },
    cardTypeName() {
      const card_info = this.state.baseInfo.memberData.card_info
      let cardTypeName = ''
      if (card_info && card_info!==undefined) {
        cardTypeName = card_info.CardTypeName  
      }
      
      return cardTypeName
    },
    points()     { return this.state.baseInfo.memberData.card_info.Points ? parseInt(this.state.baseInfo.memberData.card_info.Points) : 0 },
    balance()     { return this.state.baseInfo.memberData.card_info.Balance ? parseInt(this.state.baseInfo.memberData.card_info.Balance) : 0 },
    userData() { return this.$store.state.currentAppUser },
    userDataSet()   { return this.state.userData }, // for 性別icon
    isCidReady() {
      // console.log('[HomeMember] isCidReady ===> start')
      if (this.openUrlRqVar && this.openUrlRqVar.length>0) {
        // console.log('[HomeMember] isCidReady ===> openUrlRqVar =>' + this.openUrlRqVar)
        if (this.pageName && this.pageName.length>0) {
          // console.log('[HomeMember] isCidReady ===> pageName =>' + this.pageName)
          this.pushUrl(this.pageName)
        }

        return ''
      } else {
        // console.log('isCidReady ===> false')
        if (this.pageName && this.pageName.length>0) {
          // console.log('===> 要轉轉')
          this.setLoading(true)
        }
        return ''
      }
    },
    isReady() {
      let imageStr = cardQRcode.data.image
      if (imageStr && imageStr!='') {
        return true
      } else {
        return false
      }
    },
  },
  // 頁面模組
  methods: {
    logout() {
			this.$store.dispatch('memberLogout', 1)
    },
    setLoading(loading) {
      this.isLoadingHomeMember = loading
    },
    // TODO: 待秋林殼改好in app browser後,openLink改成用下面那個function[這個註解起來]
    openLink(src) {
      // console.log('===> src =>' + src)
      this.isLink= true
      this.srcLink= src
      this.$store.commit('setCssTouch', false)
    },
    // TODO: 待秋林殼改好in app browser後,openLink改成用這個function[這個取消註解]
    // openLink(src) {
    //   // console.log('===> src =>' + src)
    //   // window.open('https://customer-info-jinher.azurewebsites.net/Customer_Deed_list.aspx?rq_var=X6bFzC3Ee0AwWz39z11ZwA%3d%3d')
    //   window.open(src)
    // },
    // openUrl(pageName) {
    //   // 'Customer_Deed_complete_term'
    //   const srcUrl = this.openUrlPrefix + pageName + this.openUrlPostfix + this.openUrlRqVar
    //   this.openLink(srcUrl)
    // },
    pushUrl(pageName) {
      // console.log('[HomeMember] pushUrl ===>' + pageName)
      this.$router.push({path: 'openUrl/'+pageName,
        query: { cid: this.openUrlRqVar }})
    },
    openUrl(pageName) {
      // this.$router.push({path: 'openUrl/Customer_point_history',
      //   query: { cid: this.openUrlRqVar }})
      this.pageName = pageName
    },
    /** 契約清單 */
    openDeed() {
      // https://customer-info-jinher.azurewebsites.net/Customer_Deed_list.aspx?rq_var=X6bFzC3Ee0AwWz39z11ZwA%3d%3d
      this.openUrl('Customer_Deed_list')
    },
    /** 消費點數紀錄 */
    openPoint() {
      // https://customer-info-jinher.azurewebsites.net/Customer_point_history.aspx?rq_var=X6bFzC3Ee0AwWz39z11ZwA%3d%3d

      // this.$router.push({path: 'openUrl/Customer_point_history',
      //   query: { cid: this.openUrlRqVar }})

      this.openUrl('Customer_point_history')
    },
    /** 已申辦待滿期契約清單 */
    openComplete() {
      // https://customer-info-jinher.azurewebsites.net/Customer_Deed_complete_term.aspx?rq_var=X6bFzC3Ee0AwWz39z11ZwA%3d%3d
      this.openUrl('Customer_Deed_complete_term')
    },
    /** 契約價值 */
    openLoan() {
      // https://customer-info-jinher.azurewebsites.net/Customer_Deed_Loan_list.aspx?rq_var=X6bFzC3Ee0AwWz39z11ZwA%3d%3d
      this.openUrl('Customer_Deed_Loan_list')
    },
    /** 待繳費契約 */
    openPayment() {
      // https://customer-info-jinher.azurewebsites.net/Customer_deed_payment_need.aspx?rq_var=X6bFzC3Ee0AwWz39z11ZwA%3d%3d
      this.openUrl('Customer_deed_payment_need')
    },
    async getCid() {
      // console.log('[HomeMember] getCid ===> start',store.state.baseInfo)
      const url = this.$store.state.api.memberUrl // 'https://8012.jinher.com.tw/Public/AppVipOneEntry.ashx'
      const body = {
        "EnterPriseID":store.state.baseInfo.EnterpriseID, // 這個在五戶資料夾內可以hardcode
        "act":"GetCID",
        "Account": this.$store.state.member.code,
        "isFrom":store.state.baseInfo.isFrom, // 這個在五戶資料夾內可以hardcode
        "mac":this.$store.state.member.mac
        }
      const head = { "headers": { "Content-Type": "application/x-www-form-urlencoded" } }
      const data = await fetchData({url, body, head})
      this.openUrlRqVar = data.Result
      // console.log('[HomeMember] getCid ===> this.openUrlRqVar =>' + this.openUrlRqVar)
    }
  },
  watch: {
    fontSizeBase(newVal) {
      store.commit('setFontSizeForever', newVal)
    }
  },
  // 每次進入此頁面會執行的設定
  beforeRouteEnter: async function(to, from, next){
    document.querySelector(".pull-down-container").scrollTop = 0 // 此頁置頂
    // 取企業 App 的會員資料
    // store.commit('setLoading', true)
    store.dispatch('fetchAppLogoWuhu')
    store.dispatch('fetchAppUserDataWuhu',{isKakar:true})
    // setTimeout(() => { store.commit('setLoading', false) }, 200)
    
    //store.dispatch('fetchAppPublicDataMemberWuhu')//卡包不適用主企業

    next();
  },
  beforeRouteLeave: function(to, from, next){
    // 消滅此 instance
    this.$destroy()
    next()
  }
}
</script>

