<template>
  <div>

    <div v-if="!ticketData">
      <div class="w3-container w3-padding-8 w3-light-gray w3-center" :style="{ fontSize: fontSizeBase*18 + 'px' }">
        {{(!ticketData) ? '優惠卷':'詳細內容'}}
      </div>
      <!-- <div class="w3-row w3-border-bottom w3-border-light-gray tabBar" :style="{ fontSize: fontSizeBase*18 + 'px' }">
        <div class="w3-col s4 w3-bottombar w3-center tabLink" :class="{'isActive':isActiveTab==1}" @click="isActiveTab=1">可使用 <span class="w3-badge w3-small primary-red w3-center" style="min-width: 18px; min-height: 18px; border-radius: 18px;padding: 0 4px;transform: translateY(-2px);" v-if="ticketList.length">{{ticketList.length}}</span> </div>
        <div class="w3-col s4 w3-bottombar w3-center tabLink" :class="{'isActive':isActiveTab==2}" @click="isActiveTab=2">未生效 <span class="w3-badge w3-small primary-red w3-center" style="min-width: 18px;min-height: 18px;border-radius: 18px;padding: 0 4px;transform: translateY(-2px);" v-if="notAvailableTickets.length">{{notAvailableTickets.length}}</span></div>
        <div class="w3-col s4 w3-bottombar w3-center tabLink" :class="{'isActive':isActiveTab==3}" @click="isActiveTab=3">已轉贈 <span class="w3-badge w3-small primary-red w3-center" style="min-width: 18px; min-height: 18px; border-radius: 18px;padding: 0 4px;transform: translateY(-2px);" v-if="gaveTicketList.length">{{gaveTicketList.length}}</span></div>
      </div> -->
      <!-- Tabs  -->
      <div class="tabs is-medium is-centered bg-white mb-3 sticky-top" :style="{ fontSize: fontSizeBase*20 + 'px' }">
        <ul class="m-0">
          <li :class="{'is-active':isActiveTab==1}" @click="isActiveTab=1">
            <a class="position-relative px-4">
              可使用
              <div class="w3-display-right badge-wrapper" v-if="ticketList.length">
                <span class="badge primary-color is-size-7">{{ticketList.length}}</span>
              </div>
            </a>
          </li>
          <li :class="{'is-active':isActiveTab==2}" @click="isActiveTab=2">
            <a class="px-4">未生效</a>
          </li>
          <li :class="{'is-active':isActiveTab==3}" @click="isActiveTab=3">
            <a class="position-relative px-4">
              已轉贈
              <div class="w3-display-right badge-wrapper" v-if="gaveTicketList.length">
                <span class="badge has-background-grey-lighter has-text-grey is-size-7">{{gaveTicketList.length}}</span>
              </div>
            </a>
          </li>
        </ul>
      </div>
      <!-- 可使用 -->
      <div class="w3-container" v-if="isActiveTab==1 && !ticketData">
        <p class="w3-center w3-opacity-max w3-padding-48" v-if="ticketList.length === 0" :style="{ fontSize: fontSizeBase*16 + 'px' }">-- 無優惠卷 --</p>
        <!-- 券 -->
        <div v-if="!ticketData">
          <div class="notification p-2 mb-3 shadow-sm coupon-bg" v-for="item in ticketList" :key="item.GID" @click="showTicketData(item)">
            <article class="media">
              <figure class="media-left m-2">
                <p class="image is-96x96 mr-1">
                  <img v-if="!(item.ImageUrl !== '/images/noPic.jpg' && item.ImageUrl !== '/imagesPic.jpg')" src="../../assets/images/img_init.gif">
                  <img v-if="(item.ImageUrl !== '/images/noPic.jpg' && item.ImageUrl !== '/imagesPic.jpg')" :src="showImage(item.ImageUrl)" :alt="item.TicketTypeName">
                </p>
              </figure>
              <div class="media-content">
                <div class="content h-auto">
                  <p class="mt-2" style="min-height:44px" :style="{ fontSize: fontSizeBase*20 + 'px' }"><b>{{item.TicketTypeName}}</b></p>
                </div>
                <nav class="level">
                  <div class="level-left" :style="{ fontSize: fontSizeBase*16 + 'px' }">
                    <div>有效期限：{{/9999-12-31/.test(item.TicketExpiredDate) ? '不限' : item.TicketExpiredDate.substring(0, 10)}}</div>
                    <div>張數：{{item.TicketCount}}</div>
                  </div>
                </nav>
              </div>
            </article>
          </div>
          <!-- <div class="w3-section w3-padding-small couponStyle" v-for="item in ticketList" :key="item.GID" @click="showTicketData(item);$store.commit('setCssTouch', false)">
            <div class="w3-cell-row">
              <div class="w3-cell" style="width:108px">
                <img class="w3-image" width="96" :src="(item.ImageUrl !== '/images/noPic.jpg' && item.ImageUrl !== '/imagesPic.jpg') ? srcUrl + item.ImageUrl : 'https://dev-service.jinher.com.tw/projectFeature/APP_KK/Kakar/images/default-coupon.png'" :alt="item.TicketTypeName">
              </div>
              <div class="w3-cell w3-cell-top">
                <div class="w3-large" style="min-height:54px">
                  {{item.TicketTypeName}}
                </div>
                <div class="w3-medium">有效期限：{{/9999-12-31/.test(item.TicketExpiredDate) ? '不限' : item.TicketExpiredDate.substring(0, 10)}}</div>
                <div class="w3-medium">張數：{{item.TicketCount}}</div>
              </div>
            </div>
          </div> -->
        </div>
      </div>
      <!-- 未生效 -->
      <div class="w3-container" v-if="isActiveTab==2 && !ticketData">
        <p class="w3-center w3-opacity-max w3-padding-48" v-if="notAvailableTickets.length === 0" :style="{ fontSize: fontSizeBase*16 + 'px' }">-- 無優惠卷 --</p>
        <div v-if="!ticketData">
          <!-- 券 -->
          <div class="notification p-2 mb-3 shadow-sm coupon-bg" v-for="item in notAvailableTickets" :key="item.GID" @click="showTicketData(item)">
            <article class="media">
              <figure class="media-left m-2">
                <p class="image is-96x96 mr-1">
                  <img v-if="!(item.ImageUrl !== '/images/noPic.jpg' && item.ImageUrl !== '/imagesPic.jpg')" src="../../assets/images/img_init.gif">
                  <img v-if="(item.ImageUrl !== '/images/noPic.jpg' && item.ImageUrl !== '/imagesPic.jpg')" :src="showImage(item.ImageUrl)" :alt="item.TicketTypeName">
                  <!-- <img :src="(item.ImageUrl !== '/images/noPic.jpg' && item.ImageUrl !== '/imagesPic.jpg') ? srcUrl + item.ImageUrl : 'https://web.jh8.tw/kakar2/img/img_init.gif'" :alt="item.TicketTypeName"> -->
                </p>
              </figure>
              <div class="media-content">
                <div class="content h-auto">
                  <p class="mt-2" style="min-height:44px" :style="{ fontSize: fontSizeBase*20 + 'px' }"><b>{{item.TicketTypeName}}</b></p>
                </div>
                <nav class="level">
                  <div class="level-left" :style="{ fontSize: fontSizeBase*16 + 'px' }">
                    <div>有效期限：{{/9999-12-31/.test(item.TicketExpiredDate) ? '不限' : item.TicketExpiredDate.substring(0, 10)}}</div>
                    <div>張數：{{item.TicketCount}}</div>
                  </div>
                </nav>
              </div>
            </article>
          </div>
          <!-- original券
          <div class="w3-section w3-padding-small couponStyle" v-for="item in notAvailableTickets" :key="item.GID" @click="showTicketData(item);$store.commit('setCssTouch', false)">
            <div class="w3-cell-row">
              <div class="w3-cell" style="width:108px">
                <img class="w3-image" width="96" :src="(item.ImageUrl !== '/images/noPic.jpg' && item.ImageUrl !== '/imagesPic.jpg') ? srcUrl + item.ImageUrl : 'https://dev-service.jinher.com.tw/projectFeature/APP_KK/Kakar/images/default-coupon.png'" :alt="item.TicketTypeName">
              </div>
              <div class="w3-cell w3-cell-top">
                <div class="w3-large" style="min-height:54px">
                  <b>{{item.TicketTypeName}}</b>
                </div>
                <div class="w3-medium">期限：{{/9999-12-31/.test(item.TicketExpiredDate) ? '不限' : item.TicketExpiredDate.substring(0, 10)}}</div>
                <div class="w3-medium">張數：{{item.TicketCount}}</div>
              </div>
            </div>
          </div> -->
        </div>
      </div>
      <!-- 已轉贈 -->
      <div class="w3-container" v-if="isActiveTab==3 && !ticketData">
        <p class="w3-center w3-opacity-max w3-padding-48" v-if="gaveTicketList.length === 0" :style="{ fontSize: fontSizeBase*16 + 'px' }">-- 無優惠卷 --</p>
        <!-- 券 -->
        <div class="notification p-2 mb-3 border shadow-sm has-background-white-bis w3-grayscale-max w3-opacity" v-for="item in gaveTicketList" :key="item.GID">
          <article class="media">
            <figure class="media-left m-2">
              <p class="image is-96x96 mr-1">
                <img v-if="!(item.ImageUrl !== '/images/noPic.jpg' && item.ImageUrl !== '/imagesPic.jpg')" src="../../assets/images/img_init.gif">
                <img v-if="(item.ImageUrl !== '/images/noPic.jpg' && item.ImageUrl !== '/imagesPic.jpg')" :src="showImage(item.ImageUrl)" :alt="item.TicketTypeName">
                <!-- <img :src="(item.ImageUrl !== '/images/noPic.jpg' && item.ImageUrl !== '/imagesPic.jpg') ? srcUrl + item.ImageUrl : 'https://web.jh8.tw/kakar2/img/img_init.gif'" :alt="item.TicketTypeName"> -->
              </p>
            </figure>
            <div class="media-content">
              <div class="content h-auto">
                <p class="my-2" style="min-height:52px" :style="{ fontSize: fontSizeBase*20 + 'px' }"><b>{{item.TicketTypeName}}</b></p>
              </div>
              <nav class="level is-mobile">
                <div class="level-left" :style="{ fontSize: fontSizeBase*16 + 'px' }">
                  轉贈日期： {{ item.TradeTime.substring(0, 10)}}
                </div>
              </nav>
            </div>
          </article>
        </div>
      </div>
    </div>

    <!-- 券詳細頁 -->
    <div class="w3-container" v-if="ticketData">
      <div class="notification p-2 my-3 shadow-sm coupon-bg">
        <article class="media flex-wrap">
          <figure class="media-left m-2">
            <p class="image is-96x96 mr-1">
              <img :src="(ticketData.ImageUrl !== '/images/noPic.jpg' && ticketData.ImageUrl !== '/imagesPic.jpg') ? showImage(ticketData.ImageUrl) : 'https://dev-service.jinher.com.tw/projectFeature/APP_KK/Kakar/images/default-coupon.png'" :alt="ticketData.TicketTypeName">
            </p>
          </figure>
          <div class="media-content mb-1" style="flex: 0 0 calc(100% - 120px)">
            <div class="content h-auto">
              <p class="mt-2" style="min-height:44px" :style="{ fontSize: fontSizeBase*20 + 'px' }"><b>{{ticketData.TicketTypeName}}</b></p>
            </div>
            <nav class="level">
              <div class="level-left" :style="{ fontSize: fontSizeBase*16 + 'px' }">
                <!-- 顯示票卷期限開始日期：如果 TicketBeginDate 是西元 0001 年開頭，則取 GenTradetime -->
                <div>期限(起)：{{ /0001-01-01/.test(ticketData.TicketBeginDate) ? ticketData.GenTradetime.substring(0, 10) : ticketData.TicketBeginDate.substring(0, 10)}}</div>
                <div>期限(訖)：{{/9999-12-31/.test(ticketData.TicketExpiredDate) ? '不限' : ticketData.TicketExpiredDate.substring(0, 10)}}</div>
                <div>張數：{{ticketData.TicketCount}}</div>
              </div>
            </nav>
          </div>
          <div class="border-top border-warning m-2 pt-3 w-100" style="min-height:260px;line-height:1.5" :style="{ fontSize: fontSizeBase*16 + 'px' }">
            <b>卷別：</b>{{ticketType}}
            <br>
            <b>限制：</b>每次消費限用1張
            <br>
            <!-- 2020-03-17 家妃說先隱藏
            限定使用商品：{{ticketUsageFoods}}
            <br>
            -->
            <b>適用門店：</b>{{ticketUsageShops}}
            <br>
            <!-- 2020-03-27 家妃說先隱藏
            <b>適用期間：</b>{{ticketUsagePeriod}}
            <br>
            -->
            <b>備註：</b>{{ticketInfo.ruleData.Remark}}
          </div>
        </article>
      </div>
      <!-- original先隱藏 -->
      <div class="w3-section w3-round-large w3-white w3-padding w3-padding-16 couponStyle" style="margin-bottom:60px!important" v-if="false">
        <div class="w3-cell-row w3-border-bottom w3-border-gray" style="padding-bottom: 1rem">
          <div class="w3-cell" style="width:108px">
            <img class="w3-image" width="96" :src="(ticketData.ImageUrl !== '/images/noPic.jpg' && ticketData.ImageUrl !== '/imagesPic.jpg') ? showImage(ticketData.ImageUrl) : 'https://dev-service.jinher.com.tw/projectFeature/APP_KK/Kakar/images/default-coupon.png'" :alt="ticketData.TicketTypeName">
          </div>
          <div class="w3-cell w3-cell-top">
            <div class="w3-large" style="min-height:35px">
              {{ticketData.TicketTypeName}}
            </div>
            <!-- 顯示票卷期限開始日期：如果 TicketBeginDate 是西元 0001 年開頭，則取 GenTradetime -->
            <div class="w3-medium">期限(起)：{{ /0001-01-01/.test(ticketData.TicketBeginDate) ? ticketData.GenTradetime.substring(0, 10) : ticketData.TicketBeginDate.substring(0, 10)}}</div>
            <div class="w3-medium">期限(訖)：{{/9999-12-31/.test(ticketData.TicketExpiredDate) ? '不限' : ticketData.TicketExpiredDate.substring(0, 10)}}</div>
            <div class="w3-medium">張數：{{ticketData.TicketCount}}</div>
          </div>
        </div>
        <div class="w3-margin-top" style="min-height:260px">
          卷別：{{ticketType}}
          <br>
          限制：每次消費限用1張
          <br>
          <!-- 2020-03-17 家妃說先隱藏
          限定使用商品：{{ticketUsageFoods}}
          <br>
          -->
          適用門店：{{ticketUsageShops}}
          <br>
          適用期間：{{ticketUsagePeriod}}
          <br>
          備註：{{ticketInfo.ruleData.Remark}}
        </div>
      </div>
      <!-- 這個[回上頁]按鈕,等到下面3個按鈕復原後刪除 -->
      <div class="fixed-bottom columns is-mobile is-variable is-1 m-0 text-center bg-white">
        <div class="column py-1">
          <button class="button is-link is-outlined is-fullwidth is-medium is-light" @click="$router.go(-1)">回上頁</button>
        </div>
      </div>
      <!-- original先隱藏
      <div class="w3-cell-row w3-container w3-padding-8 w3-display-bottommiddle">
        <div class="w3-cell">
          <button class="w3-button w3-round w3-large w3-light-gray w3-hover-light-gray  w3-block" @click="$router.go(-1);$store.commit('setCssTouch', true)">
            回上頁
          </button>
        </div>
        <div class="w3-cell" style="padding-right:.5rem">
          <button class="w3-button w3-round w3-large w3-light-gray w3-hover-light-gray  w3-block" @click="$router.go(-1);$store.commit('setCssTouch', true)">
            取消
          </button>
        </div>
        <div class="w3-cell" style="padding-right:.5rem">
          <button class="w3-button w3-round w3-large w3-light-gray w3-hover-light-gray w3-block" @click="toTrans()">
            贈送
          </button>
        </div>
        <div class="w3-cell">
          <button :disabled="isNotAvailable(ticketData)" class="w3-button w3-round w3-large primary-color w3-block" @click="showCouponCode">
            使用
          </button>
        </div> 
      </div-->
    </div>

    <!-- 顯示卷 QRcode -->
    <transition name="slide-top">
      <div class="w3-white funcLayer" v-if="isDemo=='mbrSearch'||isDemo=='couponCode'">
        <header class="header w3-container flex-center-v w3-white w3-border-bottom w3-border-gray" style="justify-content:flex-end;">
          <img src="../../assets/images/x.svg" class="w3-opacity" style="height:1.75rem;" @click="hideCouponCode">
        </header>
        <div v-if="isDemo=='mbrSearch'">
          <div class="w3-padding w3-padding-16 w3-display-container w3-white w3-border-bottom" style="border-color:#ccc">
            <input class="w3-input w3-block w3-border w3-large w3-round" type="text" placeholder="請輸入會員帳號" v-model="ToAccount">
            <button class="w3-button w3-black w3-hover-black w3-round w3-display-topright" style="margin:18px" @click="confirmTransTicket">贈送</button>
          </div>
          <div class="w3-container">
            <div class="w3-light-gray w3-container w3-round-large w3-margin-top">
              <h5 class="w3-border-bottom w3-border-gray">優惠卷轉贈</h5>
              <p class="w3-section-8">
                可以讓你將優惠券贈送給指定好友，讓你輕鬆揪朋友一同分享。<br>
                <br>
                贈送流程 <br>
                <br>
                1.  請輸入贈送的好友會員帳號 (僅限轉贈已註冊會員)<br>
                2.  確認會員帳號後按下【贈送】，於跳出提示窗再次按下【確認】，優惠券將立即轉贈給指定好友<br>
                3.  若您輸入的帳號錯誤，提示窗則會跳出「會員帳號」錯誤<br>
                <br>
                註：優惠券一經贈送即無法單向取回，請於送出前再次確認會員帳號
              </p>
            </div>
          </div>
        </div>
        <div v-if="isDemo=='couponCode'">
          <div class="w3-container w3-padding-large w3-padding-32 w3-center">
            <div class="w3-card">
              <h4 class="w3-dark-gray w3-padding" style="margin:0">{{ticketData.TicketTypeName}}</h4>
              <img :src="ticketInfo.currentTicketQRcode" class="w3-image w3-padding-64" alt="" style="width: 75%">
              <p class="w3-light-gray w3-padding" style="margin:0">{{ticketInfo.currentTicketGID}}</p>
            </div>
          </div>
        </div>
      </div>
    </transition>
  </div>

</template>

<script>
import store from 'src/store'
import { deviseFunction } from 'src/libs/deviseHelper.js'
import { isLogin, showAlert, showConfirm, hideModal, showImage } from 'src/libs/appHelper.js'

export default {
  // 頁面資料: 請使用function return
  data: function(){
    return {
      title: '<%- @_SelfCode %>',
      isActiveTab: 1,
      isShow: true,
      isDemo: '',
      state: this.$store.state,
      ToAccount: '',
    };
  },
  computed: {
    // 簡化常用的 Vuex.store data (補充： 一定要寫在這, component 才會即時反應 $store.state 的變化)
    srcUrl()   { 
      // return 'https://jgssg.jinher.com.tw' // only for test
      return this.state.api.picUrl 
    },
    ticketList() { return this.state.baseInfo.memberData.ticketList },
    gaveTicketList() { return this.state.baseInfo.memberData.gaveTicketList },
    notAvailableTickets() { return this.state.baseInfo.memberData.notAvailableTickets },
    totalTicket() {return this.ticketList.concat(this.notAvailableTickets)},
    // --- 單一筆優惠卷的資訊 ---
    ticketID() { return this.$route.query.code },
    ticketInfo() { return this.state.baseInfo.memberData.ticketInfo },
    ticketData() { return this.totalTicket.filter(item => {return item.GID == this.ticketID})[0] },
    // 使用期限
    ticketExpiredAt() { return this.ticketData.TicketExpiredDate.substring(0, 10) },
    // 限定使用商品
    ticketUsageFoods() {
      const foods = this.ticketInfo.usageFoods
      if (foods.length == 0) return '不限'
      if (foods.length != 0) return foods.map(item => item.FoodName).join(', ')
      return ''
    },
    // 適用門店
    ticketUsageShops() {
      const shops = this.ticketInfo.usageShops
      if (shops.length == 0) return '不限'
      if (shops.length != 0) return shops.map(item => item.ShopName).join(', ')
      return ''
    },
    // 適用期間 (timePeriod, weekDay)
    ticketUsagePeriod() {
      const rule = this.ticketInfo.ruleData

      // 設定使用時間
      const beginTime = rule.BeginDate2 || rule.BeginTime
      const endTime   = rule.EndDate2 || rule.EndTime

      let timePeriod = ''
      if (beginTime !== "" && endTime !== "") timePeriod = beginTime + "-" + endTime
      if (beginTime === "" && endTime !== "") timePeriod = "截止" + endTime;
      if (beginTime !== "" && endTime === "") timePeriod = beginTime + "起 - 不限";
      if (beginTime === "" && endTime === "") timePeriod = '不限'
      if (beginTime === undefined && endTime === undefined) timePeriod = 'loading...'

      // 設定使用日 (星期一 ~ 星期日)
      let weekDay = ''
      if (rule.Week1 === "True") weekDay += " 星期一";
      if (rule.Week2 === "True") weekDay += " 星期二";
      if (rule.Week3 === "True") weekDay += " 星期三";
      if (rule.Week4 === "True") weekDay += " 星期四";
      if (rule.Week5 === "True") weekDay += " 星期五";
      if (rule.Week6 === "True") weekDay += " 星期六";
      if (rule.Week7 === "True") weekDay += " 星期天";

      return `${timePeriod} [${weekDay} ]`
    },
    // 優惠卷類別
    ticketType() {
      const item = this.ticketData
      if (parseInt(item.TicketFlag) === 1) return '現金劵'
      if (parseInt(item.TicketFlag) === 2) return '商品抵用劵'
      if (parseInt(item.TicketFlag) === 3) return '商品折扣劵'
      if (parseInt(item.TicketFlag) === 4) return '現金折扣劵'
      return ''
    },
    fontSizeBase() { return store.getters.fontSizeBase },
  },
  beforeRouteEnter: function(to, form, next){
    // 如果取不到 Vue instance (e.g. 直接 F5 刷新時), 導回首頁重取預設資料
    if (!isLogin) return next('/')

    store.dispatch('fetchAppPublicDataCouponWuhu')

    // default
    next();
  },
  // 頁面模組
  methods: {
    showImage,
    // 判斷此卷能否使用
    isNotAvailable(ticket) {
      return this.notAvailableTickets.filter(item => {return item.GID == ticket.GID}).length > 0
    },
    // 顯示優惠卷細節資訊
    showTicketData(item) {
      // 取優惠卷的使用規則、條款資料，QRcode
      this.$store.dispatch('fetchMemberTicketInfoData', item)
      // 導向優惠卷資訊頁
      this.$router.push(`/coupon?code=${item.GID}`)
    },
    // 顯示優惠卷的 QRcode
    showCouponCode() {
      this.isDemo = 'couponCode'
      this.$store.commit('setCssTouch', false)
      // 進入時將殼的螢幕調到最亮
      deviseFunction('setBrightness', '255', '')
    },
    // 顯示優惠卷的 QRcode
    hideCouponCode() {
      // 將殼的螢幕恢復原本亮度
      deviseFunction('setBrightness', this.$store.getters.deviseBrightness, '')
      this.$store.dispatch('fetchAppUserData')
      this.$store.commit('setCssTouch', true)
      this.isDemo = ''
      this.$router.go(-1)
    },
    // 贈送優惠券
    toTrans() {
      this.ToAccount = ''
      this.isDemo='mbrSearch'
    },
    // 確認是否贈卷
    confirmTransTicket() {
      // const mobilePhoneRegxp = /^09[0-9]{2}[0-9]{6}$/; // 格式需為09XXXXXXX
      if (this.ToAccount === '') return showAlert('請輸入會員帳號')
      // if (mobilePhoneRegxp.test(this.ToAccount) != true) return this.$root.showAlert('會員電話號碼錯誤')

      showConfirm("一經贈送即無法更改<br>您確定要贈送嗎?")
        // 點擊確認執行贈卷
        .then(() => this.doTransTicket() )
        // 點擊取消執行關閉 confirmn 視窗
        .catch(()=>{
          hideModal()
        })
    },
    // 執行贈卷
    async doTransTicket() {
      const data = await this.$store.dispatch('ensureMemberTransTicket', { ToAccount: this.ToAccount, TicketInfoID: this.ticketData.TicketInfoID })
      // 無論成功失敗都要顯示 api 訊息
      showAlert(data.ErrorMsg)
      // 成功 => 刷新已轉贈的卷資訊, 前往已轉贈 list
      if (data.ErrorCode !== '0') return
      await this.$store.dispatch('fetchAppPublicDataCouponWuhu')
      this.hideCouponCode()
      this.isActiveTab = 3
    },
  },
}
</script>

<style scoped>
  .coupon-bg {
    background-image: linear-gradient(135deg, #fff2bd 25%, #fff7c7 25%, #fff7c7 50%, #fff2bd 50%, #fff2bd 75%, #fff7c7 75%, #fff7c7 100%);
    background-size: 160.00px 160.00px;
    border: 2px dashed gold;
  }
</style>