<template>

  <div class="has-background-white-bis">
    <div v-if="$route.query.type==undefined">
      <!-- Tabs  -->
      <div class="tabs is-medium is-centered bg-white mb-3 sticky-top">
        <ul class="m-0" v-show="Object.keys(orderstatus).length > 0"><!--用v-if在初次顯示頁面時,無法呈現-->
          <li :class="{'is-active':(tabIndex=='tabAll')}" @click="tabIndex='tabAll'"><a>全部</a></li>
          
          <li v-for="(pKey, pKeyIndex) in Object.keys(orderstatus)" :key="'pKey'+pKeyIndex" :class="{'is-active':(tabIndex==pKey)}" @click="tabIndex=pKey"><a>{{orderstatus[pKey]}}</a></li>

          <!-- <li :class="{'is-active':(tabIndex=='tab01')}" @click="tabIndex='tab01'"><a>待出貨</a></li>
          <li :class="{'is-active':(tabIndex=='tab02')}" @click="tabIndex='tab02'"><a>已出貨</a></li>
          <li :class="{'is-active':(tabIndex=='tab03')}" @click="tabIndex='tab03'"><a>已關閉</a></li>
          <li :class="{'is-active':(tabIndex=='tab04')}" @click="tabIndex='tab04'"><a>退款中</a></li> -->
        </ul>
      </div>
      <!-- <p class="text-center w3-opacity-max py-5" :style="{ fontSize: fontSizeBase*16 + 'px' }">-- 無訂單資料 --</p> -->
      <div class="w3-white shadow-sm border w3-border-gray w3-round-large mx-2 my-3" style="overflow:hidden"
        :style="{ fontSize: fontSizeBase*16 + 'px' }"
        v-for="(order, iIndex) in mallData.orders"
        :key="'order'+iIndex" v-show="tabIndex=='tabAll' || (order.OrderStatus==tabIndex) || (tabIndex==99 && order.isUnFinish)"
      >
        <header class="card-header border-bottom shadow-none">
          <div class="card-header-title">
            <div class="columns is-mobile is-gapless w-100">
              <div class="column" v-if="!(order.items && order.isUnFinish && order.OrderStatus==0)">訂單號：{{order.OrderNo}}</div>
              <div class="column" v-if="order.items && order.isUnFinish && order.OrderStatus==0">
                <!-- <span class="column is-2 py-1 tag is-medium is-warning is-light border border-warning" @click="goFinishOrder(order)">付款</span>
                <span class="column is-2 py-1 tag is-medium is-warning is-light border border-warning" @click="cancelOrder(order)">取消</span> -->
                <button class="button is-light is-rounded px-2 py-0 h-auto" style="margin:-3px 0;width: 66px" @click="cancelOrder(order)">取&nbsp;&nbsp;&nbsp;消</button> 
                <button class="button is-info is-rounded px-2 py-0 h-auto ml-2" style="margin:-3px 0" @click="goFinishOrder(order)">去付款</button>
              </div>
              <div class="column is-narrow text-right has-text-info">
                <b>{{(mallData.orderstatus[order.OrderStatus] || "-")}}</b>
              </div> 
              <!-- 待出貨 -->
              <!-- <div class="column is-narrow text-right has-text-info" v-if="tabIndex=='tab00'||tabIndex=='tab01'">
                <b>待出貨</b>
              </div> -->
              <!-- 已出貨 -->
              <!-- <div class="column is-narrow text-right has-text-success" v-if="tabIndex=='tab02'">
                <b>已出貨</b>
              </div> -->
              <!-- 已關閉 -->
              <!-- <div class="column is-narrow text-right has-text-grey-lighter" v-if="tabIndex=='tab03'">
                <b>已關閉</b>
              </div> -->
              <!-- 退款中 -->
              <!-- <div class="column is-narrow text-right has-text-danger" v-if="tabIndex=='tab04'">
                <b>退款中</b>
              </div> -->
            </div>
          </div>
        </header>
        <div class="card-content p-3">
          <div class="" style="line-height:1.5">
            <div class="columns is-multiline is-mobile">
              <div class="column py-1">日期：{{order.SaleTime}}</div>
              <!-- 取消訂單&我要退貨 -->
              <div class="column is-narrow py-1 text-right">
                <button class="button is-light is-rounded px-2 py-0 h-auto border" style="margin:-3px -5px" v-if="order.OrderStatus==4" @click="cancelFinishOrder(order)">取消訂單</button>
                <button class="button is-light is-rounded px-2 py-0 h-auto border" style="margin:-3px -5px" v-if="order.OrderStatus==5" @click="cancelFinishOrder(order)">我要退貨</button>
                <!-- <button class="button is-light is-rounded px-2 py-0 h-auto border" style="margin:-3px -5px" v-if="mallData.orderstatus[order.OrderStatus]=='待出貨'">取消訂單</button>
                <button class="button is-light is-rounded px-2 py-0 h-auto border" style="margin:-3px -5px" v-if="mallData.orderstatus[order.OrderStatus]=='已出貨'">我要退貨</button> -->
              </div>
              <div class="column is-12 py-1" v-if="mallData.isCarUI!=undefined && order.items && order.isload && order.OrderStatus==5">
                <!-- 宅配單號 -->
                <div class="columns is-mobile is-gapless mb-2" v-for="(trace, taIndex) in checkTrace(order.PreSourceID,order.items)" :key="'trace'+taIndex">
                  <div class="column is-6 py-1 py-0">宅配單號</div>
                  <div class="column is-6 py-1 py-0 text-right">{{trace}}</div>
                </div>
                
              </div>
              <!-- 明細開啟 -->
              <div class="column is-12 py-1 text-center has-text-info has-background-white-bis" @click="goOrderitems(order.ID,iIndex,order)">
                <b>明細 </b>
                <span v-show="!order.isload"><i class="fas fa-angle-down"></i></span>
                <!-- 收回 -->
                <span v-show="order.isload"><i class="fas fa-angle-up"></i></span>
              </div>          

              <div class="column is-12 py-1" v-if="mallData.isCarUI!=undefined && order.items && order.isload">
                <!-- 商品 -->
                <div class="columns is-mobile is-gapless mb-2" v-for="(item, iIndex) in order.items" :key="'item'+iIndex">
                  <div class="column is-8 py-1">{{item.FoodName}}<p v-show="item.Memo!=''" style="text-indent:1em;">└ {{item.Memo}}</p></div>
                  <div class="column is-1 py-1 text-right">{{item.Count}}</div>
                  <div class="column is-3 py-1 text-right">{{item.Total}}</div>                  
                </div>
                
                
                <div class="columns is-mobile is-gapless mb-2" v-show="false">
                  <div class="column is-8 py-1">運費</div>
                  <div class="column is-4 py-1 text-right">60</div>
                </div>
              </div>
              
              <div class="column is-6 py-1 border-top">總計</div><div class="column is-6 py-1 border-top text-right">NT$ {{order.Total}}</div>
              <div class="column is-12 py-1" v-if="mallData.isCarUI!=undefined && order.Checks && order.isload">
                <!-- 付款方式 -->
                <div class="columns is-mobile is-gapless mb-1 is-light has-text-info" v-show="order.Checks" v-for="(iCheck, chIndex) in order.Checks" :key="'check'+chIndex">
                  <div class="column is-9 py-0">{{iCheck.KindName}}：{{iCheck.NO}}</div>                  
                  <div class="column is-3 py-0 text-right">{{iCheck.Total}}</div>
                </div>
                <div class="columns is-mobile is-gapless mb-1 is-light has-text-info" v-show="order.Agios" v-for="(iAgios, agioIndex) in order.Agios" :key="'agios'+agioIndex">
                  <div class="column is-9 py-0">優惠折抵：{{iAgios.AgioReason}}</div>                  
                  <div class="column is-3 py-0 text-right">{{calAgioTotal(iAgios.TotalAgioCost,iAgios.TotalAgioTotal)}}</div>
                </div>
              </div>
              
              <!-- 無備註 hide -->
              <div class="column py-1 is-narrow" v-show="false">備註：</div>
              <div class="column py-1" v-show="false"></div>
            </div>
          </div>
        </div>
        <!-- <footer class="card-footer" v-if="">
          <a href="#" class="has-background-white-bis card-footer-item has-text-danger">取消訂單</a>
        </footer> -->
      </div>
    </div>
    
    <div class="h-100" v-if="$route.query.type!=undefined">
      <!-- 訂單完成區塊 -->
      <div class="h-100 w3-light-gray scroll-touch" style="padding-bottom:54px" v-if="$route.query.type=='pageDeed'">
        <!-- 進度條 
        <div class="progressbar-container w3-white">
          <ul class="progressbar">
            <li class="active"><b>確認結帳項目</b></li>
            <li>填寫地址與付款</li>
            <li>訂單完成</li>
          </ul>

        </div>    -->

        <!-- 清單區塊 -->
        <div class="my-2 py-1 bg-white" v-if="okDeedPoints.length > 0">
          <!-- 運送方式 -->
          <div class="p-3">
            <div class="columns is-mobile border-bottom" :style="{ fontSize: fontSizeBase*16 + 'px' }">            
              <div class="column has-text-info">
                請選擇契約           
              </div>
            </div>
          </div>
          <!-- 商品項目 -->
          <div class="p-3">
            <article class="media" v-for="(deed, deedIndex) in okDeedPoints" :key="'deed'+deedIndex">            
              <label class="checkbox" :for="'ckdeed'+deedIndex">
                <div class="columns is-mobile is-gapless is-centered">
                  <div class="column is-narrow">
                  <input class="is-150 mt-4 mr-3" type="checkbox" :id="'ckdeed'+deedIndex" :name="'ckdeed'+deedIndex" :value="deed.deed_no" @change="checkDeed($event,deedIndex)" v-model="deepNoList">
                  </div>
                  <div class="column">
                    <div class="columns is-mobile is-variable is-0 is-multiline is-vcentered">
                      <div class="column is-3 py-1">編號：</div>
                      <div class="column is-9 py-1">{{deed.deed_no}}</div>
                      <div class="column is-3 py-1">點數：</div>
                      <div class="column is-9 py-1 has-text-danger"><b class="w3-tag w3-round w3-light-grey w3-text-red">{{deed.points}}</b></div>
                      <div class="column is-3 py-1">到期日：</div>
                      <div class="column is-9 py-1">{{momentFt(deed.end_day)}}</div>
                      <!-- <div class="column is-3 py-1">消費期限日：</div><div class="column is-9 py-1">{{momentFt(deed.newend_day)}}</div> -->
                    </div>
                  </div>
                </div>
              </label>
            </article>
          </div>
        </div>

        <!-- 商品區塊 -->
        <div class="my-2 py-1 bg-white" v-if="okOrder.Total!=undefined && okItems.length> 0">
          <div class="p-3">
            <div class="columns is-mobile border-bottom" :style="{ fontSize: fontSizeBase*16 + 'px' }">
              <div class="column has-text-info">
                共{{okItems.length}}項商品
              </div>
            </div>
          </div>
          <!-- 商品項目 -->
          <div class="p-3">
            <article class="media" v-for="(item, iIndex) in okItems" :key="iIndex">
              <div class="media-left mr-2">
                <figure class="image is-64x64 m-0">
                  <!--<img src="https://diz36nn4q02zr.cloudfront.net/webapi/imagesV3/Original/SalePage/6052833/0/170826" alt="">-->                
                  <img v-lazy="showImageWuhu((mallData.foodInfo[item.MainID]?mallData.foodInfo[item.MainID]['PIC1']:''))" class="has-background-white-ter" alt="">
                </figure>
              </div>
              <div class="media-content">
                <div class="content h-auto" :style="{ fontSize: fontSizeBase*16 + 'px' }">
                  <p><b>{{item.FoodName}}</b></p>
                </div>
                <nav class="level is-mobile">
                  <div class="level-left">
                    <div class="w3-text-red" :style="{ fontSize: fontSizeBase*16 + 'px' }">
                      <div class="has-text-grey-light"><small>單價 NT$ </small>{{item.Price}}</div>
                      <div class="w3-text-red"><small>NT$ </small><b>{{item.Total}}</b></div>
                    </div>
                  </div>
                  <div class="w3-small w3-text-black">{{item.Taste}}</div>
                  <!-- 數量 -->
                  <div class="level-right pr-2">{{item.Count}}</div>
                </nav>
              </div>
            </article>
            <div class="mt-3" :style="{ fontSize: fontSizeBase*16 + 'px' }">
              
            </div>
          </div>
        </div>
        <!-- 訂單明細 -->
        <div class="my-2 p-3 bg-white" :style="{ fontSize: fontSizeBase*16 + 'px' }">
          <p><b>訂單明細：</b></p>
          <div class="columns is-mobile is-variable is-2 is-multiline">
            <div class="column py-1 is-half">商品總計</div>
            <div class="column py-1 is-half text-right">{{okOrder.SubTotal}}</div>
            <div class="column py-1 is-half">運費總計</div>
            <div class="column py-1 is-half text-right">{{okOrder.Freight}}</div>
            <div class="column pb-1 mt-1 is-full p-0 border-top"></div>
            <div class="column py-1 is-half">總計</div>
            <div class="column py-1 is-half text-right font-weight-bold is-size-4 w3-text-red">
              <small>NT$</small>
              {{okOrder.CheckTotal}}
            </div>
          </div>          
        </div>
        <!-- 付款方式 -->
        <div class="my-2 p-3 bg-white" :style="{ fontSize: fontSizeBase*16 + 'px' }">
          <p class="w3-text-red" @click="isTypeModal='tip';$store.commit('setCssTouch', false)"><b>付款方式：</b><i class="fas fa-question-circle fa-lg"></i></p>
          <div class="columns is-mobile is-variable is-2 is-multiline">
            <div class="column py-1 is-half" v-show='false'>使用優惠券</div>
            <div class="column py-1 is-half text-right" v-show='false'>200</div>            
            <div class="column py-1 is-half">體驗點數付款</div>
            <div class="column py-1 is-half text-right">{{PointMoneyAmount}}</div>            
            <div class="column py-1 is-half">消費點數付款</div>
            <div class="column py-1 is-half text-right">{{BalanceTotal}}</div>
          </div>
        </div>
      </div>
      <!-- 訂單完成區塊 -->
      <div v-if="$route.query.type=='finished'" class="h-100 w3-light-gray scroll-touch" style="padding-bottom:54px">
        <!-- 進度條 -->
        <div class="progressbar-container w3-white">
          <ul class="progressbar" v-show="false"> <!--css怪怪的-->
            <li class="active"><b>選擇結帳品牌</b></li>
            <li class="active"><b>填寫地址與付款</b></li>          
            <li class="active"><b>訂單完成</b></li>
          </ul>
          <!-- 訂單人資訊 -->
          <div class="p-3 bg-white border-top" :style="{ fontSize: fontSizeBase*16 + 'px' }">
            <span class="float-right tag is-medium is-warning is-light border border-warning">{{(mallData.orderstatus[finishOrder.OrderStatus] || "-")}}</span>
            <p class="mb-2"><b>訂單編號：</b>{{finishOrder.OrderNo}}</p>
            <p><b>購買時間：</b>{{finishOrder.SaleTime}}</p>
          </div>
          <!-- 訂單人資訊 -->
          <div class="p-3 bg-white border-top" :style="{ fontSize: fontSizeBase*16 + 'px' }">
            <p><b>收件資料：</b></p>
            <div class="columns is-mobile is-variable is-2 is-multiline">
              <div class="column py-1 is-12">{{receiver}}</div>
              <div class="column py-1 is-12">{{mobile}}</div>
              <div class="column py-1 is-12">
                {{addrs}}
              </div>
            </div>
          </div>
        </div>

        <!-- 商品區塊 -->
        <div class="my-2 py-1 bg-white" v-if="finishOrder.Total!=undefined && finishItems.length> 0">
          <div class="p-3">
            <div class="columns is-mobile border-bottom" :style="{ fontSize: fontSizeBase*16 + 'px' }">
              <div class="column has-text-info">
                共{{finishItems.length}}項商品
              </div>
            </div>
          </div>
          <!-- 商品項目 -->
          <div class="p-3">
            <article class="media" v-for="(item, iIndex) in finishItems" :key="iIndex">
              <div class="media-left mr-2">
                <figure class="image is-64x64 m-0">
                  <!--<img src="https://diz36nn4q02zr.cloudfront.net/webapi/imagesV3/Original/SalePage/6052833/0/170826" alt="">-->                
                  <img v-lazy="showImageWuhu((mallData.foodInfo[item.MainID]?mallData.foodInfo[item.MainID]['PIC1']:''))" class="has-background-white-ter" alt="">
                </figure>
              </div>
              <div class="media-content">
                <div class="content h-auto" :style="{ fontSize: fontSizeBase*16 + 'px' }">
                  <p><b>{{item.FoodName}}</b></p>
                </div>
                <nav class="level is-mobile">
                  <div class="level-left">
                    <div class="w3-text-red" :style="{ fontSize: fontSizeBase*16 + 'px' }">
                      <div class="has-text-grey-light"><small>單價 NT$ </small>{{item.Price}}</div>
                      <div class="w3-text-red"><small>NT$ </small><b>{{item.Total}}</b></div>
                    </div>
                  </div>
                  <div class="w3-small w3-text-black">{{item.Taste}}</div>
                  <!-- 數量 -->
                  <div class="level-right pr-2">{{item.Count}}</div>
                </nav>
              </div>
            </article>
            <div class="mt-3" :style="{ fontSize: fontSizeBase*16 + 'px' }">
              
            </div>
          </div>
        </div>
        <!-- 付款明細 -->
        <div class="my-2 p-3 bg-white" :style="{ fontSize: fontSizeBase*16 + 'px' }">
          <p><b>訂單明細：</b></p>
          <div class="columns is-mobile is-variable is-2 is-multiline">
            <div class="column py-1 is-half">商品總計</div>
            <div class="column py-1 is-half text-right"> {{finishOrder.SubTotal}}</div>
            <div class="column py-1 is-half">運費總計</div>
            <div class="column py-1 is-half text-right"> {{finishOrder.Freight}}</div>
            <div class="column py-1 is-half" v-show="false">使用優惠券</div>
            <div class="column py-1 is-half text-right" v-show="false">-60</div>
            <div class="column pb-1 mt-1 is-full p-0 border-top"></div>
            <div class="column py-1 is-half">總計</div>
            <div class="column py-1 is-half text-right font-weight-bold is-size-4 w3-text-red">
              <small>NT$</small>
              {{finishOrder.CheckTotal}}
            </div>
            
          </div>
          <div class="columns is-mobile is-variable is-2 is-multiline" v-for="(finCheck, fcIndex) in finishChecks" :key="fcIndex">
            <div class="column py-1 is-7">{{finCheck.NO !== ''? finCheck.KindName+' ('+finCheck.NO+')':finCheck.KindName}}</div>
          <div class="column py-1 is-5 text-right">{{finCheck.Total}}</div>
          </div>
        </div>
        <!-- 備註 -->
        <div class="my-2 p-3 bg-white" :style="{ fontSize: fontSizeBase*16 + 'px' }" v-show="false">
          <p class="mb-2"><b>備註：</b></p>
          <p>文字文字文字文字文字</p>
        </div>

      </div>




      <!--置底-->
      <div class="fixed-bottom columns is-mobile is-variable is-1 m-0 text-center bg-white" style="z-index: 998" v-if="$route.query.type=='pageDeed'">
        <div class="column py-1">
          <button class="button is-link is-fullwidth is-medium" @click="chkFinishCheckout()">完成付款</button>
        </div>
      </div>
      <div class="fixed-bottom columns is-mobile is-variable is-1 m-0 text-center bg-white" style="z-index: 998" v-if="$route.query.type=='finished'">
        <div class="column py-1">
          <button class="button is-link is-fullwidth is-medium" @click="reload()">完成</button>
        </div>
      </div>
    </div>
    
    <!-- 付款說明(跳窗) -->
    <transition name="slide-fade">
      <div class="fixed-top w-100 h-100" style="z-index: 999;background-color: rgba(10,10,10,0.86)" v-if="isTypeModal!=''" @click="isTypeModal='';$store.commit('setCssTouch', true)" v-cloak></div>
    </transition>
    <div class="fixed-top flex-center h-100" style="z-index:1002" v-if="isTypeModal=='tip'" @click.self="isTypeModal='';$store.commit('setCssTouch', true)">
      <div class="w3-modal-content w3-card-4 w3-round">
        <div class="w3-container">
          <p class="w3-margin-8 w3-center" :style="{ fontSize: fontSizeBase*18 + 'px' }">
            付款說明
            <a class="delete is-medium w3-display-topright m-2" @click="isTypeModal='';$store.commit('setCssTouch', true)"></a>
          </p>
          <div class="w3-container w3-stretch pt-2 pb-4" :style="{ fontSize: fontSizeBase*16 + 'px' }">
            <ol class="mt-0 ml-4">
              <li><span class="has-text-danger">優先抵扣體驗點數</span>，剩餘未支付餘額再使用消費點數抵扣。</li>
              <li>使用「快速付款」，將優先使用即將到期之契約的消費點數依序抵扣。</li>
              <li>使用「自選付款」，將可自由選擇契約依序抵扣。</li>
              <li>30天內即將到期契約的消費點數，無法使用。</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</template>
<script>
  import store from 'src/store'  
  import { getMyorders,getOrderitems,getUnfinishorderItem,toDecimal,getDeedpoints,objByTotal,cancelUnfinishorder,getOrderStatus,getExpired,checkDeedAct,cancelMyorder } from 'src/libs/market.js'
  import { showImageWuhu,showConfirm,hideModal,showAlert } from 'src/libs/appHelper.js'
  import moment from 'moment'
  export default {
    // 頁面資料: 請使用function return
    data: function () {
      return {
        state: this.$store.state,
        tabIndex: '',
        unFinishOrder:[],
        orderstatus:{},
        okOrder:{},
        okItems:[],
        okDeedPoints:[],
        deepNoList:[], //選的點數
        finishOrder:{},
        finishItems:[],
        finishChecks:[],
        addrs: '', 
        mobile: '', 
        receiver:'',
        BalanceTotal:0,//消費點數??
        PointMoneyAmount:0, //體驗點數
        BalanceTotal_init:0,//消費點數(原點)
        PointMoneyAmount_init:0, //體驗點數(原點)
        lastDeed:0,
        isTypeModal: '',
      };
    },
    computed: {
      // 簡化常用的 Vuex.store data (補充： 一定要寫在這, component 才會即時反應 $store.state 的變化)
      isLogin() {
        return this.$store.getters.isLogin
      },
      fontSizeBase() {
        return store.getters.fontSizeBase
      },
      mallData() {
        return this.$store.state.mallData;
      }
      
    },
    // 頁面模組
    methods: {
      showImageWuhu,
      objByTotal,
      checkTrace(orderTrace,itemTraces){
        var trace_arr=[];
        if (orderTrace!='') trace_arr.push(orderTrace);
        itemTraces.map((item)=>{
          //PreSourceID (宅配單號). 品項表(下方),BatchID
          if (item.BatchID!='' && trace_arr.indexOf(item.BatchID) < 0) trace_arr.push(item.BatchID);
        });
        return trace_arr;
      },
      calAgioTotal(val1,val2){
        return toDecimal(val1)+toDecimal(val2);
      },
      checkDeed(e,p_index){
        // var input = e.target.control; // 目前選取欄位 
        this.lastDeed = checkDeedAct(e,p_index,this.okDeedPoints,this.deepNoList,this.BalanceTotal);         

      },
      momentFt(value){
        return moment(value).format('YYYY-MM-DD');
      },
      chkStr(p_str){
        var p_arr = p_str.split('Z00');
        return p_arr.length == 2 && p_arr[0]=='';
      },
      chkFinishCheckout(){        
        // if (this.deepNoList.length == 0) showToast("尚未選擇契約");
        // var isDeed = this.deepNoList.length == 0 && this.okDeedPoints.length > 0;
        // if (isDeed) showToast("尚未選擇契約");
        // if ((this.PointMoneyAmount_init+this.BalanceTotal_init) <= 0) showAlert("無點數可支付");
        // if (!isDeed  && (this.PointMoneyAmount_init+this.BalanceTotal_init) > 0) finishCheckout(this.okOrder.ID,this.deepNoList,{PreAddr:this.addrs,PrePhone:this.mobile,PreName:this.receiver},[],(data)=>{
          
        //   if (Array.isArray(data.Orders) && data.Orders.length > 0){
        //     this.deepNoList=[];
        //     if (Array.isArray(data.Orders)) this.finishOrder = data.Orders[0];
        //     this.finishItems = data.OrderItem || [];
        //     this.finishChecks = data.Checks || [];

        //     // var p_freight = this.finishItems.filter((p_item)=>{
        //     //   return p_item.FoodID==='Z001' && p_item.MainID==='Z001' && p_item.KindID==='Z001'
        //     // });
        //     var p_freight = this.finishItems.filter((p_item)=>{              
        //       return this.chkStr(p_item.FoodID) && this.chkStr(p_item.MainID) && this.chkStr(p_item.KindID);
        //       // p_item.FoodID==='Z001' && p_item.MainID==='Z001' && p_item.KindID==='Z001'
        //     });
        //     this.finishOrder.Total = toDecimal(this.finishOrder.Total);
        //     this.finishOrder.itemTotal = objByTotal(this.finishItems,"Total");
        //     this.finishOrder.Freight = 0;
        //     if (p_freight.length > 0){
        //       this.finishOrder.Freight = objByTotal(p_freight,"Price");//toDecimal(p_freight[0]["Price"]);//運費
              
        //     }
        //     this.finishOrder.SubTotal = toDecimal(this.finishOrder.itemTotal - this.finishOrder.Freight);
        //     this.$router.replace({ path: '/shopMine', query: { type: 'finished' } });
        //   }else{
        //     showToast("付款異常");
        //   }
          
        // });
      },
      goFinishOrder(p_order){
        // console.log("p_order",p_order);
        this.addrs = p_order.PreAddr || '';
        this.mobile = p_order.PrePhone || ''
        this.receiver = p_order.PreName || '';
        this.deepNoList=[];
        this.okDeedPoints = [];
        getExpired((p_vip)=>{
          p_vip.PointMoneyAmount = toDecimal(p_vip.PointMoneyAmount);
          p_vip.Balance = toDecimal(p_vip.Balance);
          // p_vip.PointMoneyAmount = 50000;
          // p_vip.Balance = 1999999;
          if (p_vip.PointMoneyAmount!=undefined) this.PointMoneyAmount_init=p_vip.PointMoneyAmount;
          if (p_vip.Balance!=undefined) this.BalanceTotal_init=p_vip.Balance;
          if (p_vip.PointMoneyAmount!=undefined) this.PointMoneyAmount=(p_order.CheckTotal <= p_vip.PointMoneyAmount?p_order.CheckTotal:p_vip.PointMoneyAmount)//體驗點數      
          if (p_vip.Balance!=undefined) this.BalanceTotal= (this.PointMoneyAmount == p_order.CheckTotal?0:(p_order.CheckTotal-p_vip.PointMoneyAmount));          
          
          if (this.BalanceTotal > 0){
            getDeedpoints((p_point)=>{
              p_point=p_point || [];
              this.doFinishOrder(p_order,p_point);
              
            });
          }else{
            this.doFinishOrder(p_order,[]);//體驗點數已足夠支付時
          }
        });

       
      },
      cancelOrder(p_order){
        showConfirm("是否取消此訂單", '確定', '取消')
        // 點擊確認執行
        .then(() => { 
          cancelUnfinishorder(p_order.ID,()=>{
            hideModal();
            this.reload();
          });   
          
        })
        // 點擊取消執行 => 關閉 confirmn 視窗
        .catch(() => hideModal())


        
        
      },
      cancelFinishOrder(p_order){        
        var p_msg = "是否要取消訂單?"
        if (p_order.OrderStatus == 5) p_msg = "是否要退貨?"
        
        showConfirm(p_msg, '確定', '取消')
        // 點擊確認執行
        .then(() => { 
          cancelMyorder(p_order.ID,(data)=>{
            hideModal();
            var isErr = data.detail && data.detail.ErrorCode && data.detail.ErrorCode != "0"; 
            if (isErr) showAlert(data.detail.ErrorMsg);  
            
          });   
          
        })
        // 點擊取消執行 => 關閉 confirmn 視窗
        .catch(() => hideModal())


        
        
      },
      doFinishOrder(order,DeedPoints){
        this.okOrder = order;
        this.okItems = order.items || [];
        // var p_freight = this.okItems.filter((p_item)=>{
        //   return p_item.FoodID==='Z001' && p_item.MainID==='Z001' && p_item.KindID==='Z001'
        // });
        var p_freight = this.finishItems.filter((p_item)=>{              
          return this.chkStr(p_item.FoodID) && this.chkStr(p_item.MainID) && this.chkStr(p_item.KindID);
          // p_item.FoodID==='Z001' && p_item.MainID==='Z001' && p_item.KindID==='Z001'
        });
        this.okOrder.Total = toDecimal(this.okOrder.Total);
        this.okOrder.itemTotal = objByTotal(this.okItems,"Total");
        this.okOrder.Freight = 0;
        if (p_freight.length > 0){
          this.okOrder.Freight = objByTotal(p_freight,"Price");//toDecimal(p_freight[0]["Price"]);//運費
          
        }
        this.okOrder.SubTotal = toDecimal(this.okOrder.itemTotal - this.okOrder.Freight);//運費
        this.okDeedPoints = DeedPoints;
       // BalanceTotal
        this.$router.replace({ path: '/shopMine', query: { type: 'pageDeed',isPay:'on' } });
        
      },
      goOrderitems(orderID,iIndex,order){
        if (!this.mallData.orders[iIndex]["isUnFinish"]){
          //已付款
          // console.log('pay done');
          if(!order.items) getOrderitems(orderID,(p_items,p_checks,p_agios)=>{
            if (Array.isArray(p_items)) this.$store.state.mallData.orders[iIndex]["items"] = p_items;
            if (Array.isArray(p_checks)) this.$store.state.mallData.orders[iIndex]["Checks"] = p_checks; 
            if (Array.isArray(p_agios)) this.$store.state.mallData.orders[iIndex]["Agios"] = p_agios; 
            
            this.$store.state.mallData.isCarUI = !this.$store.state.mallData.isCarUI;//觸發UI更新用            
          });
        }else{
          //未付款
          // console.log('pay unfinish');
          if(!order.items) getUnfinishorderItem(orderID,(p_unItems)=>{          
            if (Array.isArray(p_unItems)) this.$store.state.mallData.orders[iIndex]["items"] = p_unItems;
            this.$store.state.mallData.isCarUI = !this.$store.state.mallData.isCarUI;//觸發UI更新用
            
          });
        }
        order.isload = !order.isload
        this.$store.state.mallData.isCarUI = !this.$store.state.mallData.isCarUI;//觸發UI更新用
      },
      reload(){
        // console.log("reload....");
        getMyorders(()=>{    //已付款
                  
          
        });
      },
      // reload(next){
      //   // console.log("reload....");
      //   getMyorders(()=>{    //已付款
      //     getUnfinishorder((data)=>{  //未付款
          
      //       if (Array.isArray(data)) {
      //           data.map((unFinish)=>{
      //             unFinish.isUnFinish = true;
                  
      //           });

      //         }
      //         this.$store.state.mallData.orders = Object.assign([], this.$store.state.mallData.orders.concat(data));
              
      //         if (next) {
      //           this.$router.replace('/shopMine');
      //           next();
      //         }
              
      //     });          
          
      //   });
      // },
    },
    // 在路由刷新前
    beforeRouteEnter: function (to, form, next) {
      // console.log("...beforeRouteEnter",form);
      document.querySelector(".pull-down-container").scrollTop = 0 // 此頁置頂      
      store.state.mallData.reloadShopMineFn=()=>{
        getMyorders();   
      }
      getOrderStatus(()=>{
        getMyorders(()=>{    //已付款
          next((vm) => { // vm is the Vue instance
            vm.orderstatus['4'] = vm.mallData.orderstatus['4'];//待出貨
            vm.orderstatus['5'] = vm.mallData.orderstatus['5'];//已出貨
            vm.orderstatus['9'] = vm.mallData.orderstatus['9'];
            vm.orderstatus['8'] = vm.mallData.orderstatus['8'];            
            vm.tabIndex='4';
          })
          // getUnfinishorder((data)=>{  //未付款
          
          //   next((vm) => { // vm is the Vue instance
          //     vm.orderstatus['4'] = vm.mallData.orderstatus['4'];
          //     vm.orderstatus['5'] = vm.mallData.orderstatus['5'];
          //     vm.orderstatus['9'] = vm.mallData.orderstatus['9'];
          //     vm.orderstatus['8'] = vm.mallData.orderstatus['8'];
          //     vm.orderstatus['99'] = "未付款"//vm.mallData.orderstatus['0']; //為了放最後面,編99
          //     // vm.orderstatus['-1'] = "未付款";//結帳失敗,未扣點時,此時沒有OrderNo
          //     // {0: "待接單", 1: "待付款", 2: "已取消", 3: "已退訂", 4: "待出貨", 5: "已出貨", 6: "已完成", 7: "退貨中", 8: "退款中", 9: "已關閉", __ob__: Observer}
              
          //     if (Array.isArray(data)) {
          //       data.map((unFinish)=>{
          //         unFinish.isUnFinish = true;
          //         // unFinish.OrderStatus = -1; //原始可能0或1,暫塞-1
                  
          //       });
          //       vm.$store.state.mallData.orders = vm.$store.state.mallData.orders.concat(data);
          //     }
          //     vm.tabIndex='4';
              
          //   })

          // });          
          
        });
      });
      
      
      
      // next();
    },
    beforeRouteUpdate: function (to, form, next) {
      // console.log("..>>beforeRouteUpdate",to.query.type,form.query.type,to.query.isPay);
      document.querySelector(".pull-down-container").scrollTop = 0 // 此頁置頂
      // if (form.path === "/shopMine" && to.query.type === 'pageDeed' && (form.query.type === "finished" || (form.query.type === undefined && to.query.isPay == undefined))) {
      //   //防止手機原生返回鍵亂跑
      //   this.reload(next);
        
      // }else if (form.path === "/shopMine" && ((to.query.type === 'pageDeed' && to.query.isPay == undefined) || to.query.type === 'finished')  && form.query.type == undefined) {
      //   //防止手機原生返回鍵亂跑
      //   //pageDeed undefined on
      //   console.log("go ..shopshop");
      //   this.$router.replace('/shop')
      //   next();
      // }else{
      //   console.log("go ..other");
      //   next();
      // }
      next();
    },
    // 建立頁面後
    created: function () {

    },
    watch: {
      '$route' () {
        
      }
    }
  }
</script>

<style scoped>
  .card-header-title {
    background-color: #eef6fc !important;
  }
</style>