<template>
  <div>
    <div class="w3-container w3-padding-8 w3-large w3-light-gray w3-center" v-if="$route.query.name=='隱私權條款'">
      隱私權條款
    </div>
    <div class="w3-container w3-padding-8 w3-large w3-light-gray w3-center" v-if="$route.query.mainType!=null">
      {{(faqType === 2)?faqData.title:faqName}}
    </div>

    <!-- 常見問題以外的頁面 -->
    <!-- <p style="white-space:pre-wrap" v-if="faqName!='常見問題'">{{infoData && infoData.subtext1}}</p> -->
    <p style="white-space:pre-wrap" v-if="$route.query.name=='隱私權條款'">
        <section class="p-3">
        <p>為保護您的隱私權，請您詳細閱讀以下有關季河資訊隱私權政策，請注意，本《隱私權政策》會不定時變更。</p>
        <h3>個人資料的收集與使用</h3>
        <p>個人資料是指可以用於辨識或聯絡個別人士的資料。</p>
        <p>在您與季河資訊公司或季河資訊公司關聯公司接觸之時，即可能被要求提供個人資料。季河資訊公司及其關聯公司或會相互共享此等個人資料，並按本私隱權政策的規定使用。季河資訊公司及其關聯公司亦可能將個人資料與其他資料結合，用以提供並提升季河資訊產品、服務、內容及廣告。您並不一定要提供我們所要求的個人資料，但若您選擇不提供，在許多情況下，我們將無法為您提供我們的產品或服務，或者答覆您任何疑問。<br><br>以下示例說明季河資訊可能收集的個人資料類型以及運用方法：</p>
        <h4>* 我們會收集哪些個人資料 *</h4>
        <p>在您建立季河資訊帳號、購買產品、下載軟件更新、聯絡我們、或者參與網上問卷調查時，我們可能收集各種資料，包括您的姓名、通訊地址、電話號碼、電郵地址、首選聯絡方式及信用卡資料。<br>在您使用季河資訊公司產品與家人朋友分享您的內容、寄送禮券及產品、或者邀請他人使用季河資訊公司服務時，季河資訊公司可能收集您就有關人士提供的資料，例如姓名、通訊地址、電郵地址及電話號碼。季河資訊公司會使用此等資料完成您的要求、提供相關產品或服務、或作防止詐騙用途。<br>在個別司法管轄區內，我們可能要求您提供政府簽發的身分證明文件，但僅限於少數情況，包括設定無線帳戶及啟用裝置時、決定是否延長商業信貸時、管理預約時、或為履行法例規定時。</p>
        <h4>* 我們如何使用您的個人資料 *</h4>
        <p>我們所收集的個人資料，使我們得以通知您有關季河資訊公司最新產品公佈、軟件更新、以及即將舉行的活動。若您不希望列載於我們的通訊名單上，您只要更新您的偏好選項，即可隨時退出。<br>此外，我們會使用相關個人資料協助建立、開發、操作、提供及提升我們的產品、服務、內容和廣告，並作防損及防詐騙用途。<br>我們可能會使用您的個人資料(包括出生日期)驗證身分、協助進行用戶驗證及判斷適合的服務。例如，我們可能會使用出生日期來判斷季河資訊相關服務或應用程式帳戶持有者的年齡。<br>我們亦可能不時使用您的個人資料傳送重要通知，例如有關購買產品以及條款、細則和政策變更之通訊。由於此等資訊對您與 季河資訊 公司之互動關係十分重要，因此您無法選擇不再接收這些通訊。<br>我們亦可能為內部目的使用個人資料，例如：審計、資料分析及研究等，以改進 季河資訊 公司之產品、服務及客戶溝通。<br>若您參加各種抽獎、競賽或類似的促銷活動，我們亦可能使用您提供的資料進行該些活動。
        </p>
        <h4>* 非個人資料的收集與使用 *</h4>
        <p>我們亦會收集本身不與任何特定個別人士直接有關的數據資料。我們可能為任何目的收集、使用、移轉及披露非個人資料。以下示例說明我們可能收集的非個人資料以及運用方法：<br>我們可能收集的資料包括職業、語言、郵遞區號、區碼、裝置唯一識別碼、訪客來源網址、位置、以及 季河資訊公司產品使用地的時區，使我們得以進一步了解客戶行為，並改進我們的產品、服務及廣告。<br>我們可能收集客戶瀏覽我們的網站及我們其他產品和服務時的活動資料。此等資料會經過彙整及用以協助我們提供更有用的資料給客戶，並了解我們網站、產品及服務的哪些部分最受歡迎。在本私隱權政策下，經彙整的數據會被視作非個人資料。<br>我們可能會就您使用我們服務的情況收集並儲存相關資料，包括搜尋查詢。此等資訊可用於提升我們服務所提供之搜尋結果的相關度。除非在少數情況下，我們須確保透過互聯網提供之服務的質素，否則此等資訊不會與您的 IP 位址建立關聯。<br>獲得您明確同意後，我們可能就您使用裝置和應用程式的情況收集相關資料，以協助 app 開發人員提升他們的 app。若我們結合非個人資料與個人資料，則結合資料在結合之情形下，均被視作個人資料。</p>
        <h3>披露予第三方</h3>
        <p>季河資訊公司有時可能提供特定個人資料，予配合季河資訊公司提供產品與服務或協助季河資訊公司向客戶行銷的策略性合作夥伴。若您獲准使用服務，您的帳戶將受季河資訊公司及您的電訊商各自的私隱權政策所約束。季河資訊公司僅會分享個人資料以提供或提升我們的產品、服務及廣告，而不會與第三方分享供其用於市場行銷用途。</p><h4>* 應用程式 *</h4><p>App軟體系統之同時也使用其他附加功能、外掛程式或第三方之應用程式（以下簡稱「應用程式」），該等應用程式的提供者可能會取得某些您的個人資料。</p><h4>* 服務供應商 *</h4><p>季河資訊公司僅與提供下列服務的公司分享個人資料，例如：資料處理、延長信貸、完成客戶訂單、向您交付產品、管理及提升客戶資料、提供客戶服務、評估您對我們產品與服務的興趣、以及進行客戶研究或滿意度調查。這些公司有義務保護您的資料，其可能位於季河資訊公司營運的任何地方。</p><h4>* 其他人士 *</h4><p>若您居住的國家/地區內外有相關法例規定、法律程序、訴訟及/或公共機關和政府機關提出要求，季河資訊公司可能必須披露您的個人資料。若我們認為基於國家安全、法律執行或其他重要公共議題，披露您的資料屬必要或恰當，則我們亦可能作出披露。<br>若為執行我們的條款及細則或保障我們的營運或使用者，而令我們認為披露您的資料屬合理必要，則我們亦可能作出披露。此外，若發生公司重組、合併或出售事宜，我們亦可能轉移任何及全部我們所收集的個人資料予相關第三方。</p>
        <h3>保護個人資料</h3><p>季河資訊儲存您的個人數據資料時，所使用的電腦系統設有存取權限制，且置於採用實體安全措施的設施中。<br>在您使用季河資訊公司的某些產品、服務或應用程式，或於聊天室或社交網絡服務上發佈資料時，其他使用者將可看到您分享的個人資料及內容，並且可以讀取、收集或使用此等資料。對於您在此等情況下選擇分享或提交的個人資料，您必須自行負責。在使用某些功能時，請務必留意。</p>
        <h3>個人資料的完整性與保留</h3>
        <p>季河資訊公司讓您輕鬆保持準確、完整且最新的個人資料。我們保留您個人資料的期限，以完成本私隱權政策所載目的所需的時間為準，但若法律要求或容許更長的保留時間，則不在此限。</p>
        <h3>存取個人資料</h3>
        <p>就我們持有的其他個人資料而言，我們將為您提供存取權限，以便您在資料有誤時要求我們作出修正，或者依據法律或出於合法商業目的，季河資訊毋須保留此等資料時，要求我們刪除有關資料。</p>
        <h3>定位服務</h3>
        <p>為在季河資訊公司產品上提供定位服務，季河資訊公司及其合作夥伴與獲許可人可能會收集、使用和分享確切的位置資料，包括您的電腦或裝置的即時地理位置。在適用情況下，定位服務可能會使用 GPS、藍牙和您的 IP 位址，以及Wi-Fi熱點、信號塔位置和其他技術，以判斷您裝置大概的位置。除非獲得您的同意，否則此等位置資料是以無法辨識您個人身分的匿名形式收集，季河資訊公司及其合作夥伴與獲許可人會使用此等資料提供及改進定位產品與服務。例如，若您選擇使用應用程式供應商的定位服務，則您的裝置可能與該應用程式供應商分享地理位置資料。<br>季河資訊公司提供的某些定位服務，例如店家導航功能，必須要有您的個人資料，功能始能執行。</p>
        <h3>第三方網頁與服務</h3>
        <p>季河資訊公司的網站、產品、應用程式及服務可能含有連接第三方網站、產品和服務的連結。我們的產品與服務亦可能使用或提供第三方產品或服務，例如第三方app。<br>第三方所收集的資料 (可能包括位置資料或聯絡資訊等的資料) 均受該第三方的私隱權實務所約束。我們鼓勵您了解此等第三方的私隱權實務。</p>
        <h3>我們全體對保護您私隱權的承諾</h3>
        <p>為確保您的個人資料安全，我們向 季河資訊 公司員工傳遞我們的私隱權與安全準則，並在公司內嚴格執行私隱權防護措施。</p>
        <h3>私隱權問題</h3>
        <p>如對季河資訊的私隱權政策或數據處理的事宜有任何問題或疑慮，或想對可能違反當地私隱權法例的情況作出投訴，請聯絡我們。您可隨時撥打季河資訊服務電話號碼聯絡我們。<br>季河資訊公司可以不時更新其私隱權政策。我們對本政策作出重大修改時，將在我們網站上張貼公告，並附上更新後的私隱權政策。</p>
        </section>
    </p>

    <!-- 常見問題頁面-->
    <!-- 顯示問題大類清單 -->
    <div v-if="faqType === 1">
      <ul class="w3-ul m-0">
        <li v-for="item in faqData" :key="item.code">
          <p class="w3-section-8 w3-display-container"  @click="$router.push(`/faq?name=常見問題&mainType=${item.code}`)" style="padding:0 1rem 0 1.75rem">
            <i class="fas fa-info-circle fa-lg primary-text-light" style="margin-left:-1.75rem"></i>
            {{item.title}}
            <span class="w3-display-right"><i class="fa fa-chevron-right primary-text-light"></i></span>
          </p>
        </li>
      </ul>
    </div>
    <!-- 顯示問題小類清單 -->
    <div v-if="faqType === 2" >
      <ul class="w3-ul m-0">
        <li v-for="item in faqData.subTypes" :key="item.code">
          <!--  <p class="w3-section-8"  @click="$router.push(`/cardFaq?name=常見問題&mainType=${item.code}`)"> -->
          <p class="w3-section-8 w3-display-container"  @click="item.open=!item.open" style="padding:0 1rem 0 1.75rem">
            <i class="fas fa-question-circle fa-lg primary-text-light" style="margin-left:-1.75rem"></i>
            {{item.title}}
            <span class="w3-display-right" v-show="item.open==false"><i class="fa fa-chevron-right primary-text-light"></i></span>
            <span class="w3-display-right" v-show="item.open==true"><i class="fa fa-chevron-down primary-text-light"></i></span>
          </p>
          <p class="w3-padding w3-round w3-section" style="background:#f1f1f1;" v-if="item.open && mainType!='M07'" v-html="item.content"></p>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>


const privacy = ""
import { rawFaqData } from 'src/libs/appHelper.js'
export default {
  data: function(){
    return {
      title: '<%- @_SelfCode %>',
      state: this.$store.state,
      rawFaqData: JSON.parse(JSON.stringify(rawFaqData)), // 常見問題列表
      isActiveTab: 1,
      isQuestion: true,
      privacy: privacy,
    };
  },
  computed: {
    // 簡化常用的 Vuex.store data (補充： 一定要寫在這, component 才會即時反應 $store.state 的變化)
    srcUrl() { return this.state.srcUrl },
    // 主標題
    faqName()  { return this.$route.query.name },
    // 大類代碼
    mainType() { return this.$route.query.mainType },
    // 小類代碼
    subType()  { return this.$route.query.subType },
    // 小類內容代碼
    codeType()  { return this.$route.query.codeType },
    // 常見問題分類 (用來判斷當下 FAQ 頁面是要顯示 問題大類 / 問題小類 / QA內容)
    faqType()  {
      // 0 => 不是 '常見問題'
      if (this.faqName !== '常見問題') return 0
      // 1 => 顯示問題大類清單
      if (this.mainType === undefined && this.subType === undefined) return 1
      // 2 => 顯示問題小類清單
      if (this.mainType !== undefined && this.subType === undefined) return 2
      return undefined
      // 3 => 顯示 QA 內容
      // if (this.mainType !== undefined && this.subType !== undefined) return 2
    },
    // 常見問題資料
    faqData() {
      // 0 => 不是 '常見問題'
      if (this.faqType == 0) return undefined
      // 1 => 顯示問題大類清單
      if (this.faqType == 1) return this.rawFaqData
      // 2 => 顯示問題小類清單 & 顯示 QA 內容
      if (this.faqType == 2) return this.rawFaqData.find(item => item.code === this.mainType)
      return undefined
    },
    // 常見問題以外的資料
    // brandInfo() { return this.state.brandInfo },
    // infoData()  { return this.brandInfo.find(item => item.detailname === this.faqName ) },
  },
  // 頁面模組
  methods: {
    chkFaq(){
      if (this.codeType && this.faqName=='常見問題' && this.mainType) this.rawFaqData.map(fq=>{        
        if (fq.code == this.mainType) fq.subTypes.map(sub=>{          
          if (sub.code == this.codeType) sub.open=true;
        });
      });
    },
  },
  // 在路由刷新前
  beforeRouteEnter: function(to, form, next){
  // to: 上一個頁面代碼
  // form: 目前頁面代碼
  // next: 向下執行
    next(v=>{
      v.chkFaq();
    });
  },
  beforeRouteUpdate: function(to, form, next){
  // to: 上一個頁面代碼
  // form: 目前頁面代碼
  // next: 向下執行
    this.rawFaqData = JSON.parse(JSON.stringify(rawFaqData))
    next(v=>{
      v.chkFaq();
    });
  },
  // 建立頁面後
  created: function(){

  }
}
</script>
