<template>
  <div>

    <!-- 確認結帳商品 -->
    <div class="h-100 w3-light-gray scroll-touch" v-if="$route.query.type==null">
      <!-- 進度條 -->
      <div class="progressbar-container w3-white">
        <ul class="progressbar">
          <li class="active"><b>確認結帳項目</b></li>
          <li>填寫地址與付款</li>
          <li>訂單完成</li>
        </ul>
        <!-- 運送方式
        <div class="w3-container field border-top pt-3" :style="{ fontSize: fontSizeBase*16 + 'px' }">
          <label class="checkbox" for="ckAll">
            <input class="is-150" type="checkbox" id="ckAll" name="ckAll" value="">  
            <span class="ml-3 has-text-info">選擇全部</span>
          </label>
        </div> -->
      </div>
      <!-- 說明 -->
      <p class="text-center px-2 py-3" style="margin-bottom:-8px" :style="{ fontSize: fontSizeBase*16 + 'px' }" v-if="mallData.shopping_cart.length!=0">  
        <span class="d-inline-block py-1 px-2 rounded text-white has-background-grey">不同運送方式，請分開結帳。</span>
        <span class="d-inline-block mt-1 pt-1 has-text-danger">
        ※ 提醒您，商品加入購物車但未結帳前，並無保留商品庫存功能，請先結帳完成訂購，謝謝 ※
        </span>
      </p>
      <!-- 無商品項目 -->
      <p class="text-center w3-opacity-max py-5" :style="{ fontSize: fontSizeBase*16 + 'px' }" v-if="mallData.shopping_cart.length==0">-- 無商品項目 --</p>
      <!-- 商品區塊 -->
      <div class="my-2 py-1 bg-white" v-for="(pyGroup, pyIndex) in PYCodeGroup" :key="'pyGroup'+pyIndex" v-show="mallData.shopping_cart.length!=0 && pyGroup.list.length > 0" >
        <!-- 運送方式 -->
        <div class="p-3">
          <div class="columns is-mobile is-variable is-1 is-vcentered" :style="{ fontSize: fontSizeBase*16 + 'px' }">
            <div class="column py-1 is-narrow">
              <!-- 全選單品牌商品 -->
              <label class="checkbox mr-2" :for="'pyckAll'+pyIndex" v-if="pyGroup.GID !== 'failItemListxxx01'">
                <input class="is-150" type="checkbox" :id="'pyckAll'+pyIndex" :name="'pyckAll'+pyIndex" :value="pyGroup.GID" v-model="cartGpList" :disabled="(cartGpList.length > 0 && cartGpList.indexOf(pyGroup.GID) < 0) || pyGroup.ID == undefined">
              </label>
            </div>
            <div class="column py-1">
              <b>{{pyGroup.GID !== 'failItemListxxx01'?"運送方式：":""}}</b>
              <span>
                {{pyGroup.Name}}
                <!-- or 台灣本島(低溫) -->
              </span>
              <div class="mt-1 has-text-info"> 共 {{pyGroup.list.length}} 項商品 </div>
            </div>
            <!-- 商品項目 show off
            <div class="column py-1 pr-2 is-narrow" @click="shipToggle=!shipToggle">
              <span v-show="shipToggle==false"><i class="fas fa-angle-down fa-lg"></i></span>
              <span v-show="shipToggle==true"><i class="fas fa-angle-up fa-lg"></i></span>
            </div> -->
          </div>
        </div>
        <!-- 商品項目 -->
        <div class="p-3 border-top">
          <article class="media" v-for="(item, iIndex) in pyGroup.list" :key="'item'+iIndex">
            <label class="checkbox mr-3" :for="'ckAll'+pyIndex+'item'+iIndex" v-if="pyGroup.GID !== 'failItemListxxx01'">
              <input class="is-150 mt-4" type="checkbox" :id="'ckAll'+pyIndex+'item'+iIndex" :name="'ckAll'+pyIndex+'item'+iIndex" :value="item.ID" v-model="cartIDs" :disabled="chkCartGp(pyGroup,item)">
            </label>
            <div class="media-left mr-2">
              <figure class="image is-1by1 m-0 image-rwd">
                <!--<img src="https://diz36nn4q02zr.cloudfront.net/webapi/imagesV3/Original/SalePage/6052833/0/170826" alt="">-->
                <!--<img :src="foodSrc(item.FoodID)" :alt="item.FoodName">-->
                <img v-lazy="showImageWuhu((mallData.foodInfo[item.MainID]?mallData.foodInfo[item.MainID]['PIC1']:''),item.MainID)" :key="showImageWuhu((mallData.foodInfo[item.MainID]?mallData.foodInfo[item.MainID]['PIC1']:''),item.MainID)" class="has-background-white-ter" :alt="item.FoodName">
              </figure>
            </div>
            <div class="media-content">
              <div class="content h-auto" :style="{ fontSize: fontSizeBase*16 + 'px' }">
                <p>
                  <button class="delete is-medium float-right delete-alt" @click="delItem_click(item,true)"></button>
                  <b>{{item.FoodName}}</b>
                  <!-- <b>{{item.FoodName}}{{(mallData.foodInfo[item.MainID]?mallData.foodInfo[item.MainID]['PYCode']:'')}}</b> -->
                </p>
              </div>
              <nav class="level is-mobile">
                <div class="level-left">
                  <div :style="{ fontSize: fontSizeBase*16 + 'px' }">
                    <div class="has-text-grey-light"><small>單價 NT$ </small>{{item.Price}}</div>
                    <div class="w3-text-red"><small>NT$ </small><b>{{item.Total}}</b></div>
                  </div>
                </div>
                <div class="w3-small w3-text-black">{{item.Taste}}</div>
                <div class="level-right">
                  <!-- 數量 -->
                  <span class="numSpinner">
                    <button class="w3-small w3-border w3-border-gray w3-white w3-hover-white w3-button w3-round-xxlarge circle-button-small numDecrease" @click="delItem_click(item)" v-if="pyGroup.GID !== 'failItemListxxx01'">
                      <i class="fas fa-minus"></i>
                    </button>
                    <input type="number" min="0" readonly="readonly" class="w3-border-0 w3-center" :value="item.Count">
                    <button class="w3-small w3-blue w3-hover-blue w3-button w3-round-xxlarge circle-button-small" @click="addItem(item)" v-if="pyGroup.GID !== 'failItemListxxx01'">
                      <i class="fas fa-plus"></i>
                    </button>
                  </span>
                </div>
              </nav>
            </div>
          </article>
        </div>
      </div>

    </div>

    <!-- 付款確認區塊 -->
    <div v-if="$route.query.type=='pay'" class="h-100 w3-light-gray scroll-touch">
      <!-- 進度條 -->
      <div class="progressbar-container w3-white">
        <ul class="progressbar">
          <li class="active"><b>選擇結帳品牌</b></li>
          <li class="active"><b>填寫地址與付款</b></li>          
          <li>訂單完成</li>
        </ul>
        <!-- 訂單人資訊 -->
        <div class="p-3 bg-white border-top" :style="{ fontSize: fontSizeBase*16 + 'px' }">
          <p><b>收件資料：</b></p>
          <div class="columns is-mobile is-variable is-2 is-multiline">
            <div class="column py-1 is-12">收件人：{{receiver}}</div>
            <div class="column py-1 is-12">連絡電話：{{mobile}}</div>
            <div class="column py-1 is-10">收件地址：{{addrs}}</div>
            <div class="column py-1 is-2">
              <div class="w3-btn w3-black w3-round w3-padding-small w3-medium" @click="getVipAddrList()">修改</div>
            </div>
          </div>
        </div>
      </div>

      <!-- 商品區塊 -->
      <div class="my-2 py-1 bg-white" v-if="chkOrder.Total!=undefined && chkItems.length> 0">
        <div class="p-3">
          <div class="columns is-mobile border-bottom" :style="{ fontSize: fontSizeBase*16 + 'px' }">
            <div class="column has-text-info is-narrow">
              共{{chkItems.length}}項商品
            </div>
            <div class="column has-text-danger text-right ">
              * 所有贈點活動計算皆不含運費
            </div>
          </div>
        </div>
        <!-- 商品項目 -->
        <div class="p-3">
          <article class="media flex-wrap" v-for="(item, iIndex) in chkItems" :key="'itmea'+iIndex">
            <div class="media-left mr-2">
              <figure class="image is-1by1 m-0 image-rwd">
                <!--<img src="https://diz36nn4q02zr.cloudfront.net/webapi/imagesV3/Original/SalePage/6052833/0/170826" alt="">-->                
                <img v-lazy="showImageWuhu((mallData.foodInfo[item.MainID]?mallData.foodInfo[item.MainID]['PIC1']:''))" :key="showImageWuhu((mallData.foodInfo[item.MainID]?mallData.foodInfo[item.MainID]['PIC1']:''))" class="has-background-white-ter" alt="">
              </figure>
            </div>
            <div class="media-content flex-rwd">
              <div class="content h-auto" :style="{ fontSize: fontSizeBase*16 + 'px' }">
                <p><b>{{item.FoodName}}</b></p>
              </div>
              <nav class="level is-mobile">
                <div class="level-left">
                  <div class="w3-text-red" :style="{ fontSize: fontSizeBase*16 + 'px' }">
                    <div class="has-text-grey-light"><small>單價 NT$ </small>{{item.Price}}</div>
                    <div class="w3-text-red"><small>NT$ </small><b>{{item.Total}}</b></div>
                  </div>
                </div>
                <div class="w3-small w3-text-black">{{item.Taste}}</div>
                <!-- 數量 -->
                <div class="level-right pr-2">{{item.Count}}</div>
              </nav>
            </div>

            <!-- TODO：商品優惠券 -->
            <div class="notification is-warning is-light p-3 border border-warning wh-coupon" style="flex: 0 0 100%" v-if="false">
              <label class="checkbox w-100" :for="item">
                <div class="columns is-mobile is-variable is-1 is-vcentered" :style="{ fontSize: fontSizeBase*16 + 'px' }">
                  <div class="column py-1 is-narrow"><input class="is-150" type="checkbox" :id="item" :name="item"></div>
                  <div class="column py-1">測試滿額現金券</div>
                  <div class="column py-1 has-text-grey is-narrow">
                    <!-- 期限(訖) -->
                    有效期：2020/03/29
                  </div>
                </div>
              </label>
            </div>

          </article>
        </div>
      </div>
      
      <!-- 優惠券 -->
      <div class="my-2 py-1 bg-white" :style="{ fontSize: fontSizeBase*16 + 'px' }" v-if="mallData.shopping_cart.length!=0 && couponList.length > 0">
        <div class="p-3">
          <p class="mb-2"><b>優惠券：</b></p>
          <button class="button is-warning is-light is-fullwidth border border-warning" v-if="!useCoupon" @click="useCoupon=!useCoupon">使用優惠券</button>
          <!-- 列表 -->
          <div v-else>
            <div class="notification is-warning is-light p-3 border border-warning wh-coupon" v-for="(coupon, coIndex) in couponList" :key="'coupon'+coIndex">
              <label class="checkbox w-100" :for="'coupon'+coIndex">
                <div class="columns is-mobile is-variable is-1 is-vcentered" :style="{ fontSize: fontSizeBase*16 + 'px' }">
                  <div class="column py-1 is-narrow"><input class="is-150" type="checkbox" :id="'coupon'+coIndex" :name="'coupon'+coIndex" :value="coupon.TicketInfoID" v-model="selCoupon" :disabled="selCoupon.indexOf(coupon.TicketInfoID)< 0 && selCoupon.length > 0"></div>
                  <div class="column py-1">{{coupon.TicketTypeName}}</div>
                  <div class="column py-1 has-text-grey is-narrow">
                    <!-- 期限(訖) -->
                    有效期：{{/9999-12-31/.test(coupon.TicketExpiredDate) ? '不限' : coupon.TicketExpiredDate.substring(0, 10)}}
                  </div>
                </div>
              </label>
            </div>
          </div>
        </div>
      </div>

      <!-- 付款明細 -->
      <div class="my-2 p-3 bg-white" :style="{ fontSize: fontSizeBase*16 + 'px' }">
        <p><b>付款明細：</b></p>
        <div class="columns is-mobile is-variable is-2 is-multiline">
          <div class="column py-1 is-half">商品總計</div>
          <div class="column py-1 is-half text-right">{{chkOrder.SubTotal}}</div>          
          <div class="column py-1 is-half" v-if="calAgioTotal(chkOrder.AgioCost,chkOrder.AgioTotal) > 0">優惠折抵</div>
          <div class="column py-1 is-half text-right" v-if="calAgioTotal(chkOrder.AgioCost,chkOrder.AgioTotal) > 0">-{{calAgioTotal(chkOrder.AgioCost,chkOrder.AgioTotal)}}</div>
          <div class="column pb-1 mt-1 is-full p-0 border-top" v-if="calAgioTotal(chkOrder.AgioCost,chkOrder.AgioTotal) > 0"></div>
          <div class="column py-1 is-half" v-if="calAgioTotal(chkOrder.AgioCost,chkOrder.AgioTotal) > 0">小計</div>
          <div class="column py-1 is-half text-right" v-if="calAgioTotal(chkOrder.AgioCost,chkOrder.AgioTotal) > 0">{{chkOrder.SubTotal-calAgioTotal(chkOrder.AgioCost,chkOrder.AgioTotal)}}</div>

          <div class="column py-1 is-half">運費總計</div>
          <div class="column py-1 is-half text-right">{{chkOrder.Freight}}</div>
          <!-- <div class="column py-1 is-half" v-if="chkOrder.AgioCost!='' && chkOrder.AgioCost!='0'">折讓</div>
          <div class="column py-1 is-half text-right" v-if="chkOrder.AgioCost!='' && chkOrder.AgioCost!='0'">-{{chkOrder.AgioCost}}</div>
          <div class="column py-1 is-half" v-if="chkOrder.AgioTotal!='' && chkOrder.AgioTotal!='0'">折扣</div>
          <div class="column py-1 is-half text-right" v-if="chkOrder.AgioTotal!='' && chkOrder.AgioTotal!='0'">-{{chkOrder.AgioTotal}}({{chkOrder.AgioPercent}}%)</div> -->
          <div class="column pb-1 mt-1 is-full p-0 border-top"></div>
          <div class="column py-1 is-half">總計</div>
          <div class="column py-1 is-half text-right font-weight-bold is-size-4 w3-text-red">
            <small>NT$</small>
            <!-- {{chkOrder.Total}} -->
            {{chkOrder.CheckTotal}}            
          </div>
        </div>
      </div>
      <!-- 付款方式 -->
      <div class="my-2 p-3 bg-white" :style="{ fontSize: fontSizeBase*16 + 'px' }">
        <p class="w3-text-red" @click="isTypeModal='tip';$store.commit('setCssTouch', false)"><b>付款方式：</b><i class="fas fa-question-circle fa-lg is-size-6 has-text-grey"></i></p>
        <div class="columns is-mobile is-variable is-2 is-multiline">
          <div class="column py-1 is-half" v-show='false'>使用優惠券</div>
          <div class="column py-1 is-half text-right" v-show='false'>200</div>
          <!-- <div class="column py-1 is-half">體驗點數付款({{PointMoneyAmount_init}})</div> -->
          <div class="column py-1 is-half">體驗點數付款</div>
          <div class="column py-1 is-half text-right">{{PointMoneyAmount}}</div>
          <!-- <div class="column py-1 is-half">消費點數付款({{BalanceTotal_init}})</div> -->
          <div class="column py-1 is-half">消費點數付款</div>
          <div class="column py-1 is-half text-right">{{BalanceTotal}}</div>
        </div>
      </div>
      <!-- 備註 -->
      <div class="my-2 p-3 bg-white" :style="{ fontSize: fontSizeBase*16 + 'px' }" v-show='false'>
        <b>備註</b> 
        <div class="w3-display-container w3-show-inline-block ml-1" style="width: calc(100% - 3rem);">
          <input class="w3-input w3-show-inline-block w3-border-0" type="text" v-model="remarkClean" placeholder="請輸入文字說明">
          <div class="w3-display-right w3-opacity-max" v-if="remarkClean!==''" @click="remarkClean=''"><i class="fas fa-times-circle"></i></div>
        </div>
      </div>

    </div>

    
    <!--我的訂單(未付款,unFinish)--> 
    <div class="h-100 w3-light-gray scroll-touch" style="padding-bottom:54px" v-if="mallData.isCarUI!=undefined && $route.query.type=='unCheckout'">
      <div class="w3-white shadow-sm border w3-border-gray w3-round-large mx-2 my-3" style="overflow:hidden"
        v-for="(unOrder, uIndex) in unFinishOrder"
        :key="'unOrder'+uIndex"
        :style="{ fontSize: fontSizeBase*16 + 'px' }"
      >
      <header class="card-header border-bottom shadow-none">
        <div class="card-header-title">
          <div class="columns is-mobile is-gapless w-100">
            <div class="column">訂單日期：{{unOrder.SaleTime}}</div>
            <!-- <div class="column is-2 py-1 tag is-medium is-warning is-light border border-warning" v-if="!unOrder.items" @click="goUnfinishorderItem(unOrder.ID,uIndex)">
              <b>明細</b>
            </div>
            <div class="column is-narrow text-right has-text-info" v-if="unOrder.items" @click="goFinishOrder(unOrder)">
              <b>付款</b>
            </div> --> 
            <div class="column is-narrow text-right has-text-info" v-if="unOrder.items" @click="goFinishOrder(unOrder)">
              <button class="button is-info is-rounded px-2 py-0 h-auto" style="margin:-3px">去付款</button>
            </div> 
          </div>
        </div>
      </header>
      <div class="card-content p-3">
        <div class="" style="line-height:1.5">
          <div class="columns is-multiline is-mobile">
            <!-- <div class="column is-12 py-1">訂單日期：{{unOrder.SaleTime}}</div> -->
            <div class="column is-12 py-1 text-center has-text-info has-background-white-bis" v-if="!unOrder.items" @click.once="goUnfinishorderItem(unOrder.ID,uIndex)">
              <b>明細 </b>
              <span v-if="!unOrder.items"><i class="fas fa-angle-down"></i></span>
            </div>  
            <div class="column is-12 py-1" v-if="mallData.isCarUI!=undefined && unOrder.items">
              <!-- 商品 -->
              <div class="columns is-mobile is-gapless mb-2" v-for="(item, iIndex) in unOrder.items" :key="'itemqc'+iIndex">
                <div class="column is-8 py-1">{{item.FoodName}}</div>
                <div class="column is-1 py-1 text-right">{{item.Count}}</div>
                <div class="column is-3 py-1 text-right">{{item.Total}}</div>
              </div>
              <div class="columns is-mobile is-gapless mb-2" v-show="false">
                <div class="column is-8 py-1">運費</div>
                <div class="column is-4 py-1 text-right">60</div>
              </div>
            </div>
            <div class="column is-6 py-1 border-top">總計</div><div class="column is-6 py-1 border-top text-right">NT$ {{unOrder.Total}}</div>
            
          </div>
        </div>
      </div>

    </div>

    </div>
    <!-- 訂單未成立,選契約區塊 -->
    <div class="h-100 w3-light-gray scroll-touch" style="padding-bottom:54px" v-if="$route.query.type=='pageDeedTemp'">
      <!-- 進度條 
      <div class="progressbar-container w3-white">
        <ul class="progressbar">
          <li class="active"><b>確認結帳項目</b></li>
          <li>填寫地址與付款</li>
          <li>訂單完成</li>
        </ul>

      </div>    -->

      <!-- 點數試算 -->
      <div class="text-center bg-danger has-text-white sticky-top py-1" :style="{ fontSize: fontSizeBase*16 + 'px' }" v-show="false">尚需 {{lastDeed}} 點抵扣</div>

      <!-- 清單區塊 -->
      <div class="my-2 py-1 bg-white" v-if="tmpDeedPoints.length > 0">
        <!-- 運送方式 -->
        <div class="p-3">
          <div class="columns is-mobile border-bottom" :style="{ fontSize: fontSizeBase*16 + 'px' }">            
            <div class="column has-text-info">
              請選擇契約           
            </div>
          </div>
        </div>

        <!-- 商品項目 -->
        <div class="p-3">
          <article class="media" v-for="(deed, deedIndex) in tmpDeedPoints" :key="'deed'+deedIndex">            
            <label class="checkbox" :for="'tmpCkdeed'+deedIndex">
              <div class="columns is-mobile is-gapless is-centered">
                <div class="column is-narrow">
                  <input class="is-150 mt-4 mr-3" type="checkbox" :id="'tmpCkdeed'+deedIndex" :name="'tmpCkdeed'+deedIndex" :value="deed.deed_no" @change="checkTmpDeed($event,deedIndex)" v-model="tmpDeepNoList">
                </div>
                <div class="column" :style="{ fontSize: fontSizeBase*16 + 'px' }">
                  <div class="columns is-mobile is-variable is-0 is-multiline is-vcentered">
                    <div class="column is-3 py-1">編號：</div>
                    <div class="column is-9 py-1">{{deed.deed_no}}</div>
                    <div class="column is-3 py-1">點數：</div>
                    <div class="column is-9 py-1 has-text-danger"><b class="w3-tag w3-round w3-light-grey w3-text-red">{{deed.points}}</b></div>
                    <div class="column is-3 py-1">到期日：</div>
                    <div class="column is-9 py-1">{{momentFt(deed.end_day)}}</div>
                    <!-- <div class="column is-3 py-1">消費期限日：</div><div class="column is-9 py-1">{{momentFt(deed.newend_day)}}</div> -->
                  </div>
                </div>
              </div>
            </label>
          </article>
        </div>
      </div>

      <!-- 商品區塊 -->
      <div class="my-2 py-1 bg-white" v-if="tmpOrder.Total!=undefined && tmpItems.length> 0">
        <div class="p-3">
          <div class="columns is-mobile border-bottom" :style="{ fontSize: fontSizeBase*16 + 'px' }">
            <div class="column has-text-info">
              共{{tmpItems.length}}項商品
            </div>
          </div>
        </div>
        <!-- 商品項目 -->
        <div class="p-3">
          <article class="media" v-for="(item, iIndex) in tmpItems" :key="'itemhi'+iIndex">
            <div class="media-left mr-2">
              <figure class="image is-1by1 m-0 image-rwd">
                <!--<img src="https://diz36nn4q02zr.cloudfront.net/webapi/imagesV3/Original/SalePage/6052833/0/170826" alt="">-->                
                <img v-lazy="showImageWuhu((mallData.foodInfo[item.MainID]?mallData.foodInfo[item.MainID]['PIC1']:''))" :key="showImageWuhu((mallData.foodInfo[item.MainID]?mallData.foodInfo[item.MainID]['PIC1']:''))" class="has-background-white-ter" alt="">
              </figure>
            </div>
            <div class="media-content">
              <div class="content h-auto" :style="{ fontSize: fontSizeBase*16 + 'px' }">
                <p><b>{{item.FoodName}}</b></p>
              </div>
              <nav class="level is-mobile">
                <div class="level-left">
                  <div class="w3-text-red" :style="{ fontSize: fontSizeBase*16 + 'px' }">
                    <div class="has-text-grey-light"><small>單價 NT$ </small>{{item.Price}}</div>
                    <div class="w3-text-red"><small>NT$ </small><b>{{item.Total}}</b></div>
                  </div>
                </div>
                <div class="w3-small w3-text-black">{{item.Taste}}</div>
                <!-- 數量 -->
                <div class="level-right pr-2">{{item.Count}}</div>
              </nav>
            </div>
          </article>
          <div class="mt-3" :style="{ fontSize: fontSizeBase*16 + 'px' }">
            
          </div>
        </div>
      </div>
      <!-- 付款明細 -->
      <div class="my-2 p-3 bg-white" :style="{ fontSize: fontSizeBase*16 + 'px' }">
        <p><b>付款明細：</b></p>
        <div class="columns is-mobile is-variable is-2 is-multiline">
          <div class="column py-1 is-half">商品總計</div>
          <div class="column py-1 is-half text-right">{{tmpOrder.SubTotal}}</div>
          <div class="column py-1 is-half" v-if="calAgioTotal(tmpOrder.AgioCost,tmpOrder.AgioTotal) > 0">優惠折抵</div>
          <div class="column py-1 is-half text-right" v-if="calAgioTotal(tmpOrder.AgioCost,tmpOrder.AgioTotal) > 0">-{{calAgioTotal(tmpOrder.AgioCost,tmpOrder.AgioTotal)}}</div>
          <div class="column pb-1 mt-1 is-full p-0 border-top" v-if="calAgioTotal(tmpOrder.AgioCost,tmpOrder.AgioTotal) > 0"></div>
          <div class="column py-1 is-half" v-if="calAgioTotal(tmpOrder.AgioCost,tmpOrder.AgioTotal) > 0">小計</div>
          <div class="column py-1 is-half text-right" v-if="calAgioTotal(tmpOrder.AgioCost,tmpOrder.AgioTotal) > 0">{{tmpOrder.SubTotal-calAgioTotal(tmpOrder.AgioCost,tmpOrder.AgioTotal)}}</div>

          <div class="column py-1 is-half">運費總計</div>
          <div class="column py-1 is-half text-right">{{tmpOrder.Freight}}</div>
          <!-- <div class="column py-1 is-half">優惠折抵</div>
          <div class="column py-1 is-half text-right">-{{calAgioTotal(tmpOrder.AgioCost,tmpOrder.AgioTotal)}}</div> -->
          <!-- <div class="column py-1 is-half" v-if="tmpOrder.AgioCost!='' && tmpOrder.AgioCost!='0'">折讓</div>
          <div class="column py-1 is-half text-right" v-if="tmpOrder.AgioCost!='' && tmpOrder.AgioCost!='0'">-{{tmpOrder.AgioCost}}</div>
          <div class="column py-1 is-half" v-if="tmpOrder.AgioTotal!='' && tmpOrder.AgioTotal!='0'">折扣</div>
          <div class="column py-1 is-half text-right" v-if="tmpOrder.AgioTotal!='' && tmpOrder.AgioTotal!='0'">-{{tmpOrder.AgioTotal}}({{tmpOrder.AgioPercent}}%)</div> -->
          <div class="column pb-1 mt-1 is-full p-0 border-top"></div>
          <div class="column py-1 is-half">總計</div>
          <div class="column py-1 is-half text-right font-weight-bold is-size-4 w3-text-red">
            <small>NT$</small>
            {{tmpOrder.CheckTotal}}
          </div>
        </div>
      </div>

      <!-- 付款方式 -->
      <div class="my-2 p-3 bg-white" :style="{ fontSize: fontSizeBase*16 + 'px' }">
        <p class="w3-text-red"><b>付款方式：</b></p>
        <div class="columns is-mobile is-variable is-2 is-multiline">
          <div class="column py-1 is-half" v-show='false'>使用優惠券</div>
          <div class="column py-1 is-half text-right" v-show='false'>200</div>
          <!-- <div class="column py-1 is-half">體驗點數付款({{PointMoneyAmount_init}})</div> -->
          <div class="column py-1 is-half">體驗點數付款</div>
          <div class="column py-1 is-half text-right">{{PointMoneyAmount}}</div>
          <!-- <div class="column py-1 is-half">消費點數付款({{BalanceTotal_init}})</div> -->
          <div class="column py-1 is-half">消費點數付款</div>
          <div class="column py-1 is-half text-right">{{BalanceTotal}}</div>
        </div>
      </div>
    </div>
    <!-- 訂單成立,付款前區塊 -->
    <div class="h-100 w3-light-gray scroll-touch" style="padding-bottom:54px" v-if="$route.query.type=='pageDeed'">
      <!-- 進度條 
      <div class="progressbar-container w3-white">
        <ul class="progressbar">
          <li class="active"><b>確認結帳項目</b></li>
          <li>填寫地址與付款</li>
          <li>訂單完成</li>
        </ul>

      </div>    -->

      <!-- 清單區塊 -->
      <div class="my-2 py-1 bg-white" v-if="okDeedPoints.length > 0">
        <!-- 運送方式 -->
        <div class="p-3">
          <div class="columns is-mobile border-bottom" :style="{ fontSize: fontSizeBase*16 + 'px' }">            
            <div class="column has-text-info">
              請選擇契約           
            </div>
          </div>
        </div>
        <!-- 商品項目 -->
        <div class="p-3">
          <article class="media" v-for="(deed, deedIndex) in okDeedPoints" :key="'deed2'+deedIndex">            
            <label class="checkbox" :for="'ckdeed'+deedIndex">
              <div class="columns is-mobile is-gapless is-centered">
                <div class="column is-narrow">
                 <input class="is-150 mt-4 mr-3" type="checkbox" :id="'ckdeed'+deedIndex" :name="'ckdeed'+deedIndex" :value="deed.deed_no" @change="checkDeed($event,deedIndex)" v-model="deepNoList">
                </div>
                <div class="column">
                  <div class="columns is-mobile is-variable is-0 is-multiline is-vcentered">
                    <div class="column is-3 py-1">編號：</div>
                    <div class="column is-9 py-1">{{deed.deed_no}}</div>
                    <div class="column is-3 py-1">點數：</div>
                    <div class="column is-9 py-1 has-text-danger"><b class="w3-tag w3-round w3-light-grey w3-text-red">{{deed.points}}</b></div>
                    <div class="column is-3 py-1">到期日：</div>
                    <div class="column is-9 py-1">{{momentFt(deed.end_day)}}</div>
                    <!-- <div class="column is-3 py-1">消費期限日：</div><div class="column is-9 py-1">{{momentFt(deed.newend_day)}}</div> -->
                  </div>
                </div>
              </div>
            </label>
          </article>
        </div>
      </div>

      <!-- 商品區塊 -->
      <div class="my-2 py-1 bg-white" v-if="okOrder.Total!=undefined && okItems.length> 0">
        <div class="p-3">
          <div class="columns is-mobile border-bottom" :style="{ fontSize: fontSizeBase*16 + 'px' }">
            <div class="column has-text-info">
              共{{okItems.length}}項商品
            </div>
          </div>
        </div>
        <!-- 商品項目 -->
        <div class="p-3">
          <article class="media" v-for="(item, iIndex) in okItems" :key="'itemok'+iIndex">
            <div class="media-left mr-2">
              <figure class="image is-64x64 m-0">
                <!--<img src="https://diz36nn4q02zr.cloudfront.net/webapi/imagesV3/Original/SalePage/6052833/0/170826" alt="">-->                
                <img v-lazy="showImageWuhu((mallData.foodInfo[item.MainID]?mallData.foodInfo[item.MainID]['PIC1']:''))" :key="showImageWuhu((mallData.foodInfo[item.MainID]?mallData.foodInfo[item.MainID]['PIC1']:''))" class="has-background-white-ter" alt="">
              </figure>
            </div>
            <div class="media-content">
              <div class="content h-auto" :style="{ fontSize: fontSizeBase*16 + 'px' }">
                <p><b>{{item.FoodName}}</b></p>
              </div>
              <nav class="level is-mobile">
                <div class="level-left">
                  <div class="w3-text-red" :style="{ fontSize: fontSizeBase*16 + 'px' }">
                    <div class="has-text-grey-light"><small>單價 NT$ </small>{{item.Price}}</div>
                    <div class="w3-text-red"><small>NT$ </small><b>{{item.Total}}</b></div>
                  </div>
                </div>
                <div class="w3-small w3-text-black">{{item.Taste}}</div>
                <!-- 數量 -->
                <div class="level-right pr-2">{{item.Count}}</div>
              </nav>
            </div>
          </article>
          <div class="mt-3" :style="{ fontSize: fontSizeBase*16 + 'px' }">
            
          </div>
        </div>
      </div>
      <!-- 付款明細 -->
      <div class="my-2 p-3 bg-white" :style="{ fontSize: fontSizeBase*16 + 'px' }">
        <p><b>付款明細：</b></p>
        <div class="columns is-mobile is-variable is-2 is-multiline">
          <div class="column py-1 is-half">商品總計</div>
          <div class="column py-1 is-half text-right">{{okOrder.SubTotal}}</div>
          <div class="column py-1 is-half">運費總計</div>
          <div class="column py-1 is-half text-right">{{okOrder.Freight}}</div>
          <div class="column pb-1 mt-1 is-full p-0 border-top"></div>
          <div class="column py-1 is-half">總計</div>
          <div class="column py-1 is-half text-right font-weight-bold is-size-4 w3-text-red">
            <small>NT$</small>
            {{okOrder.CheckTotal}}
          </div>
        </div>
      </div>
      <!-- 付款方式 -->
      <div class="my-2 p-3 bg-white" :style="{ fontSize: fontSizeBase*16 + 'px' }">
        <p class="w3-text-red" @click="isTypeModal='tip';$store.commit('setCssTouch', false)"><b>付款方式：</b><i class="fas fa-question-circle fa-lg is-size-5"></i></p>
        <div class="columns is-mobile is-variable is-2 is-multiline">
          <div class="column py-1 is-half" v-show='false'>使用優惠券</div>
          <div class="column py-1 is-half text-right" v-show='false'>200</div>
          <!-- <div class="column py-1 is-half">體驗點數付款({{PointMoneyAmount_init}})</div> -->
          <div class="column py-1 is-half">體驗點數付款</div>
          <div class="column py-1 is-half text-right">{{PointMoneyAmount}}</div>
          <!-- <div class="column py-1 is-half">消費點數付款({{BalanceTotal_init}})</div> -->
          <div class="column py-1 is-half">消費點數付款</div>
          <div class="column py-1 is-half text-right">{{BalanceTotal}}</div>
        </div>
      </div>
    </div>
    <!-- 訂單完成區塊 -->
    <div v-if="$route.query.type=='finished'" class="h-100 w3-light-gray scroll-touch" style="padding-bottom:54px">
      <!-- 進度條 -->
      <div class="progressbar-container w3-white">
        <ul class="progressbar">
          <li class="active"><b>選擇結帳品牌</b></li>
          <li class="active"><b>填寫地址與付款</b></li>          
          <li class="active"><b>訂單完成</b></li>
        </ul>
        <!-- 訂單人資訊 -->
        <div class="p-3 bg-white border-top" :style="{ fontSize: fontSizeBase*16 + 'px' }">
          <span class="float-right tag is-medium is-info is-light border border-info">{{(mallData.orderstatus[finishOrder.OrderStatus] || "-")}}</span>
          <p class="mb-2"><b>訂單編號：</b>{{finishOrder.OrderNo}}</p>
          <p><b>購買時間：</b>{{finishOrder.SaleTime}}</p>
        </div>
        <!-- 訂單人資訊 -->
        <div class="p-3 bg-white border-top" :style="{ fontSize: fontSizeBase*16 + 'px' }">
          <p><b>收件資料：</b></p>
          <div class="columns is-mobile is-variable is-2 is-multiline">
            <div class="column py-1 is-12">收件人：{{receiver}}</div>
            <div class="column py-1 is-12">連絡電話：{{mobile}}</div>
            <div class="column py-1 is-12">收件地址：{{addrs}}</div>
          </div>
        </div>
      </div>

      <!-- 商品區塊 -->
      <div class="my-2 py-1 bg-white" v-if="finishOrder.Total!=undefined && finishItems.length> 0">
        <div class="p-3">
          <div class="columns is-mobile border-bottom" :style="{ fontSize: fontSizeBase*16 + 'px' }">
            <div class="column has-text-info">
              共{{finishItems.length}}項商品
            </div>
          </div>
        </div>
        <!-- 商品項目 -->
        <div class="p-3">
          <article class="media" v-for="(item, iIndex) in finishItems" :key="'itemfin'+iIndex">
            <div class="media-left mr-2">
              <figure class="image is-1by1 m-0 image-rwd">
                <!--<img src="https://diz36nn4q02zr.cloudfront.net/webapi/imagesV3/Original/SalePage/6052833/0/170826" alt="">-->                
                <img v-lazy="showImageWuhu((mallData.foodInfo[item.MainID]?mallData.foodInfo[item.MainID]['PIC1']:''))" :key="showImageWuhu((mallData.foodInfo[item.MainID]?mallData.foodInfo[item.MainID]['PIC1']:''))" class="has-background-white-ter" alt="">
              </figure>
            </div>
            <div class="media-content">
              <div class="content h-auto" :style="{ fontSize: fontSizeBase*16 + 'px' }">
                <p><b>{{item.FoodName}}</b></p>
              </div>
              <nav class="level is-mobile">
                <div class="level-left">
                  <div class="w3-text-red" :style="{ fontSize: fontSizeBase*16 + 'px' }">
                    <div class="has-text-grey-light"><small>單價 NT$ </small>{{item.Price}}</div>
                    <div class="w3-text-red"><small>NT$ </small><b>{{item.Total}}</b></div>
                  </div>
                </div>
                <div class="w3-small w3-text-black">{{item.Taste}}</div>
                <!-- 數量 -->
                <div class="level-right pr-2">{{item.Count}}</div>
              </nav>
            </div>
          </article>
          <div class="mt-3" :style="{ fontSize: fontSizeBase*16 + 'px' }">
            
          </div>
        </div>
      </div>
      <!-- 付款明細 -->
      <div class="my-2 p-3 bg-white" :style="{ fontSize: fontSizeBase*16 + 'px' }">
        <p><b>付款明細：</b></p>
        <div class="columns is-mobile is-variable is-2 is-multiline">
          <div class="column py-1 is-half">商品總計</div>
          <div class="column py-1 is-half text-right"> {{finishOrder.SubTotal}}</div>
          <div class="column py-1 is-half" v-if="calAgioTotal(finishOrder.AgioCost,finishOrder.AgioTotal) > 0">優惠折抵</div>
          <div class="column py-1 is-half text-right" v-if="calAgioTotal(finishOrder.AgioCost,finishOrder.AgioTotal) > 0">-{{calAgioTotal(finishOrder.AgioCost,finishOrder.AgioTotal)}}</div>
          <div class="column pb-1 mt-1 is-full p-0 border-top" v-if="calAgioTotal(finishOrder.AgioCost,finishOrder.AgioTotal) > 0"></div>
          <div class="column py-1 is-half" v-if="calAgioTotal(finishOrder.AgioCost,finishOrder.AgioTotal) > 0">小計</div>
          <div class="column py-1 is-half text-right" v-if="calAgioTotal(finishOrder.AgioCost,finishOrder.AgioTotal) > 0">{{finishOrder.SubTotal-calAgioTotal(finishOrder.AgioCost,finishOrder.AgioTotal)}}</div>

          <div class="column py-1 is-half">運費總計</div>
          <div class="column py-1 is-half text-right"> {{finishOrder.Freight}}</div>
          <!-- <div class="column py-1 is-half">優惠折抵</div>
          <div class="column py-1 is-half text-right">-{{calAgioTotal(finishOrder.AgioCost,finishOrder.AgioTotal)}}</div> -->
          <!-- <div class="column py-1 is-half" v-if="finishOrder.AgioCost!='' && finishOrder.AgioCost!='0'">折讓</div>
          <div class="column py-1 is-half text-right" v-if="finishOrder.AgioCost!='' && finishOrder.AgioCost!='0'">-{{finishOrder.AgioCost}}</div>
          <div class="column py-1 is-half" v-if="finishOrder.AgioTotal!='' && finishOrder.AgioTotal!='0'">折扣</div>
          <div class="column py-1 is-half text-right" v-if="finishOrder.AgioTotal!='' && finishOrder.AgioTotal!='0'">-{{finishOrder.AgioTotal}}({{finishOrder.AgioPercent}}%)</div> -->
          <div class="column py-1 is-half" v-show="false">使用優惠券</div>
          <div class="column py-1 is-half text-right" v-show="false">-60</div>
          <div class="column pb-1 mt-1 is-full p-0 border-top"></div>
          <div class="column py-1 is-half">總計</div>
          <div class="column py-1 is-half text-right font-weight-bold is-size-4 w3-text-red">
            <small>NT$</small>
            {{finishOrder.CheckTotal}}
          </div>
        </div>
        <!-- 消費點數 -->
        <!-- <div class="columns is-mobile is-variable is-2 is-multiline" v-for="(finCheck, fcIndex) in finishChecks" :key="fcIndex">
          <div class="column py-1 is-7">{{finCheck.NO !== ''? finCheck.KindName+' ('+finCheck.NO+')':finCheck.KindName}}</div>
          <div class="column py-1 is-5 text-right">{{finCheck.Total}}</div>
        </div> -->

        <div class="notification is-info is-light px-3 py-4 mb-2">
          <!-- 大於兩行才會出現更多 -->
          <div :class="[(moreFinCheck && (finishChecks.length + finishAgio.length) > 2 )?'moreFinCheck':'']">
            <div class="columns is-mobile is-variable is-multiline" v-for="(finCheck, fcIndex) in finishChecks" :key="'fcn'+fcIndex">
              <div class="column py-2 is-7">{{finCheck.NO !== ''? finCheck.KindName+' ('+finCheck.NO+')':finCheck.KindName}}</div>
              <div class="column py-2 is-5 text-right">{{finCheck.Total}}</div>
            </div>
            <!--Agio 優惠券-->
            <div class="columns is-mobile is-variable is-2 is-multiline" v-for="(agio, agIndex) in finishAgio" :key="'agi'+agIndex">
              <div class="column py-1 is-7">{{agio.AgioReason}}</div>
              <div class="column py-1 is-5 text-right">{{calAgioTotal(agio.TotalAgioCost,agio.TotalAgioTotal)}}</div>
              <!-- <div class="column py-1 is-5 text-right" v-if="agio.TotalAgioCost!='' && agio.TotalAgioCost!='0'">{{agio.TotalAgioCost}}</div>
              <div class="column py-1 is-5 text-right" v-if="agio.TotalAgioTotal!='' && agio.TotalAgioTotal!='0'">{{agio.TotalAgioTotal}}({{agio.TotalAgioPercent}}%)</div> -->
            </div> 
          </div> 
          <div class="text-center" style="margin: -12px 0" v-if="(finishChecks.length + finishAgio.length) > 2" @click="moreFinCheck = !moreFinCheck">
            <b>更多 </b>
            <!-- 開啟 -->
            <span v-show="moreFinCheck"><i class="fas fa-angle-down"></i></span>
            <!-- 收回 -->
            <span v-show="!moreFinCheck"><i class="fas fa-angle-up"></i></span>
          </div>
        </div>
        


        
      </div>
      <!-- 備註 -->
      <div class="my-2 p-3 bg-white" :style="{ fontSize: fontSizeBase*16 + 'px' }" v-show="false">
        <p class="mb-2"><b>備註：</b></p>
        <p>文字文字文字文字文字</p>
      </div>

    </div>

    <!-- 置底功能列 -->
    <!-- 第一步 -->
    <div class="fixed-bottom columns is-mobile is-variable is-1 m-0 text-center bg-white" v-if="$route.query.type==null">
      <div class="column py-1">
        <div class="buttons has-addons">
          <button class="button is-black is-medium" style="width:64%">總金額
            <span class="w3-tiny ml-1">NT$ </span>
            <!-- <b class="w3-text-amber ml-1">{{totalAmount()}}</b> -->
            <b class="w3-text-amber ml-1">{{selectTotal}}</b>
            <small class="is-size-7 has-text-grey-light ml-2">(不含運費)</small>
          </button>
          <button class="button is-link is-selected is-medium" style="width:36%" @click="nextPage()">付款去<i class="fas fa-angle-right ml-3"></i></button>
        </div>
      </div>
    </div>
    <!-- 第二步 -->
    <div class="fixed-bottom columns is-mobile is-variable is-1 m-0 text-center bg-white" style="z-index: 998" v-if="$route.query.type=='pay'">
      <div class="column py-1">
        <button class="button is-link is-outlined is-fullwidth is-medium is-light" @click="chkDeedpoints()">自選付款</button>
      </div>
      <div class="column py-1">
        <button class="button is-link is-fullwidth is-medium" @click="chkQuickCheckout()">快速付款</button>
      </div>
    </div>
    <!-- 第三步(訂單記錄,已成立訂單,但未付款成功) -->
    <div class="fixed-bottom columns is-mobile is-variable is-1 m-0 text-center bg-white" style="z-index: 998" v-if="$route.query.type=='pageDeed'">
      <div class="column py-1">
        <button class="button is-link is-fullwidth is-medium" @click="chkFinishCheckout()">完成付款</button>
      </div>
    </div>
    <!-- 第三步(暫時可選點數) -->
    <div class="fixed-bottom columns is-mobile is-variable is-1 m-0 text-center bg-white" style="z-index: 998" v-if="$route.query.type=='pageDeedTemp'">
      <div class="column py-1">
        <button class="button is-link is-fullwidth is-medium" @click="chkCheckout_finish()">完成付款</button>
      </div>
    </div>
    <!-- 第四步 -->
    <div class="fixed-bottom columns is-mobile is-variable is-1 m-0 text-center bg-white" style="z-index: 998" v-if="$route.query.type=='finished'">
      <div class="column py-1">
        <button class="button is-link is-fullwidth is-medium" @click="$router.replace('/shop')">繼續購物</button>
      </div>
    </div>

    <!-- 收件資料編輯 -->
    <transition name="slide-top">
      <div class="fixed-top w-100 h-100 bg-white" style="z-index: 999"  v-if="isEdit" v-cloak>
        <header class="border-bottom is-size-5 p-3">
          <div class="columns is-mobile">
            <div class="column is-narrow has-text-grey-light" @click="editShipData='';isEdit=false;newShipData=false;addrsTmp = '';mobileTmp = '';receiverTmp = '';$store.commit('setCssTouch', true)"><b>取消</b></div>
            <div class="column text-center">收件資料編輯</div>
            <div class="column is-narrow has-text-info" :disabled="!!newShipData" @click="addrsTmp = '';mobileTmp = '';receiverTmp = '';newShipData=true"><b>新增</b></div>
          </div>

        </header>
        <main class="scroll-touch" style="height:calc(100% - 108px)" :style="{ fontSize: fontSizeBase*16 + 'px' }">
          <!-- 新建資料 -->
          <div class="shadow-sm px-3 py-4 m-3 bg-white rounded border w3-border-green" v-if="newShipData==true">
            <div class="columns is-mobile is-variable is-1 is-multiline">
              <div class="column py-1 is-half">
                <input type="text" placeholder="輸入收件人" class="w3-input w3-show-inline-block w3-border-0 has-background-white-ter" v-model="receiverTmp">
              </div>
              <div class="column py-1 is-half text-right">
                <span @click="addrsTmp = '';mobileTmp = '';receiverTmp = '';newShipData=false"><i class="fas fa-times fa-lg ml-3 has-text-grey-lighter"></i></span>
                <span @click="newVipAddr()"><i class="fas fa-check fa-lg ml-3 text-success"></i></span>
              </div>
              <div class="column py-1">
                <input type="text" placeholder="輸入手機號碼" class="w3-input w3-show-inline-block w3-border-0 has-background-white-ter" v-model="mobileTmp">
              </div>
              <div class="column py-1 is-12">
                <input type="text" placeholder="輸入地址" class="w3-input w3-show-inline-block w3-border-0 has-background-white-ter" v-model="addrsTmp">
              </div>
            </div>
          </div>
          <!-- 已建資料 -->
         <div class="columns is-gapless is-mobile my-3 is-vcentered" v-for="(addrItem, aIndex) in shipData" :key="'addr'+aIndex" @click.prevent="isShipData=aIndex">
          <!-- <div class="columns is-gapless is-mobile my-3 is-vcentered" v-for="item in 3" :key="item" @click.prevent="isShipData=item"> -->
            <div class="column is-narrow is-size-6" :class="[(isShipData==aIndex)?'w3-text-blue':'has-text-grey-lighter']">
              <i class="fas fa-check-circle fa-lg ml-2" style="margin-right:-8px"></i>
            </div>
            <div class="column">
              <div class="shadow-sm px-3 py-4 mx-3 bg-white rounded border" :class="[(isShipData==aIndex)?'w3-border-blue':'']">
                <div class="columns is-mobile is-variable is-1 is-multiline">
                  <div class="column py-1 is-half">
                    收件人：{{(editShipData=='01' && isShipData==aIndex) ?  '' : addrItem.Nick_Name}}
                    <input type="text" placeholder="輸入收件人" class="w3-input w3-show-inline-block w3-border-0 has-background-white-ter" v-if="editShipData=='01' && isShipData==aIndex" v-model="receiverTmp">
                  </div>
                  <div class="column py-1 is-half text-right is-size-6">
                    <!-- 編輯 -->
                    <span v-show="editShipData=='' && isShipData==aIndex" @click="editVip(addrItem)">
                      <i class="fas fa-edit fa-lg"></i>
                    </span>
                    <!-- 刪除 -->
                    <span v-show="editShipData=='01' && isShipData==aIndex" @click="delVip(aIndex)">
                      <i class="far fa-trash-alt fa-lg ml-3 has-text-grey-lighter"></i>
                    </span>
                    <!-- 儲存 -->
                    <span v-show="editShipData=='01' && isShipData==aIndex" @click="saveVip(aIndex)">
                      <i class="fas fa-check fa-lg ml-3 has-text-success"></i>
                    </span>
                  </div>
                  <div class="column py-1 is-12">
                    連絡電話：{{(editShipData=='01' && isShipData==aIndex) ? '' : addrItem.Phone}}
                    <input type="text" placeholder="輸入手機號碼" class="w3-input w3-show-inline-block w3-border-0 has-background-white-ter" v-if="editShipData=='01' && isShipData==aIndex" v-model="mobileTmp">
                  </div>
                  <div class="column py-1 is-12">
                    收件地址：{{(editShipData=='01' && isShipData==aIndex) ? '' : addrItem.Addr}}
                    <input type="text" placeholder="輸入地址" class="w3-input w3-show-inline-block w3-border-0 has-background-white-ter" v-if="editShipData=='01' && isShipData==aIndex" v-model="addrsTmp">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
        <!-- 置底確定按鈕 -->
        <div class="fixed-bottom columns is-mobile is-variable is-1 m-0 text-center bg-white">
          <div class="column py-1">
            <button class="button is-link is-fullwidth is-medium"  @click="okShipDate()">確認</button>
          </div>
        </div>
      </div>
    </transition>


    <!-- 跳窗 -->
    <transition name="slide-fade">
      <div class="fixed-top w-100 h-100" style="z-index: 1040;background-color: rgba(10,10,10,0.86)" v-if="isTypeModal!=''" @click="isTypeModal='';$store.commit('setCssTouch', true)" v-cloak></div>
    </transition>

    <!-- 購物車變更提示 -->
    <div class="fixed-top flex-center h-100" style="z-index:1041" v-if="isTypeModal=='cardDiff'" @click.self="isTypeModal='';$store.commit('setCssTouch', true)">
      <div class="w3-modal-content w3-card-4 w3-round">
        <div class="p-3" :style="{ fontSize: fontSizeBase*18 + 'px' }">
          <p class="text-center has-text-danger mb-2">
            {{cardDiffText}}
            <!-- 購物車內之商品價格或庫存已變更或不存在，請重新檢視！ -->
            <!-- <a class="delete is-medium w3-display-topright m-2" @click="isTypeModal='';$store.commit('setCssTouch', true)"></a> -->
          </p>
          <div class="scroll-touch w3-stretch mb-2">
            <div class="p-3" style="min-height:140px;max-height:320px">
              <div class="columns is-mobile is-variable is-2 border-bottom" v-for="(failItem, failIndex) in failCartList" :key="'failItem'+failIndex">
                <div class="column py-2 is-6">{{failItem.FoodName}}</div>
                <div class="column py-2 is-6 text-right">{{failItem.NeedRole}}</div>
              </div>
            </div>
          </div>
          <div class="text-center">
            <button class="button is-info" style="width:50%" @click="isTypeModal='';$store.commit('setCssTouch', true)">確定</button>
          </div>
        </div>
      </div>
    </div>

    <!-- 付款說明 -->
    <div class="fixed-top flex-center h-100" style="z-index:1041" v-if="isTypeModal=='tip'" @click.self="isTypeModal='';$store.commit('setCssTouch', true)">
      <div class="w3-modal-content w3-card-4 w3-round">
        <div class="w3-container">
          <p class="w3-margin-8 w3-center" :style="{ fontSize: fontSizeBase*18 + 'px' }">
            付款說明
            <a class="delete is-medium w3-display-topright m-2" @click="isTypeModal='';$store.commit('setCssTouch', true)"></a>
          </p>
          <div class="w3-container w3-stretch pt-2 pb-4" :style="{ fontSize: fontSizeBase*16 + 'px' }">
            <ol class="mt-0 ml-4">
              <li><span class="has-text-danger">優先抵扣體驗點數</span>，剩餘未支付餘額再使用消費點數抵扣。</li>
              <li>使用「快速付款」，將優先使用即將到期之契約的消費點數依序抵扣。</li>
              <li>使用「自選付款」，將可自由選擇契約依序抵扣。</li>
              <li>30天內即將到期契約的消費點數，無法使用。</li>
            </ol>
          </div>
        </div>
      </div>
    </div>

    <!-- 付款驗證碼 -->
    <div class="modal is-active" style="z-index:1041" v-if="smsModal && smsPayModal!=''">
      <div class="modal-background"></div>
      <div class="modal-content p-4 bg-white w3-card-4 w3-round">
        <p class="w3-large text-center mt-3 mb-4">您的驗證碼已發送至 <b class="has-text-info">{{p_mobile}}</b></p>
        <p class="w3-large text-center mt-3 mb-4" v-if="isDemoID() && SMSreCode!=''">驗證碼{{SMSreCode}}</p>
        <div class="w3-section w3-display-container">
          <input class="w3-input w3-block w3-border-bottom w3-border-gray w3-large" type="text" placeholder="驗證碼" v-model="SMSValidateCode" @input="checkValue" name="pscode" required>
          <button class="w3-button w3-round w3-display-topright secondary-color" style="" :disabled="countNum > 0"  @click="getSMSValidateCode">{{ (countNum > 0) ? `${countNum} 秒後可重發` : '取得驗證碼' }}</button>
        </div>
        <!-- buttons -->
        <div class="columns is-mobile is-variable is-1 m-0 text-center">
          <div class="column py-1">
            <button class="button is-fullwidth is-light" @click="smsModal = false;SMSValidateCode='';$store.commit('setCssTouch', true)">取消</button>
          </div>
          <div class="column py-1">
            <button class="button is-link is-fullwidth" @click="confirmSmsCode();$store.commit('setCssTouch', true)" :disabled="SMSreCode=='' || SMSValidateCode==''">確定扣款</button>
          </div>
        </div>
        <button class="modal-close is-large scale-150 margin-top-env" aria-label="close" @click="smsModal = false;$store.commit('setCssTouch', true)"></button>
      </div>
    </div>
  </div>
</template>

<script>
  import store from 'src/store'
  import moment from 'moment'
  import { foodSrc,delItem, addItem,totalAmount,getMyShopCart,getVipAddr,setVipAddr,itmeQtyReload,toDecimal,delVipAddr,getUnfinishorder,getUnfinishorderItem,getExpired,getDeedpoints,objByTotal,getOrderStatus,checkDeedAct,chkTypeInt } from 'src/libs/market.js'
  // import fetchData from '../../libs/fetchData.js'
  import { showImageWuhu,showToast,showAlert } from 'src/libs/appHelper.js'
  import { deviseFunction,sendDeviseSMSreCode  } from 'src/libs/deviseHelper.js'//
  export default {
    // 頁面資料: 請使用function return
    data: function () {
      return {
        state: this.$store.state,
        addrs: '',
        mobile:'',
        receiver: '',  //收件人
        remarkClean: '',
        isEdit: false,
        newShipData: false,
        editShipData: '',
        isShipData: 0,//'01'
        shipToggle: true,
        isTypeModal: '',
        moreFinCheck: false, //更多消費點數
        useCoupon: false, //使用優惠券
        cartIDs:[],//已選品項
        cartGpList:[],//運費群組
        cartGpObj:{},//運費群組:分子項
        chkOrder:{}, //準備結帳的訂單
        chkItems:[], //準備結帳的品項
        okOrder:{}, //已結帳的訂單
        okItems:[], //已結帳的品項
        finishOrder:{}, //已完成的訂單
        finishItems:[], //已完成的品項
        finishChecks:[], //訂單已完成的付款方式
        finishAgio:[],//Agio
        okDeedPoints:[], //可用點數
        deepNoList:[], //選的點數
        tmpDeepNoList:[], //選的點數(暫存)
        nowLockIDs:'',
        addrsTmp: '',
        mobileTmp:'',
        receiverTmp: '',  //收件人暫存
        unFinishOrder:[], //未付款訂單
        BalanceTotal:0,//消費點數??
        PointMoneyAmount:0, //體驗點數
        BalanceTotal_init:0,//消費點數??
        PointMoneyAmount_init:0, //體驗點數
        tmpDeedPoints:[], //暫時顯示用點數
        tmpOrder:{}, //付款前order 暫時區
        tmpItems:[], //付款前order中品項 暫時區
        lastDeed:0,
        cardDiffText:'', 
        countNum:0,
        SMSCurrentQuota:0,
        SMSValidateCode:'',
        smsModal:false,
        smsPayModal:'',
        counter: '',
        p_mobile:'',
        couponList:[],
        selCoupon:[], //所選的優惠券
      };
   
    },
    computed: {
      
      // 簡訊發送間隔的最低時間 (預設： 50 秒)
      AppSMSIntervalMin() { return parseInt(this.state.SMS_Config.AppSMSIntervalMin) },
      // 簡訊每日發送上限 (預設： 5 封)
      APPSMSDayTimes()    { return parseInt(this.state.SMS_Config.APPSMSDayTimes) },
      // 取簡訊的發送扣打紀錄
      SMSSendQuota()      { return this.state.SMS_Config.SMSSendQuota },
      // 取簡訊驗證碼
      SMSreCode()         { return this.state.SMS_Config.reCode },
      // 取今天日期 (格式： yyyymmdd => e.g. 20190514)
      currentDay()        { return new Date().toISOString().slice(0,10).replace(/-/g,"") },
      // 簡化常用的 Vuex.store data (補充： 一定要寫在這, component 才會即時反應 $store.state 的變化)
      isLogin() {
        return this.$store.getters.isLogin
      },
      fontSizeBase() {
        return store.getters.fontSizeBase
      },
      mallData() {
        return this.$store.state.mallData;
      },
      userVip(){
        return this.$store.state.baseInfo.memberData.vip_info;  //有Addr,Mobile
        //store.state.userData; //沒有Mobile
      },
      shipData(){
        return this.$store.state.mallData.shipData;
      },
      PYCodeGroup(){
        var p_group = [];        
        if (this.$store.state.mallData.shopping_cart.length == 0) return p_group;
        var freiKey = Object.keys(store.state.mallData.foodFreight);
        var getPycode = (item)=>{
          var py_code = (this.$store.state.mallData.foodInfo[item.MainID] && this.$store.state.mallData.foodInfo[item.MainID]['PYCode']?this.$store.state.mallData.foodInfo[item.MainID]['PYCode']:"");
          if (py_code === "" && item.BatchID != undefined) py_code = item.BatchID;//當對應不到時,抓item的pycode
          return py_code;
        }

        freiKey.map((p_key)=>{
          var p_list = this.$store.state.mallData.shopping_cart.filter((item)=>{
            var pycode = getPycode(item);            
            return item.ItemState!='N' && pycode === p_key;
            
          });
          const p_obj= Object.assign({}, store.state.mallData.foodFreight[p_key])
          p_obj.list = p_list;
          p_group.push(p_obj);
        });
        var failItem = [];
        var noPY_list = this.$store.state.mallData.shopping_cart.filter((item)=>{          
          var pycode = getPycode(item);

          if (item.ItemState==='N') failItem.push(item);
          return item.ItemState!='N' && freiKey.indexOf(pycode) < 0;
        });
        
        if (noPY_list.length > 0) p_group.push({Name:"無",list:noPY_list,GID:'noKindListxxx01'});
        if (failItem.length > 0) p_group.push({Name:"失效商品",list:failItem,GID:'failItemListxxx01'});
        // 
        //console.log()
        return p_group;
      },
      selectTotal(){
        var p_total = 0;
        
        this.PYCodeGroup.map((pycode)=>{
          if (Array.isArray(pycode.list)){
            pycode.list.map((chCart)=>{              
              if (this.cartIDs.indexOf(chCart.ID) > -1) p_total += toDecimal(chCart.Total);
              return chCart.ID;
            });
          }    

          
        }); 
        return p_total;
      },
      failCartList(){
        var faiiList =[];
        if (this.PYCodeGroup.length > 0) {
          var failGp= this.PYCodeGroup.filter((pycode)=>{
            return pycode.GID === 'failItemListxxx01';
          });
          if (failGp.length > 0) faiiList = (failGp[0]).list;
        }
        
        return faiiList;
      },
        
    },
    // 頁面模組
    methods: { 
      foodSrc,
      delItem,
      addItem, 
      totalAmount,
      showImageWuhu,
      checkValue(e){ 
        //TODO: 因為iOS13.x,自動填入驗證碼會重複二次,所以暫時限定只能Key四碼      
        if (typeof(JSInterface) !== 'undefined' && typeof e.target.value === "string") this.SMSValidateCode=e.target.value.substring(0, 4);
        
      },
      delItem_click(item,isDel){
        delItem(item,isDel,()=>{          
          var del_index = this.cartIDs.indexOf(item.ID);
          if (del_index > -1) this.cartIDs.splice(del_index,1)
          this.checkSelectPYCode();
          
        });
      },
      calAgioTotal(val1,val2){
        return toDecimal(val1)+toDecimal(val2);
      },
      checkSelectPYCode(){
        //若運費群組的ID已消失,勾選的ID也要拿掉
        var availObj = this.PYCodeGroup.filter((p_code)=>{          
          return Array.isArray(p_code.list) && p_code.list.length > 0;  
        });
        var available = availObj.map((av)=>{return av.GID});
        
        let result = this.cartGpList.filter((e)=>{  
          return available.indexOf(e) > -1 
        })
        if (result.length == 0) this.checkCartGp();
        
      },
      
      checkTmpDeed(e,p_index){
        //(e,p_index,deeds,selectList,p_total)        
        this.lastDeed = checkDeedAct(e,p_index,this.tmpDeedPoints,this.tmpDeepNoList,this.BalanceTotal);        

      },
      checkDeed(e,p_index){
        // var input = e.target.control; // 目前選取欄位 
        this.lastDeed = checkDeedAct(e,p_index,this.okDeedPoints,this.deepNoList,this.BalanceTotal);        

      },
      goUnfinishorderItem(orderID,uIndex){
        getUnfinishorderItem(orderID,(p_items)=>{
          
          if (Array.isArray(p_items)) this.unFinishOrder[uIndex]["items"] = p_items;
          this.$store.state.mallData.isCarUI = !this.$store.state.mallData.isCarUI;//觸發UI更新用 
        });
      },
     
      goFinishOrder(p_order){
        // console.log(p_order);
        this.addrs = p_order.PreAddr || '';
        this.mobile = p_order.PrePhone || ''
        this.receiver = p_order.PreName || '';
        this.deepNoList=[];
        this.okDeedPoints=[];
        getExpired((p_vip)=>{
          p_vip.PointMoneyAmount = toDecimal(p_vip.PointMoneyAmount);
          // p_vip.PointMoneyAmount = 0;
          p_vip.Balance = toDecimal(p_vip.Balance);
  
          if (p_vip.PointMoneyAmount!=undefined) this.PointMoneyAmount_init=p_vip.PointMoneyAmount;
          if (p_vip.Balance!=undefined) this.BalanceTotal_init=p_vip.Balance;
          if (p_vip.PointMoneyAmount!=undefined) this.PointMoneyAmount=(p_order.CheckTotal <= p_vip.PointMoneyAmount?p_order.CheckTotal:p_vip.PointMoneyAmount)//體驗點數
          
          if (p_vip.Balance!=undefined) this.BalanceTotal= (this.PointMoneyAmount == p_order.CheckTotal?0:(p_order.CheckTotal-p_vip.PointMoneyAmount));
          
          
          if (this.BalanceTotal > 0){
            getDeedpoints((p_point)=>{
              p_point = p_point ||[];
              // this.okDeedPoints = p_point;
              
              this.doFinishOrder(p_order,p_point);
              
            });
          }else{
            this.doFinishOrder(p_order,[]);//體驗點數已足夠支付時
          }
          
        });

        
        
      },
      doFinishOrder(order,DeedPoints){
        this.okOrder = order;
        this.okItems = order.items || [];
        
        var p_freight = this.okItems.filter((p_item)=>{              
          return this.chkStr(p_item.FoodID) && this.chkStr(p_item.MainID) && this.chkStr(p_item.KindID);
          // return p_item.FoodID==='Z001' && p_item.MainID==='Z001' && p_item.KindID==='Z001'
        });
        this.okOrder.Total = toDecimal(this.okOrder.Total);
        this.okOrder.itemTotal = objByTotal(this.okItems,"Total");
        this.okOrder.Freight = 0;
        if (p_freight.length > 0){
          this.okOrder.Freight = objByTotal(p_freight,"Price");//toDecimal(p_freight[0]["Price"]);//運費
          
        }
        this.okOrder.SubTotal = toDecimal(this.okOrder.itemTotal - this.okOrder.Freight);//運費
        this.okDeedPoints = DeedPoints;
        
        this.$router.push({ path: '/shopCart', query: { type: 'pageDeed',isPay:'on' } });
      },
      editVip(addrItem){
        this.addrsTmp = addrItem.Addr;
        this.mobileTmp = addrItem.Phone;
        this.receiverTmp = addrItem.Nick_Name;
        this.editShipData='01';

      },
      saveVip(p_index){        
        this.editShipData='';
        setVipAddr({GID:this.shipData[p_index]["GID"],Addr:this.addrsTmp,Phone:this.mobileTmp,Nick_Name:this.receiverTmp},()=>{ 
          //if (Array.isArray(p_data)) store.state.mallData.shipData = p_data;
          this.$store.state.mallData.shipData[p_index]["Addr"] = this.addrsTmp;
          this.$store.state.mallData.shipData[p_index]["Phone"] = this.mobileTmp;
          this.$store.state.mallData.shipData[p_index]["Nick_Name"] = this.receiverTmp;
        })
        
      },
      delVip(p_index){
        this.editShipData='';
        delVipAddr({GID:this.shipData[p_index]["GID"]},()=>{ 
          this.$store.state.mallData.shipData.splice(p_index, 1);
          //if (Array.isArray(p_data)) store.state.mallData.shipData = p_data;
          // this.isShipData=0;
        });
        
      },
      newVipAddr(){
        this.newShipData=false;
        setVipAddr({GID:"",Addr:this.addrsTmp,Phone:this.mobileTmp,Nick_Name:this.receiverTmp},(p_data)=>{ 
          if (Array.isArray(p_data)) store.state.mallData.shipData = p_data;
          
        });
      },
      okShipDate(){
        if (this.isShipData < this.shipData.length){          
          this.addrs = this.shipData[this.isShipData]["Addr"];
          this.mobile = this.shipData[this.isShipData]["Phone"];
          this.receiver = this.shipData[this.isShipData]["Nick_Name"];  
          
        }
        this.newShipData=false
        this.editShipData='';
        this.isEdit=false;
        this.$store.commit('setCssTouch', true)
      },
      momentFt(value){
        return moment(value).format('YYYY-MM-DD');
      },
      cartPay(){

      }, 
      getVipAddrList(){
        if (this.isDemoID() && this.countNum > 0) return showToast("發送簡訊中,請勿更動")
        getVipAddr((p_data)=>{// 取收件人基本資料
          if (Array.isArray(p_data)) store.state.mallData.shipData = p_data;
          this.isEdit=true;this.$store.commit('setCssTouch', false)
          
        });
      },
      chkCheckout(){       
        // if (this.cartIDs.length == 0) showToast("尚未選擇品項");
        // // if (this.tmpDeepNoList.length == 0) showToast("尚未選擇契約");
        
        // if (this.cartIDs.length > 0 && this.tmpDeepNoList.length > 0) goCheckout(this.cartIDs,[],{PreAddr:this.addrs,PrePhone:this.mobile,PreName:this.receiver},this.selCoupon,(data)=>{
          
        //   if (Array.isArray(data.OrdersTemp) && data.OrdersTemp.length > 0){
        //       this.cartIDs=[];
        //       if (Array.isArray(data.OrdersTemp)) this.okOrder = data.OrdersTemp[0];
        //       this.okItems = data.ItemsTemp || [];
              
        //       var p_freight = this.okItems.filter((p_item)=>{              
        //         return this.chkStr(p_item.FoodID) && this.chkStr(p_item.MainID) && this.chkStr(p_item.KindID);
        //         // return p_item.FoodID==='Z001' && p_item.MainID==='Z001' && p_item.KindID==='Z001'
        //       });
        //       this.okOrder.Total = toDecimal(this.okOrder.Total);
        //       this.okOrder.itemTotal = objByTotal(this.okItems,"Total");
        //       this.okOrder.Freight = 0;
        //       if (p_freight.length > 0){
        //         this.okOrder.Freight = objByTotal(p_freight,"Price");//toDecimal(p_freight[0]["Price"]);//運費
                
        //       }
        //       this.okOrder.SubTotal = toDecimal(this.okOrder.itemTotal - this.okOrder.Freight);//運費
        //       if (Array.isArray(data.DeedPoints)) this.okDeedPoints = data.DeedPoints;
              
        //       this.$router.push({ path: '/shopCart', query: { type: 'pageDeed' } });
        //   }else{
        //     showToast("訂單異常");
        //   }
          
        // });
      },
      chkCheckout_finish(){  
        //正常流程,購物車-->自選付款
        
        if (this.cartIDs.length == 0) showToast("尚未選擇品項");
        var isDeed = this.tmpDeepNoList.length == 0 && this.tmpDeedPoints.length > 0;
        if (isDeed) showToast("尚未選擇契約");
        
        if (this.cartIDs.length > 0 && !isDeed) {
          this.smsPayModal = "selectPay";
          this.smsModal=true;
          this.getSMSValidateCode();
        }
      },
      doCheckout_finish(){
        // goCheckout(this.cartIDs,[],{PreAddr:this.addrs,PrePhone:this.mobile,PreName:this.receiver},this.selCoupon,(data)=>{
          
        //   if (Array.isArray(data.OrdersTemp) && data.OrdersTemp.length > 0){
        //       this.cartIDs=[];              
        //       this.loadSpCart();
        //       finishCheckout(data.OrdersTemp[0]["ID"],this.tmpDeepNoList,{PreAddr:this.addrs,PrePhone:this.mobile,PreName:this.receiver},this.selCoupon,(finData)=>{
        //         this.cleanVal();
        //         this.tmpDeepNoList=[];
        //         if (Array.isArray(finData.Orders) && finData.Orders.length > 0){                  
        //           if (Array.isArray(finData.Orders)) this.finishOrder = finData.Orders[0];
        //           this.finishItems = finData.OrderItem || [];
        //           this.finishChecks = finData.Checks || [];
        //           this.finishAgio = finData.Agio || [];
        //           var p_freight = this.finishItems.filter((p_item)=>{              
        //             return this.chkStr(p_item.FoodID) && this.chkStr(p_item.MainID) && this.chkStr(p_item.KindID);
        //             // return p_item.FoodID==='Z001' && p_item.MainID==='Z001' && p_item.KindID==='Z001'
        //           });
        //           this.finishOrder.Total = toDecimal(this.finishOrder.Total);
        //           this.finishOrder.itemTotal = objByTotal(this.finishItems,"Total");
        //           this.finishOrder.Freight = 0;
        //           if (p_freight.length > 0){
        //             this.finishOrder.Freight = objByTotal(p_freight,"Price");//toDecimal(p_freight[0]["Price"]);//運費
                    
        //           }
        //           this.finishOrder.SubTotal = toDecimal(this.finishOrder.itemTotal - this.finishOrder.Freight);//運費
        //           this.$router.replace({ path: '/shopCart', query: { type: 'finished' } });
        //         }else{
        //           showToast("付款異常");
        //         }
                
        //       });
              
              
              
        //   }else{
        //     showToast("訂單異常");
        //   }
          
        // });
      },
      chkDeedpoints(){       
        if (this.cartIDs.length == 0) showToast("尚未選擇品項");
        if (this.PointMoneyAmount_init <= 0 && this.BalanceTotal_init <= 0) showAlert("無點數可支付");
        this.tmpDeepNoList=[];
        

        if (this.cartIDs.length > 0 && (this.PointMoneyAmount_init+this.BalanceTotal_init) > 0) {
          if (this.BalanceTotal > 0){
            getDeedpoints((p_point)=>{
              // tmpDeedPoints
              p_point = p_point ||[];
              this.tmpDeedPoints = p_point;
              this.$router.replace({ path: '/shopCart', query: { type: 'pageDeedTemp' } });
            });
          }else{
            this.tmpDeedPoints = [];
            this.tmpDeepNoList = [];
            showToast("消費點數付款為0,請選擇快速付款");
            // this.$router.replace({ path: '/shopCart', query: { type: 'pageDeedTemp' } });
          }
          


        }
        
      },
      chkQuickCheckout(){
        if (this.cartIDs.length == 0) showToast("尚未選擇品項");
        if (this.PointMoneyAmount_init <= 0 && this.BalanceTotal_init <= 0) showAlert("無點數可支付");
        if (this.cartIDs.length > 0 && (this.PointMoneyAmount_init+this.BalanceTotal_init) > 0) {
          this.smsPayModal = "quickChk";
          this.smsModal=true;
          this.getSMSValidateCode();
        }
        this.$store.commit('setCssTouch', false)
      },
      // 確認驗證碼
      confirmSmsCode() {
        // 判斷是否在殼裡面
        const inDeviseApp = (typeof(JSInterface) == 'object')

        if (inDeviseApp && this.SMSreCode == '') return showAlert('請先取得簡訊驗證碼')
        if (inDeviseApp && (this.SMSreCode != this.SMSValidateCode) ) return showAlert('簡訊驗證碼錯誤！')
        // 驗證 ok -> 清除 SMSreCode
        this.$store.commit('setSMSreCode', '')
        
        // 進入註冊表單頁面
        if (this.smsPayModal == 'quickChk') { 
          this.doQuickCheckout() 
        }else if (this.smsPayModal == 'selectPay'){
          this.doCheckout_finish()
        }else if (this.smsPayModal == 'unFinishPay'){
          this.dofinishCheckout(); 
        }
        this.smsModal = false; 
        this.smsPayModal='';
      },
      doQuickCheckout(){
        // quickCheckout(this.cartIDs,{PreAddr:this.addrs,PrePhone:this.mobile,PreName:this.receiver},this.selCoupon,(data)=>{
        //   if (Array.isArray(data.Orders) && data.Orders.length > 0){
        //     this.cartIDs=[];
        //     if (Array.isArray(data.Orders)) this.finishOrder = data.Orders[0];
        //     this.finishItems = data.OrderItem || [];
        //     this.finishChecks = data.Checks || [];
        //     this.finishAgio = data.Agio || [];       
        //     var p_freight = this.finishItems.filter((p_item)=>{              
        //       return this.chkStr(p_item.FoodID) && this.chkStr(p_item.MainID) && this.chkStr(p_item.KindID);
        //       // return p_item.FoodID==='Z001' && p_item.MainID==='Z001' && p_item.KindID==='Z001'
        //     });
        //     this.finishOrder.Total = toDecimal(this.finishOrder.Total);
        //     this.finishOrder.itemTotal = objByTotal(this.finishItems,"Total");
        //     this.finishOrder.Freight = 0;
        //     if (p_freight.length > 0){
        //       this.finishOrder.Freight = objByTotal(p_freight,"Price");//運費
        //     }            
        //     this.finishOrder.SubTotal = toDecimal(this.finishOrder.itemTotal - this.finishOrder.Freight);//運費
        //     this.$router.replace({ path: '/shopCart', query: { type: 'finished' } });
        //     this.loadSpCart();
        //   }else{
        //     showToast("付款異常");
        //   }
          
        // }); 
      },
      showFailItem(errMsg){
        this.cardDiffText = errMsg;
        this.isTypeModal='cardDiff';
        this.$store.commit('setCssTouch', false);
      },
      loadSpCart(){
        getMyShopCart((data)=>{
          if (data && data.ErrorMsg) this.showFailItem(data.ErrorMsg);
          
          itmeQtyReload();//重算購物車上,品項及類別數量
        },false); 
      },
      chkStr(p_str){
        var p_arr = p_str.split('Z00');
        return p_arr.length == 2 && p_arr[0]=='';
      },
      checkCartGp(){
        this.cartGpList=[];
            
        this.PYCodeGroup.map((pycode,pIndex)=>{
          if (Array.isArray(pycode.list) && pycode.GID != 'failItemListxxx01'){
            if(this.cartGpList.length == 0 && pycode.list.length > 0) this.cartGpList.push(this.PYCodeGroup[pIndex]["GID"]);

            this.cartGpObj[pycode.GID] = (pycode.list).map((chCart)=>{
              return chCart.ID;
            });
          }    
        });
      },
      chkFinishCheckout(){        
        // if (this.deepNoList.length == 0) showToast("尚未選擇契約");
        var isDeed = this.deepNoList.length == 0 && this.okDeedPoints.length > 0;
        if (isDeed) showToast("尚未選擇契約");
        if (!isDeed) {
          this.smsPayModal = "unFinishPay";
          this.smsModal=true;
          this.getSMSValidateCode();
          
        }
      },

      dofinishCheckout(){
      //   finishCheckout(this.okOrder.ID,this.deepNoList,{PreAddr:this.addrs,PrePhone:this.mobile,PreName:this.receiver},[],(data)=>{
      //     this.cleanVal();
      //     if (Array.isArray(data.Orders) && data.Orders.length > 0){
      //       this.deepNoList=[];
      //       if (Array.isArray(data.Orders)) this.finishOrder = data.Orders[0];
      //       this.finishItems = data.OrderItem || [];
      //       this.finishChecks = data.Checks || [];
      //       this.finishAgio = data.Agio || [];
      //       var p_freight = this.finishItems.filter((p_item)=>{              
      //         return this.chkStr(p_item.FoodID) && this.chkStr(p_item.MainID) && this.chkStr(p_item.KindID);
      //         // return p_item.FoodID==='Z001' && p_item.MainID==='Z001' && p_item.KindID==='Z001'
      //       });
      //       this.finishOrder.Total = toDecimal(this.finishOrder.Total);
      //       this.finishOrder.itemTotal = objByTotal(this.finishItems,"Total");
      //       this.finishOrder.Freight = 0;
      //       if (p_freight.length > 0){
      //         this.finishOrder.Freight = objByTotal(p_freight,"Price");//toDecimal(p_freight[0]["Price"]);//運費
              
      //       }
      //       this.finishOrder.SubTotal = toDecimal(this.finishOrder.itemTotal - this.finishOrder.Freight);//運費
      //       this.$router.replace({ path: '/shopCart', query: { type: 'finished' } });
      //     }else{
      //       showToast("付款異常");
      //     }
          
      //   });
      },
      nextPage(){
        if(this.cartIDs.length == 0) showToast("尚未選擇品項");
        if(this.cartIDs.length > 0) {
          this.chkItems = [];
          this.tmpItems = [];
          this.calcuCheckout();
          
        }
      },
      // calcuCheckout(conpon_list){
      //   goCalcuCheckout(this.cartIDs,conpon_list,(data)=>{
      //       if (Array.isArray(data.OrdersTemp) && data.OrdersTemp.length > 0){
      //         this.chkOrder = data.OrdersTemp[0]; //快速/自選頁
      //         this.tmpOrder = data.OrdersTemp[0];  //(先撈好)自選頁,選契約              
      //         this.couponList = data.VipTicket || [];
      //         this.chkItems = data.ItemsTemp || [];
      //         this.tmpItems = data.ItemsTemp || [];
              
      //         var p_freight = this.chkItems.filter((p_item)=>{              
      //           return this.chkStr(p_item.FoodID) && this.chkStr(p_item.MainID) && this.chkStr(p_item.KindID);
      //           // return p_item.FoodID==='Z001' && p_item.MainID==='Z001' && p_item.KindID==='Z001'
      //         });
      //         this.chkOrder.Total = toDecimal(this.chkOrder.Total);
      //         this.chkOrder.CheckTotal = toDecimal(this.chkOrder.CheckTotal);
      //         this.chkOrder.itemTotal = objByTotal(data.ItemsTemp,"Total");
      //         this.chkOrder.Freight=0;

      //         this.tmpOrder.Total = toDecimal(this.tmpOrder.Total);
      //         this.tmpOrder.CheckTotal = toDecimal(this.tmpOrder.CheckTotal);
      //         this.tmpOrder.itemTotal = objByTotal(data.ItemsTemp,"Total");              
      //         this.tmpOrder.Freight=0;
      //         if (p_freight.length > 0){
      //           this.chkOrder.Freight = objByTotal(p_freight,"Price");//toDecimal(p_freight[0]["Price"]);//運費                
      //           this.tmpOrder.Freight = objByTotal(p_freight,"Price");//toDecimal(p_freight[0]["Price"]);//運費
               
      //         }
      //         this.chkOrder.SubTotal = toDecimal(this.chkOrder.itemTotal - this.chkOrder.Freight);             
      //         this.tmpOrder.SubTotal = toDecimal(this.tmpOrder.itemTotal - this.tmpOrder.Freight);

      //         getExpired((p_vip)=>{
      //           p_vip.PointMoneyAmount = toDecimal(p_vip.PointMoneyAmount);
      //           p_vip.Balance = toDecimal(p_vip.Balance);
                
      //           // p_vip.PointMoneyAmount = 0;
      //           // p_vip.Balance = 0;
      //           if (p_vip.PointMoneyAmount!=undefined) this.PointMoneyAmount_init=p_vip.PointMoneyAmount;
      //           if (p_vip.Balance!=undefined) this.BalanceTotal_init=p_vip.Balance;
      //           if (p_vip.PointMoneyAmount!=undefined) this.PointMoneyAmount=(this.chkOrder.CheckTotal <= p_vip.PointMoneyAmount?this.chkOrder.CheckTotal:p_vip.PointMoneyAmount)//體驗點數
          
      //           if (p_vip.Balance!=undefined) this.BalanceTotal= (this.PointMoneyAmount == this.chkOrder.CheckTotal?0:(this.chkOrder.CheckTotal-p_vip.PointMoneyAmount));
      //           // (this.chkOrder.Total <= toDecimal(p_vip.Balance)?this.chkOrder.Total:p_vip.Balance);//消費點數??
                
      //           this.$router.push({ path: '/shopCart', query: { type: 'pay' } })
      //         });
      //       }else{
      //         showToast("沒有可結帳品項");
      //       }
            
            
            
      //     })
      // },
      chkCartGp(pyGroup,item){ 
        //取其它類別ID
        return pyGroup.ID == undefined || (this.cartGpList.length > 0 && this.cartGpList.indexOf(pyGroup.GID) < 0) || (this.nowLockIDs.length > 0 && this.nowLockIDs.indexOf(item.ID) < 0);

      },
      chkTmpTotal(){
        return (this.mallData.shopOrderTmp.Total===''?'0':this.mallData.shopOrderTmp.Total);
      },
      isDemoID(){
        return this.$store.state.member.code === 'A123456789';
      },
      // 驗證手機號碼 => 發送驗證碼簡訊
      getSMSValidateCode(){
        if (this.countNum > 0) return showAlert("請輸入簡訊驗證碼");
        // 跟殼取簡訊已發送扣打資料
        deviseFunction('GetSP', 'SMSSendQuota', '"cbFnSetSMSSendQuota"')
        var errMsg='';
        this.p_mobile = this.userVip.Mobile;
        if (this.isDemoID()){this.p_mobile = this.mobile; }
        // 
        // 手機號碼格式驗證
        const twMobilePhoneRegxp = /^09[0-9]{2}[0-9]{6}$/; // 台灣手機號碼格式需為09XXXXXXXX
        const cnMobilePhoneRegxp = /^1[0-9]{2}[0-9]{8}$/;  // 中國手機號碼格式需為1XXXXXXXXXX
        // if (this.userVip.Mobile == '') return showAlert('請輸入手機號碼')
        let countyNum = ''
        if ( twMobilePhoneRegxp.test(this.p_mobile) ) countyNum = '886'
        if ( cnMobilePhoneRegxp.test(this.p_mobile) ) countyNum = '86'
        if (twMobilePhoneRegxp.test(this.p_mobile) === false && cnMobilePhoneRegxp.test(this.p_mobile) === false) errMsg = '手機號碼格式錯誤'
        // this.validateSMSSendQuota()
        if (this.validateSMSSendQuota() == false) errMsg = errMsg+`已超過本日簡訊發送上限！ <br> (最多 ${this.APPSMSDayTimes} 封簡訊)`
        
        if (errMsg!=""){
          this.smsPayModal = "";
          this.smsModal=false;
          return showAlert(errMsg)
          
        }
        
        // 設置倒數計時器 ( countNum > 0 時, 發送驗證碼按鈕為 disabled ), 倒數時間從 state.setSMS_Config.AppSMSIntervalMin 取得
        this.countNum = this.AppSMSIntervalMin
        // 啟動倒數計時
        if (this.counter=='') this.counter = setInterval(() => {
          // 到 0 時清除倒數計時
          if (this.countNum <= 0) { clearInterval(this.counter);this.counter='' }
          // 每一秒 - 1
          this.countNum = this.countNum - 1;
        }, 1000);

        // sample: '20190514-3'
        const SMSSendQuota = `${this.currentDay}-${this.SMSCurrentQuota + 1}`
        // console.log(this.p_mobile,"member>>",this.$store.state.member.code,this.AppSMSIntervalMin,this.countNum);
        // 發送簡訊認證碼
        sendDeviseSMSreCode({ phone: `${this.p_mobile};;${countyNum}`, SMSSendQuota: SMSSendQuota })
      },
      validateSMSSendQuota() {
        // 扣打紀錄是空的 => true
        if (this.SMSSendQuota === '') return true
        // 扣打紀錄跟今日日期不同 => true
        if (this.SMSSendQuota.substring(0, 8) !== this.currentDay) return true
        // 更新今日扣打數量
        const currentQouta = parseInt(this.SMSSendQuota.substring(9))
        this.SMSCurrentQuota = currentQouta
        // 驗證扣打是否用完 (超過上限 => false, 還沒用完 => true )
        if (currentQouta >= this.APPSMSDayTimes) return false
        if (currentQouta <  this.APPSMSDayTimes) return true
      },
      cleanVal(){
        this.SMSValidateCode = '';
        this.countNum =  0;
        clearInterval(this.counter);
        this.counter =  '';
        this.smsModal =  false;     
        this.smsPayModal=''; 
        this.clsConpunVal();
      },
      clsConpunVal(){
        this.useCoupon=false; //一定要用false,否則selCoupon會重算
        this.selCoupon=[]; 
      },
      // checkDeed(p_total){
      //   var selectPO = this.tmpDeedPoints.filter((po)=>{
      //     return p_list.indexOf(po.deed_no) > -1
      //   });
      //   toDecimal(this.tmpOrder.Total)
        
      // },
    },
    // 在路由刷新前
    beforeRouteEnter: function (to, form, next) {
      getOrderStatus(()=>{         
        if (to.path === "/shopCart" && to.query.from === 'scanToCart'){
          //scanResult,透過掃描生成購物車
          store.commit('initQrCodeItem');//初始化由掃瞄生成的品項
          next((vm) => { // vm is the Vue instance
            var supItems = vm.$store.state.mallData.shopping_cart.filter((p_cart)=>{
              return (chkTypeInt(p_cart.BatchID) === 0);
            });
            vm.cartIDs = supItems.map((sup)=>{
              return sup.ID;
            });
            vm.nextPage();
            
          });
         
        }else{          
          getMyShopCart((data)=>{            
            itmeQtyReload();//重算購物車上,品項及類別數量
            next((vm) => { // vm is the Vue instance
              if (data && data.ErrorMsg) vm.showFailItem(data.ErrorMsg);
              vm.checkCartGp();
              
            })
            
          },false);   
        }
        
      });
       
      
     
    },
    // 建立頁面後
    created: function () {
      this.addrs = this.userVip.Addr || "";
      this.mobile = this.userVip.Mobile || "";
      this.receiver = this.userVip.CnName || "";
      
     
    },
    
    beforeRouteUpdate: function (to, form, next) {
      // this.cleanVal();
      // if (form.path === "/shopCart" && (form.query.type === "finished" || (form.query.type === "pageDeed" && to.query.type !== "finished"))) {
      //   //防止手機原生返回鍵亂跑
        
      //   // this.$router.replkace('/shop')
      //   next();
      // }else 
      if (to.path === "/shopCart" && to.query.type === "unCheckout"){
        //跳至未完成訂單清單頁
        getUnfinishorder((data)=>{
          if (Array.isArray(data)) this.unFinishOrder = data;
          next();

        });
      }else if (to.path === "/shopCart" && to.query.type === undefined){        
        getOrderStatus(()=>{          
          getMyShopCart((data)=>{
            if (data && data.ErrorMsg) this.showFailItem(data.ErrorMsg);
            this.checkCartGp();
            itmeQtyReload();//重算購物車上,品項及類別數量
            this.clsConpunVal();
            next();
            
          },false); 
        });
      }else{
        next();
      }
      
    },
    beforeRouteLeave: function (to, form, next) { 
      this.cleanVal();   
      next();
      
    },
    watch: {
      '$route' () {
        
       
      },
      
      cartGpList(p_value){
        
        this.cartIDs=[];
        if (this.PYCodeGroup.length == 0) return;
        var PYfind = this.PYCodeGroup.filter((pycode)=>{         
          return p_value.indexOf(pycode.GID) > -1;
        });
        
        if (PYfind.length == 0) return;
        PYfind.map((p_pyfind)=>{
          var n_list = (p_pyfind["list"]).map((chCart)=>{
            return chCart.ID;
          });
        
          this.cartIDs = this.cartIDs.concat(n_list);  
          

        });
                
         
      },
      cartIDs(p_value){
        var isFind=false;
        Object.keys(this.cartGpObj).map((p_key)=>{
          if (Array.isArray(this.cartGpObj[p_key]) && (this.cartGpObj[p_key]).indexOf(p_value)) {
            var result =this.cartGpObj[p_key].filter((e) => {
              return p_value.indexOf(e) > -1
            })
            if (!isFind && result.length > 0) {this.isFind = true;this.nowLockIDs = this.cartGpObj[p_key];}
            
          }
          
          
        });
        if (p_value.length == 0) this.nowLockIDs=[];
        //cartIDs
      },
      selCoupon(p_list){
        if(this.useCoupon) this.calcuCheckout(p_list);
        
      },
      // SMSValidateCode(p_value){
      //   // console.log(p_value);
      //   if (this.isDemoID() && p_value === '70595145') this.$store.commit('setSMSreCode', p_value)
        
      // }
    }
  }
</script>

<style scoped>
.progressbar-container {
  padding: .75rem 0;
}
.progressbar {
  margin: 0;
  margin-bottom: .5rem !important;
  counter-reset: step;
}
.progressbar li {
  list-style: none;
  display: inline-block;
  width: 33.33%;
  position: relative;
  text-align: center;
  cursor: pointer;
  margin-top: 0;
}
.progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 30px;
  height: 30px;
  line-height : 26px;
  border: 2px solid #ddd;
  border-radius: 100%;
  display: block;
  text-align: center;
  margin: 0 auto 5px auto;
  background-color: #fff;
}
.progressbar li:after {
  content: "";
  position: absolute;
  width: calc(100% - 30px);
  height: 2px;
  background-color: #ddd;
  top: 15px;
  left: calc(-50% + 15px);
  z-index : 1;
}
.progressbar li:first-child:after {
  content: none;
}
.progressbar li.active {
  color: green;
}
.progressbar li.active:before {
  border-color: green;
  background: green;
  color: white;
} 
.progressbar li.active + li:after {
  background-color: green;
}
.delete-alt {
  background: white;
  transform: translateY(-4px);
}
.delete-alt::before,
.delete-alt::after {
  background:lightgray;
}
.readMoreItems {
  overflow: hidden;
  height: 36px;
  position: relative;
}
.readMoreItems::before {
  content:"";
  background: linear-gradient(to top, #fff 30%, rgba(255, 255, 255, 0) 100%);
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 0;
  padding: 20px 0;
}
.readMoreItems::after {
  content:"明細 »";
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  text-align: center;
  bottom: 0;
  color: var(--primary-color);
  border-radius: 8px;
  left: 50%;
  margin-left: -24px; 
  bottom: 8px;
}
.moreFinCheck {
  height: 4.25em;
  overflow: hidden;
}
.wh-coupon {
  flex: 0 0 100%;
  margin: 8px 0;
}
.wh-coupon:last-child {
  margin-bottom: 0;
}
/* 驗證碼倒數文字清楚 */
.secondary-color[disabled] {
  opacity: 1;
}
.flex-rwd {
  flex: 0 0 calc(100% - 72px);
}
@media (min-width:768px) { 
  .flex-rwd {
    flex: 0 0 calc(100% - 136px);
  }
}
</style>