<template>
  <div>

    <div class="w3-container w3-padding-8 w3-light-gray w3-center" :style="{ fontSize: fontSizeBase*18 + 'px' }">
      體驗點數紀錄
    </div>
    <div class="w3-container">
      <div class="w3-center w3-padding w3-margin-bottom w3-stretch w3-dark-gray"><span class="w3-text-light-gray" :style="{ fontSize: fontSizeBase*16 + 'px' }">近十筆紀錄</span></div>
      <div class="my-3">
        <div class="columns is-variable is-1 is-mobile">
          <!-- 總點數 -->
          <div class="column is-6 text-center" :style="(showAlmostExpiredPoint)?'':'width:100%;'">
            <div class="notification is-info is-light p-2 border border-info" @click="isTypeModal='detail';$store.commit('setCssTouch', false)">
              <div :style="{ fontSize: fontSizeBase*16 + 'px' }">
                總點數 <i class="fas fa-search fa-xs has-text-grey-light align-baseline"></i><br>
                <b class="has-text-black mx-2 line-height-100" :style="{ fontSize: fontSizeBase*36 + 'px' }">{{points}}</b>點
              </div>
            </div>
          </div>
          <!-- 即將到期 -->
          <div class="column is-6 text-center" v-if="showAlmostExpiredPoint">
            <div class="notification is-info is-light p-2 border border-info">
              <div :style="{ fontSize: fontSizeBase*16 + 'px' }">{{formatTime(showAlmostExpiredPoint.ExpiredDate, 'YYYY/MM/DD')}}
              到期<br>
              <b class="has-text-black mx-2 line-height-100" :style="{ fontSize: fontSizeBase*36 + 'px' }">{{parseInt(showAlmostExpiredPoint.Points)}}</b>點
              </div>
            </div>
          </div>
          <!-- end -->
        </div>
      </div>

      <div class="notification px-3 py-2 mb-3 border shadow-sm has-background-white-bis" v-for="data in pointData" :key="data.GID">
        <p class="my-2">{{data.TradeTime.substring(0, 10)}}<b class="ml-3">{{data.TradeTypeName}}</b></p>
        <div class="columns is-variable is-gapless is-mobile has-text-grey" :style="{ fontSize: fontSizeBase*16 + 'px' }">
          <!-- 消費金額<br><b class="has-text-black mx-2 line-height-100">{{parseInt(data.TradeAmount)}}</b>元 -->
          <div class="column text-center border-right">
            累積<br><b class="has-text-black mx-2 line-height-100" :style="{ fontSize: fontSizeBase*26 + 'px' }">{{data.TradePoints>0?'+':''}}{{parseInt(data.TradePoints)}}</b>點
          </div>
          <div class="column text-center">
            剩餘<br><b class="has-text-black mx-2 line-height-100" :style="{ fontSize: fontSizeBase*26 + 'px' }">{{parseInt(data.Points)}}</b>點
          </div>
        </div>
      </div>

      <p class="w3-center w3-opacity-max w3-padding-48" v-if="pointData.length === 0" :style="{ fontSize: fontSizeBase*16 + 'px' }">-- 無紀錄 --</p>

    </div>

    <!-- 跳窗 overlay -->
    <transition name="slide-fade">
      <div class="fixed-top w-100 h-100" style="z-index: 1040;background-color: rgba(10,10,10,0.86)" v-if="isTypeModal!=''" @click="isTypeModal='';$store.commit('setCssTouch', true)" v-cloak></div>
    </transition>

    <!-- 明細 -->
    <div class="fixed-top flex-center h-100" style="z-index:1041" v-if="isTypeModal=='detail'" @click.self="isTypeModal='';$store.commit('setCssTouch', true)">
      <div class="w3-modal-content w3-card-4 w3-round" style="min-width:360px">
        <h4 class="text-center mt-4 mb-0">
          <div class="notification p-2 mt-3 mx-3">
            總點數 <!--10000-->{{points}}
          </div>
        </h4>
        <p class="mb-0">
          <a class="delete is-medium w3-display-topright m-2" @click="isTypeModal='';$store.commit('setCssTouch', true)"></a>
        </p>
        <div class="p-3" :style="{ fontSize: fontSizeBase*16 + 'px' }">
          <div class="scroll-touch w3-stretch" style="height:360px">
            
            <!-- empty -->
            <p class="text-center w3-opacity-max py-5 my-5" v-if="!memberData.expiredPoints_section || memberData.expiredPoints_section.length<=0" :style="{ fontSize: fontSizeBase*16 + 'px' }">--無紀錄--</p>
            <div v-else class="px-2">
              <table class="table is-fullwidth">
                <thead>
                  <tr>
                    <th>有效期限</th>
                    <th>點數</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(item, index) in memberData.expiredPoints_section" :key="index">
                    <td>{{formatTime(item.ExpiredDate, 'YYYY/MM/DD')}}</td>
                    <td class="text-left">{{parseInt(item.Points)}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</template>

<script>
import store from 'src/store'
import { formatTime } from '../../libs/timeHelper.js'
export default {
  // 頁面資料: 請使用function return
  data: function(){
    return {
      title: '<%- @_SelfCode %>',
      state: this.$store.state,
      isTypeModal: '',
    };
  },
  computed: {
    // 簡化常用的 Vuex.store data (補充： 一定要寫在這, component 才會即時反應 $store.state 的變化)
    isLogin()  { return this.$store.getters.isLogin },
    memberData() { return this.$store.state.baseInfo.memberData },
    pointData() { 
      // return this.memberData.expiredPoints
      let pastData = this.memberData.expiredPoints

      let newData = pastData.map((item)=>{
        
        // 4,   -4: 積分兌換, 積分兌換退回 
        //          ==文字改為==> 使用體驗點數、體驗點數退回
        // 7,   -7: 積分換券, 積分換券退回
        // 15, -15: 公關贈點, 公關贈點退回
        // 16, -16: 活動贈點, 活動贈點退回
        // 17, -17: 商品贈點, 商品贈點退回 
        //          ==文字改為==> 滿額贈點、滿額贈點退回
        // 23, -23: 首購禮,   首購禮退回
        if (item.TradeTypeCode == 4) {
          item.TradeTypeName = '使用體驗點數'
        } else if (item.TradeTypeCode == -4) {
          item.TradeTypeName = '體驗點數退回'
        } else if (item.TradeTypeCode == 17) {
          item.TradeTypeName = '滿額贈點'
        } else if (item.TradeTypeCode == -17) {
          item.TradeTypeName = '滿額贈點退回'
        }

        // 這幾種要正負相反
        // 4,   -4: 積分兌換, 積分兌換退回
        if (['4', '-4'].includes(item.TradeTypeCode)) {
          item.TradePoints = -item.TradePoints
        }

        return item
      })

      return newData
    },
    showAlmostExpiredPoint() {
      let expiredPoints_section = this.memberData.expiredPoints_section
      if (expiredPoints_section && expiredPoints_section.length>0) {
        return expiredPoints_section[0]
      } else {
        return null
      }
    },
    points()     { return this.state.baseInfo.memberData.card_info.Points ? parseInt(this.state.baseInfo.memberData.card_info.Points) : 0 },
    fontSizeBase() { return store.getters.fontSizeBase },
  },
  // 頁面模組
  methods: {
    formatTime(timeStr, formatStr) {
      return formatTime(timeStr, formatStr)
    }
  },
  // 在路由刷新前
  beforeRouteEnter: function(to, form, next){
    store.dispatch('fetchAppPublicDataPointWuhu')
    // to: 上一個頁面代碼
    // form: 目前頁面代碼
    // next: 向下執行
    next();
  },
  // 建立頁面後
  created: function(){

  },
}
</script>