<template>
  <div>

    <div v-if="!isReady" class="position-fixed w-100 h-100" style="z-index: 9999;background-color: rgba(0,0,0,0);margin-top: -52px;" v-cloak>
      <div class="rounded-circle bg-white shadow-lg w3-display-middle p-2">
        <img src="../../assets/images/loading.svg" alt="" style="border-radius:100%;" width="64">
      </div>
    </div>
    
    <div class="w3-container w3-padding-8 w3-light-gray w3-center" :style="{ fontSize: fontSizeBase*18 + 'px' }">
      門市查詢
    </div>
    <!-- <div v-show="!myLoc || myLoc==''" class="locating">定位中,請稍候...</div> -->
    <article class="message is-warning" v-if="!myLoc || myLoc==''">
      <div class="message-body border-0 rounded-0 text-center p-2">定位中,請稍候...</div>
    </article>
    <ul class="w3-ul m-0 mt-3" :style="{ fontSize: fontSizeBase*16 + 'px' }">
      <li v-for="item in stores" :key="item.GID" class="w3-display-container">
        <a v-if="inDeviseApp" class="w3-section-8" style="text-decoration: none;"
          @click="deviseToGoogleMapsLink(item)"
          :style="{ fontSize: fontSizeBase*18 + 'px' }"
        ><i class="fas fa-map-marker-alt"></i>&nbsp;<b>{{item.OrgName}}<!--  ({{item.google_lat}}, {{item.google_lng}})[{{item.distance}}] --></b></a>

        <a v-if="!inDeviseApp"
          class="w3-section-8" style="text-decoration: none;"
          :href="`http://maps.google.com/?q=${item.Addr}`" target="_blank"
          :style="{ fontSize: fontSizeBase*18 + 'px' }"
        ><i class="fas fa-map-marker-alt"></i>&nbsp;<b>{{item.OrgName}} <!-- ({{item.google_lat}}, {{item.google_lng}})[{{item.distance}}] --></b></a>

        <p class="w3-section-8">{{item.Addr}}<br>
          <a v-if="inDeviseApp" @click="deviseMakePhoneCall(item)">{{item.Tel}}</a>
          <a v-if="!inDeviseApp" :href="'tel:'+ item.Tel">{{item.Tel}}</a>
        </p>
        <p v-if="item.Open" style="white-space:pre-wrap">營業時間： <br>{{item.Open}} </p>

        <div v-if="item.Mode" class="w3-padding-8">
          <!-- <button class="w3-button w3-round-xxlarge primary-color" style="padding:.25rem 1rem !important" @click="showIframe = true;$store.commit('setCssTouch', false)"><i class="fas fa-utensils fa-fw w3-opacity"></i> 預訂快取</button> -->
          <button v-if="item.Mode.takeout" class="w3-button w3-round-xxlarge primary-color" style="padding:.25rem 1rem !important" @click="showMOrder(item.ShopID, 'takeout')">
            <i class="fas fa-shopping-bag fa-fw w3-opacity"></i> 自取
          </button>
          <button v-if="item.Mode.delivery" class="w3-button w3-round-xxlarge primary-color" style="padding:.25rem 1rem !important" @click="showMOrder(item.ShopID, 'delivery')">
            <i class="fas fa-motorcycle fa-fw w3-opacity"></i> 外送點我
          </button>
          <button v-if="item.Mode.DeskPay" class="w3-button w3-round-xxlarge primary-color" style="padding:.25rem 1rem !important" @click="showMOrder(item.ShopID, 'DeskPay')">
            <i class="fas fa-utensils fa-fw w3-opacity"></i> 掃碼點餐
          </button>
          <button v-if="item.Mode.resdelivery" class="w3-button w3-round-xxlarge primary-color" style="padding:.25rem 1rem !important" @click="showMOrder(item.ShopID, 'resdelivery')">
            <i class="fas fa-motorcycle fa-fw w3-opacity"></i> 預定外送
          </button>
          <button v-if="item.Mode.restakeout" class="w3-button w3-round-xxlarge primary-color" style="padding:.25rem 1rem !important" @click="showMOrder(item.ShopID, 'restakeout')">
            <i class="fas fa-shopping-bag fa-fw w3-opacity"></i> 預定外帶
          </button>
        </div>
      </li>
    </ul>

    <!-- 點餐 iframe -->
    <transition name="slide-top">
      <div class="w3-white funcLayer" v-if="showIframe">
        <img src="images/x.svg" class="w3-opacity" style="height:1.75rem;position: absolute;top: 12px;right: 20px;" @click="showIframe=false;$store.commit('setCssTouch', true)">
        <iframe
            src="https://dev-service.jinher.com.tw/projectFeature/APP_MOrder/MOrder/index.html?EnterpriseID=54827062&ShopID=KH01#/"
            style="width: 100%;height: 100%;"
            frameborder=0 scrolling=auto></iframe>
      </div>
    </transition>

  </div>

</template>

<script>
import { getDistance } from 'geolib'  
import store from 'src/store'
import { deviseFunction } from 'src/libs/deviseHelper.js'

export default {
  // 頁面資料: 請使用function return
  data: function(){
    return {
      title: '<%- @_SelfCode %>',
      isSideMenu: false,
      showIframe: false,
      state: this.$store.state
    };
  },
  computed: {
    mainEnterpriseID() { return this.state.publicData.MainEnterPriseID },
    inDeviseApp() { return (typeof(JSInterface) === 'object') },
    currentApp() { return this.state.currentAppUser.EnterPriseID },
    myLoc() {
      const gps = this.state.baseInfo.gps
      if (gps.lat == undefined || gps.lat == '' || gps.lng == undefined || gps.lng == '') return ''
      return {latitude: gps.lat, longitude: gps.lng}
    },
    stores() {
      let list = this.state.baseInfo.publicData.storeList
      let endList = list
      // console.log('stores ===> myLoc =>', this.myLoc)
      // console.log('stores ===> list =>', list)

      if (list) {
        // === 算距離 start ===
        [].slice.call(list).forEach((item)=>{
          // console.log('===> item =>', item)
          item.distance = null // 預設放null
          const isNoLoc = (item.google_lat.length == 0 || item.google_lng.length == 0 || item.google_lat == '' || item.google_lng == ""  )
          if (!isNoLoc && this.myLoc!='') {
            const itemLoc = {latitude: item.google_lat, longitude: item.google_lng}
            let distance = getDistance(this.myLoc, itemLoc)
            item.distance = distance
            // console.log('===> distance =>' + distance)
          }
        })
        // === 算距離 end ===

        // console.log('stores middle ===>', list)

        // 由近而遠排序
        endList = [].slice.call(list).sort((a, b) => {
          if (a.distance === null) {
            return 1
          } else if (b.distance === null) {
            return -1
          } else if (a.distance > b.distance) {
            return 1;
          } else if (a.distance < b.distance) {
            return -1;
          }
          return 0;
        })
      }
      
      
      // console.log('stores end ===>', endList)
      return endList
    },
    fontSizeBase() { return store.getters.fontSizeBase },
    isReady() {
      const storeList = this.state.baseInfo.publicData.storeList
      
      if (storeList && storeList.length>0) {
        // console.log('isReady ===> true')
        return true
      } else {
        // console.log('isReady ===> false')
        return false
      }
    }
  },
  methods: {
    // (殼專屬) 打電話
    deviseMakePhoneCall(store) {
     return deviseFunction('Tel', store.Tel, '')
    },
    // (殼專屬) 另開瀏覽器 app，開啟 Google map 連結
    deviseToGoogleMapsLink(store) {
      const gmapUrl = `http://maps.google.com/?q=${store.Addr}`
     return deviseFunction('openWeburl', gmapUrl, '')
    },
    // (殼專屬) 點擊分享按鈕
    deviseShare(store){
      const gmapUrl = `http://maps.google.com/?q=${this.eName},${store.Addr}`
      return deviseFunction('shareTo', `{"subject":"", "body":"嗨!跟你分享一個美食好所在!! ${gmapUrl}", "chooserTitle":""}`, '')
    },
    // 導向點餐頁
    showMOrder(ShopID, ShopType) {
      const isDevelopment = (/dev-service.jinher.com.tw\/projectFeature\//.test(window.location.href))
      let url
      if (isDevelopment)  url = `https://dev-service.jinher.com.tw/projectFeature/APP_MOrder/MOrder/index.html?EnterpriseID=${this.mainEnterpriseID}&ShopID=${ShopID}#/`
      if (!isDevelopment) url = `https://kakar.jinher.com.tw/app/morder/index.html?EnterpriseID=${this.mainEnterpriseID}&ShopID=${ShopID}#/`

      // 預設值
      const data = {
        // 會員門店號
        "ShopID": ShopID,
        // 主企業號的 ID
        "mainEnterpriseID": this.mainEnterpriseID,
        // 主企業號的 connect
        "mainConnect": this.state.publicData.MainConnect,
        // Mode選的type, (ex:takeout)
        "ShopType": ShopType,
        // Mode選的type, (ex:takeout)
        "Mobile": this.state.userData.Account,
        // 登入者姓名
        "Username": this.state.userData.Name,
        // 登入者地址
        "Address": this.state.userData.Address,
      }

      // 寫入要存的 key 設定
      data['_KEY'] = "ShopID,mainEnterpriseID,ShopType,Mobile,Username,Address,mainConnect"

      // 執行存入殼裡
      deviseFunction('SetSPS', JSON.stringify(data), '')

      return window.location.href = url
    }
  },
  async beforeRouteEnter(to, from, next) {
    await store.dispatch('ensureGetDeviseGPS')
    store.dispatch('fetchAppPublicDataStoreWuhu')
    next()
  },
}
</script>
<style type="text/css">
  .locating {
    text-align: center;
    height: 50px;
    background-color: sandybrown;
    padding-top: 10px;
  }
</style>