<template>
  <div><!-- 必有這一層,在手機的pull request才有作用 -->
    <div class="scroll-auto-fix">
      <!-- 未登入 -->
      <div v-if="!isLogin" >
        <!--transform: translate(-50%,-50%);-->
        <div style="position: absolute;top: 30%;left: 50%;">
          <img src="../../assets/images/logo-kakar-box.svg" style="width: 120px;">
        </div>
        <div style="margin-top: 450px;" class="mx-3">
          <!-- <p @click="$router.push('/register')" class="button is-warning is-fullwidth is-medium">註冊</p> -->
          <p @click="$router.push('/login')" class="button is-link is-fullwidth is-medium mt-3">登入</p>
        </div>
      </div>

      <!-- 已登入 v-if="isLogin && !isLoadCard" -->
      <div v-if="isLogin && !isLoadCard && isNotLinePara()" class="mx-auto my-2 p-2" style="max-width: 560px" >
        <!-- <div v-if="!isReady" class="position-fixed w-100 h-100" style="z-index: 9999;background-color: rgba(0,0,0,0);margin-top: -52px;" v-cloak>
          <div class="rounded-circle bg-white shadow-lg w3-display-middle p-2">
            <img src="../../assets/images/loading.svg" class="rounded-circle" width="64">
          </div>
        </div> -->
        <!-- 卡包 list :style="showCardImg(user)" -->
        <div class="columns is-variable is-1 is-multiline is-mobile">
          <div class="column py-1" v-for="user in currentAppUsersK" :key="user.EnterpriseID" :class="[$store.state.gridView?'is-half':'is-full']">
            <div
              class="k2-appCard shadow-sm w3-display-container"
              @click.stop="toCard(user)"
              v-lazy:background-image="showCardImg(user)"
            >
              <div class="w3-display-topleft card-name">
                <!-- 企業中文名稱及卡類型-->
                <div class="is-size-5 mb-1">{{showEnterpriseName(user)}}</div>
                <!-- <b class="is-size-5">{{user.CardTypeName}}</b> -->

              </div>
              <!-- 累積點數 -->
              <div class="w3-display-bottomleft card-point" v-if="user.cardPoint > 0">
              <!-- 累積--><span class="text-stroke"><b>{{user.cardPoint}}</b> 點</span>
              </div>
              <!-- QRcode -->
              <div class="w3-display-bottomright card-code" @click.stop="showQrcode(user)">
                <img src="../../assets/images/mbrCode.svg">
              </div>
                <!-- 優惠卷張數： -->
              <div class="w3-display-topright card-coupon" v-if="user.cardTicket.length !== 0" v-cloak>
                <span class="badge rounded-pill" style="height:25px;line-height:25px">{{user.cardTicket.map(item => {return parseInt(item.TicketCount)}).reduce((a, b) => { return a + b })}}</span>
              </div>
            </div>
          </div>
        </div>

        <!-- 空會員卡資料的畫面-->
        <div v-if="vipApps.length === 0 && $store.state.vipAppsLoaded" class="k2-appCard shadow-sm mb-3">
          <div class="w3-display-middle w3-large" style="color:var(--primary-color)" @click="openBarcodeScan()">
            <u><b class="w3-large w3-padding-small">加入會員卡</b></u>
          </div>
        </div>

        <!-- 加入會員卡說明-->
        <div v-if="vipApps.length === 0 && $store.state.vipAppsLoaded" class="p-4 w3-large w3-round-xlarge w3-light-gray" style="border:2px dashed #ccc !important">
          <div class="columns is-gapless is-mobile ">
            <div class="column is-3">
              <figure class="image is-64x64 m-0">
                <img src="../../assets/images/hint-tutor.svg">
              </figure>
            </div>
            <div class="column is-9">您需要點下方 [掃碼加入] 按鈕，就能將店家的會員卡加入。</div>
          </div>
        </div>
      </div>
      <div v-if="!isNotLinePara()" style="top:0;right:0;left:0;bottom:0;display:flex;position:fixed;align-items:center;justify-content:center;z-index:99999">
        <div style="text-align:center;">
          <img src="../../assets/images/pending2.svg" width="150">
          <p style="color: gray;margin-top: 8px"><small>資料加載中，請稍後...</small></p>
        </div>
      </div>
      <!-- 會員卡的 QRCode -->
      <transition name="slide-top">
        <div class="modal is-active" v-if="cardQRcode.show">
          <!-- <div v-if="!isQrReady" class="position-fixed w-100 h-100" style="z-index: 9999;background-color: rgba(0,0,0,0);" v-cloak>
            <div class="rounded-circle bg-white shadow-lg w3-display-middle p-2">
              <img src="../../assets/images/loading.svg" alt="" style="border-radius:100%;">
            </div>
          </div> -->
          <div class="modal-background"></div>
          <div class="modal-content">
            <div  class="box is-light text-center mx-auto w3-animate-opacity" style="max-width:320px" v-if="cardQRcode.data.loaded">
              <h5>
                <b class="d-block is-size-4 p-2 primary-color rounded-lg mb-1" style="color:var(--primary-color)">{{$store.getters.currentApp.AppName}}</b>
                會員條碼
              </h5>
              <img :src="cardQRcode.data.image" class="w3-image p-3" alt="" style="width: 85%">
              <p class="my-2">
                {{cardQRcode.data.value}}
                <br>
                本次條碼可使用時間 {{cardQRcode.timer}} 秒
              </p>
            </div>
          </div>
          <button class="modal-close is-large scale-150 margin-top-env" @click="hideCardCode"></button>
        </div>
      </transition>

      <!-- ***** 其他實體卡元件(暫先隱藏) isLogin && isStaging ***** -->

      <div class="px-2 mx-auto" style="max-width: 560px" v-if="false">
        <div class="py-2">
          <div class="is-divider mx-0" data-content="實體卡"></div>
        </div>
        <div class="level is-mobile has-text-link mb-0 mt-n2 px-1">
          <div class="level-left">
            <div class="level-item" v-if="!isOtherCardData.some(i => i.num != '')">
              點選任一張卡開始
            </div>
          </div>
          <div class="level-right">
            <div class="level-item" @click="addOtherCard = true">
              <span>
                更多 <i class="fas fa-plus has-text-link"></i>
              </span>
            </div>
          </div>
        </div>
        <div class="py-3">
          <div class="columns is-variable is-1 is-multiline is-mobile">
            <div class="column py-1" v-for="i in isOtherCardData" :key="i.image" :class="[$store.state.gridView?'is-half':'is-full']">
              <!-- 已有加入卡 -->
              <template v-if="isOtherCardData.some(i => i.num != '')">
                <div
                  class="k2-appCard shadow-sm w3-display-container"
                  v-lazy:background-image="i.image"
                  @click="showOtherCardQrcode(i.id)"
                >
                  <!-- QRcode -->
                  <div class="w3-display-bottomright card-code" v-if="i.num != ''">
                    <img src="../../assets/images/mbrCode.svg">
                  </div>
                </div>
              </template>
              <!-- 開始 -->
              <template v-else>
                <div
                  class="k2-appCard shadow-sm w3-display-container"
                  v-lazy:background-image="i.image"
                  @click="openOtherCardScanModal(i.id)"
                >
                </div>
              </template>
            </div>
          </div>
        </div>
      </div>

      <!-- 其他實體卡列表 -->
      <transition name="slide-top">
        <div class="fixed-top w-100 h-100 bg-white" style="z-index: 998" v-if="addOtherCard">
          <header class="border-bottom is-size-5 p-3">
            <div class="columns is-mobile padding-top-env">
              <div class="column is-2 has-text-grey-light">&nbsp;</div>
              <div class="column text-center">更多實體卡</div>
              <div class="column is-2 has-text-dark has-text-right" @click="addOtherCard = false"><i class="fas fa-times"></i></div>
            </div>
          </header>
          <main class="scroll-touch mx-auto" style="height:calc(100% - 60px); max-width: 560px" :style="{ fontSize: fontSizeBase*16 + 'px' }">
            <div class="py-3 px-2">
              <p class="pt-3 mt-5 has-text-centered has-text-grey-lighter" v-if="!isOtherCardDataMore.length">--- 無更多實體卡資料 ---</p>
              <div class="columns is-variable is-1 is-multiline is-mobile">
                <div class="column py-1 is-half" v-for="i in isOtherCardDataMore" :key="i.image">
                  <div
                    class="k2-appCard shadow-sm w3-display-container"
                    v-lazy:background-image="i.image"
                    @click="openOtherCardScanModal(i.id)"
                  >
                    <div class="w3-display-bottomright" style="padding:12px">
                      <i class="fas fa-plus shadow-to-object has-text-white"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </main>
        </div>
      </transition>

      <!-- 掃描實體卡號加入-->
      <transition name="slide-top">
        <div class="modal is-active" v-if="$store.state.showInputOtherCard" style="z-index: 999" >
          <div class="modal-background"></div>
          <div class="modal-content mt-4" style="max-width:500px;overflow:visible">
            <!-- 手動輸入卡號 | 掃碼 -->
            <div class="box m-3 py-4">
              <div class="w3-display-container py-4 text-center">
                <div class="w3-display-bottommiddle w-100 pb-3">
                  <img width="64%" class="shadow-sm" style="border-radius:12px" :src="otherCardQrcodePic">
                </div>
              </div>
              <div class="columns is-mobile is-multiline is-centered">
                <div class="column py-2 is-full">
                  <div class="field is-grouped">
                    <p class="control has-icons-left has-icons-right is-expanded">
                      <input placeholder="卡名稱" class="input shadow-none border-0 border-bottom is-medium"
                        v-model="inputOtherCardName"
                        @blur.prevent="fixScroll"
                      >
                      <span class="icon is-left">
                        <i class="fas fa-address-card"></i>
                      </span>
                      <span class="icon is-right" v-if="inputOtherCardName !== ''" @click="inputOtherCardName = ''">
                        <a class="delete"></a>
                      </span>
                    </p>
                  </div>
                </div>
                <div class="column py-2 is-full">
                  <div class="field is-grouped">
                    <p class="control has-icons-left has-icons-right is-expanded">
                      <input placeholder="手動輸入卡號" class="input shadow-none border-0 border-bottom is-medium"
                        v-model="inputOtherCard"
                        @blur.prevent="fixScroll"
                      >
                      <span class="icon is-left">
                        <i class="fas fa-barcode"></i>
                      </span>
                      <span class="icon is-right" v-if="inputOtherCard !== ''" @click="inputOtherCard = ''">
                        <a class="delete"></a>
                      </span>
                    </p>
                  </div>
                </div>
                <div class="column is-half pt-4">
                  <button class="button is-info is-fullwidth is-medium"
                    :disabled="!inDeviseApp"
                    @click="openOtherCardScan()"
                  >
                    <span class="icon">
                      <i class="fas fa-expand"></i>
                    </span>
                    <span>掃描卡號</span>
                  </button>
                </div>
                <div class="column is-half pt-4">
                  <button class="button is-medium is-fullwidth is-success" @click="setOtherCard()">確認</button>
                </div>
              </div>
            </div>
          </div>
          <button class="modal-close is-large scale-150 margin-top-env" aria-label="close" @click="$store.state.showInputOtherCard = false"></button>
        </div>
      </transition>

      <!-- 實體會員卡的 QRCode -->
      <transition name="slide-top">
        <div class="modal is-active" v-if="isOtherCardQrcode">
          <div class="modal-background"></div>
          <div class="modal-content mt-5" style="overflow:visible">
            <div class="box is-light text-center mx-auto w3-animate-opacity" style="max-width:320px">
              <div class="w3-display-container py-3">
                <div class="w3-display-bottommiddle w-100">
                  <img width="64%" class="shadow-sm mt-n5" style="border-radius:12px" :src="otherCardQrcodePic">
                </div>
              </div>
              <h5 class="my-3">
                <b class="d-block is-size-5 p-2 has-background-grey-lighter rounded-lg mb-1">{{ otherCardQrcodeTitle }}</b>
              </h5>
              <div><img v-lazy="`http://barcodes4.me/barcode/qr/google.png?ecclevel=2&size=6&margin=20&value=${otherCardQrcodeNum}`"></div>
              <div><img v-lazy="`http://barcodes4.me/barcode/c128b/${otherCardQrcodeNum}.gif?height=88?resolution=4`"></div>
              <p class="has-text-centered">{{ otherCardQrcodeNum }}</p>
              <button class="button is-fullwidth mt-3" @click="confirmOtherCardQrcode()">移除</button>
            </div>
          </div>
          <button class="modal-close is-large scale-150 margin-top-env" @click="isOtherCardQrcode =false"></button>
        </div>
      </transition>

    </div>
  </div>
</template>

<style lang="scss" scoped>
  .column {
    transition: width .3s ease;
  }
  .k2-appCard {
    border: 1px solid #ccc;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    padding-top: 62.8%;
    background-image: url("../../assets/images/card_default.png");
    background-size: cover;
    font-size: 18px!important;
    border-radius: 16px;
    position: relative;
    color: black;
    .card-name {
      padding: 16px 0 0 80px;
    }
    .card-coupon {
      margin: 8px;
    }
    .card-code {
      margin: 16px;
      img {
        height: 36px;
      }
    }
    .card-point {
      margin: 16px;
      b {
        font-size: 36px;
      }
    }
  }
  // 單行兩張卡
  .is-half {
    padding: 8px;
    .k2-appCard {
      border-radius: 8px;
      .card-name {
        padding: 8px 8px 0 40px;
      }
      .card-coupon {
        margin: -8px;
      }
      .card-code {
        margin: 8px;
        img {
          height: 30px;
        }
      }
      .card-point {
        margin: 8px;
        font-size: 12px;
        b {
          font-size: 26px;
        }
      }
    }
  }
  .badge {
    border: 1px solid white;
    background-color: var(--primary-color);
    color: #fff;
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
  }
  .scroll-auto-fix {
    height: calc(100vh - 104px - env(safe-area-inset-top) - env(safe-area-inset-bottom));
  }
  @media screen and (min-width: 1px), print {
    .column.is-half, .column.is-half-tablet {
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;
        width: 50%;
    }
  }
  .swiper-slide {
    width: 28% !important;
    .k2-appCard {
      border-radius: 8px;
    }
  }
  .shadow-to-object {
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, .8));
  }
</style>

<script>
import store from 'src/store'
import { isLogin, fixScroll, showAlert, showConfirm, hideModal, isNotLinePara } from 'src/libs/appHelper.js'
import { computed, reactive, watch } from '@vue/composition-api'
import { deviseFunction, cbFnScanQrCode} from 'src/libs/deviseHelper.js'

// 卡面文字要設成白色的名搬
const whiteValidate = { kakartest: false, '4210098209': true, '24981398': true, '2498313603': true, '53574645': true, 'kakar2': true }
// 取得的卡包
const vipApps = computed(() => store.state.vipApps )
// 卡包的會員資訊
//const currentAppUsers = computed(() => store.getters.currentAppUsersWuhu )
const currentAppUsers = computed(() => store.getters.currentAppUsers )

// 判斷是否顯示白色樣式
function isWhite(userData) {
  return whiteValidate[userData.EnterPriseID]
}

// 卡面底圖
function showCardImg(userData) {
	//console.log('showCardImg: ', userData);	// @@

  // let style = 'background-image: url(https://dev-service.jinher.com.tw/projectFeature/APP_KK/Kakar/images/default-card.png)'
  const isImage = /.jpg|.jpeg|.png|.gif|.bmp/.test(userData.CardFacePhoto)
  // if (userData.CardFacePhoto && isImage) style = `background-image: url(${userData.CardFacePhoto})`
  if (userData.CardFacePhoto && isImage) return userData.CardFacePhoto
  // if (isWhite(userData)) style += ';color: white'
  return {
    src: require('@/assets/images/card_default.png'),
    // loading: require('@/assets/images/card_loading.gif'),
  }
}
// 顯示卡包的企業名
function showEnterpriseName(userData) {
  const isPhoto = (userData.CardFacePhoto && (/.jpg|.jpeg|.png|.gif|.bmp/.test(userData.CardFacePhoto)));
  if (isPhoto) return '';
  const eID = userData.EnterPriseID
  const vip = vipApps.value.find(item => item.EnterpriseID === eID)
  return (vip) ? vip.AppName : ''
}

// QRcode 的參數
const cardQRcode = reactive({
  gid: '',
  timer: 60,
  show: false,
  counter: '',
  data: computed(() => store.state.cardQRCode )
})

// 開啟手機的條碼掃描(實體卡)
function openOtherCardScanModal(id) {
  this.inputOtherCard = ''
  this.inputOtherCardName = '' // 清空畫面
  this.otherCardId = id
  this.otherCardQrcodePic = this.otherCardData.find(i => i.id == id).image
  this.inputOtherCardName = this.otherCardData.find(i => i.id == id).title
  store.commit('showInputOtherCard', true)
}
// 條碼掃描帶入卡號(實體卡)
function openOtherCardScan() {
  return deviseFunction('barcode', '', '"cbFnScanKakarAppsQrCode"')
}

// QRcode 參數監聽
watch(() => cardQRcode.timer, () => renderQRcode() )

// 顯示 QRcode 畫面
function showQrcode(userData) {
  store.commit('setCurrentAppUser', userData)
  store.commit('setCssTouch', false)
  cardQRcode.gid = userData.cardGID
  cardQRcode.show = true
  // 計時器重設(觸發取會員條碼並倒數計時的邏輯)
  cardQRcode.timer = 0

  // 重新跟殼取資料(主要更新當下螢幕亮度值)
  deviseFunction('GetSPAll', '', '"cbFnSyncDeviseInfoToStore"')
  // 進入時將殼的螢幕調到最亮
  deviseFunction('setBrightness', '255', '')
}

// 執行顯示 QRcode 的邏輯
function renderQRcode() {
  // 只在計數器為零時才執行
  if (cardQRcode.timer > 0) return
  // 取會員 QRcode
  store.dispatch('fetchCardQRCodeData', cardQRcode.gid)
  // 將計數器回到 60 秒
  cardQRcode.timer = 60
  // 開始倒數計時
  if (cardQRcode.counter === '') cardQRcode.counter = setInterval(()=> { cardQRcode.timer = cardQRcode.timer - 1 }, 1000)
}
// 開啟手機的條碼掃描
function openBarcodeScan() { return deviseFunction('barcode', '', '"cbFnScanKakarAppsQrCode"') }
export default {
  props: {
    gridView: {type: Boolean},
  },
  name: 'index',
  // 頁面資料: 請使用function return
  data: function(){
    return {
      state: this.$store.state,
      inputOtherCard: '',
      inputOtherCardName: '',
      addOtherCard: false,
      otherCardId: '',
      otherCardData: [
        { id: 1, title: 'OPEN POINT', num: '', image: require('@/assets/images/app/01.jpg') },
        { id: 2, title: 'FamilyMart', num: '', image: require('@/assets/images/app/02.jpg') },
        { id: 3, title: 'HAPPY GO', num: '', image: require('@/assets/images/app/03.jpg') },
        { id: 4, title: '全聯福利中心', num: '', image: require('@/assets/images/app/04.jpg') },
        { id: 5, title: 'eslite 誠品', num: '', image: require('@/assets/images/app/05.jpg') },
        { id: 6, title: 'COSMED 康是美', num: '', image: require('@/assets/images/app/07.jpg') },
      ],
      isOtherCardQrcode: false,
      otherCardQrcodeTitle: '',
      otherCardQrcodeNum: '',
      otherCardQrcodeId: '',
    };
  },
  async beforeRouteEnter(to, from, next) {
    if (to.path == "/list" && from.path == "/" && store.getters.currentAppUsers == 0) {
      store.commit('clearAppPublicData')
      store.commit('clearAppMemberData')
      const appQ = store.state.lineLogin.appQrcode;
      const {linePara,lineNofInfo} = store.state.searchURL;
      if ((linePara != "" || lineNofInfo != "")  && appQ === ""){
        //LINE應用解析檢查
        var tt= 6;
        var counter = setInterval(() => {
          //用短網址取appQrcode,未取回就跳到這,會抓不到appQrcode
          if (tt === 0 || appQ !== "") {
            clearInterval(counter);
            next((vm) => { // vm is the Vue instance
              vm.checkJumpPage();

            })
          }
          tt = tt-1;
        }, 150);
      }else{
        next((vm) => { // vm is the Vue instance
          vm.checkJumpPage();

        })
      }

    }else{
      next((vm) => { // vm is the Vue instance
        if (document.querySelector(".pull-down-container")) document.querySelector(".pull-down-container").scrollTop = vm.$store.state.cardListScrollMap;
      })

    }
  },
  setup(props, context) {
    // 主畫面 layout (預設為 Kakar)
    const layout = computed(() => context.root.$route.meta.layout || 'Kakar' )

    // 關閉 QRcode 畫面
    function hideCardCode() {
      cardQRcode.cardGID = ''
      cardQRcode.show = false
      store.commit('setCssTouch', true)

      // 刷新積點資料 (依據 layout 不同更新 vipApps / vipUserData)
      if (layout === 'kakar') store.dispatch('fetchVipApps')
      if (layout === 'card')  store.dispatch('fetchAppUserData')
      // 清空會員 QRcode 資料
      store.commit('setCardQRCodeData', {value: '', image: '', loaded: false})
      // 關閉倒數計時器
      clearInterval(cardQRcode.counter) ; cardQRcode.counter = '' ; cardQRcode.timer = 60
      // 將殼的螢幕恢復原本亮度
      deviseFunction('setBrightness', store.getters.deviseBrightness, '')
    }

    return {
      isLogin, vipApps, isWhite, showCardImg, fixScroll, showAlert, showConfirm, hideModal,
      currentAppUsers, showEnterpriseName,
      cardQRcode, showQrcode, hideCardCode, layout,openBarcodeScan,
      openOtherCardScanModal, openOtherCardScan
    }
  },
  mounted() {
    const scroll2 = this.$store.state.cardListScroll2
    if (scroll2) {
      window.scrollTo(0, scroll2)
    }
  },
  methods: {
    isNotLinePara,
    async doJump(_appCard){
      const {EnterpriseID} = this.state.lineLogin
      const {FromTDID} = this.$store.state.member
      const {isFrom} = _appCard
      if (FromTDID && isFrom){
        store.dispatch('fetchVipSetData', _appCard)  //apiip等設定,不撈網路
        let user = this.$store.state.vipUserData.find(item => item.EnterPriseID === EnterpriseID)
        if (user) store.commit('setCurrentAppUser', user)
        const isLogin = this.isLoginChild && this.isLogin
        //FromTDEmail,FromTDNickName,Tokenkey
        if (!isLogin) await store.dispatch('memberThirdChildLogin',  {EnterpriseID, isFrom, FromTDID}) //未取到token時.
        if (user && isLogin) store.dispatch('pathCheck', user) //前往何處路由
      }
    },
    async checkJumpPage() {

      const {appQrcode, EnterpriseID} = this.state.lineLogin

      if (appQrcode !== ""){
        await store.dispatch('fetchVipAppsOnlyList', {enterpriseID:EnterpriseID})
        const appCard = this.$store.state.vipApps.find(curApp => {
          return curApp.EnterpriseID == EnterpriseID && curApp.QrCode == appQrcode
        })

        if (!appCard) await cbFnScanQrCode({QrCode:appQrcode,fn:()=>{
          const findaddCard = this.$store.state.vipApps.find(curApp => {
            return curApp.EnterpriseID == EnterpriseID && curApp.QrCode == appQrcode
          })
          if (findaddCard) this.doJump(findaddCard)
        }}) //找不到時,再加卡包
        if (appCard) this.doJump(appCard)
      }else{
        store.dispatch('fetchVipApps')
      }

    },
    toCard(user) {
			// console.log('toCard-user: ', user);	// @@

      user.fn =() => {	// call back: 成功才會回調
				this.$router.push('/card/' + user.EnterPriseID)
				this.$store.commit('setCardListScrollMap', document.querySelector(".pull-down-container").scrollTop);
				this.$store.state.cardListScroll2 = window.pageYOffset
      }
      this.$store.dispatch('AccessInApp', user)
    },
    setOtherCard() {
      if (this.inputOtherCardName === '') return showAlert('請輸入卡名稱')
      if (this.inputOtherCard === '') return showAlert('請輸入卡號')
      store.commit('showInputOtherCard', false)
      this.addOtherCard = false
      this.otherCardData.find(i => i.id == this.otherCardId).title = this.inputOtherCardName
      this.otherCardData.find(i => i.id == this.otherCardId).num = this.inputOtherCard
      return this.otherCardData.filter(i => i.num == ''), showAlert('新增成功！')
    },
    showOtherCardQrcode(id) {
      this.isOtherCardQrcode = true
      this.otherCardQrcodeTitle = this.isOtherCardData.find(i => i.id == id).title
      this.otherCardQrcodeNum = this.isOtherCardData.find(i => i.id == id).num
      this.otherCardQrcodePic = this.isOtherCardData.find(i => i.id == id).image
      this.otherCardQrcodeId = this.isOtherCardData.find(i => i.id == id).id
    },
    confirmOtherCardQrcode() {
      showConfirm("請問要移除此卡嗎?")
        // 點擊確認執行
        .then(() =>{
          hideModal()
          this.isOtherCardData.find(i => i.id == this.otherCardQrcodeId).num = ''
          this.isOtherCardData.find(i => i.id == this.isOtherCardQrcodeId).title = ''
          this.isOtherCardQrcode = false
        })
        // 點擊取消執行關閉 confirmn 視窗
        .catch(()=>{
          hideModal()
          this.isOtherCardQrcode = false
        })
    },
  },
  computed: {
    isLoginChild() {return store.getters.isLoginChild},
    inDeviseApp() { return (typeof(JSInterface) === 'object') },
    currentAppUsersK(){
      //index.js的currentAppUsers連動怪怪的,
      let appUsers = this.$store.state.vipUserData
      // 依據點擊次數排序
      appUsers = appUsers.sort((a, b) => {
        const aClicks = this.$store.state.appClicks[a.EnterPriseID] || 0
        const bClicks = this.$store.state.appClicks[b.EnterPriseID] || 0
        if (aClicks > bClicks) return -1
        if (aClicks < bClicks) return 1
        if (aClicks === bClicks) return 0
      })
      // 使用 state.appFilter 篩選
      if (this.$store.state.appFilter === '') return appUsers
      const eIDs = this.$store.state.vipApps.filter(item => {
        const filter  = this.$store.state.appFilter.trim().toLowerCase()
        const eID     = item.EnterpriseID.trim().toLowerCase()
        const isFrom  = item.isFrom.trim().toLowerCase()
        const AppName = item.AppName.trim().toLowerCase()
        return RegExp(filter).test(eID) || RegExp(filter).test(isFrom) || RegExp(filter).test(AppName)
      }).map(item => item.EnterpriseID)
      return this.$store.state.vipUserData.filter(item => eIDs.find(eID => (eID === item.EnterPriseID)) )

    },
    fontSizeBase() { return store.getters.fontSizeBase },
    isReady() {
      let allData = store.getters.currentAppUsers
      // let allData = store.getters.currentAppUsersWuhu
      if (allData && (allData.length>0 || allData.length == 0)) {
        return true
      } else {
        return false
      }
    },
    isQrReady() {
      let imageStr = cardQRcode.data.image
      if (imageStr && imageStr!='') {
        return true
      } else {
        return false
      }
    },
    isLoadCard() { return store.state.isLoadCard },
    isStaging() { return location.href.indexOf('staging')>=0 },
    // 已加入實體卡清單
    isOtherCardData() {
      if(this.otherCardData.some(i => i.num != '')) return this.otherCardData.filter(i => i.num != '')
      return this.otherCardData
    },
    // 更多實體卡清單
    isOtherCardDataMore() {
      if(this.otherCardData.some(i => i.num != '')) return this.otherCardData.filter(i => i.num == '')
      return this.otherCardData
    },

  }
}
</script>