<template>
  <div class="px-3 vh-100 d-flex align-items-center">
    <div class="w-100" v-if="isNotLinePara()">
      <div class="w3-center pb-5 mb-5">
        <img src="../../assets/images/logo.svg" style="height:8rem">
      </div>
      <!-- 登入表單 -->
      <div class="field">
        <div class="control has-icons-left">
          <input class="input shadow-none border-0 border-bottom is-medium" type="number" pattern="[0-9]*" placeholder="手機號碼" v-model="loginForm.account"
          @blur.prevent="fixScroll">
          <span class="icon is-left">
            <i class="fas fa-user"></i>
          </span>
        </div>
      </div>
      <div class="field">
        <div class="control has-icons-left">
          <input class="input shadow-none border-0 border-bottom is-medium" type="password" placeholder="密碼" v-model="loginForm.password"
          @blur.prevent="fixScroll">
          <span class="icon is-left">
            <i class="fas fa-key"></i>
          </span>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <button class="button primary-color is-fullwidth is-medium mt-4" :disabled="loginForm.submited" @click="login">
            <span v-if="!loginForm.submited">確定</span>
            <span v-if="loginForm.submited">登入中...</span>
          </button>
          <!-- isMobileV,登入暫時不在網頁做LINE login,一律在微管雲721713生成-->
          <button class="button is-fullwidth is-medium mt-4" style="background-color:#00C300" :disabled="loginForm.submited" v-if="isMobileV()" @click="LineLogin">
            <img :src="require('@/assets/images/btn_base.png')" style="position: absolute;left: 6px;top: 50%;transform: translateY(-50%);" :disabled="loginForm.submited">
            <span v-if="!loginForm.lineSubmited" style="color: white;">Log in</span>
            <span v-if="loginForm.lineSubmited" style="color: white;">登入中...</span>
          </button>
          <!-- <div class="mt-3 text-right">
            <a @click="showAlert('請聯絡管理員<br>07-2130199轉9 或 0800-668-179')">
              忘記密碼？
            </a>
          </div> -->
        </div>
      </div>
      <div class="field text-right mt-3">
        <!-- <label class="checkbox">
          <input type="checkbox" v-model="loginForm.rememberMe">
          保持登入狀態
        </label> -->
        <a @click="pwModal = true">
          忘記密碼
        </a>
        <!-- <a @click="lineToPassword = true">
          忘記密碼
        </a> -->
        <span class="mx-2 has-text-grey-lighter">|</span>
        <a @click="$router.push('/register')">
          加入會員
        </a>
      </div>

      <!-- 忘記密碼 Modal -->
      <div class="modal px-3 is-active" v-if="pwModal" v-cloak>
        <div class="modal-background"></div>
        <div class="modal-content px-4 py-2 rounded-lg bg-white">
          <input class="w3-input w3-border-bottom w3-border-gray w3-large w3-section" @blur.prevent="fixScroll" type="number" pattern="[0-9]*" placeholder="請輸入手機號碼" v-model="forgotPWForm.memberCode" name="usrname" required>
          <div class="w3-section w3-display-container">
            <input class="w3-input w3-block w3-border-bottom w3-border-gray w3-large" @blur.prevent="fixScroll" type="text" placeholder="驗證碼" v-model="forgotPWForm.SMSValidateCode" name="pscode" required>
            <button class="w3-btn w3-round w3-display-topright w3-black mt-n1" :disabled="forgotPWForm.countNum > 0" @click="getSMSValidateCode"><i class="fas fa-sms"></i> {{ (forgotPWForm.countNum > 0) ? `${forgotPWForm.countNum} 秒後可重發` : '取得驗證碼' }}</button>
          </div>
          <div class="w3-section w3-center">
            <button class="w3-button w3-round w3-large w3-light-gray w3-hover-light-gray" style="width:49%;margin-right:4px;" @click="pwModal = false">取消</button>
            <button class="w3-button w3-round w3-large primary-color" style="width:49%" @click="snedAppSMSForgetPW" :disabled="forgotPWForm.memberCode=='' || forgotPWForm.SMSreCode=='' || forgotPWForm.SMSValidateCode==''">取得新密碼</button>
          </div>
          <!-- <button class="modal-close is-large" aria-label="close" @click="pwModal = false"></button> -->
        </div>
      </div>

      <!-- hardCode 忘記密碼 Modal (直接連絡客服) -->
      <div class="modal is-active" v-if="lineToPassword" v-cloak>
        <div class="modal-background"></div>
        <div class="modal-content px-3">
          <div class="box" style="text-align: center;">
            <p class="is-size-5 mb-3" style="line-height:1.5">請聯絡我們 <u @click="deviseToLink('https://line.me/R/ti/p/%40pmx7833r')">Line@客服</u></p>
            <button class="button primary-color" style="width:49%" @click="lineToPassword = false">確定</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</template>

<script>

import store from 'src/store'
//import Vue from 'vue'
import { isLogin, showAlert, fixScroll, b64_to_utf8,jParse, getParameterByName, isNotLinePara} from 'src/libs/appHelper.js'
import { reactive, ref, computed } from '@vue/composition-api'
import { deviseFunction, sendDeviseSMSreCode } from 'src/libs/deviseHelper.js'
import { L_Obj, IsMobile } from 'src/fun1.js'	// 共用fun在此!
//import Xxtea from "src/libs/xxtea";


const pwModal = ref(false)
// 取今天日期 (格式： yyyymmdd => e.g. 20190514)
const currentDay = computed(() => new Date().toISOString().slice(0,10).replace(/-/g,"") )
// 簡訊發送間隔的最低時間 (預設： 50 秒)
const AppSMSIntervalMin = computed(() => parseInt(store.state.SMS_Config.AppSMSIntervalMin) )
// 簡訊每日發送上限 (預設： 5 封)
const APPSMSDayTimes = computed(() => parseInt(store.state.SMS_Config.APPSMSDayTimes) )
// 取簡訊的發送扣打紀錄
const SMSSendQuota = computed(() => store.state.SMS_Config.SMSSendQuota )
// 取簡訊驗證碼
const SMSreCode = computed(() => store.state.SMS_Config.reCode )
//是否為line web login v2.1(從line進入kakar)
const isFromLine = computed(() =>  (store.state.searchURL.code !== "" && store.state.searchURL.state !== ""))

const forgotPWForm = reactive({
  countNum: 0,
  counter: '',
  memberCode: '',
  SMSValidateCode: '',
  SMSCurrentQuota: 0
})

// 驗證是否還有扣打能發送簡訊
function validateSMSSendQuota() {
  // 扣打紀錄是空的 => true
  if (SMSSendQuota.value === '') return true
  // 扣打紀錄跟今日日期不同 => true
  if (SMSSendQuota.value.substring(0, 8) !== currentDay.value) return true
  // 更新今日扣打數量
  const currentQouta = parseInt(SMSSendQuota.value.substring(9))
  forgotPWForm.SMSCurrentQuota = currentQouta
  // 驗證扣打是否用完 (超過上限 => false, 還沒用完 => true )
  if (currentQouta >= APPSMSDayTimes.value) return false
  if (currentQouta <  APPSMSDayTimes.value) return true
}

// 驗證手機號碼 => 發送驗證碼簡訊
async function getSMSValidateCode() {
  const {memberCode, SMSCurrentQuota} = forgotPWForm
  //console.log('memberCode', memberCode)
  // 跟殼取簡訊已發送扣打資料
  deviseFunction('GetSP', 'SMSSendQuota', '"cbFnSetSMSSendQuota"')
  // 手機號碼格式驗證
  if (memberCode == '') return showAlert('請輸入手機號碼')
  const twMobilePhoneRegxp = /^09[0-9]{2}[0-9]{6}$/; // 台灣手機號碼格式需為09XXXXXXXX
  const cnMobilePhoneRegxp = /^1[0-9]{2}[0-9]{8}$/;  // 中國手機號碼格式需為1XXXXXXXXXX
  // 依據手機格式加入國碼
  let countyNum = ''
  if ( twMobilePhoneRegxp.test(memberCode) ) countyNum = '886'
  if ( cnMobilePhoneRegxp.test(memberCode) ) countyNum = '86'
  if ( twMobilePhoneRegxp.test(memberCode) === false && cnMobilePhoneRegxp.test(memberCode) === false ) return showAlert('手機號碼格式錯誤')

  // 檢測此手機號碼是否存在
  const res = await store.dispatch('ensureMemberCodeNotRegistered', memberCode)
  if (res.ErrorCode !== '0') return showAlert('查無此會員，請重新輸入')
  if (validateSMSSendQuota() == false) return showAlert(`已超過本日簡訊發送上限！ <br> (最多 ${APPSMSDayTimes.value} 封簡訊)`)

  // 設置倒數計時器 ( countNum > 0 時, 發送驗證碼按鈕為 disabled ), 倒數時間從 state.setSMS_Config.AppSMSIntervalMin 取得
  forgotPWForm.countNum = AppSMSIntervalMin.value
  // 啟動倒數計時
  forgotPWForm.counter = setInterval(() => {
    // 到 0 時清除倒數計時
    if (forgotPWForm.countNum <= 0) { clearInterval(forgotPWForm.counter) }
    // 每一秒 - 1
    forgotPWForm.countNum = forgotPWForm.countNum - 1;
  }, 1000);

  // sample: '20190514-3'
  const SMSSendQuota = `${currentDay.value}-${SMSCurrentQuota + 1}`

  // 發送簡訊認證碼
  sendDeviseSMSreCode({ phone: `${memberCode};;${countyNum}`, SMSSendQuota: SMSSendQuota })
}

// 確認簡訊驗證碼 -> 發送忘記密碼的簡訊
function snedAppSMSForgetPW(){
  const {memberCode, SMSValidateCode} = forgotPWForm
  if (SMSreCode.value == '') return showAlert('請先取得簡訊驗證碼')
  if (SMSreCode.value != SMSValidateCode) return showAlert('簡訊驗證碼錯誤，請重新輸入')
  // 驗證 ok -> 清除 SMSreCode
  store.commit('setSMSreCode', '')

  // 啟動殼的忘記密碼 functuin (會更改會員帳號的密碼，並簡訊通知該會員新密碼)
  deviseFunction('AppSMSForgetPW', memberCode, '')
  // 提示已寄送新密碼，關掉 modal
  pwModal.value = false
  showAlert('已將新密碼用簡訊傳送至您的手機，請用新密碼登入')
}

const LS1 = IsMobile() ? (L_Obj.read('loginForm') || {}) : {};
// IsMobile() && alert('login_account: ', LS1.account);

const loginForm = reactive({
  submited: false,
  account: LS1.account,
  password: LS1.password,
  rememberMe:  true,
  lineSubmited: false,
})

async function login() {
  if (!loginForm.account) return showAlert('請輸入帳號')
  if (!loginForm.password) return showAlert('請輸入密碼')
  loginForm.submited = true

  // 帳號變大寫
  loginForm.account = loginForm.account.toUpperCase()
  
  await store.dispatch('memberLogin', loginForm)

  loginForm.submited = false
  loginForm.account = ''
  loginForm.password = ''
}
//LineLogin :TODO
async function LineLogin() {
  loginForm.lineSubmited = true 
  // if (typeof(JSInterface) === 'undefined' || store.state.baseInfo.AppOS !== 'IOS'){
  if (typeof(JSInterface) === 'undefined'){    
    await store.dispatch('memberLineLogin')
  
  }else{    
    deviseFunction('LINELogin', '', '')
     
  }
  loginForm.lineSubmited = false
}

export default {
  name: "kakarLogin",
  data() {
    return {
      lineToPassword: false
    }
  },
  beforeRouteEnter(to, from, next) {
    // 如果已登入，導向首頁
    
    if (isLogin.value) return next('/login')
     
		AutoSetForm()
    next(vm=>{vm.chkLineLogin()})
  },
  beforeRouteLeave(to, from, next) {
    // 離開頁面時，清空表單設定
    pwModal.value = false
    forgotPWForm.memberCode = ''
    forgotPWForm.SMSValidateCode = ''

    loginForm.submited = false
    loginForm.lineSubmited = false
		AutoSetForm()
    next()
  },
  setup() {  
    return { isLogin, loginForm, login, LineLogin, pwModal, forgotPWForm, getSMSValidateCode, snedAppSMSForgetPW, SMSreCode, showAlert, isFromLine }
  },
  methods: {
    fixScroll,
    isNotLinePara,
    isMobileV(){
      return IsMobile();
    },
    // (殼專屬) 另開瀏覽器app，開啟連結
    deviseToLink(Url) {
     return deviseFunction('openWeburl', Url, '')
    },
    async chkLineLogin(){
      const p_linePara = store.state.searchURL.linePara || ""; 
      if (p_linePara != ""){
        await store.dispatch('goSurl',{sUrl:p_linePara,fn:(p_body)=>{          
          const p_Para = jParse(b64_to_utf8(p_body))
          if (!isLogin.value) store.dispatch('memberLineLogin_v2',p_Para);
          //else store.commit('setLineLoginKey', {key:"appQrcode",value:p_Para.appQrcode});
          
          //if (p_Para) console.log("p_body",p_Para,this.xxDecry(p_Para.lineInfo));
            
        }})
      }else if (!isLogin.value){
        this.$store.commit('setSearchUrl', {key:"code",value:(getParameterByName("code") || "")});
        this.$store.commit('setSearchUrl', {key:"state",value:(getParameterByName("state") || "")});   
        const p_code = store.state.searchURL.code || "";
        const p_state = store.state.searchURL.state || ""; 
        const ent = store.state.lineLogin.EnterpriseID || "";
        const p_path = store.state.lineLogin.path || "";
        
        if (p_code != "" && p_state != "" && !ent && !p_path) await store.dispatch('memberThirdCheck',{code:p_code,state:p_state})
        //??todo
      }
      
    },
    // xxDecry(AStr){
		// 	var s1="j-i*n&h=e#r";
		// 	s1=s1+"sdF12d";
		// 	var xt6= new Xxtea(s1);
		// 	return xt6.xxtea_decrypt(AStr);	
		// },
    
  }
}

function AutoSetForm() {
	if (!IsMobile()) { return; }
	loginForm.account = LS1.account||''
	loginForm.password = LS1.password||''
}
</script>