<template>
  <div style="overflow:hidden auto;-webkit-overflow-scrolling:touch;height:100%;">
    <!--
    <iframe src="https://customer-info-jinher.azurewebsites.net/Customer_point_history.aspx?rq_var=X6bFzC3Ee0AwWz39z11ZwA%3d%3d" frameborder="0" style="height:inherit;width:99%"></iframe>
    -->
    <iframe id="ifra" :src="iframeUrl" frameborder="0" style="height:inherit;width:calc(100% - 5px)"></iframe>
  </div>
</template>

<script>
import store from 'src/store'
export default {
  // 頁面資料: 請使用function return
  data: function(){
    return {
      title: '<%- @_SelfCode %>',
      isSideMenu: false,
    };
  },
  computed: {
    // 簡化常用的 Vuex.store data (補充： 一定要寫在這, component 才會即時反應 $store.state 的變化)
    userData() { return this.$store.state.currentAppUser },
    iframeUrl() {
      const iframeUrl = 'https://customer-info-jinher.azurewebsites.net/'+this.$route.params.pageName+'.aspx?rq_var='+this.$route.query.cid

      // console.log('[openUrl] iframeUrl ===>' + iframeUrl) 
      return iframeUrl
    },
  },
  // created: function(){
  //   console.log('[openUrl] created===> iframeUrl =>' + this.iframeUrl)
  // },
  mounted: function() {
    const iframe = document.querySelector('#ifra')
    // 處理兼容問題
    if (iframe.attachEvent) {
      store.state.isLoading = true
      iframe.attachEvent('onload', function () {
        // iframe加載完成
        store.state.isLoading = false
      })
    } else {
      store.state.isLoading = true
      iframe.onload = function () {
        // iframe加載完成
        store.state.isLoading = false
      }
    }
  },
  beforeRouteEnter(to, from, next) {
    store.dispatch('fetchAppLogoWuhu') // refresh需重新撈logo
    next()
  },
  /** 
    要加此才不會出現:
    https://customer-info-jinher.azurewebsites.net/undefined.aspx?rq_var=undefined
    回上頁到此頁時才不會壞掉
   */
  beforeRouteLeave: function(to, form, next){
    // 消滅此 instance
    this.$destroy()
    next()
  }

}
</script>
