<template>
  <div>
    <p class="error">錯誤資訊: {{ error }}</p>
    <p class="decode-result">Last result: <b>{{ result }}</b></p>
    <!-- <qrcode-stream @decode="onDecode" @init="onInit" /> -->
    <qrcode-stream
			@decode="onScan"
			@init="onInit"
			:camera="camera"
			:paused="paused"
		/>
  </div>
</template>

<style scoped>
.error {
  font-weight: bold;
  color: red;
}
</style>

<script>
import { QrcodeStream } from 'vue-qrcode-reader'

export default {
  components: { QrcodeStream },
  data () {
    return {
			// cameraSettings: {
				// audio: false,
				// video: {facingMode: {ideal: 'environment'}}
			// },
			camera: 'auto',
			paused: false,	// 暫停鏡頭
      result: '',
      error: '',
    }
  },
  methods: {
		async onScan(content) {
			try {
				this.result = content;
				alert('掃描結果: '+content);
				this.onofCamera(true); // 暫停鏡頭準備調用

			} catch (error) {
				this.onofCamera(false);
				console.error('Error: ', error);
			}
		},
		onofCamera(bOn) {
			this.paused = bOn
		},
    async onInit (promise) {
      try {
        await promise
      } catch (error) {
				const e_name 	= error.name
					let e_msg 	= ''
        if (e_name === 'NotAllowedError') {
          e_msg = "ERROR: you need to grant camera access permission"
        } else if (e_name === 'NotFoundError') {
          e_msg = "ERROR: no camera on this device"
        } else if (e_name === 'NotSupportedError') {
          e_msg = "ERROR: secure context required (HTTPS, localhost)"
        } else if (e_name === 'NotReadableError') {
          e_msg = "ERROR: is the camera already in use?"
        } else if (e_name === 'OverconstrainedError') {
          e_msg = "ERROR: installed cameras are not suitable"
        } else if (e_name === 'StreamApiNotSupportedError') {
          e_msg = "ERROR: Stream API is not supported in this browser"
        } else if (e_name === 'InsecureContextError') {
          e_msg = 'ERROR: Camera access is only permitted in secure context. Use HTTPS or localhost rather than HTTP.';
        } else {
          e_msg = `ERROR: Camera error (${e_name})`;
        }
				this.error = e_msg;
				alert(e_msg);
      }
    },

  }
}
</script>