<template>
  <div>
    <!-- 設定頁 -->
    <div class="is-size-6" v-if="!type">
      <!-- 基礎資訊 -->
      <section class="hero is-light">
        <div class="hero-body p-0">
          <div class="container">
            <h6 class="subtitle my-2 has-text-centered">設定資訊</h6>
          </div>
        </div>
      </section>
      <section>
        <ul class="w3-ul m-0">
          <!-- <li @click="enableDebug"> -->
          <li>
            <div class="columns is-vcentered is-mobile is-vcentered py-2">
              <div class="column is-4">版本號</div>
              <div class="column has-text-right">
                <span v-if="isStaging || isCnStaging" class="has-text-grey">(測試站) </span>
                <b>20220406-03</b><b v-if="isTestAPI">＊</b>
              </div>
            </div>
          </li>
          <!-- 隱藏推播開關(預設開啟) <li>
            <div class="w3-cell-row">
              <div class="w3-cell w3-cell-middle has-text-grey">接收推播訊息</div>
              <div class="w3-cell w3-cell-middle has-text-right">
                <label class="switch">
                  <input type="checkbox" v-model="pushNotify" @click="deviseSetPushNotify(pushNotify)"> <span class="slider round"></span>
                </label>
              </div>
            </div>
          </li> -->
        </ul>
      </section>
      <!-- 會員資訊 -->
      <section class="hero is-light">
        <div class="hero-body p-0">
          <div class="container">
            <h6 class="subtitle my-2 has-text-centered">會員資訊</h6>
          </div>
        </div>
      </section>
      <section>
        <ul class="w3-ul m-0">
          <li>
            <div class="columns is-vcentered is-mobile is-vcentered py-2">
              <div class="column is-4">帳號</div>
              <div class="column has-text-right">
                <b>{{displayAccount}}</b>
              </div>
            </div>
          </li>
          <li>
            <div class="columns is-vcentered is-mobile is-vcentered py-2">
              <div class="column is-4">姓名</div>
              <div class="column has-text-right">
                <b>{{userData.Name}}</b>
              </div>
            </div>
          </li>
          <li>
            <div class="columns is-vcentered is-mobile is-vcentered py-2">
              <div class="column is-4">生日</div>
              <div class="column has-text-right">
                <b>民國 {{birthday}}</b>
              </div>
            </div>
          </li>
          <li>
            <div class="columns is-vcentered is-mobile is-vcentered py-2">
              <div class="column is-4">性別</div>
              <div class="column has-text-right">
                <b>{{(typeof userData.Sex === "string"?(userData.Sex.toLowerCase() == 'true') ? "男" : "女":userData.Sex?"男" : "女")}}</b>
                
              </div>
            </div>
          </li>
          <li v-if="userData.Email !== ''">
            <div class="columns is-vcentered is-mobile is-vcentered py-2">
              <div class="column is-4">電子信箱</div>
              <div class="column has-text-right">
                <b>{{userData.Email}}</b>
              </div>
            </div>
          </li>
          <li v-if="userData.Address !== ''">
            <div class="columns is-vcentered is-mobile is-vcentered py-2">
              <div class="column is-4">地址</div>
              <div class="column has-text-right">
                <b>{{displayAddr}}</b>
              </div>
            </div>
          </li>
        </ul>
      </section>
      <!-- 按鈕 -->
      <section class="mt-3 mb-4 px-2">
        <!-- <a @click="$router.push('/setting?type=changePW')" class="button is-link" style="width: 47%">
          <span class="icon">
            <i class="fas fa-key"></i>
          </span>
          <span>修改密碼</span>
        </a>
        <a @click="form.memberPwdold='';$router.push('/setting?type=changeAddress')" class="button is-link" style="width: 47%; position: absolute; right: 10px;">
          <span class="icon">
            <i class="fas fa-building"></i>
          </span>
          <span>設定地址</span>
        </a> -->
        <button  class="button is-fullwidth is-link is-light is-outlined mt-2" @click="logout();">
          <span class="icon">
            <i class="fas fa-sign-out-alt"></i>
          </span>
          <span>登出</span>
        </button>
      </section>
    </div>
    <!-- 修改密碼 -->
    <div v-if="type === 'changePW'">
      <section class="hero is-light">
        <div class="hero-body p-0">
          <div class="container">
            <h6 class="subtitle my-2 has-text-centered">修改密碼</h6>
          </div>
        </div>
      </section>
      <section class='px-3 mt-3'>
        <div class="field">
          <div class="control has-icons-left">
            <input class="input shadow-none border-bottom" style="border: 0" type="password" placeholder="請輸入舊密碼"  v-model="form.memberPwdold" @blur.prevent="fixScroll">
            <span class="icon is-small is-left">
              <i class="fas fa-user-lock"></i>
            </span>
          </div>
        </div>
        <div class="field">
          <div class="control has-icons-left">
            <input class="input shadow-none border-bottom" style="border: 0" type="password" placeholder="請輸入新密碼(不得少於6碼)" v-model="form.memberPwd" @blur.prevent="fixScroll">
            <span class="icon is-small is-left">
              <i class="fas fa-key"></i>
            </span>
          </div>
        </div>
        <div class="field">
          <div class="control has-icons-left">
            <input class="input shadow-none border-bottom" style="border: 0" type="password" placeholder="新密碼確認" v-model="form.memberPwdConfirm" @blur.prevent="fixScroll">
            <span class="icon is-small is-left">
              <i class="fas fa-key"></i>
            </span>
          </div>
        </div>
        <div class="field">
          <button class="button primary-color is-fullwidth mt-4" @click="submitChangePW" :disabled="formDisabled">送出</button>
        </div>
      </section>
    </div>
    <!-- 修改地址 -->
    <div v-if="type === 'changeAddress'">
      <section class="hero is-light">
        <div class="hero-body p-0">
          <div class="container">
            <h5 class="subtitle my-2 has-text-centered">設定地址</h5>
          </div>
        </div>
      </section>
      <section class='px-2 mt-3'>
        <div class="field">
          <div class="control has-icons-left">
            <input class="input" type="text" placeholder="請輸入地址" v-model="form.memberAddr" >
            <span class="icon is-small is-left">
              <i class="fas fa-building"></i>
            </span>
          </div>
        </div>
        <div class="field">
          <p class="help has-text-grey ml-5">為了確認個資的修改，請輸入您的會員密碼</p>
          <div class="control has-icons-left has-icons-right">
            <input class="input" type="password" placeholder="請輸入密碼" v-model="form.memberPwdold">
            <span class="icon is-small is-left">
              <i class="fas fa-key"></i>
            </span>
            <span class="icon is-small is-right">
              <i class="fas fa-exclamation-triangle"></i>
            </span>
          </div>

        </div>
        <div class="field">
          <a class="button is-link is-fullwidth" @click="submitChangeAddr" :disabled="formDisabled">送出</a>
        </div>
      </section>
    </div>
    <!-- 修改生日,性別,姓名 -->
    <div v-if="type === 'changeDetail'">
      <section class="hero is-light">
        <div class="hero-body p-0">
          <div class="container">
            <h5 class="subtitle my-2 has-text-centered">設定個人資料</h5>
          </div>
        </div>
      </section>
      <section class='px-2 mt-3'>
        <div class="py-4 m-2">
          <div class="columns is-mobile is-variable is-1 is-multiline is-vcentered">
            <div class="column py-2 is-2">
              姓名：
            </div>
            <div class="column py-2 is-10">
              <input class="input has-background-white-bis" type="text" placeholder="請輸入姓名" v-model="form.membername">  
            </div>
            <div class="column py-2 is-2">
              性別：
            </div>
            <div class="column py-2 is-10">
              <label for="male" class="mr-2">
                <input type="radio"  name="gender" id="male" v-model="form.memberSex" value="男" class="w3-radio mr-2">先生
              </label>
              <label for="female">
                <input type="radio" name="gender" id="female" v-model="form.memberSex" value="女" class="w3-radio mr-2">小姐
              </label>
            </div>
            <div class="column py-2 is-2">
              生日：
            </div>
            <div class="column py-2 is-10">            
              <span v-if="!fmBirthday">民國 {{birthday}}</span> 
              <input v-if="fmBirthday" class="input" type="date" v-model="form.memberBirthday" placeholder="生日(必填)" name="birth" required pattern="\S+">            
            </div>
          </div>
        </div>
        <div class="py-4 m-2">
          <div class="columns is-mobile is-variable is-1 is-multiline">
            <div class="column py-1 is-half">
              <button class="button is-outlined is-fullwidth" @click="$router.go(-1)" :disabled="formDisabled">取消</button>
            </div>
            <div class="column py-1 is-half">
              <button class="button primary-color is-fullwidth" @click="submitChangeDetail(fmBirthday)" :disabled="formDisabled">送出</button>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</template>

<script>
import md5 from 'md5'
import store from 'src/store'
import { S_Obj } from 'src/fun1.js'	// 共用fun在此!
// import VConsole from 'vconsole'
import VueCookies from 'vue-cookies'
import { router } from 'src/libs/systemEnv.js'
import { computed, ref, reactive } from '@vue/composition-api'
import { deviseFunction } from 'src/libs/deviseHelper.js'
import { showAlert, fixScroll } from 'src/libs/appHelper.js'
import { formatTime } from '../../libs/timeHelper.js'

// 使用者基本資料
// const userData = computed(() => store.state.userData)

const pushNotifySetting = computed(() => {
  const value = store.state.baseInfo.pushNotify
  return (value === '0' || value === undefined) ? true : false
})


// 設定是否啟用接收推播訊息
const pushNotify = ref(pushNotifySetting)
function deviseSetPushNotify(status) {
  const pushNotify = (status ? '1' : '0')
  store.commit('setBaseInfo', {pushNotify})
  deviseFunction('SetSP', `{"spName":"pushNotify", "spValue":"${pushNotify}"}`, '')
}

// 會員資料表單
const formDisabled = ref(false)
const mSex =  (typeof store.state.userData.Sex === "string"?store.state.userData.Sex.toLowerCase() == 'true' ? "男" : "女":(store.state.userData.Sex?"男" : "女"))

const form = reactive({
  memberPwd: '',
  memberPwdConfirm: '',
  memberPwdold: '',
  memberAddr: store.state.userData.Address,
  memberBirthday: '',
  membername: store.state.userData.Name,
  memberSex:mSex,
})

// 表單資料初始化
function resetForm() {
  formDisabled.value = false
  form.memberPwd = ''
  form.memberPwdConfirm = ''
  form.memberPwdold = ''
}

// 修改密碼
async function submitChangePW() {
  const {memberPwdold, memberPwd, memberPwdConfirm} = form

  if (memberPwdold == '') { return showAlert('請輸入舊密碼') }
  if (memberPwd == '') { return showAlert('請輸入新密碼') }
  if (memberPwd.length < 6) { return showAlert('不得少於6碼') }
  if (memberPwd != memberPwdConfirm) { return showAlert('新密碼與新密碼確認不一致') }

  formDisabled.value = true  
  const update = await store.dispatch('ensureMemberUpdateProfile', {memberPwd,memberPwdold})
  if (update.error) { formDisabled.value = false; return showAlert(update.msg) }

  // 更新密碼到cookie和store
  const encryptedPwd = md5(memberPwd)
  VueCookies.set('kkUserPwd', encryptedPwd)
  store.state.member.pwd = encryptedPwd

  // 更新密碼到殼
  let setThing = `{"spName":"pwd", "spValue": "${encryptedPwd}"}`
  // console.log('Setting.vue submitChangePW ===> setThing =>' + setThing)
  deviseFunction('SetSP', setThing, '')

  showAlert('修改密碼成功！')
  resetForm()
  router.push('/list')
}

// 修改地址
async function submitChangeAddr() {
  const {memberAddr, memberPwdold} = form

  if (memberAddr == '')   { return showAlert('請輸入地址') }
  if (memberPwdold == '') { return showAlert('請輸入會員密碼') }

  formDisabled.value = true

  const update = await store.dispatch('ensureMemberUpdateProfile', {memberPwdold, memberAddr})
  if (update.error) { formDisabled.value = false; return showAlert(update.msg) }
  const userData = update[0]
  store.commit('setUserData', userData)
  VueCookies.set('kkUserData', userData)
  deviseFunction('SetSP', `{"spName":"Address", "spValue":"${userData.Address}"}`, '')
  router.push('/list')

}

// 修改姓名,生日,性別
async function submitChangeDetail(isBirthNull) {
  const {memberBirthday, membername, memberSex} = form

  if (isBirthNull && !memberBirthday)   { return showAlert('請輸入生日') }
  if (!membername)   { return showAlert('請輸入姓名') }
  if (!memberSex)   { return showAlert('請輸入性別') }
  //if (memberPwdold == '') { return showAlert('請輸入會員密碼') }  
  formDisabled.value = true

  const update = await store.dispatch('ensureMemberUpdateProfile', {memberBirthday, membername, memberSex})
  
  if (update.error) { formDisabled.value = false; return showAlert(update.msg || "錯誤") }  
  if (!update.error) { showAlert(update.ErrorMsg) }
  const userData = update[0]
  store.commit('setUserData', userData)
  VueCookies.set('kkUserData', userData)
  store.commit('setUpdateInfo', userData)
  // 寫入要存的 key 設定
  let deInfo = {"MembersName":userData.Name, 
                "Name":userData.Name, 
                "Sex":userData.Sex,
                "Birthday":userData.Birthday,                
                "UserTokenkey":userData.Tokenkey,
                }
  deInfo['_KEY'] = Object.keys(deInfo).join();  

  // 執行存入殼裡
  deviseFunction('SetSPS', JSON.stringify(deInfo), '')
  resetForm()
  //deviseFunction('SetSP', `{"spName":"Birthday", "spValue":"${userData.Address}"}`, '')
  router.go(-1)
  //router.push('/list')

}
// const enabledCount = ref(0)

// // 啟用 debug 工具: 在 iPad, iPhone 的畫面上顯示 console 畫面
// function enableDebug() {
//   if (enabledCount.value === 7) return

//   enabledCount.value += 1
//   if (enabledCount.value === 7) new VConsole()
// }

// 登出
const logout = () => store.dispatch('memberLogout')

export default {
  name: 'kakarSetting',
  data: function() {
    return {
      isStaging: S_Obj.isStaging,
      state: this.$store.state,
      userData: this.$store.state.userData,
    };
  },
  setup(props, context) {
    const type = computed(() => context.root.$route.query.type )

    return {
      logout, type, pushNotify, deviseSetPushNotify,
      form, formDisabled, submitChangePW, submitChangeAddr,submitChangeDetail
    }
  },
  computed: {
    isTestAPI(){ return S_Obj.isTestAPI() },
    // userData() { return this.state.userData },
    isCnStaging() { return /staging\.jinher-cn\.com/.test(location.href) },
    fontSizeBase() { return store.getters.fontSizeBase },
    displayAccount() {
      let result = ''

      if (this.userData && this.userData.Account) {
        let account = this.userData.Account
        if (this.notNullStr(account)) {
          result = account.substring(0, 4) + '****'
            + account.substring(8, 10)
        }
        
      }

      return result
    },
    displayAddr() {
      let result = ''

      if (this.userData && this.userData.Account) {
        let addr = this.userData.Address
        if (this.notNullStr(addr)) {
          let totalLength = addr.length

          if (totalLength <= 6) {
            result = addr
          } else {
            let half = Math.floor(totalLength/2)
            let second = half+6
            result = addr.substring(0, half) + '******'
              + addr.substring(second, totalLength)  
          }
        }
      }

      return result
    },
    birthday() {
      let original = formatTime(this.state.userData.Birthday, 'MM/DD/YYYY') //回傳的MM/DD,在8/9會異常,08/09則OK,改為統一格式
      if (original && original.length > 7) {
        let twDate = original // 預設值
        let dateArr = original.split('/')
        if (dateArr && dateArr.length>2) {
          let westYear = parseInt(dateArr[2])
          let twYear = westYear - 1911
          // twDate = twYear + '/' + dateArr[0] + '/' + dateArr[1]
          twDate = twYear + '/**/**'
        }

        return twDate
      } else {
        return ''
      }
    },
    fmBirthday(){
      return formatTime(this.userData.Birthday,'YYYY/MM/DD') == '1900/01/01';
    },
  },
  methods: {
    fixScroll,
    formatTime,
    notNullStr(str) {
      if (str && (typeof str !== 'undefined') 
          && str.length>0) {
        return true
      } else {
        return false
      }
    }
  }
}
</script>

<style>
.w3-ul {
  list-style-type: none !important;;
  padding: 0;
  margin: 0;
}
.w3-ul li {
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
}
.w3-cell-row {
    display: table;
    width: 100%;
    padding: 6px 0;
}
.w3-cell-middle {
    vertical-align: middle;
}
.w3-cell {
    display: table-cell;
}
.w3-container:after, .w3-container:before, .w3-panel:after, .w3-panel:before, .w3-row:after, .w3-row:before, .w3-row-padding:after, .w3-row-padding:before, .w3-cell-row:before, .w3-cell-row:after, .w3-clear:after, .w3-clear:before, .w3-bar:before, .w3-bar:after {
    content: "";
    display: table;
    clear: both;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider.round {
    border-radius: 34px;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider.round:before {
    border-radius: 50%;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {
    background-color: #ffcf01;
}
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
</style>
