<template>
  <div class="star-rating">
    <label class="star-rating__star"
      v-for="(rating, index) in ratings"
      :class="{'is-selected': ((value >= rating) && value != null), 'is-disabled': disabled}" 
      @click="set(rating)" @mouseover="star_over(rating)" @mouseout="star_out"
      :key="index"
    >
      <input class="star-rating star-rating__checkbox" type="radio" :value="rating" :name="name" v-model="value" :disabled="disabled">
      <svg xmlns="http://www.w3.org/2000/svg" width="28" viewBox="0 0 20 20" fill="currentColor">
        <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
      </svg>
    </label>
  </div>
</template>

<script>

export default {
  data() {
    return {
      name: '',
      value: null,
      id: '',
      disabled: false,
      required: false,
      temp_value: null,
      ratings: [1, 2, 3, 4, 5]
    }
  },
  methods: {
    /*
     * Behaviour of the stars on mouseover.
     */
    star_over: function(index) {
      if (!this.disabled) {
        this.temp_value = this.value;
        return this.value = index;
      }

    },
    /*
     * Behaviour of the stars on mouseout.
     */
    star_out: function() {
      if (!this.disabled) {
        return this.value = this.temp_value;
      }
    },
    /*
     * Set the rating.
     */
    set: function(value) {
      if (!this.disabled) {
        this.temp_value = value;
        return this.value = value;
      }
    }
  }
}
</script>

<style lang="scss" scoped>
%visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
.star-rating {
  &__star {
    display: inline-block;
    padding-right: 6px;
    margin-top: 6px;
    vertical-align: middle;
    line-height: 1;
    font-size: 1.75rem;
    color: #ABABAB;
    transition: color .2s ease-out;
    &:hover {
      cursor: pointer;
    }
    &.is-selected {
      color: #FFD700;
    }
    &.is-disabled:hover {
      cursor: default;
    }
  }
  &__checkbox {
    @extend %visually-hidden;
  }
}
</style>
