<template>
  <div class="vh-100 d-flex flex-column">
    <!-- 品牌頁 頂功能列(新) -->
    <nav class="px-1 py-2" :class="[jgssgCustom?'jgssg-bg':'border-bottom']">
      <div class="columns is-variable is-0 is-mobile is-vcentered padding-top-env">
        <!-- ***** 左 ***** -->
        <div class="column is-narrow" style="width: 96px">
          <!-- 漢堡選單 -->
          <a @click="isSideMenu=!isSideMenu" v-if="isNotLinePara() && $route.path.includes('/card/')">
            <img class="mx-1" src="../../assets/images/menu.svg" style="height:32px">
          </a>
          <!-- 返回企業 app 首頁 -->
          <a @click="goBack()" v-if="canGoBack">
            <img class="mx-1" src="../../assets/images/back.svg" style="height:32px;">
          </a>
          <a @click="clickGo('cardShopCart', 1)" v-if="$route.path.includes('/cardShopCart/') && $route.query.type =='pay'">
            <img class="mx-1" src="../../assets/images/back.svg" style="height:32px;">
          </a>
          <a @click="clickGo('cardShop', 1)" v-if="$route.path.includes('/cardShopCart/') && ($route.query.type =='finished' || $route.query.type == undefined)">
            <img class="mx-1" src="../../assets/images/back.svg" style="height:32px;">
          </a>
          <a @click="clickGo('cardShop')" v-if="$route.path.includes('/cardShopMine/')">
            <img class="mx-1" src="../../assets/images/back.svg" style="height:32px;">
          </a>

        </div>
        <!-- <div class="column is-narrow" style="width: 96px" v-if="!isNotLinePara()"></div> -->
        <!-- ***** 中 ***** -->
        <div class="column text-center is-size-5 text-elps">
          <img
            v-if="publicData.logo && !showCardText()"
            v-lazy="publicData.logo"
            style="height:40px"
            @click="clickGo('card')">
          <p class="text-elps"
            :disabled="!isNotLinePara()"
            v-if="$route.path.includes('/cardShop/')"
            @click="clickGo('card')"
          >
            {{$store.getters.currentApp && $store.getters.currentApp.AppName}} 商城
          </p>
          <!-- 商城類別標題 -->
          <p class="text-elps"
            :disabled="!isNotLinePara()"
            v-if="$route.path.includes('/cardShopType/')"
            @click="clickGo('card')"
          >
            {{$store.getters.currentApp && $store.getters.currentApp.AppName}} 商城
          </p>
          <!-- 訂單狀態標題 -->
          <p class="text-elps"
            :disabled="!isNotLinePara()"
            v-if="$route.path.includes('/cardShopMine/')"
            @click="clickGo('card')"
          >
            {{$store.getters.currentApp && $store.getters.currentApp.AppName}} 訂單狀態
          </p>
          <!-- 訂單狀態標題 -->
          <p class="text-elps"
            :disabled="!isNotLinePara()"
            v-if="$route.path.includes('/cardShopCart/')"
            @click="clickGo('card')"
          >
            {{$store.getters.currentApp && $store.getters.currentApp.AppName}} 購物車
          </p>
        </div>
        <!-- ***** 右 ***** -->
        <div class="column is-narrow text-right" style="width: 96px">
          <!-- 會員QRcode -->
          <img style="height:36px" class="mx-1" src="../../assets/images/mbrCode.svg" v-if="$route.fullPath.includes('/card/') || ($route.path.includes('/cardMember') && jgssgCustom)" @click="showQrcode()">
          <!-- 訂單紀錄 -->
          <img v-if="showCardShop"
            src="../../assets/images/cart_orders.svg"
            style="height:2rem" class="mx-1" :class="{'w3-opacity-max':!hasFoodkind}"
            @click="hasFoodkind && clickGo('cardShopMine')" />
          <!-- 購物車 -->
          <div class="w3-display-container d-inline-block" v-if="showCardShop" @click="hasFoodkind && chkCartSum()">
            <!-- 商品數字 -->
            <div class="w3-display-container">
              <div class="w3-display-topright mt-n1" v-if="$store.state.mallData.isCarUI!=undefined && cartQty($store.state.mallData.kindQty) > 0" v-cloak>
                <span class="badge rounded-pill primary-color" style="height:25px;line-height:25px">{{cartQty($store.state.mallData.kindQty)}}</span>
              </div>
            </div>
            <img src="../../assets/images/cart.svg" style="height:2rem" class="mx-1"
            :class="{'w3-opacity-max':!hasFoodkind}" />
          </div>

          <!-- 關閉 -->
          <img
            src="../../assets/images/x.svg"
            style="height:2rem;margin: 10px;"
            v-if="$route.fullPath === '/openUrl'"
            @click="$router.go(-1)">

          <!-- 我的所有訂單
          <a @click="clickGo('cardMyOrders')"
            v-if="$route.path.includes('/card/') && (modeType.foodMarket || modeType.delivery || modeType.takeout)">
            <img class="mx-1" src="../../assets/images/allmyorders.svg" style="height:32px">
          </a> -->
        </div>
      </div>
    </nav>

    <!-- 側選單 -->
    <transition name="side-menu" mode="out-in">
      <nav class="w3-sidebar w3-bar-block w3-card sideMenu padding-top-env is-size-5" @click="isSideMenu=false" v-if="isSideMenu" v-cloak>
        <!-- 關閉範圍 -->
        <div class="position-absolute vh-100 vw-100" style="z-index: -1;" @click="isSideMenu=false"></div>
        <div class="w3-padding-16 h-100 overflow-auto">
          <!-- 首頁
          <div class="w3-bar-item w3-button w3-transparent w3-hover-none" @click="$router.push('/card')">首頁</div> -->
          <!-- 最新消息 -->
          <div class="w3-bar-item w3-button w3-transparent w3-hover-none" @click="clickGo('cardNews')">最新消息</div>
          <!-- 會員專區 -->
          <div class="w3-bar-item w3-button w3-transparent w3-hover-none" @click="clickGo('cardMember')">會員專區</div>
          <!-- 門市查詢 -->
          <div class="w3-bar-item w3-button w3-transparent w3-hover-none" @click="clickGo('cardStore')">門市查詢</div>
          <!-- 分享品牌 -->
          <div class="w3-bar-item w3-button w3-transparent w3-hover-none" @click="clickGo('cardQrcode')">分享品牌</div>


          <!-- 檸檬香芧 分享品牌-->
          <!-- <div class="w3-bar-item w3-button w3-transparent w3-hover-none" v-if="$route.params.enterpriseId == '80374888'" @click="clickGo('cardQrcode')">分享品牌</div>           -->
          <!--  興趣*simtree 分享品牌-->
          <!-- <div class="w3-bar-item w3-button w3-transparent w3-hover-none" v-if="$route.params.enterpriseId == '748386345'" @click="clickGo('cardQrcode')">分享品牌</div>            -->
          <!-- TRY試研所 分享品牌-->
          <!-- <div class="w3-bar-item w3-button w3-transparent w3-hover-none" v-if="$route.params.enterpriseId == '54827062'" @click="clickGo('cardQrcode')">分享品牌</div> -->
          <!-- 太陽創新 分享品牌-->
          <!-- <div class="w3-bar-item w3-button w3-transparent w3-hover-none" v-if="$route.params.enterpriseId == '59184975'" @click="clickGo('cardQrcode')">分享品牌</div> -->
          <!-- 虛擬廚房 分享品牌-->
          <!-- <div class="w3-bar-item w3-button w3-transparent w3-hover-none" v-if="$route.params.enterpriseId == '5087702262'" @click="clickGo('cardQrcode')">分享品牌</div>                -->
          <!-- 宏銘國際 分享品牌-->
          <!-- <div class="w3-bar-item w3-button w3-transparent w3-hover-none" v-if="$route.params.enterpriseId == '24295264'" @click="clickGo('cardQrcode')">分享品牌</div> -->
          <!-- 星期五 分享品牌-->
          <!-- <div class="w3-bar-item w3-button w3-transparent w3-hover-none" v-if="$route.params.enterpriseId == '23932928'" @click="clickGo('cardQrcode')">分享品牌</div> -->
          <!-- 石尚APP 分享品牌-->
          <!-- <div class="w3-bar-item w3-button w3-transparent w3-hover-none" v-if="$route.params.enterpriseId == '16208863'" @click="clickGo('cardQrcode')">分享品牌</div> -->
          <!-- Vita旭晶 分享品牌-->
          <!-- <div class="w3-bar-item w3-button w3-transparent w3-hover-none" v-if="$route.params.enterpriseId == '42802798'" @click="clickGo('cardQrcode')">分享品牌</div> -->
          <!-- 國蘭溫泉會館 分享品牌-->
          <!-- <div class="w3-bar-item w3-button w3-transparent w3-hover-none" v-if="$route.params.enterpriseId == '10055474319'" @click="clickGo('cardQrcode')">分享品牌</div> -->
          <!-- 遠山望月 分享品牌-->
          <!-- <div class="w3-bar-item w3-button w3-transparent w3-hover-none" v-if="$route.params.enterpriseId == '9686999822'" @click="clickGo('cardQrcode')">分享品牌</div> -->
          <!-- 分隔線 -->
          <hr class="mt-1 mb-2 mx-3 border-top">
          <!-- 柯達旅行社 -->
          <!-- 依據微管雲上的商品類別放入商品大類項目 -->
          <div v-if="$store.state.publicData.menu.mainType.length > 0">
            <div
              v-for="type in $store.state.publicData.menu.mainType[0].list"
              :key="type.KindID"
              class="w3-bar-item w3-button w3-transparent"
              @click="$router.push(`/cardMenu/${type.KindID}`)">
              {{type.KindName}}
            </div>
          </div>
        </div>
      </nav>
    </transition>

    <!-- 內容 -->
    <div class="flex-grow-1 flex-shrink-1 h-100 overflow-auto">
      <PullRefresh class="position-relative" id="pull-content" :on-refresh="onPullRefresh" :config="pullRefreshConfig()">
        <slot></slot>
      </PullRefresh>
    </div>

    <!-- 品牌 底功能列(新) -->
    <transition name="nav-btm-moveup" mode="out-in">
      <footer class="card-btm-nav has-background-black px-2" v-if="isCardBtmNav && isNotLinePara() && ($route.path.includes('/card/') || $route.path.includes('/cardMember/'))"> <!--||$route.path.includes('/cardFaq')-->
        <nav class="level is-mobile padding-bottom-env">
          <!-- 我的卡+ -->
          <div class="level-item has-text-centered m-0">
            <div class="pt-1" @click="$router.push('/list');$store.commit('clearAppMemberData');$store.commit('clearCurrentAppUser');$store.commit('clearAppPublicData');isSideMenu=false">
              <figure class="image is-40x40 m-auto">
                <img src="../../assets/images/mycard-back.svg" class="w3-opacity">
              </figure>
              <p class="heading has-text-grey is-size-7 m-0 mt-n2">我的卡+</p>
            </div>
          </div>
          <!-- 品牌首頁 -->
          <div class="level-item has-text-centered m-0" :class="{'is-active-o':$route.path.includes('/card/')}">
            <div class="pt-1" @click="clickGo('card')">
              <figure class="image is-40x40 m-auto" :class="{'w3-opacity':!$route.path.includes('/card/')}">
                <img src="../../assets/images/home-o.svg" v-if="$route.path.includes('/card/')">
                <img src="../../assets/images/nav-home.svg" v-else>
              </figure>
              <p class="heading has-text-grey is-size-7 m-0 mt-n2">品牌首頁</p>
            </div>
          </div>
          <!-- 商城 -->
          <div class="level-item has-text-centered m-0" :class="{'is-active-o':$route.path.includes('/cardShop/')}" v-if="modeType.foodMarket">
            <div class="pt-1" @click="clickGo('cardShop')">
              <figure class="image is-40x40 m-auto" :class="{'w3-opacity':!$route.path.includes('/cardShop/')}">
                <img src="../../assets/images/shopcar-o.svg" v-if="$route.path.includes('/cardShop/')">
                <img src="../../assets/images/shopcar.svg" v-else>
              </figure>
              <p class="heading has-text-grey is-size-7 m-0 mt-n2">商城</p>
            </div>
          </div>
          <!-- 門店 -->
          <div class="level-item has-text-centered m-0" :class="{'is-active-o':$route.path.includes('/cardStore/')}">
            <div class="pt-1" @click="clickGo('cardStore')">
              <figure class="image is-40x40 m-auto" :class="{'w3-opacity':!$route.path.includes('/cardStore/')}">
                <img src="../../assets/images/map-o.svg" v-if="$route.path.includes('/cardStore/')">
                <img src="../../assets/images/map.svg" v-else>
              </figure>
              <p class="heading has-text-grey is-size-7 m-0 mt-n2">門店</p>
            </div>
          </div>
          <!-- 品牌會員 -->
          <div class="level-item has-text-centered m-0" :class="{'is-active-o':$route.path.includes('/cardMember/')}">
            <div class="pt-1"  @click="clickGo('cardMember')">
              <!-- 優惠卷張數： -->
              <div class="w3-display-container" style="z-index: 1">
                <div class="w3-display-topright mt-n2 mr-n2" v-if="$route.fullPath.indexOf('/card/')>=0 && ticketCount" v-cloak>
                  <span class="badge rounded-pill primary-color" style="height:25px;line-height:25px">{{ticketCount}}</span>
                </div>
              </div>
              <figure class="image is-40x40 m-auto" :class="{'w3-opacity':!$route.path.includes('/cardMember/')}">
                <img src="../../assets/images/card-user-o.svg" v-if="$route.path.includes('/cardMember/')">
                <img src="../../assets/images/card-user.svg" v-else>
              </figure>
              <p class="heading has-text-grey is-size-7 m-0 mt-n2">品牌會員</p>
            </div>
          </div>
        </nav>
      </footer>
    </transition>

    <!-- 會員卡的 QRCode -->
    <transition name="slide-top">
      <div class="modal is-active" v-if="cardQRcode.show">
        <!-- <div v-if="!isQrReady" class="position-fixed w-100 h-100" style="z-index: 9999;background-color: rgba(0,0,0,0);" v-cloak>
          <div class="rounded-circle bg-white shadow-lg w3-display-middle p-2">
            <img src="../../assets/images/loading.svg" alt="" style="border-radius:100%;">
          </div>
        </div> -->
        <div class="modal-background"></div>
        <div class="modal-content">
          <div  class="box is-light text-center mx-auto w3-animate-opacity" style="max-width:320px" v-if="cardQRcode.data.loaded">
            <h5>
              <b class="d-block is-size-4 p-2 text-white rounded-lg mb-1" :class="[jgssgCustom?'jgssg-bg':'primary-color']">{{$store.getters.currentApp.AppName}}</b>
              會員條碼
            </h5>
            <img :src="cardQRcode.data.image" class="w3-image p-3" alt="" style="width: 85%">
            <p class="my-2">
              {{cardQRcode.data.value}}
              <br>
              本次條碼可使用時間 {{cardQRcode.timer}} 秒
            </p>
          </div>
        </div>
        <button class="modal-close is-large scale-150 margin-top-env" v-if="isNotLinePara()" @click="hideCardCode"></button>
      </div>
    </transition>

  </div>
</template>

<style lang="scss" scoped>
.sideMenu {
    z-index: 99;
    overflow: visible;
    background: rgba(255, 255, 255, .95);
}
/*
.remove-bottom-nav-height {
    height: calc(100vh - var(--top-nav-height) - var(--bottom-nav-height));
}
*/
.flex-center-v {
    display: flex;
    align-items: center;
}
.flex-center-v {
    display: flex;
    align-items: center;
}
.card-btm-nav {
  height: calc(54px + env(safe-area-inset-bottom));
}
.nav-btm-moveup-enter-active,
.nav-btm-moveup-leave-active {
  transition: all .15s ease;
}
.nav-btm-moveup-enter,
.nav-btm-moveup-leave-to {
  height: 0px;
}
.jgssg-bg {
  background-color: #EB3300;
}
</style>

<script>
import store from 'src/store'
import PullRefresh from 'src/components/PullRefresh.vue'
import { touchScrolling, isLogin, isNotLinePara,showToast } from 'src/libs/appHelper.js'
import { deviseFunction } from 'src/libs/deviseHelper.js'
import { cartQty } from 'src/libs/market.js'
import { computed, ref, reactive, watch } from '@vue/composition-api'
import { L_Obj } from 'src/fun1.js'	// 共用fun在此!

const currentAppUser = computed(() => store.state.currentAppUser)
const currentApp = computed(() => currentAppUser.EnterPriseID )
const publicData = computed(() => store.state.publicData )
const saleShopID = computed(() => store.state.currentAppUser.SaleShopID )
const modeType= computed(() => {
  if (Array.isArray(publicData.value.modeType)){
    const mode = publicData.value.modeType.find(m => m.ShopID === saleShopID.value)
    return (mode) ? JSON.parse(mode.Mode) : {}
  }else{
    return {}
  }
})

// 側選單開關
const isSideMenu = ref(false)
// 統計優惠卷張數
const ticketCount= computed(() => {
  // if (store.getters.currentAppUsers.length === 0) return 0
  // const userData = store.getters.currentAppUsers.find(app => app.mac === store.state.currentAppUser.mac)
  // if (userData === undefined) return 0
  // const list = userData.cardTicket.map(item => {return parseInt(item.TicketCount)})
  // const count = list.length > 0 ? list.reduce((a, b) => { return a + b } ) : 0
  // return count
  // 不用GetVipAndCardInfo,改成用GetVipTicket
  let ticketList = store.state.memberData.ticketList
  if (ticketList && ticketList.length>0) {
    let count = store.state.memberData.ticketList.map(item => {return parseInt(item.TicketCount)}).reduce((a, b) => { return a + b })
    return count
  } else {
    return 0
  }
})

// 下拉刷新的參數 (依據路徑決定要 call 的 action)
const pathValidation = {
  // 企業公開資料
  '/card':         'fetchAppPublicDataDetailWuhu',      // 有用到
  // '/cardFaq':      'fetchAppPublicData',								// 用到再開
  '/cardMenu':     'fetchMenuSubTypeData_kakar2',       // 有用到
  '/cardProducts': 'fetchProductData',                  // 有用到
  '/cardStore':    'fetchAppPublicDataDetailStoreKakar2', // 有用到
  '/cardNews':     'fetchAppPublicDataDetailNewsWuhu', // 有用到
  '/cardNewspage': 'fetchAppPublicDataDetailNewsWuhu', // 有用到
  // 企業會員資料
  '/cardMember':   'fetchAppPublicDataDetailMemberWuhu', // 有用到
  '/cardProfile':  'fetchAppUserData',
  '/cardCoupon':   'fetchAppPublicDataDetailCouponWuhu', // 有用到
  '/cardPoint':    'fetchAppPublicDataDetailPointWuhu', // 有用到
  '/cardPay':      'fetchMemberPurchaseRecordData',
  
  // TODO:商城開始
  '/cardShop': 'fetchMallData',
  '/cardShopMine': 'fetchShopMine',
  '/cardShopType': 'fetchMallKindData',
}

// QRcode 的參數
const cardQRcode = reactive({
  gid: '',
  timer: 60,
  show: false,
  counter: '',
  data: computed(() => store.state.cardQRCode )
})

// QRcode 參數監聽
watch(() => cardQRcode.timer, () => renderQRcode() )

// 顯示 QRcode 畫面
function showQrcode() {
  let userData = store.getters.currentAppUsers.find(app => app.mac === store.state.currentAppUser.mac && app.cardGID) //LINE應用,無EnterpriseID
  //const have_entp = store.getters.currentAppUsers.find(app => app.mac === store.state.currentAppUser.mac && (app.EnterPriseID || app.EnterpriseID)) //有EnterpriseID
  //if (!userData.EnterPriseID && have_entp && (have_entp.EnterPriseID || have_entp.EnterpriseID)) userData.EnterPriseID = have_entp.EnterPriseID || have_entp.EnterpriseID
	//console.log('showQrcode-userData: ', userData);	// @@
  store.commit('setCurrentAppUser', userData) //為何還要set一次??原寫法被什麼髒東西override了.?by 20211110
  store.commit('setCssTouch', false)
  cardQRcode.gid = userData.cardGID
  cardQRcode.show = true
  // 計時器重設(觸發取會員條碼並倒數計時的邏輯)
  cardQRcode.timer = 0

  // 重新跟殼取資料(主要更新當下螢幕亮度值)
  deviseFunction('GetSPAll', '', '"cbFnSyncDeviseInfoToStore"')
  // 進入時將殼的螢幕調到最亮
  deviseFunction('setBrightness', '255', '')
}

// 執行顯示 QRcode 的邏輯
function renderQRcode() {
  // 只在計數器為零時才執行
  if (cardQRcode.timer > 0) return
  // 取會員 QRcode
  //console.log("cardQRcode>>",cardQRcode)
  store.dispatch('fetchCardQRCodeData', cardQRcode.gid)
  // 將計數器回到 60 秒
  cardQRcode.timer = 60
  // 開始倒數計時
  if (cardQRcode.counter === '') cardQRcode.counter = setInterval(()=> { cardQRcode.timer = cardQRcode.timer - 1 }, 1000)
}

export default {
  name: 'LayoutKakar',
  components: { PullRefresh },
  data() {
    return {
      isCardBtmNav: false,
    }
  },
  setup(props, context) {

    if (layout === 'card') this.isCardBtmNav = false

    // 未登入 => 導回首頁
    if (!isLogin.value) context.root.$router.push('/')
    if (!store.getters.currentApp) context.root.$router.push('/')
    // 主畫面 layout (預設為 Kakar)
    const layout = computed(() => context.root.$route.meta.layout || 'Kakar' )

    // 關閉 QRcode 畫面
    function hideCardCode() {
      cardQRcode.cardGID = ''
      cardQRcode.show = false
      store.commit('setCssTouch', true)

      // 刷新積點資料 (依據 layout 不同更新 vipApps / vipUserData)
      if (layout === 'kakar') store.dispatch('fetchVipApps')
      if (layout === 'card')  store.dispatch('fetchAppUserData')
      // 清空會員 QRcode 資料
      store.commit('setCardQRCodeData', {value: '', image: '', loaded: false})
      // 關閉倒數計時器
      clearInterval(cardQRcode.counter) ; cardQRcode.counter = '' ; cardQRcode.timer = 60
      // 將殼的螢幕恢復原本亮度
      deviseFunction('setBrightness', store.getters.deviseBrightness, '')
    }

    const urlPath = computed(() => context.root.$route.path )
    const urlQuery = computed(() => context.root.$route.query )
    const refreshAction = ref('')

    // 下拉刷新功能的啟用判斷邏輯
    const canEnabled = computed(() => {
      const path = getPathVal();

      const isEnabled = pathValidation[path] !== undefined
      if (isEnabled) refreshAction.value = pathValidation[path]
      return isEnabled
    })
    function getPathVal(){
      let path = urlPath.value
      if (/\/card\//.test(urlPath.value))          path = '/card'
      if (/\/cardMenu\//.test(urlPath.value))      path = '/cardMenu'
      if (/\/cardProducts\//.test(urlPath.value))  path = '/cardProducts'
      if (/\/cardNews\//.test(urlPath.value))      path = '/cardNews'
      if (/\/cardNewspage\//.test(urlPath.value))  path = '/cardNewspage'

      if (/\/cardStore\//.test(urlPath.value))     path = '/cardStore'
      if (/\/cardMember\//.test(urlPath.value))    path = '/cardMember'
      if (/\/cardPoint\//.test(urlPath.value))     path = '/cardPoint'
      if (/\/cardCoupon\//.test(urlPath.value))    path = '/cardCoupon'
      if (/\/cardShopMine\//.test(urlPath.value))  path = '/cardShopMine'
      if (/\/cardShop\//.test(urlPath.value))      path = '/cardShop'
      if (/\/cardShopType\//.test(urlPath.value))      path = '/cardShopType'
      
      // if (/\/cardMenu\//.test(urlPath))     path = '/cardMenu'
      // if (/\/cardNewspage\//.test(urlPath)) path = '/cardNewspage'
      // if (/\/cardProducts\//.test(urlPath)) path = '/cardProducts'
      return path;
    }
    // 下拉刷新的設定檔
    function pullRefreshConfig() {
      let path = getPathVal();
      let qUrl = urlQuery.value || {};     
      
      let isMallKindLoad = (path === '/cardShopType' && qUrl.goto!=undefined && store.state.mallData.mallScrollTop > -1 && store.state.mallData.mallScrollTop <= 3)//改ScrollTop=0時,棄用:商城只允許第一個小類可刷新spyIndex
      let isMallProductLoad = (path === '/cardShopType' && qUrl.type!=undefined && qUrl.type === 'product');
      let isMallLoad= (path !== '/cardShopType' || isMallKindLoad || isMallProductLoad)
      // 如果未登入/無企業資料，不啟用
      if (!isLogin || !currentApp || !isMallLoad ) return { pullEnabled: false }
      return { pullEnabled: canEnabled.value }
    }

    // 下拉後啟動刷新的邏輯
    function onPullRefresh() {
      let qUrl = urlQuery.value || {};
      let path = getPathVal();
      // var p_qUrl = Object.assign({}, qUrl) //若改query,router不要被影響
      let isMallKindLoad = (path === '/cardShopType' && qUrl.goto!=undefined && store.state.mallData.mallScrollTop > -1 && store.state.mallData.mallScrollTop <= 3)
      if (isMallKindLoad) qUrl.goto = 0; //banner進來的不一定是0,刷不到0,改回0
      store.dispatch(refreshAction.value,qUrl)
      return new Promise(resolve => setTimeout(() => resolve(), 1000) )
    }
    if (!store.state.ShowQrcodeFn) store.commit('setShowQrcode', showQrcode)

    return {
      touchScrolling, isLogin, onPullRefresh, pullRefreshConfig,
      publicData, isSideMenu, ticketCount,
      cardQRcode, showQrcode, hideCardCode, layout,saleShopID,modeType
    }
  },
  computed: {
    // fontSizeBase() { return store.getters.fontSizeBase },
    isReady() {
      let imageStr = cardQRcode.data.image
      if (imageStr && imageStr!='') {
        return true
      } else {
        return false
      }
    },
    // 香香雞客製判斷
    jgssgCustom() {
      if(this.$route.params.enterpriseId == '24435384') return true
      else return false
    },    
    hasFoodkind(){
      return !!this.$store.state.mallData.foodkind.length;
    },
    showCardShop(){
			const path1 = this.$route.path
				,epID 		= this.$route.params.enterpriseId
      return path1 == '/cardShop/'+epID || path1 == '/cardShopType/'+epID
    },
    canGoBack(){
			const path1 = this.$route.path
				// ,notPath 	= !path1.includes('/card/') && !path1.includes('/cardShopMine/') && !(path1.includes('/cardShopCart/'))
				,notPath 		= !/\/card\/|\/cardShopMine\/|\/cardShopCart\//.test(path1)
				,useWebScan = L_Obj.read('WebLineLiff')
				,isTrue 		= isNotLinePara() || !useWebScan
			// console.warn('Debug_canGoBack: ', isTrue);	// @@
      return isTrue && notPath;
    },
  },
  methods: {
    isNotLinePara,
    cartQty,
    // goneCardShop(){
      // return this.$route.path.indexOf('/cardShop')<0 && this.$route.path.indexOf('/cardShopCart')<0 && this.$route.path.indexOf('/cardShopMine')<0 && this.$route.path.indexOf('/cardShopType')<0
    // },
    showCardText(){
      const ep = this.$route.params.enterpriseId;
      const name_arr = ['/cardShop/'+ep,'/cardShopCart/'+ep,'/cardShopMine/'+ep,'/cardShopType/'+ep];
      return name_arr.indexOf(this.$route.path) > -1
    },
    chksrc(){
      //return '../../assets/images/map-o.png'
      // return ((this.$route.fullPath.indexOf('/cardStore')>=0) ? '../../assets/images/map-o.png' : '../../assets/images/map.png')
    },
    clickGo(v1, isReplace) {
			const epId 	= this.$route.params.enterpriseId
				// ,go1 			= isReplace ? this.$router.replace : this.$router.push	// NG!
				,_path	= `/${v1}/${epId}`
			// console.log('clickGo-_path: ', _path);	// @@
			// go1(_path);	/** @NoNo: ※有陷阱：fun一樣卻不能這麼做  */
			if (isReplace) {
        this.$router.replace(_path)
			} else {
        this.$router.push(_path)
			}
    },
    chkCartSum(){      
      if (!this.cartQty(store.state.mallData.kindQty)) return showToast("購物車沒有品項")
      else this.clickGo('cardShopCart')
    },
		/* 按 返回 */
    goBack() {
      const path 	= this.$route.fullPath
				,epId			= this.$route.params.enterpriseId
      // 在這幾頁有可能是從外部app回來,要特別hard code回到品牌首頁
      // cardStore: 門店
      // cardShop: 商城首頁

      if ((path.includes('/cardStore/') || path.includes('/cardShop/') || path.includes('/cardCoupon/')) && !path.includes('?')) {
        this.$router.push('/card/' + epId)
      }  else {
				const thePage = this.$route.path
					,isTrue			= /serviceRec/.test(thePage)
				// console.log('goBack-thePage, isTrue: ', thePage, isTrue);	// @@
				if (isTrue) {
					this.$router.replace('/cardMember/'+ epId);

				} else {
					this.$router.go(-1)
				}

      }
    },
  },
  mounted() {
    // 底功能列滑出
    this.isCardBtmNav = true
  }
}
</script>