<template>
  <div class="vh-100 d-flex flex-column">
    <!--好康聯盟區-->

    <template v-if="isLogin">
      <!-- 卡包頁專屬header start -->
      <!-- 登入後 卡包頁 頂功能列 -->
      <nav class="border-bottom py-2" v-if="$route.path==='/list'">
        <div class="columns is-variable is-0 is-mobile is-vcentered padding-top-env" v-if="canGoBack">
          <div class="column is-narrow text-center" style="width: 48px;">
            <!-- 卡2 logo -->
            <a @click="$router.push('/setting')" v-if="$route.path !== '/setting'">
              <img class="mx-1" src="../../assets/images/logo.svg" style="height:2.25rem">
            </a>
          </div>
          <div class="column text-center">
            <!--搜尋卡包-->
            <div class="field" v-if="$route.fullPath === '/list'">
              <p class="control has-icons-left">
                <input class="input border-0 has-background-white-ter rounded-pill shadow-none" type="text" v-model="$store.state.appFilter" placeholder="搜尋 / 篩選">
                <span class="icon is-small is-left">
                  <i class="fas fa-search"></i>
                </span>
              </p>
            </div>
          </div>
          <div class="column is-narrow  text-center" style="width: 48px;">
            <!-- 在設定頁 -->
            <a @click="$router.go(-1)" v-if="$route.path === '/setting'">
              <img class="mx-1" src="../../assets/images/x.svg" style="height:32px">
            </a>
            <!-- 掃code  @click="openBarcodeScan()"-->
            <a @click="$store.commit('setGridView')" v-if="isLogin && $route.fullPath === '/list'" v-cloak>
              <img class="mx-1" src="../../assets/images/gridview-one.svg" style="height:2rem" v-if="$store.state.gridView">
              <img class="mx-1" src="../../assets/images/gridview-two.svg" style="height:2rem" v-else>
            </a>
          </div>
        </div>
      </nav>
      <!-- 卡+2首頁 頂功能列(新) -->
      <nav class="border-bottom px-1 py-2" v-else>
        <div class="columns is-variable is-0 is-mobile is-vcentered padding-top-env" v-if="canGoBack">
          <div class="column is-narrow" style="width: 48px;">
            <a @click="$router.go(-1)"
              v-if="$route.path === '/'||$route.path === '/news'||$route.path.includes('/newspage/')||$route.query.name=='常見問題'">
              <img class="mx-1" src="../../assets/images/back.svg" style="height:32px">
            </a>
            <!-- 隱私權聲明頁返回 -->
            <a @click="$router.push('/member')" v-if="$route.query.name=='隱私權條款'">
              <img class="mx-1" src="../../assets/images/back.svg" style="height:32px">
            </a>
            <!-- 會員頁返回 -->
            <a @click="$router.push('/list')" v-if="$route.path === '/member'">
              <img class="mx-1" src="../../assets/images/back.svg" style="height:32px">
            </a>
          </div>
          <div class="column text-center">
            <p class="py-2 is-size-5">
              {{$route.path === '/'?'卡+ 生活':''}}
              {{$route.path === '/member'?'卡+ 會員專區':''}}
              {{$route.path === '/news'||$route.path.includes('/newspage/')?'卡+ 最新消息':''}}
              {{$route.path.includes('/faq')?'常見問題':''}}
            </p>
          </div>
          <div class="column is-narrow text-right" style="width: 48px;"></div>
        </div>
      </nav>
    </template>

    <!-- 側選單 -->
    <transition name="side-menu" mode="out-in">
      <nav class="w3-sidebar w3-bar-block w3-card sideMenu" @click="isSideMenu=false" v-cloak v-if="isSideMenu" >
        <div class="w3-padding-16" style="height:calc(100vh - 3.25rem);overflow:auto">
          <!-- 關閉範圍 -->
          <div style="position: absolute;top: 0;right: 0;bottom: 0;left: 0;background-color: transparent;width:100vw;z-index: -1;" @click="isSideMenu=false"></div>
          <!-- 首頁 -->
          <!-- <div class="w3-bar-item w3-button w3-transparent w3-hover-none" @click="$router.push('/card')">首頁</div> -->
          <!-- 最新消息 -->
          <div class="w3-bar-item w3-button w3-transparent w3-hover-none" @click="$router.push('/news')">最新消息</div>
          <!-- 會員專區 -->
          <div class="w3-bar-item w3-button w3-transparent w3-hover-none" @click="$router.push('/member')">會員專區</div>
          <!-- 門市查詢 -->
          <div class="w3-bar-item w3-button w3-transparent w3-hover-none" @click="$router.push('/store')">服務據點</div>
          <!-- 會員設定 -->
          <div class="w3-bar-item w3-button w3-transparent w3-hover-none" @click="$router.push('/setting')">會員設定</div>
          <!-- 聯絡我們 -->
          <div class="w3-bar-item w3-button w3-transparent w3-hover-none" @click="$router.push('/contactUs')">聯絡我們</div>
          <!-- ***** 分隔線 ***** -->
          <hr class="my-2">
          <div class="w3-bar-item w3-button w3-transparent w3-hover-none" @click="logout()">登出</div>

          <!-- 依據微管雲上的商品類別放入商品大類項目
          <div v-if="$store.state.publicData.menu.mainType.length > 0">
            <div
              v-for="type in $store.state.publicData.menu.mainType[0].list"
              :key="type.KindID"
              class="w3-bar-item w3-button w3-transparent"
              @click="$router.push(`/cardMenu/${$store.state.publicData.menu.mainType[0].code}?mainName=${type.KindName}&subCode=${type.KindID}`)">
              {{type.KindName}}
            </div>
          </div> -->
        </div>
      </nav>
    </transition>

    <!-- 內容slot -->
    <div class="flex-fill overflow-auto">
      <PullRefresh id="pull-content" :on-refresh="onPullRefresh" :config="pullRefreshConfig()">
        <slot></slot>
      </PullRefresh>
    </div>
    
    <!-- 卡+2首頁 底功能列(新) -->
    <transition name="nav-btm-moveup" mode="out-in">
      <footer class="kakar2-btm-nav has-background-black px-3" v-if="isLogin && isKakar2BtmNav && isNotLinePara()">
        <nav class="level is-mobile padding-bottom-env">
          <!-- 我的卡+ -->
          <div class="level-item has-text-centered m-0"
            :class="{'is-active':$route.path.includes('/list')}">
            <div class="pt-1" @click="$router.push('/list')">
              <figure class="image is-40x40 m-auto">
                <img src="../../assets/images/mycard-b.svg" v-if="$route.path.includes('/list')">
                <img src="../../assets/images/mycard.svg" class="w3-opacity" v-else>
              </figure>
              <p class="heading has-text-grey is-size-7 m-0 mt-n2">我的卡+</p>
            </div>
          </div>
          <!-- 卡+生活 -->
          <div class="level-item has-text-centered m-0" :class="{'is-active':$route.path == '/'}">
            <div class="pt-1" @click="$router.push('/')">
              <figure class="image is-40x40 m-auto" :class="{'w3-opacity':$route.path !== '/'}">
                <img src="../../assets/images/cardgroup-b.svg" v-if="$route.path == '/'">
                <img src="../../assets/images/cardgroup.svg" v-else>
              </figure>
              <p class="heading has-text-grey is-size-7 m-0 mt-n2">卡+生活</p>
            </div>
          </div>
          <!-- 掃碼加入 -->
          <div class="level-item has-text-centered m-0">
            <div class="pt-1" @click="openBarcodeScanModal()">
              <figure class="image is-40x40 m-auto">
                <img src="../../assets/images/nav-scancode.svg" class="w3-opacity">
              </figure>
              <p class="heading has-text-grey is-size-7 m-0 mt-n2">掃碼加入</p>
            </div>
          </div>
          <!-- 我的資訊 會員專區 -->
          <div class="level-item has-text-centered m-0" :class="{'is-active':$route.path != '/list'&&$route.path != '/'}">
            <div class="pt-1" @click="$router.push('/member')">
              <figure class="image is-40x40 m-auto" :class="{'w3-opacity':$route.path == '/list'||$route.path == '/'}">
                <img src="../../assets/images/usercard-b.svg" v-if="$route.path != '/list'&&$route.path != '/'">
                <img src="../../assets/images/usercard.svg" v-else>
              </figure>
              <p class="heading has-text-grey is-size-7 m-0 mt-n2">會員專區</p>
            </div>
          </div>
        </nav>
      </footer>
    </transition>

    <!-- 手動輸入店家碼 -->
    <!-- 在console輸入這行會跳出此視窗 -->
    <!-- vue().$store.commit('setInputQRCode', true) -->
    <transition name="slide-top">
      <div class="modal is-active" v-show="$store.state.showInputQRCode">
          <div class="modal-background"></div>
          <div class="modal-content" style="max-width:500px">
            <!-- 請輸入店家代碼 or 吊起camera -->
            <div class="box m-3 py-4">
              <div class="columns is-mobile is-multiline is-centered">
                <div class="column is-full text-center">
                  <button class="button is-info is-rounded is-fullwidth is-medium"
                    :disabled="!inDeviseApp"
                    @click="openBarcodeScan()"
                  >
                    <span class="icon">
                      <i class="fas fa-qrcode"></i>
                    </span>
                    <span>掃描 QRcode</span>
                  </button>
                </div>
                <div class="is-divider mt-4" data-content="或"></div>
                <div class="column is-full">
                  <div class="field is-grouped">
                    <p class="control has-icons-left is-expanded">
                      <input placeholder="輸入店家代碼" class="input shadow-none border-0 border-bottom is-medium text-center"
                        v-model="inputQRcode" pattern="[0-9]*" maxlength="6" type="number"
                        @blur.prevent="fixScroll"
                      >
                      <span class="icon is-left">
                        <i class="fas fa-store-alt"></i>
                      </span>
                    </p>
                    <p class="control">
                      <button class="button is-medium is-success" @click="submitInputQRcode()">確認</button>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button class="modal-close is-large scale-150 margin-top-env" aria-label="close" @click="closeQRcodeKeyin()"></button>
        </div>
    </transition>

  </div>
</template>

<style lang="scss" scoped>
.sideMenu {
    z-index: 99;
    overflow: visible;
    background: rgba(255, 255, 255, .95);
}
/*
.remove-bottom-nav-height {
    height: calc(100vh - var(--top-nav-height) - var(--bottom-nav-height));
}
*/
.flex-center-v {
    display: flex;
    align-items: center;
}
.flex-center-v {
    display: flex;
    align-items: center;
}
.footer {
  /*  height: var(--bottom-nav-height);*/
    justify-content: space-around;
    padding: 0;
}
.to-fill {
  border: 1px solid #eee;
  user-select: auto;
  vertical-align: sub;
}
.kakar2-btm-nav {
  height: calc(54px + env(safe-area-inset-bottom));
}
.nav-btm-moveup-enter-active,
.nav-btm-moveup-leave-active {
  transition: all .15s ease;
}
.nav-btm-moveup-enter,
.nav-btm-moveup-leave-to {
  height: 0px;
}
</style>

<script>
import store from 'src/store'
import PullRefresh from 'src/components/PullRefresh.vue'
import { touchScrolling, isLogin, showAlert, fixScroll, isNotLinePara } from 'src/libs/appHelper.js'
import { deviseFunction } from 'src/libs/deviseHelper.js'
import { computed, ref, reactive, watch } from '@vue/composition-api'
// import { getMyShopCart,itmeQtyReload,cartQty } from 'src/libs/market.js'
import { cartQty } from 'src/libs/market.js'
// import {cartQty } from 'src/libs/market.js'
import { L_Obj } from 'src/fun1.js'	// 共用fun在此!


const currentAppUser = computed(() => store.state.currentAppUser)
const currentApp = computed(() => currentAppUser.EnterPriseID )
const publicData = computed(() => store.state.baseInfo.publicData )
// 側選單開關
const isSideMenu = ref(false)
// 統計優惠卷張數
const ticketCount= computed(() => {
  if (store.getters.currentAppUsers.length === 0) return 0
  const userData = store.getters.currentAppUsers.find(app => app.mac === store.state.currentAppUser.mac)
  if (userData === undefined) return 0
  if (userData !== undefined && !Array.isArray(userData.cardTicket)) return 0
  const list = userData.cardTicket.map(item => {return parseInt(item.TicketCount)})
  const count = list.length > 0 ? list.reduce((a, b) => { return a + b } ) : 0
  return count
})

// 下拉刷新的參數 (依據路徑決定要 call 的 action)
const pathValidation = {
  '/list':    'fetchVipApps',
  '/':        'fetchAppPublicDataWuhu',
  '/store':   'fetchAppPublicDataStoreWuhu',
  '/news':    'fetchAppPublicDataNewsWuhu',

  '/member':  'fetchAppPublicDataMemberWuhu',
  '/point':   'fetchAppPublicDataPointWuhu',
  '/coupon':  'fetchAppPublicDataCouponWuhu',
  '/cardPay': 'fetchAppUserDataWuhu',

  // 預約開始
  '/bookingMine': 'fetchMyBookList',
  '/shop': 'fetchMallData',
  // TODO:商城開始
  '/shopMine': 'fetchShopMine',
  '/shopType': 'fetchMallKindData',

}

// QRcode 的參數
const cardQRcode = reactive({
  gid: '',
  timer: 60,
  show: false,
  counter: '',
  data: computed(() => store.state.cardQRCode )
})

// QRcode 參數監聽
watch(() => cardQRcode.timer, () => renderQRcode() )

// 顯示 QRcode 畫面
function showQrcode() {
  store.commit('setCssTouch', false)
  cardQRcode.gid = store.state.baseInfo.memberData.card_info.GID
  cardQRcode.show = true
  // 計時器重設(觸發取會員條碼並倒數計時的邏輯)
  cardQRcode.timer = 0

  // console.log('cardQRcode.gid', cardQRcode.gid)

  // 重新跟殼取資料(主要更新當下螢幕亮度值)
  deviseFunction('GetSPAll', '', '"cbFnSyncDeviseInfoToStore"')
  // 進入時將殼的螢幕調到最亮
  deviseFunction('setBrightness', '255', '')
}

// 執行顯示 QRcode 的邏輯
function renderQRcode() {
  // 只在計數器為零時才執行
  if (cardQRcode.timer > 0) return
  // 取會員 QRcode
  store.dispatch('fetchWuhuCardQRCodeData', cardQRcode.gid)
  // 將計數器回到 60 秒
  cardQRcode.timer = 60
  // 開始倒數計時
  if (cardQRcode.counter === '') cardQRcode.counter = setInterval(()=> { cardQRcode.timer = cardQRcode.timer - 1 }, 1000)
}
// 開啟手機的條碼掃描
function openBarcodeScanModal() {
  this.inputQRcode = '' // 清空畫面
  // 在殼裡面 => 開啟掃描
  // if (typeof(JSInterface) !== 'undefined') return deviseFunction('barcode', '', '"cbFnScanKakarAppsQrCode"')
  // 在瀏覽器 => 直接開啟輸入視窗
  // else store.commit('setInputQRCode', true)
  store.commit('setInputQRCode', true)
}
function openBarcodeScan() {
  store.commit('setInputQRCode', false)
  return deviseFunction('barcode', '', '"cbFnScanKakarAppsQrCode"')
}
// function getShopCart(){
//   getMyShopCart(()=>{
//     itmeQtyReload();
//   });
// }



export default {
  name: 'LayoutKakar',
  components: { PullRefresh },
  data: function() {
    return {
      inputQRcode: '',
      isKakar2BtmNav: false,
    }
  },
  setup(props, context) {
    // 未登入 => 導回首頁
    if (!isLogin.value) context.root.$router.push('/')
    // 主畫面 layout (預設為 Kakar)
    const layout = computed(() => context.root.$route.meta.layout || 'Kakar' )
    // getShopCart();	//取購物車
    // 關閉 QRcode 畫面
    function hideCardCode() {
      cardQRcode.cardGID = ''
      cardQRcode.show = false
      store.commit('setCssTouch', true)

      // 刷新積點資料 (依據 layout 不同更新 vipApps / vipUserData)
      if (layout === 'kakar') store.dispatch('fetchVipApps')
      if (layout === 'card')  store.dispatch('fetchAppUserData')
      // 清空會員 QRcode 資料
      store.commit('setCardQRCodeData', {value: '', image: '', loaded: false})
      // 關閉倒數計時器
      clearInterval(cardQRcode.counter) ; cardQRcode.counter = '' ; cardQRcode.timer = 60
      // 將殼的螢幕恢復原本亮度
      deviseFunction('setBrightness', store.getters.deviseBrightness, '')
    }

    const urlPath = computed(() => context.root.$route.path )
    const urlQuery = computed(() => context.root.$route.query )
    const refreshAction = ref('')

    // 下拉刷新功能的啟用判斷邏輯
    const canEnabled = computed(() => {
      let path = urlPath.value
      if (/\/member/.test(urlPath))     path = '/member'
      if (/\/newspage\//.test(urlPath)) path = '/newspage'
      // TODO
      // if (/\/shopType\//.test(urlPath)) path = '/shopType'

      const isEnabled = pathValidation[path] !== undefined
      if (isEnabled) refreshAction.value = pathValidation[path]
      return isEnabled
    })

    // 下拉刷新的設定檔
    function pullRefreshConfig() {
      // 如果未登入/無企業資料，不啟用
      let path = urlPath.value
      let qUrl = urlQuery.value || {};
      // if (/\/shopType\//.test(urlPath)) path = '/shopType'

      let isMallKindLoad = (path === '/shopType' && qUrl.goto!=undefined && store.state.mallData.mallScrollTop > -1 && store.state.mallData.mallScrollTop <= 3)//改ScrollTop=0時,棄用:商城只允許第一個小類可刷新spyIndex
      let isMallProductLoad = (path === '/shopType' && qUrl.type!=undefined && qUrl.type === 'product');
      let isMallLoad= (path !== '/shopType' || isMallKindLoad || isMallProductLoad)

      if (!isLogin || !currentApp || !isMallLoad ) return { pullEnabled: false }
      return { pullEnabled: canEnabled.value }
    }

    // 下拉後啟動刷新的邏輯
    function onPullRefresh() {
      let qUrl = urlQuery.value || {};
      let path = urlPath.value
      // var p_qUrl = Object.assign({}, qUrl) //若改query,router不要被影響
      let isMallKindLoad = (path === '/shopType' && qUrl.goto!=undefined && store.state.mallData.mallScrollTop > -1 && store.state.mallData.mallScrollTop <= 3)
      if (isMallKindLoad) qUrl.goto = 0; //banner進來的不一定是0,刷不到0,改回0
      store.dispatch(refreshAction.value,qUrl)
      return new Promise(resolve => setTimeout(() => resolve(), 1000) )
    }

    return {
      touchScrolling, isLogin, onPullRefresh, pullRefreshConfig,
      publicData, isSideMenu, ticketCount,
      cardQRcode, showQrcode, hideCardCode, layout, openBarcodeScanModal, openBarcodeScan
    }

  },
  computed: {
    inDeviseApp() { return (typeof(JSInterface) === 'object') },
    fontSizeBase() { return store.getters.fontSizeBase },
    isReady() {
      let imageStr = cardQRcode.data.image
      if (imageStr && imageStr!='') {
        return true
      } else {
        return false
      }
    },
    canGoBack(){
			const useWebScan 	= L_Obj.read('WebLineLiff')
				,isTrue 				= isNotLinePara() || !useWebScan
			console.warn('Debug_canGoBack: ', isTrue);	// @@
      return isTrue;
    },

  },
  methods:{
    isNotLinePara,
    cartQty,
    fixScroll,
    // (殼專屬) 另開瀏覽器app，開啟連結
    deviseToLink(Url) {
     return deviseFunction('openWeburl', Url, '')
    },
    openBarcodeWuhu() {
      // 開啟手機的條碼掃描 by 側邊選單掃描QRCODE ,辧活動用20200408
      // this.$router.replace('shop?type=scanResult');
      return deviseFunction('barcode', '', '"cbFnScanKakarAppsQrCode"');
    },
    logout() {
			this.$store.dispatch('memberLogout', 1)
    },
    toShopPay(){
      //先導到商城,自動加入購物車
      this.$router.replace({ path: '/shop', query: { from: 'scanSend' }})
    },
    async addNewCardByKeyin(QrCode) {
			this.inputQRcode = '' // 清空畫面

			await store.dispatch('ensureNewCardQRCode', {Qr:QrCode,isChkSub:true})
    },


    // 手動輸入店家代碼，執行綁定並開卡
    submitInputQRcode() {
      if (this.inputQRcode === '') return showAlert('請輸入代碼')
      this.addNewCardByKeyin(this.inputQRcode.toString())
    },
    closeQRcodeKeyin() {
      store.commit('setInputQRCode', false)
    }
  },
  mounted() {
    // 底功能列滑出
    this.isKakar2BtmNav = true
  },
}
</script>