<template>
  <div class="vh-100 d-flex flex-column">

    <!-- 未登入 && 註冊/登入 -->
    <nav class="nborder-bottom p-2 pr-3" v-if="(!isLogin && $route.fullPath !== '/'&& $route.fullPath !== '/login')" v-cloak>
      <div class="columns is-variable is-0 is-mobile is-vcentered padding-top-env" v-if="isNotLinePara()">
        <div class="column">
          <!-- LOGO圖  -->
          <img src="../../assets/images/back.svg" style="height:2rem" v-if="$route.path !== '/login'"  @click="$router.push('/login')">
        </div>
        <div class="column text-right">
          <!-- 未登入文字(右) -->
          <b class="is-size-4">
            {{($route.fullPath=='/login')?'':($route.fullPath=='/register')?'註冊':''}}
          </b>
        </div>
      </div>
    </nav>

    <!-- 登入後 卡包頁 頂功能列 -->
    <nav class="border-bottom py-2" v-if="isLogin">
      <div class="columns is-variable is-0 is-mobile is-vcentered padding-top-env" v-if="isNotLinePara()">
        <div class="column is-narrow text-center" style="width: 48px;">
          <!-- 卡2 logo -->
          <a @click="$router.push('/setting')" v-if="$route.path !== '/setting'">
            <img class="mx-1" src="../../assets/images/logo.svg" style="height:2.25rem">
          </a> 
        </div>
        <div class="column text-center">
          <!--搜尋卡包-->
          <div class="field" v-if="$route.fullPath === '/list'">
            <p class="control has-icons-left">
              <input class="input border-0 has-background-white-ter rounded-pill shadow-none" type="text" v-model="$store.state.appFilter" placeholder="搜尋 / 篩選">
              <span class="icon is-small is-left">
                <i class="fas fa-search"></i>
              </span>
            </p>
          </div>
        </div>
        <div class="column is-narrow  text-center" style="width: 48px;">
          <!-- 在設定頁 -->
          <a @click="$router.go(-1)" v-if="$route.path === '/setting'">
            <img class="mx-1" src="../../assets/images/x.svg" style="height:32px">
          </a> 
          <!-- 掃code -->
          <a @click="openBarcodeScan()" v-if="isLogin && $route.fullPath === '/list'" v-cloak>
            <img class="mx-1" src="../../assets/images/scancode-b.svg" style="height:2rem">
          </a>
        </div>
      </div>
    </nav>

    <!-- <div style="height: 54px;" v-if="isLogin"></div> -->
    <div class="flex-fill overflow-auto">
      <PullRefresh id="pull-content" :on-refresh="onPullRefresh" :config="pullRefreshConfig">
        <slot></slot>
      </PullRefresh>
    </div>

    <!--卡包頁 底功能列 -->
    <footer class="has-background-black px-3" v-if="isLogin && isNotLinePara()">
      <nav class="level is-mobile padding-bottom-env">
        <!-- 我的卡+ -->
        <div class="level-item has-text-centered m-0">
          <div class="pt-1" @click="$router.push('/list')">
            <figure class="image is-40x40 m-auto">
              <img src="../../assets/images/mycard.svg" class="w3-opacity">
            </figure>
            <p class="heading has-text-grey is-size-7 m-0 mt-n2">我的卡+</p>
          </div>
        </div>
        <!-- 卡+生活 -->
        <div class="level-item has-text-centered m-0">
          <div class="pt-1" @click="$router.push('/')">
            <figure class="image is-40x40 m-auto">
              <img src="../../assets/images/cardgroup.svg" class="w3-opacity">
            </figure>
            <p class="heading has-text-grey is-size-7 m-0 mt-n2">卡+生活</p>
          </div>
        </div>
        <!-- 掃碼加入 -->
        <div class="level-item has-text-centered m-0">
          <div class="pt-1" @click="openBarcodeScan()">
            <figure class="image is-40x40 m-auto">
              <img src="../../assets/images/nav-scancode.svg" class="w3-opacity">
            </figure>
            <p class="heading has-text-grey is-size-7 m-0 mt-n2">掃碼加入</p>
          </div>
        </div>
        <!-- 我的資訊 會員專區 -->
        <div class="level-item has-text-centered m-0 is-active">
          <div class="pt-1" @click="$router.push('/member')">
            <figure class="image is-40x40 m-auto">
              <img src="../../assets/images/usercard-b.svg">
            </figure>
            <p class="heading has-text-grey is-size-7 m-0 mt-n2">會員專區</p>
          </div>
        </div>
      </nav>
    </footer>
  </div>
</template>

<script>
import store from 'src/store'
import PullRefresh from 'src/components/PullRefresh.vue'
import { touchScrolling, isLogin, isNotLinePara } from 'src/libs/appHelper.js'
import { deviseFunction } from 'src/libs/deviseHelper.js'

// 開啟手機的條碼掃描
function openBarcodeScan() { return deviseFunction('barcode', '', '"cbFnScanKakarAppsQrCode"') }
// 依據是否登入來設定啟用下拉刷新功能
const pullRefreshConfig = { pullEnabled: isLogin.value }

// 下拉後啟動刷新的邏輯
function onPullRefresh() {
  store.dispatch('fetchVipApps')
  return new Promise(resolve => setTimeout(() => resolve(), 1000) )
}

export default {
  name: 'LayoutKakar',
  components: { PullRefresh },
  setup() {
    return { touchScrolling, isLogin, openBarcodeScan, onPullRefresh, pullRefreshConfig,isNotLinePara }
  },
}
</script>
<style lang="scss" scoped>
</style>
